[2021-05-20 16:29] willi84 opened #1 "BUG: automcomplete of tab for "cd .." is not 100% working"
When you are on the command line and want to go folder(s) above and type " cd .." and want to autocomplete with tab, it doesn't give you the "/"

[2021-05-20 16:32] SamVerschueren commented on #1
`..` is an actually an alias for `cd ..`.

What I did notice though is that if you type `../` it doesn't auto complete either. So that's something we need to fix.

[2021-05-20 16:35] willi84 commented on #1
sry. forgot the "cd"

[2021-05-20 17:05] Rich-Harris opened #2 "BUG: Extraneous positional argument when running `npm init foo`"
Congrats on the launch! Very exciting.

**Describe the bug**
`npm init foo` downloads the `create-foo` package and runs the `"bin"` specified in its package.json. It's commonly used to scaffold new projects.

It looks like `turbo init` behaves similarly to `npm init`, but `turbo init foo` (and by extension `npm init foo`) fails:

![image](https://user-images.githubusercontent.com/1162160/119020106

[2021-05-20 17:06] nartc opened #3 "BUG: npx does not look for local .bin"
**Describe the bug**
Usually when executing `npx <cli_name>`, `npx` will look for local `node_modules/.bin` before trying to install the CLI from a registry. Although, this does not work as you can see in the screenshot, `nestjs/cli` is installed as a `devDependencies`
![image](https://user-images.githubusercontent.com/25516557/119020227-99e8be00-b963-11eb-802b-e803bbde5522.png)

**Link to the bli

[2021-05-20 17:09] SamVerschueren commented on #3
Yes, this looks like a bug as it should work as you describe. Thanks for reporting 🙏 !

[2021-05-20 17:36] d3lm commented on #2
Yep, this is indeed a bug. Thanks for reporting.

[2021-05-20 17:44] KyleAMathews opened #4 "Gatsby doesn't quite work"
Starting the develop server fails as a lockfile can't be loaded. I'm guessing it fails because of this like https://github.com/gatsbyjs/gatsby/blob/80a9079bd16de7dbd4d48be714885de412b46e57/packages/gatsby-core-utils/src/service-lock.ts#L16 ?

So either `xdg-basedir` isn't working right or `tmp`.

There may be other things but that's as far as I got.

[2021-05-20 17:51] lucacasonato opened #5 "v8.getHeapSpaceStatistics crashes REPL"
**Describe the bug**

Node REPL crashes on `require("v8").getHeapSpaceStatistics()`.

**To Reproduce**

Open node REPL, enter `require("v8").getHeapSpaceStatistics()`. See crash:
[code]

**Expected behavior**

I get heap statistics.

**Desktop:**

Google Chrome | 90.0.4430.212&nbsp;(Official Build)&nbsp;(64-bit)
-- | --
Revision | e3cd97fc771b893b7fd1879196d1215b622c2bed-refs/branch-heads/4430@{#1

[2021-05-20 17:51] reaktivo opened #6 "BUG: esmodule syntax doesn't work when setting type: "module" on package.json"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
esmodule syntax doesn't work when setting type: "module" on package.json nor when renaming index.js to index.mjs

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-e2tzh5?file=index.mjs

**To Reproduce**
Steps to reproduce the behavior:
1. Try runn

[2021-05-20 17:57] SamVerschueren commented on #4
Hi @KyleAMathews! Thanks for reporting. Can you share a link to a StackBlitz project? That will make it easier for us to investigate 🙏 .

[2021-05-20 18:01] jonathansampson opened #7 "BUG: node-fetch/https.get doesn't work (Socket hang up)"
---
name: Bug report
about: https://stackblitz.com/edit/node-zfkjjc?file=index.js
title: 'BUG: node-fetch/https.get doesn't work (Socket hang up)'
labels: 'http, socket, networking'
assignees: ''

---

**Describe the bug**
Unable to load remote data via node-fetch (or https module).

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-zfkjjc?file=index.js

**Expected behav

[2021-05-20 18:04] EricSimons opened #8 "Framework support for esbuild (vite, snowpack, etc)"
**Describe the solution you'd like**

Swap `esbuild` to `esbuild-wasm` at install time.

**Give a link to a github repo containing an example of the framework**
Not a github repo, but Evan You has expressed interest: https://twitter.com/youyuxi/status/1395438994725478400

**Additional context**

@d3lm @KwintenP @SamVerschueren  I think we have this in the pipeline, not sure if it's on prod yet. We

[2021-05-20 18:36] KwintenP commented on #7
This is supposed to work. Bug confirmed.

Thanks for reporting 🙏

[2021-05-20 18:37] KwintenP commented on #6
We currently don't have support yet for ESM modules.

It is on our radar though.

[2021-05-20 18:43] reaktivo commented on #6
Nice to hear. Truly amazing work by the way. Game-changer

[2021-05-20 18:47] prettydiff opened #9 "Modules fail without error"
**Describe the bug**
I have attempted to execute the Node starter demo in Chrome using modules and it does not work.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-v6m1qa

**To Reproduce**
Steps to reproduce the behavior:
I tried two different approaches:

1. Add `"types": "module"` to the package.json file.
2. Change the file name from `index.js` to `index.mjs`

In

[2021-05-20 18:49] EricSimons commented on #9
Ah yeah, ESM is one of the current limitations of WebContainer's nodejs runtime: https://github.com/stackblitz/webcontainer-core#limitations

Bit tricky to get those parts of v8 to work in-browser :) WIP!

[2021-05-20 18:49] KwintenP commented on #9
We currently don't support ESM modules yet. We should have better error handling/warnings though.

Duplicate #6

[2021-05-20 18:49] #9 closed

[2021-05-20 18:49] prettydiff commented on #9
WOW, super fast responses.  I just noticed this on the readme.  Thanks.

[2021-05-20 18:58] IanSSenne opened #10 "BUG: Failed to Fetch modules / next can't find react."
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: 'bug'
assignees: ''

---

**Describe the bug**
A clear and concise description of what the bug is.

**Link to the blitz that caused the error**
https://stackblitz.com/github/mc-build/mcbuild.dev?file=package.json

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stackblitz.com/github/mc-build/mcbuild

[2021-05-20 19:21] bdombro opened #11 "BUG: Can't change branch of repo from master to main"
---
name: Bug report
about: Create a report to help us improve
title: 'BUG: Can't change branch of repo from master to main'
labels: 'node,github'
assignees: ''

---

**Describe the bug**
A clear and concise description of what the bug is.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-m8vf6v

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'editor'

[2021-05-20 19:23] KwintenP commented on #11
Hi!

There are some issues with are current Git implementation. This is def a bug.

We'll be releasing a completely reworked version of this in the next week that should resolve this.

[2021-05-20 19:23] SamVerschueren opened #12 "BUG: Adding `sass` as dependency only works after a page refresh"
**Describe the bug**
@trezy tried WebContainer live on Twitch and ran into the issue where `next dev` fails to build after installing `sass`. After a page refresh it works.

**Link to the blitz that caused the error**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new [Next.js](https://stackblitz.com/fork/nextjs) project
2. Stop the build process and run `turbo add sass`
3. Start t

[2021-05-20 20:08] trezy commented on #12
Here's a clip from the stream in case it helps: https://www.twitch.tv/videos/1029419054

[2021-05-20 20:18] jonathansampson commented on #10
I believe I ran into this earlier as well; running the `build` command resolved.

[2021-05-20 20:30] ericclemmons opened #13 "BUG: TypeError: Class extends value undefined is not a constructor or null"
---
name: Bug report
about: Create a report to help us improve
title: 'TypeError: Class extends value undefined is not a constructor or null'
labels: ''
assignees: ''

---

**Describe the bug**

`npx next dev` triggers error after installing `aws-amplify` and `@aws-amplify/ui-react`:

[code]

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-fbxtsa?file=pages%2Findex.j

[2021-05-20 20:43] jonathansampson opened #14 "Third-Party Service Worker Registration and Brave"
**Describe the bug**
For a user running [Brave](https://www.brave.com) under normal settings, the service worker registration for stackblitz.io fails, as it is a _third party domain_. This failure prevents the localhost server from being stood up for the user's blitz. To remedy the issue, a user can modify their shields (via the lion icon to the right of the address bar) in Brave to permit third-p

[2021-05-20 20:55] janpio commented on #7
This is probably caused by the browser rejecting the request because of CORS reasons. From the linked Blitz above, I get this in my console before the hangup message comes:

[code]

Something very similar happens in our Node ORM Prisma, which needs to download a binary from a server to work: https://github.com/prisma/prisma/issues/7185

[2021-05-20 21:10] janpio commented on #7
You can unblock yourself by installing for example this Chrome extension: https://chrome.google.com/webstore/detail/allow-cors-access-control/lhobafahddgcelffkeicbaginigeejlf?hl=en

[2021-05-20 21:24] blankey1337 opened #15 "BUG: GraphQL starter returns error EOF"
---
name: Bug report
about: Create a report to help us improve
title: 'GraphQL starter returns error EOF'
labels: 'graphql'
assignees: ''

---

**Describe the bug**
The GraphQL starter seems to have a minor misconfiguration issue.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/graphql-s4wnmh

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'stackblitz.com'
2. C

[2021-05-20 22:39] hamstu commented on #8
Fwiw, I thought I'd give snowpack a go and [it doesn't work](https://stackblitz.com/edit/node-test-snowpack?file=index.js). Based on this issue, I imagine that's expected though, and since the error appears to be quite obscure I'm guessing there's some work to be done for this to get running.

Would love to see this working soon!

[2021-05-20 22:39] janpio opened #16 "BUG: Executing any binary leads to `SyntaxError: Invalid or unexpected token`"
**Describe the bug**
When you execute a binary (e.g. via `execa.sync`) the process crashes and a SyntaxError is output to `stderr`.

[code]

Looks to me as the binary never really is executed but something fails earlier.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-ktsmgm?file=repro.js

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the blitz
2. Run `no

[2021-05-20 22:42] janpio commented on #15
When you send a query like `query {hello}` the expected is returned.

[2021-05-20 23:04] alexmarmon opened #17 "BUG: Can't switch github branch away from master"
---
name: Bug report
about: Create a report to help us improve
title: 'Cant switch github branch away from master'
labels: ''
assignees: ''
---

**Describe the bug**
If a github repository doesn't have a master branch you're presented with several errors and can't switch to a different branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to a repository with no master branch
2. Tr

[2021-05-20 23:05] alexmarmon commented on #17
Closing in favor of #11

[2021-05-20 23:05] #17 closed

[2021-05-20 23:45] blankey1337 commented on #15
hmm not for me
![image](https://user-images.githubusercontent.com/42594751/119062089-ba783e80-b98a-11eb-9c48-f438172d1b83.png)

[2021-05-20 23:46] #15 closed

[2021-05-20 23:50] janpio commented on #16
Probably a side effect of this:

https://github.com/stackblitz/webcontainer-core#faqs

[2021-05-21 00:32] EmmyMay opened #18 "BUG:"
---
name: Bug report
about: Create a report to help us improve
title: 'Spinner Issue when existing repo is imported from GitHub'
labels: ''
assignees: ''

---

**Describe the bug**
When I tried importing an existing repository into a 'node' project, the spinner wouldn't stop spinning even after the repo files had been imported.
The repository was a Vue project.
**Link to the blitz that caused the

[2021-05-21 01:59] DanielFGray opened #19 "BUG: importing github repos without master branch fails to load project files"
---
name: Bug report
about: Create a report to help us improve
title: importing github repos without master branch fails to load project files
labels: ''
assignees: ''

---

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Connect repository"
2. Click on "import an existing repository"
3. enter a repo without master, I used https://github.com/graphile/starter
4. error loading "refs/head

[2021-05-21 02:00] DanielFGray commented on #19
seems similar to #11

[2021-05-21 02:01] #19 closed

[2021-05-21 03:38] jthegedus opened #20 "Framework support for SvelteKit"
**Describe the solution you'd like**

https://stackblitz.com/edit/sveltekit-template

This is a clone of the current [SvelteKit template app](https://github.com/sveltejs/kit/tree/master/packages/create-svelte/templates/default)

Turbo failed to install `@sveltejs/kit@next` however using `npm` "worked" :shrug:

The webcontainer fails to start, I believe it is something to do with the package resolu

[2021-05-21 03:46] Foolyou opened #21 "Support for changing npm registry"
As the WebContainer installs fresh node_modules in each usage, it would be great to support different npm registry for fast installation in everywhere 😄

[2021-05-21 03:49] rajsite opened #22 "Bug: WASM-based npm package works only when stepping through in debugger"
**Describe the bug**

Using a library that loads and runs WASM does not seem to run (a terminating log statement is not hit or error logged) unless the dev tools are open and you explicitly step through execution to the end.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-vireo-hello-world

**To Reproduce**
Steps to reproduce the behavior:
1. Open the blitz and run `n

[2021-05-21 04:40] mohit-sojitra opened #24 "Container is not booting BUG:"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
A clear and concise description of what the bug is.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-bxeuqr

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beh

[2021-05-21 04:47] rajsite opened #25 "Bug: Web Container fails to load with certain project structure"
**Describe the bug**
A WebContainer gets stuck on the `Booting WebContainer` step and devtools shows the error `Cannot set property 'NodeFS.gcomp' of undefined` where NodeFS.gcomp is the name of both a folder and a file within a folder for my project:
![image](https://user-images.githubusercontent.com/1588923/119081550-cd5a3580-b9c1-11eb-9552-ee2ef2023d02.png)

Error screenshot:
![image](https://u

[2021-05-21 04:52] rajsite commented on #24
The web container seems to load for me. I see a check next to Booting WebContainer and I was able to run the script in the terminal like the following screenshot shows:

![image](https://user-images.githubusercontent.com/1588923/119083809-4b204000-b9c6-11eb-9bb7-89474a8a733f.png)

Do you see different behavior?

[2021-05-21 05:01] rajsite commented on #24
This may be worth keeping open. I agree that the screen does not seem to make it clear that everything has finished loading. The title `Booting WebContainer` makes it sound like it is still working.

[2021-05-21 05:08] rajsite opened #26 "Bug: npm run script is not able to run files correctly"
**Describe the bug**
Running npm scripts that use paths with certain characters seems to fail.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-npm-run-script

**To Reproduce**
Steps to reproduce the behavior:
1. Open the blitz and run `npm start`
2. Note: The command results in an error
3. Run the command printed by `npm start` manually in the console by copy and past

[2021-05-21 05:21] rajsite opened #27 "Feature: Autorun the start script if included in package.json"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when I open a WebContainer and I have to manually start it to see the behavior.

**Describe the solution you'd like**
As a WebContainer author I'd like the container to start running automatically by including a script named [`"start"` in my package.json](https://docs.npmjs.com/cli/v7/commands/npm-start).

**Describe

[2021-05-21 05:53] SamVerschueren commented on #27
You can totally do that! But it's not yet documented...

Create a `.stackblitzrc` in the root of your project. Then you have two options you can set. First one is `installDependencies` (which is `true` by default if `package.json` exists). The other one is `startCommand` which you can set to `npm start`.

[2021-05-21 05:53] #27 closed

[2021-05-21 05:55] SamVerschueren commented on #26
Thanks for reporting 🙏 ! This seems like a bug.

[2021-05-21 06:37] rajsite commented on #27
That's awesome, I'll try it out! Thanks!

[2021-05-21 06:49] tujoworker opened #28 "BUG: Gatsby"
v2 of StackBlitz looks amazing!

The only thing, I can't get Gatsby to work.

**Describe the bug**

1. I run: npm run start -or- yarn start
2. and get this (after a view seconds):

[code]

**Link to the blitz that caused the error**
[gatsby-starter](https://stackblitz.com/edit/gatsby-starter)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [gatsby-starter](https://stackblitz.com/edit/g

[2021-05-21 06:53] SamVerschueren commented on #28
Hi @tujoworker! Thanks for trying out Gatsby! @KyleAMathews already reached out in #4 but I'll leave this one open because it contains more information and a link to a StackBlitz project 🙏 .

[2021-05-21 06:55] aptfx opened #29 "BUG: Doesn't work on Brave (chromium based)"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
It seems it cannot open a port (so the final step hangs)

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-rbr6hp

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expec

[2021-05-21 06:56] adarshaacharya opened #30 "Bug: Running start command doesn't works on Brave browser"
**Describe the bug**
Running `npm dev` (start command) on next.js project does't work on brave browser by default. Booting the web container, Installing dependencies works successfully but running start command doesn't work.

If you open the console you may get following error :

[code]

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-nee224

**To Reproduce**
Steps t

[2021-05-21 07:00] Cubelrti opened #31 "BUG: crypto.createHmac not working"
**Describe the bug**
Node REPL failed when running `crypto.createHmac`

**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-fnwea1?file=server.js

**To Reproduce**
Steps to reproduce the behavior:
Open node REPL, enter `require('crypto').createHmac('sha256', 'abcdefg').update('I love cupcakes').digest('hex');` and I got TypeError.

[code]

**Expected behavior**
Corr

[2021-05-21 07:15] ghoullier opened #32 "BUG: project with `"type": "module"` not working correctly"
---
name: Bug report
about: Create a report to help us improve
title: 'project with `"type": "module"` not working'
labels: 'esm'
assignees: ''

---

**Describe the bug**
If you add the entry `"type": "module"` on `package.json` break the normal behavior

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-wyhu7f?file=package.json

**To Reproduce**
Steps to reproduce the b

[2021-05-21 07:24] tujoworker commented on #4
Here is a [starter](https://stackblitz.com/edit/gatsby-starter) 👍

[2021-05-21 07:33] mohit-sojitra commented on #24
Yup why not

On Fri, May 21, 2021 at 10:31 AM Milan Raj ***@***.***> wrote:

[2021-05-21 07:34] SamVerschueren commented on #31
Hi @Cubelrti! Thanks for trying it out :). It's correct that `crypto` is not yet entirely implemented, we're aware of that and it's something we have planned to do soon. I believe md5 is implemented because Webpack uses it under the hood for hashing, but all other stuff is definitely lacking.

[2021-05-21 07:35] SamVerschueren commented on #24
It's a good point. We should stop the spinner and mark it in red if that happens just to let the user know that something happened and is not waiting indefinitely 👍 .

[2021-05-21 07:37] SamVerschueren commented on #32
Thanks for reaching out @ghoullier! Currently ESM is not yet supported unfortunately. But the future is bright https://twitter.com/jdalton/status/1395510624830988290 :).

[2021-05-21 07:44] SamVerschueren commented on #29
Hi @aptfx, thanks for reaching out! @jonathansampson reported that you have to do something extra for Brave in #14. I'm looping his feedback back to the team so we can improve this experience 🙏 .

Closing in favour of #14. Feel free to write extra findings down in that issue.

[2021-05-21 07:44] #29 closed

[2021-05-21 07:45] SamVerschueren commented on #14
Thanks for reporting this. It's a very good point and we should definitely work on improving the experience for Brave users. I'm looping it back to the team.

[2021-05-21 07:48] ghoullier commented on #32
🙏 Thanks for your reply

[2021-05-21 07:59] Milo123459 opened #33 "Work like github codespaces"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
No
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Allow you to code in vscode, via the stackblitz platform. Like github codespaces. This'd be the ultimate dev experience! 🚀
**Describe altern

[2021-05-21 08:06] shuuji3 opened #34 "Discord link is invalid"
**Describe the bug**
The invite link of Discord in the README.md is invalid. (There are two same links.)

**Link to the blitz that caused the error**

**To Reproduce**
- click the link to join Discord
- cannot join the Discord channel

**Expected behavior**
- can join the Discord channel

**Screenshots**
<img width="502" alt="invalid" src="https://user-images.githubusercontent.com/1425259/11910394

[2021-05-21 08:08] shuuji3 commented on #34
Sorry, it seems to be an issue with my browser.

[2021-05-21 08:08] #34 closed

[2021-05-21 08:10] KwintenP commented on #33
This is definitely our end goal. What we released yesterday is the beta version. In upcoming version, we will provide better git integration, more node API support, better stability, ....

Closing since no actual action item.

[2021-05-21 08:10] #33 closed

[2021-05-21 08:10] KwintenP commented on #32
Closing as duplicate of #6

[2021-05-21 08:10] #32 closed

[2021-05-21 08:12] Milo123459 commented on #33
Can't wait! Must say, this is the future! Well done! And can't wait to try it out! I have a few frameworks I'll add :)

[2021-05-21 08:15] KwintenP commented on #30
In order to get it working on Brave, this is indeed what you'll have to do. We're gonna add some instrumenting to detect whether the editor is running in Brave and point to documentation on how to enable it.

Thanks for reporting!

[2021-05-21 08:16] SamVerschueren commented on #6
More context https://twitter.com/jdalton/status/1395510624830988290

[2021-05-21 08:24] KwintenP commented on #25
Aha, yeah that's definitely a bug.

Thanks for reporting 🙏

[2021-05-21 08:26] KwintenP commented on #22
That definitely seems like a bug in our event loop being closed to soon.

Thanks for reporting 🙏

[2021-05-21 08:29] KwintenP commented on #21
It's on our roadmap to support pointing at different registries for sure!

[2021-05-21 08:31] KwintenP commented on #20
A bug for sure. Like you said, very likely related to #8 which has been on our roadmap for sure.

[2021-05-21 08:37] KwintenP commented on #18
There are some issues with our current git integration. We are currently working on a completely revised version that should fix all existing issues with it.

[2021-05-21 08:39] KwintenP commented on #16
Like @janpio said, this will not work. We are running everything in the browser. No VM is spun up in some data center to execute your code.

This means we are bound to the limitations the browser provides. In order to execute binaries, there must be a WASM version (or WASM polyfill) that you can use.

[2021-05-21 08:39] #16 closed

[2021-05-21 08:43] AMerkuri commented on #24
That screen is indeed misleading 🙂

[2021-05-21 09:01] KwintenP commented on #13
Seems like a bug indeed, thanks for reporting 🙏

[2021-05-21 09:24] SamVerschueren commented on #13
@ericclemmons if you add those packages, try and save your files (package.json + package-lock.json) and refresh the browser. I believe that should fix it. At least I was able to add the dependencies and start the project https://stackblitz.com/edit/nextjs-vwvppl?file=package.json.

[2021-05-21 10:34] aptfx opened #36 "BUG: Always wants to install 'next' even on bare Node project"
---
name: Bug report
about: Create a report to help us improve
title: 'Always wants to install 'next' even on bare Node project'
labels: ''
assignees: ''

---

**Describe the bug**
I tried it in Brave - configured Shields to make it work in the browser. Then I installed it as desktop app. It now tries to always install 'next' (and fails) - even for plain Node.js projects

**Link to the blitz that

[2021-05-21 10:47] Milo123459 commented on #36
This doesn't seem to happen for me. I opened a blank project and it hasn't installed Next?

[2021-05-21 11:13] DLevai94 opened #38 "BUG: Opening local folder doesn't include .svg files"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
When I open a local folder from my Mac, it doesn't include the .svg files.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-uwf9jt?file=components%2Fsocial-icons%2Findex.js

**Version of webcontainer**
Hash: 7286dbe8d47d3473cde7be488b7d048fb59b05f2

**Screenshots**
![image](https:

[2021-05-21 11:47] louy commented on #36
happened to me. steps:
- create a next project
- create a node project
The node project errors with something about react missing as a dep for next. startup command was `npm install && npx next dev`

[2021-05-21 11:59] SamVerschueren commented on #36
Thanks for reporting this 🙏 ! Yes, this is a bug. Thanks for finding the steps to reproduce this @louy !

[2021-05-21 12:20] KwintenP commented on #38
This is currently by design. The upload from local scenario is very alpha. We need to do some changes internally when it comes to how binary files are handled in order for you to allow uploading binary files.

It is in our roadmap and should be added in the future!

[2021-05-21 12:32] #36 closed

[2021-05-21 12:44] SamVerschueren commented on #36
This should be fixed now 🎉 .

[2021-05-21 12:46] janpio commented on #16
Can you provide some good links for people to look into if they currently only have (Rust) binary? What is a straightforward way to tackle this?

[2021-05-21 12:48] JeffersonBledsoe opened #39 "`dgram.createSocket` Fails to execute (missing function)"
**Describe the bug**
Node's [built-in way of creating a UDP server](https://nodejs.org/api/dgram.html) fails. While importing `dgram` is allowed, calling `dgram.createSocket('udp4');` throws a `TypeError`. The stack trace is provided below.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-unqbfc?file=index.js

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2021-05-21 13:07] ClassicOldSong opened #40 "BUG: npx create-xxx created files are always not saved into the project"
---
name: Bug report
about: npx create-xxx created files are always not saved into the project
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
npx create-xxx created files are always not saved into the project

**Link to the blitz that caused the error**
All current node projects wont work

like https://stackblitz.com/edit/ef-playground

**To Reproduce**
Steps to reproduce the behavi

[2021-05-21 13:11] ClassicOldSong opened #41 "BUG: `for` doesn't quite work in jsh"
**Describe the bug**
`for` doesn't quite work in jsh

**Link to the blitz that caused the error**

**To Reproduce**
Steps to reproduce the behavior:
[code]
gives an error of `e.Assigns is not iterable`

**Expected behavior**
Print every file in the folder

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [

[2021-05-21 13:14] ClassicOldSong opened #42 "BUG: `*` not working in jsh"
**Describe the bug**
`*` not working in jsh

**Link to the blitz that caused the error**

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Do what it should do

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

[2021-05-21 14:19] JeremyJaydan opened #44 "Broken link on blog"
**Describe the bug**
A broken link in the interweb between the latest blog post and this repository.

**To Reproduce**
Steps to reproduce the behavior:
1. open browser
2. navigate to [this blog post](https://blog.stackblitz.com/posts/introducing-webcontainers/)
3. smile
4. scroll down to the bottom
5. click on 'core WebContainer WG repo' link

**Expected behavior**
I expected to be transported fro

[2021-05-21 15:04] KATT opened #45 "BUG(?): imported TypeScript libs don't seem inferred"
**Describe the bug**
imported TypeScript libs don't seem inferred

**Link to the blitz that caused the error**
https://stackblitz.com/github/trpc/trpc/tree/main/examples/next-prisma-starter?file=pages%2Fapi%2Ftrpc%2Fposts.ts

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stackblitz.com/github/trpc/trpc/tree/main/examples/next-prisma-starter?file=pages%2Fapi%2Ftrpc%2Fposts.ts
2

[2021-05-21 15:36] SamVerschueren commented on #45
Thanks for trying things out @KATT 🙏 ! We are aware of this and it's in the pipeline to fix soon.

[2021-05-21 15:43] SamVerschueren commented on #41
Hi @ClassicOldSong ! Thanks for trying out some different things in JSH :). We support some basic syntax, but there's a lot we don't yet support as we also want to see how users use it and what they try. But it's by far feature complete of course. The most important thing for StackBlitz right now is being able to run basic commands, do piping, binary operators etc.

But very cool to see people try

[2021-05-21 15:48] SamVerschueren commented on #40
Thanks for reporting this  @ClassicOldSong ! This is definitely a bug.

[2021-05-21 15:49] SamVerschueren commented on #44
Oh snap! Good catch! We renamed some files and that's probably why they broke. Thanks for reporting 🙏 !  We will fix ASAP.

[2021-05-21 15:50] SamVerschueren commented on #44
Oh, it's already fixed :)!

[2021-05-21 15:50] #44 closed

[2021-05-21 16:09] lovell opened #46 "Docs: npm plans relating to native binaries and postinstall scripts"
Hello, the "Limitations" > "Native binaries and NPM postinstall scripts" section of this repo's README contains the statement that there are "no plans on remediating the behavior".

https://github.com/stackblitz/webcontainer-core/blob/main/README.md#limitations

If you weren't already aware, yarn has a public RFC relating to this - see https://github.com/yarnpkg/berry/issues/2751

In response, the

[2021-05-21 16:21] socsieng opened #47 "Forking a project does not update the URL in the preview panel"
**Describe the bug**

When forking a project, the URL in the preview panel isn't updated to reflect the URL of the new fork. Therefore, modifications to the project are not reflected in the preview panel.

The workaround is to refresh the entire screen.

**Link to the blitz that caused the error**

https://stackblitz.com/edit/nextjs-bw83rd?file=pages%2Findex.js

**To Reproduce**
Steps to reproduce

[2021-05-21 16:50] developit opened #48 "Web Crypto API not detected correctly?"
**Describe the bug**
Attempting to use zlib's brotli or gzip compression seems to generate an error like:
`Cannot read property `constants` of undefined.`

Looking into the stack, this seems to happen because initialization of the zlib module fails due to `crypto.randomBytes()` being unavailable. Looking into why that would be the case, it seems like the detection for the Web Crypto API is attempt

[2021-05-21 17:02] socsieng opened #49 "Add support for payment in the preview iframe"
**Is your feature request related to a problem? Please describe.**

It would be great if the preview iframe included support for the payment request handler so that projects that make use of it can function correctly.

For instance, clicking the Google Pay button in the [example](https://stackblitz.com/edit/nextjs-nakdbt?file=pages%2Findex.js) while in the preview launches a new tab/window which i

[2021-05-21 17:20] SamVerschueren commented on #49
Oh, this is very interesting! Thanks for opening the bug report 🙏 ! You are right, we will have to allow it. If you directly update the iframe with an `allow="payment"` attribute in the dev console, it seems to work fine. This shouldn't be hard to add :).

[2021-05-21 17:43] neo773 opened #50 "BUG: Installing node modules as global via npm fails"
---
name: Bug report
about: jsh syntax error when installing npm package as global
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
I'm unable to install any node modules as global via npm. I keep getting syntax error
`Unknown Syntax Error: Command not found; did you mean one of:`

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-vutu3g?file=README.md

**To

[2021-05-21 17:45] gauravpan opened #51 "BUG: cannot importing private repo"
---
name: cannot importing private repo
about: Create a report to help us improve
title: ''cannot import github repo
---

while importing error box says :
       Error: Could not resolve reference "refs/heads/master".

clicking to top of files tab redirects to [repo link]/tree/null

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-afxmy2

**To Reproduce**
Steps to rep

[2021-05-21 17:46] EricSimons commented on #49
Also @socsieng if you click the "open in new window" at the top of the page this should also fix the problem, as it's no longer running in an iframe :)

[2021-05-21 17:50] socsieng commented on #49
Yes, I'm aware. However, I included the instruction in the demo because I don't think many developers will know that the button behaves differently in a new window/preview. If the button behaves correctly, then I can remove the prompt altogether.

[2021-05-21 19:19] kdfriedman opened #52 "BUG: "UnknownError The user denied permission to access the database." when opening using incognito"
---![image](https://user-images.githubusercontent.com/37988868/119187816-d5f54f00-ba47-11eb-9daf-e4d0c30c21a8.png)name: Bug report
about: Create a report to help us improve
title: 'Received UnknownError The user denied permission to access the database.' when opening project in incognito tab via Google Chrome.
labels: ''
assignees: ''

---

**Describe the bug**
I received an error when attempting

[2021-05-21 20:16] jelhan opened #53 "BUG: getFileName() on Error stack returns undefined"
**Describe the bug**

`new Error().stack[0].getFileName()` does not return the file name but `undefined`. It should return the location of the file in the stack trace.

This is a common strategy to detect a caller file location. It is used in [get-caller-file](https://www.npmjs.com/package/get-caller-file) package, which has 25 million downloads per week accordingly to NPM. As it only requires a f

[2021-05-21 20:32] seriousme opened #54 "BUG: can't run fastify webserver [Error: EBADF: bad file descriptor, write]"
---
name: Bug report
about: Create a report to help us improve
title: 'can't run fastify webserver [Error: EBADF: bad file descriptor, write] '
labels: ''
assignees: ''

---

**Describe the bug**
can't run the fastify webserver
[code]
**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-r8kujv

**To Reproduce**
Steps to reproduce the behavior:
1. start with the http

[2021-05-21 21:08] Davien21 opened #55 "BUG: Folders that you drag into the environment do not sync with the project"
---
name: Bug report
about: Create a report to help us improve the Nextjs environment
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
I copied a bunch of folders into the **/pages** directory and I could not open these newly added pages.
When I created the same folders manually, they worked well.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-mh5kn3?f

[2021-05-21 21:19] bruno-oliveira commented on #47
I'll have a look at this!

[2021-05-21 21:31] vndre commented on #46
The comment you linked says that they have an "intent to propose a RFC in the next coming days" so it qualifies more for "intended discussion for plans on remediating the behaviour"

[2021-05-21 22:24] ntucker opened #56 "BUG: type popups on .tsx files imported from github repo"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
Typescript types highlighting works on the *.ts files, but the *.tsx files it does not. I thought it might be due to use of linaria, but even non-linaria .tsx files there is no highlighting.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/github-8aun

[2021-05-21 23:03] EricSimons commented on #20
SvelteKit also uses ESM for their package, no CJS, so that will need to be enabled as well. We might need to open a separate ticket for ESM support specifically

[2021-05-22 00:17] jthegedus commented on #20
I thought ESM was a requirement for Vite and thus captured in #8

[2021-05-22 00:25] EricSimons commented on #20
@jthegedus ah I didn't realize Vite was relying on ESM too- good catch. 🙏

@KwintenP maybe we create a root issue for `enable node.js es modules support` that both this issue and #8 reference?

[2021-05-22 00:42] ridomin opened #57 "BUG: crypto.createHMAC not supported"
---
name: crypto.createHMAC not supported
about: cant use packages using crypto
title: ''
labels: ''
assignees: ''

---

# crypto.createHMAC not supported

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-fpuh1p

**To Reproduce**
Steps to reproduce the behavior:
1. Create a node.js environment
2. Add the  code below to index.js
3. run  `node index.js`

[code]

**Expecte

[2021-05-22 00:44] ridomin commented on #57
dupe of #31

[2021-05-22 00:44] #57 closed

[2021-05-22 03:58] dwaite opened #58 "BUG: site using illegal DNS hostnames, will likely cause odd interoperability issues"
---
name: Bug report
about: Create a report to help us improve
title: 'site using illegal DNS hostnames, will likely cause odd interoperability issues'
labels: ''
assignees: ''

---

The current deployment will serve up the demo HTTP server with an address such as

`http-server-rxrywb--8080.local.webcontainer.io`

This is not legal per RFC 952 because of the double hyphen. The original domain name

[2021-05-22 04:00] pierfrancesco opened #59 "Puppeteer support"
**Is your feature request related to a problem? Please describe.**
I'd like to run puppeteer script inside a node project but despite the fact I'm able to install `npm i puppeteer` I can't find a way to install a Chrome instance (if possible)

**Describe the solution you'd like**
 I can run a puppeteer commands inside web containers in the same way I can do it on my machine.

**Describe alternativ

[2021-05-22 05:02] SamVerschueren commented on #59
Hi @pierfrancesco, thanks for trying out WebContainer. Because we don't run anything on a server and everything in the browser this is currently not possible unless maybe if puppeteer would have a WASM compiled binary, which I guess they don't.

We have some ideas to make it possible to communicate with your chrome instance on your machine, but currently it's only in the idea phase and no research

[2021-05-22 06:49] pierfrancesco commented on #59
Hi Sam, thanks for you reply.

Makes sense.

I'll be waiting if anything from this side will come up. Thanks again

[2021-05-22 06:49] #59 closed

[2021-05-22 14:48] nickdotht opened #60 "When creating a new project on disk, files in sub directories are missing"
**Describe the bug**
Originally reported by someone else on Discord. I went ahead and tested it myself and they are indeed missing.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-xfumvg

It's a freshly generated Nodejs server using express-generator.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stackblitz.com/local
2. Click on the "Start a new

[2021-05-22 15:19] SamVerschueren commented on #59
No worries :). Everyone is still exploring the possibilities of WebContainer which is cool to see.

[2021-05-22 15:20] SamVerschueren commented on #49
I created an internal PR to fix this. Not sure when it will land though. Probably Monday, latest.

[2021-05-22 15:55] SamVerschueren commented on #48
Hi @developit , cool to see you trying out WebContainer 🙏! Currently the crypto APIs are lacking a lot of features. It's most likely the first thing we are going to tackle to bring this on par and offer all capabilities.

So I'm sorry you run into this, but we'll do our best to tackle this soon!

[2021-05-22 19:37] algorist-mechanism opened #62 "BUG:"
---
name: Installation and running pouchdb-server error
about:
title: ''
labels: 'leveldown', "pouchdb"
assignees: ''

---

**Describe the bug**
Unable to install and run node based pouchdb-server. https://github.com/pouchdb/pouchdb-server
1. Installing leveldown fails.
2. Running example pouchdb-server index.js fails.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-k

[2021-05-22 20:13] SamVerschueren commented on #49
@socsieng alright, should be live 😀 !

[2021-05-22 20:13] #49 closed

[2021-05-22 21:24] MarkHalls opened #63 "Refresh button in PWA title bar"
**Is your feature request related to a problem? Please describe.**
When I install as a PWA there is no refresh button on the entire window. You described in the blog post that if I have an issue with my environment I can ["hit the refresh button"](https://blog.stackblitz.com/posts/introducing-webcontainers/#a-fresh-environment-on-every-page-load.). For now, if I want to get a clean environment I h

[2021-05-22 22:58] EmmyMay opened #64 "Vue-2 node-sass error"
**Describe the bug**
This bug prevents a Vue-2 project which uses node-sass from running. The server fails before it reaches a hundred percent completion.

**Link to the blitz that caused the error**

https://stackblitz.com/edit/node-r5fbve

**To Reproduce**
Steps to reproduce the behavior:
1. Create a node.js blitz
2. Import a Vue-2 project from GitHub (which has node-sass in its package.json)
3.

[2021-05-23 00:35] alcuadrado opened #67 "BUG: npx reinstalls existing packages"
**Describe the bug**

I tried creating a new project, installing `hardhat` with `npm`, and running it with `npx`. It reinstalls `hardhat` every time I run it.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-2sxg1f?file=contracts%2Fc.sol

**To Reproduce**
Steps to reproduce the behavior:
1. Install hardhat with `npm i hardhat`
2. Run `npx hardhat`

**Expected behavior*

[2021-05-23 00:41] helloitsjoe opened #68 "npx does not run binary from a GitHub repository"
**Describe the bug**
`npx github:chalk/chalk-cli green "Hello world"` should pull and run `chalk-cli` from GitHub repo.

I'm not sure if this falls under [this section of the FAQ](https://github.com/stackblitz/webcontainer-core#faqs), but it seems like this should work similar to running a binary from a github repo locally.

Locally, these all run the `chalk-cli` binary from GitHub:
[code]

**Link

[2021-05-23 00:48] helloitsjoe commented on #68
Great project by the way 😄

[2021-05-23 01:38] johandalabacka opened #69 "ES modules don't work"
**Describe the bug**
ES 6 modules don't work. Neither as .mjs files or setting "type": "module" in package.json
The icon for mjs is also a generic text icon.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-dgisvu

**To Reproduce**
Steps to reproduce the behavior:
1. Create file test.mjs with just a console.log statement inside
2. Run it with node test.mjs
3. No output

[2021-05-23 03:27] EricSimons commented on #69
Ah yes, this is one of the limitations atm: https://github.com/stackblitz/webcontainer-core#limitations

WIP! Should have this enabled in the next few weeks.

[2021-05-23 03:33] EricSimons commented on #68
Ah good find! Our npm client currently doesn't support pulling from git or any sources outside of the npm registry. Will take this back to the team and get this on the roadmap, thanks for letting us know (and for the kind words 🤗 )!

[2021-05-23 11:41] JuniorDEVed opened #71 "BUG: Official Snowpack, Preact Typescript starter doesn't work at all."
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
Fresh github repository using the official snowpack preact with typescript starter project fails to run when using npm start.

**Link to the blitz that caused the error**
https://stackblitz.com/github/juniordeved/snowpack-preact-typescript

**To Reproduce**
Steps to reproduc

[2021-05-23 14:31] booleanrecep opened #72 "BUG: Next.js issue with connecting GitHub repo"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**

Next.js project linking with GitHub is not successful and only seeing "Connecting... <spinner>"

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-topyfv

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scr

[2021-05-23 14:36] booleanrecep commented on #72
"import an existing repository" phrase is not underlined. That is way I could not see it at first glance. But it's up there and working. Thanks

[2021-05-23 14:36] #72 closed

[2021-05-23 15:49] alcuadrado opened #73 "BUG: Can't copy folders"
**Describe the bug**

Copying a folder, at least with `fs-extra`, results in an empty file being created instead.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-gtkmju

**To Reproduce**

Steps to reproduce the behavior:
1. Open the project
2. Run rm -rf target/ && node index.js
3. An empty file called `target` gets created.

**Expected behavior**
An empty folder shou

[2021-05-23 16:16] alcuadrado opened #74 "BUG: Can't load asm.js dependency"
**Describe the bug**

Trying to load an asm.js dependency, `rustbn.js`, fails.

This dependency is a rust project compiled to asm.js that's used in the ethereum ecosystem.

I don't know enough about asm.js, but as far as I can tell the error comes from one of the variables that represent the heap having a smaller size than in node.

**Link to the blitz that caused the error**

https://stackblitz.c

[2021-05-23 20:26] ntucker opened #75 "Projects imported from github should run `npm start` automatically after build just like next.js"
**Describe the bug**
`npm start` is a standard command, so non-next.js projects should be able to utilize this as well

**Link to the blitz that caused the error**

**To Reproduce**
Steps to reproduce the behavior:
1. https://stackblitz.com/github/Rest-Hooks/todo-example

**Expected behavior**
After npm install finishes, npm start should run

[2021-05-23 21:29] gbbarroso opened #76 "Cannot install private npm packages"
**Describe the bug**
Cannot install private npm packages. Looks like I can set the NPM_TOKEN env var, but it always tries pulling from https://nr.staticblitz.com/ we need a way to change that

**To Reproduce**
Steps to reproduce the behavior:
1. Add a npm private package to your package.json
2. `npm i`

**Expected behavior**
I think we either need NPM_TOKEN to be passed or a way to point it to npm

[2021-05-23 21:55] socsieng commented on #49
Thanks for the quick turnaround @SamVerschueren.

Do you know if this will also be applied to non webcontainer instances in StackBlitz?

See https://stackblitz.com/edit/google-pay-react for example.

[2021-05-23 22:41] jw56578 opened #77 "BUG: readline-sync not working"
https://stackblitz.com/edit/node-zr7qsc

run the program. Output is:

[Error: EBADF: bad file descriptor, write] {
  syscall: 'write',
  errno: -9,
  code: 'EBADF'
}

[2021-05-24 01:25] EricSimons commented on #8
@hamstu thanks so much for testing out snowpack and reporting back- definitely want to make sure that gets supported as well! 🙏

[2021-05-24 02:22] dazjean opened #78 "BUG: ERR!: Failed to resolve dependencies"
---
name: Bug report
about:ERR!: Failed to resolve dependencies
title: 'ERR!: Failed to resolve dependencies'
labels: ''
assignees: ''

---

**Describe the bug**
 when init my propject yarn or npm  will get error `ERR!: Failed to resolve dependencies`.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/srejs-example-umajs?file=README.md

**To Reproduce**
Steps to reproduce th

[2021-05-24 02:57] EricSimons opened #79 "Add documentation for .stackblitzrc"
**Is your feature request related to a problem? Please describe.**
Devs in our discord are wondering about how they can use the stackblitzrc file to config their env. We currently have no documentation for this!

**Describe the solution you'd like**
Documentation for the fields that .stackblitzrc accepts over at https://developer.stackblitz.com

[2021-05-24 03:05] dazjean commented on #78
**chrome js console**

[code]

[2021-05-24 03:08] dazjean commented on #78
**network tab**
![image](https://user-images.githubusercontent.com/10277671/119291016-4edeeb80-bc80-11eb-9d85-807c39be75a3.png)

[2021-05-24 03:39] dazjean commented on #78
dazjean — 今天11:11
有一个特别的配置，在npm install 安装后调用了postinstall钩子去执行了typescript的编译。  感觉这会是一个问题的关键
There is a special configuration. After the installation of NPM install, the postinstall hook is invoked to execute typescript compilation. It feels like this is going to be the key to a problem
MEE6
机器人
 — 今天11:11
GG @dazjean, you just advanced to level 1!
eric — 今天11:12
yeah postinstall won't execute, but

[2021-05-24 03:55] EricSimons commented on #53
Thank you so much for this detailed bug report! This should give us a running start. Will circle back with the team and get this rolling ASAP 🙏

[2021-05-24 05:53] SamVerschueren opened #80 "Can’t open editor only on mobile"
**Describe the bug**
The editor filter at the top does not work for V2 projects on mobile.

![image](https://user-images.githubusercontent.com/1913805/119302447-6b6d2a80-bc64-11eb-9bb3-c773018712ca.png)

**Link to the blitz that caused the error**
Effects all projects

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stackblitz.com/edit/node-gtkmju?file=package.json on mobile
2.

[2021-05-24 05:59] SamVerschueren opened #81 "Report bug button does not work on mobile"
**Describe the bug**
When opening a WebContainer project on mobile to view source code or what not, it's not possible to click the report button if you notice something fishy. The button is shown, but it doesn't do anything.

**Link to the blitz that caused the error**
Effects all projects

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stackblitz.com/edit/node-gtkmju?file=pack

[2021-05-24 06:01] SamVerschueren commented on #49
It's a different part of the project so should be fixed separately. I'll see if I can take a look at it today or maybe tomorrow. Feel free to ping me back if you haven't heard anything from me at the end of the week.

[2021-05-24 09:50] sulco commented on #79
Here's the link :) https://developer.stackblitz.com/docs/platform/project-config

[2021-05-24 09:50] #79 closed

[2021-05-24 16:06] sulco opened #82 "Add an option to not persist some files"
Some files don't need to be persisted, e.g. cache or build folders.

There should be a way to specify "ignore" paths.
Maybe in the `.stackblitzrc` file?

[2021-05-24 19:39] iAmPriyam opened #83 "BUG: Port view not updated properly with nodemon"
---
name: Bug report
about: Create a report to help us improve
title: 'Node+express app crashes when saves and restarts, connection to port is lost'
labels: ''
assignees: ''

---

**Describe the bug**
A clear and concise description of what the bug is.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-klgvj6?file=controller%2Findex.js

**To Reproduce**
Steps to reproduc

[2021-05-24 21:29] guidobouman commented on #20
Probably redundant, but just in case: Initialising a project with `npm init` does not seem to work. There's some sort of hook that does not expect the extra arguments, and tries to run turbo.

[code]

[2021-05-25 01:57] dpsthree opened #84 "BUG: Cannot create Nx workspaces"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
When attempting to run npx create-nx-workspace. The terminates early with an error:
NX ERROR  Nx failed to create a workspace.
![image](https://user-images.githubusercontent.com/1540699/119428091-e02a7e00-bcd1-11eb-99c7-0c6ef1d6ade0.png)

**Link to the blitz that caused the

[2021-05-25 02:11] jthegedus commented on #20
Yes, `npm init` does not work and I had to manually setup each of the resources in the linked example. Ideally `turbo` would support these commands.

[2021-05-25 05:43] deadcoder0904 opened #85 "BUG: next/image doesn't work as it fails to install node Sharp"
**Describe the bug**
I am trying to use `next/image` but it doesn't work as it fails to install node Sharp

I get the following error:

[code]

**Reproduction**

# next.config.js

[code]

# index.js

[code]

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-image-full-bleed

**Expected behavior**
It should work

**Version of webcontainer**
Hash: 7286dbe8d47d3473cde7be4

[2021-05-25 07:07] KwintenP commented on #60
This is an issue indeed!

The local fs integration is very alpha atm. Will be fixed asap!
🙏 for reporting.

[2021-05-25 07:19] KwintenP commented on #85
HI,

This is a bug indeed. We are working on providing wasm polyfills for packages like sharp and imagemin, which are unable to run in the browser. This fix hasn't landed yet though.

Aside from that, NextJS actually replaced the sharp dependency with a wasm version in `10.0.8`. Which means that bumping to that version, your example actually works. (https://stackblitz.com/edit/nextjs-image-full-bl

[2021-05-25 07:19] #85 closed

[2021-05-25 07:37] KwintenP commented on #83
Hi!

There is a known bug that the port disappears on reloads. We are aware of this one.

Other than that, `nodemon` should still keep working. This is only a UI regression.
In the screenshot you've attached, it seems like you changed the url which cause you to see the screen you are seeing.

🙏 for reporting!

[2021-05-25 07:51] itsaniketnikam opened #87 "BUG: Cannot see if the server is up after using nodemon in the script , also it it(browser) broke completely and not working"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
A clear and concise description of what the bug is.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-86mrve?file=index.js

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-05-25 07:55] KwintenP commented on #78
Seems like a bug indeed!

🙏 for reporting!

[2021-05-25 07:57] KwintenP commented on #77
Bug indeed! 🙏 for reporting!

[2021-05-25 08:00] KwintenP commented on #76
Hi,

We wrote our own npm client that uses some neat tricks to make it as fast as it is today. This does mean that we currently don't have support yet for private npm registries. It's def on our roadmap for the (near) future 👍

🙏 for reporting

[2021-05-25 08:05] KwintenP commented on #75
We use a framework detection to figure out the command we want to run. If it's a `nextjs` project, we will automatically run `next dev`. If we don't detect which framework it is (we currently only do this for next but extending this very soon), we don't do anything.

You can change the behaviour of how this works by adding a `.stackblitzrc` file to the blitz and setting `startCommand` to whatever

[2021-05-25 08:05] #75 closed

[2021-05-25 08:07] KwintenP commented on #74
Hi!

Thanks for reporting! This is a bug indeed.

[2021-05-25 08:30] KwintenP commented on #39
Hi!

🙏 for reporting. This does seem like a bug on our end!

[2021-05-25 08:32] jimshtepa opened #88 "BUG:"
---
name: Bug report
about: Create a report to help us improve
title: 'adding 'failure to enable es modules'
labels: ''
assignees: ''

---

**Describe the bug**
Adding "type":"module" to the package.json file doesn't enable es modules and attempt to import libraries doesn't work. No error is displayed in the console log, instead it silently returns empty line

**Link to the blitz that caused the e

[2021-05-25 08:33] KwintenP commented on #69
Duplicate #6

[2021-05-25 08:33] #69 closed

[2021-05-25 08:35] KwintenP commented on #88
Hi!

This is a current limitation indeed: https://github.com/stackblitz/webcontainer-core#limitations

We are working on getting this in in the next coming weeks though! 🙏 for reporting.

Duplicate #6

[2021-05-25 08:35] #88 closed

[2021-05-25 08:39] KwintenP commented on #67
Hi!

🙏 for reporting. This does seem like a bug on our end!

[2021-05-25 08:39] deadcoder0904 commented on #85
@KwintenP you guys need to update the Next.js version on the homepage boilerplate then :)

[2021-05-25 08:41] KwintenP commented on #85
Totally agree! This should actually be updated in the next day or two!

[2021-05-25 09:11] KwintenP commented on #51
Hi!

This is currently only supported on our paid plan: https://stackblitz.com/membership.

[2021-05-25 09:11] #51 closed

[2021-05-25 09:13] KwintenP commented on #50
Hi,

We currently don't support installing npm packages as global. The reason for this is a little nuanced. What does global even mean in the context of stackblitz. Would you want it to be available in all of your blitz's? What about collisions in that case where you install a global version which collides with a local dependency.

It's considered a bad practice to install global packages so we mi

[2021-05-25 09:13] #50 closed

[2021-05-25 09:18] KwintenP commented on #52
Hi!

🙏 for reporting. This does seem like a bug on our end!

[2021-05-25 09:23] KwintenP commented on #87
Hi!

It's a known problem that the port is incorrectly removed from the UI. Someone from our team is actually working on this issue right now :).

I can't repro the server/browser blocking though. Feel free to add more info if you can help me to repro the other issue.

[2021-05-25 09:23] #87 closed

[2021-05-25 09:24] KwintenP commented on #54
Hi!

🙏 for reporting. This does seem like a bug on our end!

[2021-05-25 09:29] KwintenP commented on #58
Hi!

Thanks for reporting. This is definitely good to know!
Currently these urls are only used within a single browsing context. The url cannot be called (currently) from anywhere else then the server your browser is running in.

We do have a solution for moving away from this approach so that it could potentially be shareable. We'll take this in regard when the time comes when we implement this f

[2021-05-25 09:29] #58 closed

[2021-05-25 09:37] KwintenP commented on #55
Hi!

🙏 for reporting. This does seem like a bug on our end!

As a workaround for the time being, if you upload the folders, save and refresh the page, the files are picked up!

[2021-05-25 09:39] KwintenP commented on #56
Hi!

🙏 for reporting. This does seem like a bug on our end!

[2021-05-25 09:52] KwintenP commented on #1
It works differently in other shell implementations so for the time being, we'll resort to using the logic that we have and won't implement this.

[2021-05-25 09:52] #1 closed

[2021-05-25 09:54] KwintenP commented on #5
Everything with WebContainer runs in the browser. This means we do not have access to the API's to provide you with the info to implement this method on our end.

We should have a graceful fallback though if this package is used/imported. Adding this to our internal tracker.

[2021-05-25 09:54] #5 closed

[2021-05-25 10:01] itsaniketnikam commented on #87
I wanted mention that browser is not showing the response in get request as
per my code.
Attaching screenshot for your reference

Thanks & Regards,
Aniket Nikam

On Tue, May 25, 2021, 2:53 PM Kwinten Pisman ***@***.***>
wrote:

[2021-05-25 10:06] KwintenP commented on #67
Closed as duplicate of #3

[2021-05-25 10:06] #67 closed

[2021-05-25 10:46] KwintenP commented on #7
Like @janpio said, this issue happens cause it's not possible to call the url from the browser's env, which is where WebContainer is running.

See an example here: https://stackblitz.com/edit/typescript-ive2dd.

You need to make sure this call works, and then the v2 project should also work.

[2021-05-25 10:46] #7 closed

[2021-05-25 10:51] KwintenP commented on #10
Hi!

🙏 for reporting. This does seem like a bug on our end!

[2021-05-25 10:55] KwintenP commented on #42
Hi!

🙏 for reporting. It's something that we haven't implemented yet. I'll add it to our internal tracker.

[2021-05-25 11:04] KwintenP commented on #47
Hi,

🙏 for reporting this. We do need to update the url when this happens.
I can't repro the changes to `index.js` not being reflected after forking though.

Can you provide reliable steps to reproduce?

[2021-05-25 12:04] tarushm2006 commented on #80
Are you able to open the terminal on mobile?

[2021-05-25 13:29] ntucker commented on #75
Are there docs on stackblitzrc anywhere?

[2021-05-25 13:56] jonathansampson opened #89 "Dark Console Text Output in Dark Theme"
**Describe the bug**

Text being logged to the console is black for both light and dark themes making it difficult to read (likely not possible for many users) when using the dark theme.

**Screenshots**

![image](https://user-images.githubusercontent.com/815158/119510161-ea329800-bd36-11eb-8521-b98a264136b0.png)

![image](https://user-images.githubusercontent.com/815158/119510335-0c2c1a80-bd37-11

[2021-05-25 14:04] michaelbromley opened #90 "NestJS-based app only booting occasionally"
**Describe the bug**
I am attempting to run Vendure (which is a GraphQL server based on NestJS) in the webcontainer: https://stackblitz.com/edit/vendure-test?file=index.js

On running `npm run start` I almost always see the following output:

[code]

i.e. the app starts to bootstrap but then stops, with no error given. Very occasionally it does successfully boot (it happened like 2 times out of 20

[2021-05-25 14:11] KwintenP commented on #90
This is a bug indeed 🙏
Thanks for repoting @michaelbromley!

[2021-05-25 14:22] KwintenP commented on #20
@guidobouman npm init has an open issue in #2
@EricSimons we are using #6 to track esm module support

[2021-05-25 14:28] ntucker commented on #54
In case this might help: having a similar issue in https://stackblitz.com/edit/github-xejckm

[2021-05-25 14:55] jackyef opened #91 "BUG: The "path" argument must be of type string. Received undefined"
---
name: Bug report
about: Create a report to help us improve
title: 'Error when trying to run start script'
labels: ''
assignees: ''

---

**Describe the bug**
When trying to run the `start` script from this [repo](https://stackblitz.com/github/css-for-js/scrollburglars), the process failed with the following error message:
[code]

**Link to the blitz that caused the error**
https://stackblitz.c

[2021-05-25 16:12] EricSimons opened #92 "BUG: mdx-deck doesn't seem to work"
---
name: Bug report
about: Create a report to help us improve
title: 'mdx-deck doesn't seem to work '
labels: ''
assignees: ''

---

**Describe the bug**
A clear and concise description of what the bug is.

MDX deck seems to break- try running `npm run start` in the project. Seems to use gatsby under the hood so maybe related to #4 ?

This is the specific error it's throwing in the terminal:

![S

[2021-05-25 16:16] socsieng commented on #47
I was testing this out by adding more exclamation marks to the `h1`, however, I'm no longer able to reproduce.

The only thing outstanding now is the URL in the preview window.

[2021-05-25 18:27] KwintenP commented on #89
Hi!

🙏 for reporting. This does seem like a bug on our end!

[2021-05-25 19:10] KwintenP commented on #85
Updated!

[2021-05-25 23:20] nksaraf opened #93 "BUG: Not all local files are visible in the file explorer, lots of empty folders"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
A clear and concise description of what the bug is.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-fzv5ay?file=package.json

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See err

[2021-05-26 07:42] KwintenP commented on #93
Hi!

This is indeed not completely correct. Since this implementation is very alpha, we only allow uploading certain files. We need to make some changes to how they are handled internally to allow uploading all files.

The fact that `.ts` files are not uploaded is a bug though. 🙏 for reporting!!

[2021-05-26 09:17] KwintenP commented on #62
It seems like it's trying to compile a native addon using `node-gyp-build`. Since on stackblitz everything is running in the browser's context, this will not work. Using native addons cannot be supported and need a wasm based replacement.

I'm not sure what native module it is actually trying to run. We do have an initiative to port over existing native addons to wasm and replace them at install t

[2021-05-26 09:19] KwintenP commented on #63
Good remark. I think, like you said, there is a workaround for it.

For mouse usage, you can also go to `View -> Reload this page`.

[2021-05-26 09:19] #63 closed

[2021-05-26 09:26] KwintenP commented on #71
You are 100% right. We currently don't have support for this yet.

Do remember that this software is in beta. We only have official support for NextJS. Everything else is still to be tested. We are def tracking adding support for this though! We are tracking this through issue #8!

[2021-05-26 09:26] #71 closed

[2021-05-26 10:40] SamVerschueren commented on #49
@socsieng It should be live for non-webcontainer projects now as well 🙏 .

[2021-05-26 12:19] KwintenP commented on #60
@R4meau what was the extension of the files in those subfolders?

There was a bug where .ts files were not uploaded properly. I'm thinking it's gonna be related to that since I can't repro this issue with .js files.

[2021-05-26 14:06] #25 closed

[2021-05-26 15:00] RawZ06 opened #96 "Install package globally to reuse command without npx (like in local)"
### **Is your feature request related to a problem? Please describe.**
Create a global npm repository to install packages globally and have all commands without npx in the project.
For example, if I dev nestjs project, i would like "nest" command globally to be more efficient.

### **Describe the solution you'd like**
Create hidden folder inside the project, with a second node_modules and package.

[2021-05-26 16:10] socsieng commented on #49
Thanks for the update @SamVerschueren.

I did some initial testing and found that it isn't working in Chrome 90.0.4430.212.

From what I can tell, the `allow` attribute is set to `geolocation; microphone; camera; payment;` which looks correct, however, when compared to the web-container version `geolocation; microphone; camera; payment`, the only difference is the trailing `;`. When I remove the t

[2021-05-26 16:41] connorjclark opened #97 "BUG: environment variables don't work in terminal"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**

Type in terminal:

[code]

**Version of webcontainer**
Hash: 7286dbe8d47d3473cde7be488b7d048fb59b05f2

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
Browser name  = Chrome
Full version

[2021-05-26 16:49] connorjclark opened #98 "BUG: `time ...` does not work"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**

Type in terminal:

[code]

**Version of webcontainer**
Hash: 7286dbe8d47d3473cde7be488b7d048fb59b05f2

**Desktop (please complete the following information):**
Browser name  = Chrome
Full version  = 90.0.4430.212
Major version = 90
navigator.appName = Netscape
navigator.use

[2021-05-26 17:04] SamVerschueren commented on #98
Hi @connorjclark! Thanks for this issue. You are correct, the `time` command is not implemented right now so that's the reason why it doesn't work. We are planning at adding more commands in the near future but can't give you an exact estimate.

The terminal does give you the number of seconds something ran, only if longer than 5 seconds though, so it's definitely not as accurate as the `time` com

[2021-05-26 17:06] SamVerschueren commented on #97
Hi @connorjclark! You are right, this does not work right now. We have the `env` command where you can see the environment variables. Setting environment variables work though, like `HELLO=world env` will show you that `HELLO` is set.

As in the other issue for the `time` command, we are planning to add more features to the shell implementation, as well as this one.

[2021-05-26 17:09] connorjclark commented on #98
ah, I didn't notice that, thanks for the tip!

[2021-05-26 17:19] SamVerschueren commented on #96
Hi @RawZ06! We talked with each other in Discord about this one. This feature just landed in production so feel free to try it out. In a Next.js project you can now run `next dev` directly without npx 🙏 .

Happy coding!

[2021-05-26 17:19] #96 closed

[2021-05-26 17:21] SamVerschueren commented on #50
There's an update on this one though https://github.com/stackblitz/webcontainer-core/issues/96#issuecomment-848962891.

We now hoist binary files from `node_modules/.bin` directly to your terminal so in a Next.js project you can now run `next dev` and it will work 🎉 .

[2021-05-26 17:24] SamVerschueren commented on #2
@Rich-Harris A small update from our side. There's an internal PR for it so it shouldn't take too long before it lands. Keep you posted 🙏 .

[2021-05-26 17:50] critesjosh opened #99 "BUG: HttpError: Failed to fetch dependencies"
---
name: Bug report
about: Create a report to help us improve
title: 'HttpError: Failed to fetch dependencies'
labels: ''
assignees: ''

---

**Describe the bug**
I run `yarn` in the project root with the following `package.json`:

[code]

and get this error:

[code]

**Link to the blitz that caused the error**
https://stackblitz.com/edit/celo-tx-lesson?file=webpage%2Fpackage.json

**To Reproduce

[2021-05-26 18:15] RawZ06 opened #100 "BUG: Module not found when i use nest command"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
When i run `nest` command to generate for example a module `nest generate module my-module`, i receive an error

[code]

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nestjs-template-m4bpef?file=.estlintrc.js

**To Reproduce**
Steps to reproduce the

[2021-05-26 19:09] R4meau commented on #60
@KwintenP It was all kinds of files.

[2021-05-27 04:40] SamVerschueren commented on #80
WebContainer projects should work on Android theoretically. But for that we need to add some headers first which Chrome will enforce in Chrome 92. So when we fix that, Android should be working fine. IOS does not have all the features we need (yet).

[2021-05-27 05:58] marcelschork opened #101 "BUG: UI5 tooling is not working to develop and run OpenUI5 apps"
**Describe the bug**
Tried to run the [OpenUI5 sample app](https://github.com/SAP/openui5-sample-app) but the [UI5 tooling](https://sap.github.io/ui5-tooling/) is not working. It might be the missing `shrinkwrap.json` support which causes the issue.

**Link to the blitz that caused the error**
https://stackblitz.com/github/SAP/openui5-sample-app

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-05-27 06:51] KwintenP commented on #99
Hi!

It seems like you changed the blitz after reporting this issue. There doesn't seem to be a `webpage` directory.

I do see that now it fails for another reason.

```ERR!: No git binary found in $PATH```

We do indeed not yet have git support in the terminal (it's coming soon!). I wonder what tries to use the git binary though as we don't execute postInstall scripts by default. I'll take a look

[2021-05-27 07:14] KwintenP commented on #100
Hey,

This seems like a bug! I can't seem to open the blitz anymore. Did you delete it by any chance?

Could you provide a new repro link? 🙏

[2021-05-27 07:17] KwintenP commented on #101
Hi!

Thanks for reporting 🙏

Seems like the same issue as #91 . Gonna close this one as duplicate but I'll we'll take a look at your blitz as soon as the issue is fixed to verify.

[2021-05-27 07:18] RawZ06 commented on #100
Oups, yes, i created a new here : https://stackblitz.com/edit/nestjs-template-deslul?file=package.json

[2021-05-27 07:18] KwintenP commented on #91
Same issue (?)-> https://stackblitz.com/github/SAP/openui5-sample-app

[2021-05-27 07:49] Pyrolistical opened #102 "somehow broke ability to update package.json using turbo add"
**Describe the bug**
When using `turbo add ...`, the package.json is supposed to be updated. And this does indeed work when creating a new node.js project. But for my project I managed to break this somehow. I forked it and deleted all the files and the problem remains.

**To Reproduce**
Steps to reproduce the behavior:
1. Open this broken project https://stackblitz.com/edit/package-json-not-updat

[2021-05-27 09:50] linbudu599 opened #104 "BUG: pnpx"
**Describe the bug**
A clear and concise description of what the bug is.

`pnpx` is not working, reporting the error below:
![image](https://user-images.githubusercontent.com/48507806/119805431-d2643b00-bf13-11eb-90fc-a6a3ebb4a122.png)

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-kw3dh7
**To Reproduce**
Steps to reproduce the behavior:
- `npm add pnpm`
- `pnpx crea

[2021-05-27 09:58] SampathTharanga opened #105 "BUG:"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
A clear and concise description of what the bug is.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/customers-details?file=index.js

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See e

[2021-05-27 10:27] SamVerschueren commented on #105
Seems to be working on my end. Feel free to open a new issue or reply with what is not working on your end and we're happy to help.

[2021-05-27 10:27] #105 closed

[2021-05-27 11:07] SamVerschueren commented on #91
I investigated this and it's not the same root cause. The issue here is that we don't have a `HOME` environment variable. We already fixed this internally and will land today or tomorrow. To fix this for now you can set it yourself by running `HOME=/ npm start`.

[2021-05-27 11:08] SamVerschueren commented on #101
Reopening as this one is not fixed with fixing the root cause of #91. Looking into it right now.

[2021-05-27 11:32] jackyef commented on #91
Thanks a lot @SamVerschueren! I noticed that image assets aren't served properly in the [blitz](https://stackblitz.com/github/css-for-js/scrollburglars?file=03-blog-example%2Fassets%2Fremote-work.jpg). Is this a already known issue as well?
 🤔
![image](https://user-images.githubusercontent.com/7252454/119818747-c8ddd180-bf19-11eb-8dc0-4009da243b6b.png)

[2021-05-27 11:54] fvsch commented on #81
Fixed with the redesign of the feedback button shipped today.

[2021-05-27 11:54] #81 closed

[2021-05-27 12:11] fvsch commented on #64
Thanks for the report!

Node-sass relies on postinstall scripts that download precompiled x86_64 binaries that won't work in a browser.
It should be possible to migrate from the `node-sass` package to the `sass` package, which ships a JavaScript Sass compiler, and is officially supported by the Sass project.

Here’s a fork with `sass` instead of `node-sass`:
https://stackblitz.com/edit/node-gew6pw

[2021-05-27 12:51] SamVerschueren commented on #91
How did you import the project? Did you use a GitHub import?

[2021-05-27 14:15] jackyef commented on #91
I used the trick mentioned in this [tweet](https://twitter.com/stackblitz/status/1397193629534494722), going to typing https://githubblitz.com/css-for-js/scrollburglars to the browser address bar.

[2021-05-27 14:34] critesjosh commented on #99
Maybe I forgot to save it after I added the `webpage` directory. It should be there now.

[2021-05-27 16:54] SamVerschueren commented on #91
Would you mind creating a new issue for this 🙏 ? So we can track them separately. I've created an internal PR to fix this without the `HOME=/` hack 😂 .

[2021-05-27 19:46] michalczaplinski opened #107 "npm packages using local paths are not supported."
**Describe the bug:**

The runtime does not support [local npm packages](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#local-paths) using the `"packageName": "file:./package"` syntax.

**Link to the blitz that caused the error:**

https://stackblitz.com/edit/node-5ppqi3

**Steps to reproduce:**

[code]

**Expected behavior:**

Should run successfully

**Desktop (please complete the fo

[2021-05-27 19:56] KwintenP commented on #107
Hey!

You are right. This syntax is indeed not supported at this point. We do have this on our roadmap but might not be implemented in the near future. I will add this to our internal issue tracker so we def keep tracking it!

[2021-05-27 19:59] KwintenP commented on #104
This seems to be a bug indeed!

🙏 for reporting!

[2021-05-27 21:24] lfades opened #108 "BUG: Next.js navigation didn't change the browser path"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/github/vercel/next.js/tree/canary/examples/hello-world?file=pages%2Findex.js

**Steps to reproduce:**

Load the blitz, once you see the browser rendering "Hello world. _About_", click on about and it takes you to the about page (`/about`), but that should be updating the path too, like how it happens when you

[2021-05-27 21:37] MarkHalls commented on #63
Is something your team might take action on in the future? I just noticed that the link in the app to open an issue took me to webcontainer-core instead of core. Should I open an issue over there instead?

[2021-05-28 00:44] IgorMinar opened #109 "BUG: projects generated via Angular CLI's `ng new` can't be saved"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-dbtp7g

**Steps to reproduce:**

1. create a new node.js project using https://stackblitz.com/fork/node
2. run `npm install -D @angular/cli` in the terminal
3. run `ng new example-app --defaults --skip-git`
4. try to save the project and reload the page

**Expected behavior:**

expected: project is

[2021-05-28 01:23] EricSimons commented on #109
Thanks for reporting this! Really odd this errored for you because it seemed to work for others (like https://twitter.com/markwhitfeld/status/1395669545063436293?s=21)

Will investigate this tomorrow morning and see if we’ve had a regression or something else 🙏

[2021-05-28 02:11] mehulbaid opened #110 "BUG: Installed dependencies don't show up in package.json"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-jhjbv3?file=package.json

**Steps to reproduce:**

1. open package.json
2. edit something (example: description) and save
3. then, do `npm i @hapi/hapi`
4. see the dependency not getting updated in package.json.

**Expected behavior:**
The Dependency should be getting updated in package.json.

**Ver

[2021-05-28 02:16] mehulbaid opened #111 "Framework support for NestJs"
**Describe the solution you'd like:**
Add support for NestJs

**Provide a link to a github repo containing an example of the framework:**
https://github.com/nestjs/nest

[2021-05-28 02:24] IgorMinar commented on #109
I can generate the app and run the devserver as well. I just can't save the project and share it with others.

Notice that in Mark's screen cast, the files remain unsaved. I suspect that if he tried it, it would not work.

[2021-05-28 02:28] IgorMinar commented on #109
Btw I've seen similar problems with stackblitz in the past when my project reached certain size (total number of lines/source code bytes) - I wonder if the newly generated app is over some limit.

Thanks for looking into this.

[2021-05-28 04:10] jackyef opened #112 "BUG: Image assets aren't served properly"
---
name: Bug report
about: Create a report to help us improve
title: 'Image assets aren't served properly'
labels: ''
assignees: ''

---

**Describe the bug**
The `live-server` in this [project](https://github.com/css-for-js/scrollburglars) serves `.html` document correctly, but not with image assets (`.png`, `.svg`). Everything works correctly locally, just not on a blitz.
![image](https://user-

[2021-05-28 04:11] jackyef commented on #91
Sure! I've created one at #112. Thanks for your help!

[2021-05-28 06:04] SamVerschueren commented on #109
@IgorMinar Thanks for trying this out and reporting this issue! I've looked into it and the reason it fails is because of the `favicon.ico`. There's an issue with how images are being handled on our side. So as a quick workaround, if you remove the `favicon.ico` file you will be able to save the project. In the mean time we will look into fixing this issue 🙏 .

[2021-05-28 06:28] CyberAP opened #113 ""name can only contain URL-friendly characters" on package install"
**Describe the bug:**
Try installing any package that contains an `@` character in it. For example: `@formatjs/intl-pluralrules/polyfill`.
The npm would fail with the following message:

**Link to the blitz that caused the error:**

https://stackblitz.com/edit/node-yqcdjc?file=package.json

**Steps to reproduce:**

1. Add `@formatjs/intl-pluralrules/polyfill` to your package.json dependencies
2. E

[2021-05-28 06:54] AdrianoW opened #114 "Port not opening with simple http server"
**Describe the bug:**
Hi all,

maybe I am doing something wrong (I am not a pro) but it seems when running a simple NodeJS http server, the port is not opened:

![image](https://user-images.githubusercontent.com/933395/119942304-f23a4400-bf91-11eb-8171-07cce8addcaf.png)

**Link to the blitz that caused the error:**
https://stackblitz.com/edit/node-qsir7y

**Steps to reproduce:**
Create a simple se

[2021-05-28 07:44] SamVerschueren commented on #113
Hi @CyberAP! Thanks for trying out StackBlitz.

The problem here is that it's actually correct that it doesn't work. If you try your example locally, you will see this error.

[code]

The npm package you really want is `@formatjs/intl-pluralrules`. The `/polyfill` is just a deep import from the main package.

I forked the project here https://stackblitz.com/edit/node-reytsc?file=index.js which I g

[2021-05-28 07:44] #113 closed

[2021-05-28 07:50] SamVerschueren commented on #111
Hi @mehulbaid ! Luckily, NestJS already is in the list of supported frameworks https://github.com/stackblitz/webcontainer-core/blob/main/Supported_frameworks.md ;).

[2021-05-28 07:50] #111 closed

[2021-05-28 08:13] SamVerschueren commented on #49
Mmm, this is super weird. I tested this before I deployed it to production but when trying it again now, it doesn't seem to work. I'll fix it 👍 .

[2021-05-28 09:03] luisherranz commented on #107
Until this is fixed, a possible workaround is to use `workspaces`.

For example, if your local dependencies are in the `packages` folder, like this:

[code]

You can make StackBlitz install them correctly by adding:

[code]

[2021-05-28 09:18] luisherranz commented on #107
Until this is fixed, a possible workaround is to use `workspaces`.

For example, if your local dependencies are in the `packages` folder, like this:

[code]

You can make StackBlitz install them correctly by adding:

[code]

With a small caveat: it doesn't work if you _only_ have local dependencies. You need to have at least one external dependency:

[code]

Also, you probably need to remove both

[2021-05-28 09:20] SamVerschueren commented on #101
This is related to #53. The `ui5` package uses `getFileName()` under the hood which fails at the moment. Working on this so I'll keep you posted.

[2021-05-28 09:24] SamVerschueren commented on #114
Hi @AdrianoW! Thanks for trying out WebContainers 🙏 .

So I think the problem here is that you have another tab open with either the same project, or another project which also runs something on port `8080`. I've ran into this myself in the past and it's something we want to improve if that happens.

So a solution here is to either look for the tab that runs a project on port 8080 and close that o

[2021-05-28 10:12] qsaad opened #115 "BUG: No way to start terminal"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-q7jf7u?file=index.js

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 57be275669708b1d42e233d60c80159bef577631

**Screenshots:**

**Desktop (please complete the following information):**
Brow

[2021-05-28 11:40] KwintenP commented on #115
Hi,

It seems like you removed the blitz? Can you also clarify what you mean with 'no way to start terminal'

[2021-05-28 11:43] KwintenP commented on #112
We have limited support for images atm. We are currently tackling this issue.

I'll get back to this issue asap!

🙏 for reporting

[2021-05-28 11:46] KwintenP commented on #110
This is a bug indeed!

🙏 for reporting.

[2021-05-28 13:24] AdrianoW commented on #114
Yeap, seems to work now. Just wondering. If I am using websockets, will the url (e.g. xxx-PORTN-xxxxx) point already to the PORT or should I use url:PORT in the end? And will Websockets work (ws://url) ?

[2021-05-28 13:40] critesjosh commented on #99
<img width="1148" alt="Screen Shot 2021-05-28 at 9 37 50 AM" src="https://user-images.githubusercontent.com/18372439/119992339-7263a800-bf98-11eb-96e5-071043f0b76c.png">

Looks like it was a problem with the `contractkit` package. I removed it and it worked.

[2021-05-28 15:19] SamVerschueren commented on #49
@socsieng I tried fixing it, and although it seemed to work on our staging environment, it doesn't work on production. I have no clue what's going on (yet). Could you maybe create a new issue for it in https://github.com/stackblitz/core? That's where we track issues for non-WebContainer projects.

[2021-05-28 15:21] SamVerschueren commented on #89
This is actually already being tracked here https://github.com/stackblitz/core/issues/1450.

[2021-05-28 16:38] oe opened #116 "BUG: webconcainer stop working after signing in and forking the node demo project"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-server-stackblitz-webcontainer-demo-q2xifs

**Steps to reproduce:**
1. Go to <https://stackblitz.com/edit/node-server-stackblitz-webcontainer-demo>
2. Click on `sign in` on the top right then sign in with github
3. the project automatically forked
4. preview stop working

**Version of webcontainer:*

[2021-05-28 16:38] oe commented on #116
reloading the forked page, everything works fine again

[2021-05-28 17:01] #89 closed

[2021-05-28 18:04] redCode17 opened #117 "BUG:"

[2021-05-28 18:50] IgorMinar commented on #109
Interesting! Sam, thank you for looking into this and finding the culprit.

[2021-05-28 19:43] Vandivier opened #118 "BUG: Possible Unexpected Project Caching"
**Describe the bug:**
seems like stackblitz caches a deleted project so that new projects from same origin do not have latest code on origin

**Link to the blitz that caused the error**
https://stackblitz.com/github/Vandivier/gotrue-js

**Steps to reproduce:**

1. use the stackblitz URL to generate a project from the github branch
2. locally clone the github branch, make a code change and push it

[2021-05-28 20:45] #117 closed

[2021-05-29 03:49] Umisyus opened #119 "Terminal broken. Won't run commands, clears screen."
**Describe the bug:**
The terminal won't work properly if  at all on mobile version of Stackblitz.

**Link to the blitz that caused the error:**

https://stackblitz.com/edit/node-tf67bg

**Steps to reproduce:**

2. Click the Stackblitz link on a mobile device.
3. Enter anything into the terminal
4. See nothing!

**Expected behavior:**
I was expecting some terminal output but I got nothing.

**Scre

[2021-05-29 05:30] SamVerschueren commented on #116
Could this be the same as #114? Basically, if you have another tab/window open running a StackBlitz project on the same port, that will not work. We have to handle this more gracefully though.

[2021-05-29 05:33] oe commented on #116
seems like the same problem, I'm not sure

[2021-05-29 05:40] SamVerschueren commented on #108
Thanks for reporting this @lfades! We are aware of this behaviour and we have it planned but can't give you a timeframe.

[2021-05-29 05:56] oe opened #120 "BUG: parcel throws error in `tiny-inflate` package"
**Link to the blitz that caused the error**
https://stackblitz.com/edit/github-fshd7k?file=package.json

**Steps to reproduce:**

1. Go to <https://stackblitz.com/edit/github-fshd7k?file=package.json>, and waiting until the project initialized
2. run `yarn dev`, error and not working
3. run `yarn build`, error, not working
4. add `dist` folder in the project, then run `yarn rrr`, no error but not

[2021-05-29 07:36] muhammadalhrake opened #121 "simple algorithm try in TypeScript"
**Describe the bug:**
Take a long time and does not give a result

**Link to the blitz that caused the error:**
https://stackblitz.com/edit/typescript-akcpa6
**Steps to reproduce:**

1. Go to 'https://stackblitz.com/edit/typescript-akcpa6'
2. Click on 'setInterval(()=>console.log(generateQuestion(5,5,"=10")),500);'
3. Click on  'Alt+shift+A'
4. See error

**Expected behavior:**

just fix the error

[2021-05-29 09:44] yimity opened #122 "return pure json, if postman or any backend service fetch the api with content Ttype application/json"
**Is your feature request related to a problem? Please describe.**
if i editting a nestjs or nodejs backend service in stackblitz, and a url will return a json format data. if i visit the url or fetch it in console in the same browser, it will show correct, but if i visit this url in other service, like other backend or postman, it will return a html document with many javascript code. so it will

[2021-05-29 10:24] SamVerschueren commented on #119
Hi @Umisyus, thanks for trying out StackBlitz! Please fill in the required information because without it it's very hard for us to know exactly what's going on 🙏 .

[2021-05-29 11:09] YukeshM opened #123 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-wk8pgg?file=package-lock.json

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 57be275669708b1d42e233d60c80159bef577631

**Screenshots:**

**Desktop (please complete the following information

[2021-05-29 11:38] SamVerschueren commented on #123
@YukeshM could you provide more information and fill in the required fields as well as a decent title? Otherwise it's hard for us to help you out.

[2021-05-29 14:05] adrianlula opened #124 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/graphql-sjkygx

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 57be275669708b1d42e233d60c80159bef577631

**Screenshots:**

**Desktop (please complete the following information):**
Browser name  =

[2021-05-29 16:00] YukeshM commented on #123
![image](https://user-images.githubusercontent.com/76556005/120076777-ef8c3b80-c0c4-11eb-9768-b9b595bd6563.png)

here I found the bug

[2021-05-30 05:36] SamVerschueren commented on #123
Thanks for the screenshot, unfortunately this is not enough information. When you click the report bug button we expect everyone to describe what bug you encounter, steps to reproduce the issue and last but not least, a decent issue title.

I'm not on my computer right now so I will have a look if I can quickly see if there goes something wrong when I open the project.

[2021-05-30 05:38] SamVerschueren commented on #124
Please fill in all required information and a decent issue title. We try to help everyone but we expect people to provide as much information as possible, otherwise it might be hard for us to find out what goes wrong. 🙏

[2021-05-30 05:44] SamVerschueren commented on #119
Awesome, thanks for filling in the information, this is very helpful!

Currently WebContainers do not work on mobile. We detect this and show a message but apparently doesn't work for your device.

![image](https://user-images.githubusercontent.com/1913805/120093472-d6ae7500-c11a-11eb-9f48-dd0fef79f842.png)

[2021-05-30 05:47] YukeshM commented on #123
here after I will describe the issue sir, thanks for your reply

[2021-05-30 06:51] #123 closed

[2021-05-30 10:11] d3lm commented on #122
Do you have a reproduction? Please provide as much information as possible and we'll do our best to fix it. Thanks a lot for providing your feedback!

[2021-05-30 10:25] SamVerschueren commented on #122
So you are setting up a server on StackBlitz and try to send requests with postman to the endpoint? That will unfortunately never work, Chrome does not allow us to expose the server to the outside. So as long as you are sending it inside Chrome, that should work. But it will not work with postman or curl or whatever.

[2021-05-30 10:30] d3lm commented on #114
@AdrianoW Yep, `Websocket` work as usual. For the url it's enough to use `ws://localhost:1234/my-ws-route` for example. `SockJS` and `SocketIO` work as well and have been tested. If you run into issues with websockets, please let us know.

[2021-05-30 10:41] d3lm commented on #99
Yep, indeed. Something is failing on the server side when `@celo/contractkit` is added as a dependencies. In particular, it's `@celo/utils` which has some dependencies, e.g. `country-list` which return with `Bad Request`. This seems to be a bug. Thanks for reporting the issue.

[2021-05-30 19:00] zaiste opened #125 "BUG: argon2 cannot be used"
**Describe the bug:**

I cannot use the [`argon2`](https://github.com/ranisalt/node-argon2) package inside the web container.

**Link to the blitz that caused the error**

https://stackblitz.com/edit/argon2?file=index.js

**Steps to reproduce:**

1. Go to 'https://stackblitz.com/edit/argon2?file=index.js'
2. In Terminal, write `node index.js`
3. See error

[code]

**Expected behavior:**

No error.

[2021-05-30 22:04] Krutsch opened #126 "BUG: Unknown error when building"
**Describe the bug:**
Does not execute npm command. (Running bundlers)
`TypeError: Cannot read property 'constants' of undefined`

**Link to the blitz that caused the error**
https://stackblitz.com/github/Krutsch/hydro-starter

**Steps to reproduce:**

1. Go to https://stackblitz.com/github/Krutsch/hydro-starter
2. Run `npm run dev`
3. See error

**Expected behavior:**
Execute the command without

[2021-05-31 05:47] JANSON-JOHN opened #127 "BUG: Unable to install package"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-fgkfyg?file=index.js

**Steps to reproduce:**

1. Go to 'Terminal...'
2. Run  ' npm i -g editly   '
3. Scroll down
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 57be275669708b1d42e233d60c80159bef577631

**Screenshots:**

**Desktop (please complete the following information

[2021-05-31 06:30] SamVerschueren commented on #114
Let me close this issue for now. Feel free to open a new issue if you have more questions @AdrianoW or jump into our Discord 😃 .

[2021-05-31 06:30] #114 closed

[2021-05-31 06:34] SamVerschueren commented on #124
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-05-31 06:34] #124 closed

[2021-05-31 06:40] SamVerschueren commented on #127
Hi @JANSON-JOHN! Thanks for trying out WebContainers 🙏 !

We currently don't support installing npm packages as global. The reason for this is a little nuanced. What does global even mean in the context of stackblitz. Would you want it to be available in all of your blitz's? What about collisions in that case where you install a global version which collides with a local dependency.

It's consider

[2021-05-31 06:40] #127 closed

[2021-05-31 07:00] yimity commented on #122
Yes, you are all right.
but i visit this App Url from postman or other service outside the chrome, it shows contents, it works. so i think if the request header with a contentType applicatio/json, the output will be a pure json without the html and javascript code.

[2021-05-31 07:03] KwintenP commented on #125
It looks like this package is using the n-api and thus native packages. Since everything in running inside the browser, it's not possible to use native packages.
Unfortunately, this will never work in WebContainers. To make this work, the `argon2` should switch to a WASM based implementation that allow it to run in the browser.

[2021-05-31 07:03] #125 closed

[2021-05-31 07:06] KwintenP commented on #121
Hi,

It seems to work on my end. Could it be that the Chrome instance you were running Stackblitz in crashed? Specially since your screenshot also shows a different tab being frozen.

As an FYI, this seems to be an issue with a V1 project (not using WebContainers). If the error persists, please open an issue on https://github.com/stackblitz/core for this.

[2021-05-31 07:06] #121 closed

[2021-05-31 08:18] KwintenP commented on #102
Hi!

🙏 for reporting. This does seem like a bug on our end!

[2021-05-31 08:35] KwintenP commented on #100
This seems to be an issue indeed. Thanks for adding the link.

[2021-05-31 08:45] fvsch commented on #58
@dwaite Can you point to a resource that explains how to read the syntax you quoted?
I’m not reading it as forbidding consecutive hyphens, only forbidding hyphens at the start or end of a label.

I also noticed today that Netlify seems comfortable using double hyphens for deploy preview, e.g.
`https://deploy-preview-350--open-ui.netlify.app/`

[2021-05-31 09:45] JANSON-JOHN commented on #127
Hi Sam,

Thanks a lot for the quick reply. Usually reply times are very high. Sorry
for filing the issue.

Happy to get advice and installed as
npm install editly --save-dev

On Mon, 31 May 2021 at 12:11, Sam Verschueren ***@***.***>
wrote:

[2021-05-31 10:52] SamVerschueren commented on #127
No worries, feel free to open new issues in the future if you run into other things 😃 !

[2021-05-31 12:36] Tdaycode opened #128 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-nz22a4?file=package.json

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 57be275669708b1d42e233d60c80159bef577631

**Screenshots:**

**Desktop (please complete the following information):**

[2021-05-31 12:39] Akash3444 opened #129 "BUG: npx with tailwindcss"
**Describe the bug:**
If I run command npx tailwindcss init, it runs successfully. But when I run command npx tailwindcss init -p, it is giving warning and not working.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/aksh3444-blog?file=postcss.config.js

**Steps to reproduce:**

1. Go to termianal
2. Run command npx tailwindcss init -p

**Expected behavior:**
This command

[2021-05-31 13:05] SamVerschueren commented on #128
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-05-31 13:05] #128 closed

[2021-05-31 13:59] vashistaarav1611 opened #130 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-fuziza

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See an error

**Expected behavior:**

**Version of webcontainer:**
Hash: 57be275669708b1d42e233d60c80159bef577631

**Screenshots:**

**Desktop (please complete the following information):**
Browser

[2021-05-31 15:06] dylang opened #131 "BUG: workspaces don't install with included version of turbo"
**Describe the bug:**
I'm trying to create a monorepo scenerio using Yarn workspaces

[code]

**Link to the blitz that caused the error**
https://stackblitz.com/edit/projects-and-typescript?file=package.json

**Steps to reproduce:**
`turbo install`

**Expected behavior:**
Installs everything.

**Version of webcontainer:**
Hash: 57be275669708b1d42e233d60c80159bef577631

**Screenshots:**

**Desktop

[2021-05-31 15:15] kutec opened #132 "BUG: Failing at Linking dependencies"
**Describe the bug:**

❯ npm install
warn preInstall No repository field
┌ [1/3] 🔍  Resolving dependencies
└ Completed in 48.403s
┌ [2/3] 🚚  Fetching dependencies
└ Completed in 15.799s
┌ [3/3] 🔗  Linking dependencies
└ 𐄂 Failed
Error: EIO: failed to link packages

error Command failed with exit code 1

**Link to the blitz that caused the error**
https://stackblitz.com/edit/github-a6vpe7?file=pack

[2021-05-31 16:53] SamVerschueren commented on #130
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-05-31 16:53] #130 closed

[2021-05-31 16:54] SamVerschueren commented on #132
@kutec Can you recreate the blitz and update the URL? It looks like you removed it which makes it hard for us to reproduce.

[2021-05-31 19:13] corradin opened #133 "BUG: Turbo Unknown syntax error when handling arguments"
**Describe the bug:**
Unknown Syntax Error: Command not found; did you mean one of:

  0. turbo exec [-p,--package #0] [-c,--call #0] [--cwd,--prefix #0] [-s,--silent] [--quiet] [-V,--verbose] [--loglevel #0] ...
  1. turbo exec [-p,--package #0] [-c,--call #0] [--cwd,--prefix #0] [-s,--silent] [--quiet] [-V,--verbose] [--loglevel #0] ...
  2. turbo exec [-p,--package #0] [-c,--call #0] [--cwd,--p

[2021-05-31 19:20] corradin opened #134 "BUG: npm version 0.0.2 causes create-react-app to fail"
**Describe the bug:**
Create-react-app cannot succeed, because it checks the version of NPM in the webcontainer and gets 0.0.2 back. CRA tries to fall back to a different version and breaks, because the arguments by the react scripts cannot be parsed by Turbo.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/webcontainers?file=_tmp_29_3e37e27786d1f81442677490e0c12103

**Ste

[2021-05-31 19:39] Pyrolistical opened #135 "turbo --save-exact does not work"
### **Description of Bug**
various turbo commands offer `[-E,--exact,--save-exact]`, but it doesn't work

### **Steps to Reproduce**

1. Create a new node.js project
2. Run the command `turbo add --save-exact ramda@0.27.1`
3. Open package.json and see that ramda dependency ends up with a `^` modifier `"ramda": "^0.27.1"`

`^` means "Compatible with version"
See https://docs.npmjs.com/cli/v7/config

[2021-05-31 22:57] algorist-mechanism commented on #62
It's trying to install leveldown. (npm https://www.npmjs.com/package/leveldown and repo https://github.com/Level/leveldown)
It tries to install a prebuilt version first based on the platform, then run `node-gyp-build` to build locally if it cannot find a prebuilt.
There's a work around for pouchdb-server (It can use indexedDB, webSQL with sqlite3, localStorage, or in memory). The default is leveld

[2021-06-01 11:31] abhishekdam opened #136 "BUG: Live result window is not working"
**Describe the bug:**
The live out put window is not booting at all i am clicking on the open in new window but nothing is happening.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-ao9mjd

**Steps to reproduce:**

1. Go to 'create a new repo nodejs'
2. Click on 'click on open in new window'
3. nothing is happening
4. See error

**Expected behavior:**
should have open

[2021-06-01 11:54] SamVerschueren commented on #136
It's definitely a bug. The thing here is that no HTTP server is running, so the preview window doesn't actually show you a webpage. When you click the `Open in a new window` button, it opens the webpage from the preview window in a separate browser window.

For instance, try creating a `http-server` by forking that project https://stackblitz.com/fork/http-server. Wait for the the server to start a

[2021-06-01 14:49] sebastiandg7 opened #137 "BUG: Unable to run the Nx CLI in WebContainers"
**Describe the bug:**

The Nx CLI is not able to properly run inside a WebContainer. The error seems to be related with the `perf_hooks` package.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nx-workspace-empty

**Steps to reproduce:**

1. Go to the terminal
2. Run `npm run nx list`
3. See error:

[code]

**Expected behavior:**

The CLI should run and give an output  sim

[2021-06-01 16:37] socsieng commented on #49
Will do. Thanks.

[2021-06-02 06:17] SamVerschueren commented on #91
This is now fixed in production 🎉 !

[2021-06-02 06:17] #91 closed

[2021-06-02 06:19] SamVerschueren commented on #101
@marcelschork we fixed some things and this seems to be working right now 🎉 ! Thanks for reporting the issue.

[2021-06-02 06:19] #101 closed

[2021-06-02 06:20] SamVerschueren commented on #53
@jelhan This is now fixed 🎉 ! Thanks for reporting the issue 🙏 !

[2021-06-02 06:20] #53 closed

[2021-06-02 06:25] SamVerschueren commented on #120
@oe Thanks for reporting the issues you run into. Let's break the issue down, because it has multiple things in it.

1. There was indeed a bug with `&&` in npm scripts which is now fixed.
2. The `yarn rrr` command seems to be working on my end. Maybe it had something to do with issue `1` which we fixed, but it seems to be working now.
3. I haven't looked into `parcel` before, but yes it looks like

[2021-06-02 06:32] SamVerschueren commented on #2
@Rich-Harris So we fixed the `npm init` thing and it seems to work. BUT, some `create-*` packages uses `git` under the hood, like `npm init svelte-app`. We are working on our `git` internals and expose a `git` CLI as well, but right now that causes other issues.

![image](https://user-images.githubusercontent.com/1913805/120434648-06f54e00-c37d-11eb-86f1-2640c0ea7a1b.png)

[2021-06-02 06:42] SamVerschueren commented on #137
@sebastiandg7 Thanks for trying out Nx and reporting this back to us. This seems like an issue on our end and I created an internal ticket for it.

[2021-06-02 09:57] oe opened #139 "BUG: user session issue"
**Link to the blitz that caused the error**
https://stackblitz.com/edit/github-fshd7k?file=package.json

**Steps to reproduce:**
1. stay log out of stackblitz.com
2. open <https://stackblitz.com/edit/github-fshd7k?file=package.json>
3. sign in via my github account(owner of project above)  by clicking the *sign* button on the top right.
4. edit some code in the project
5. then save(via cmd + s), w

[2021-06-02 16:53] nicholaschiang opened #140 "BUG: a is not a function"
**Describe the bug:**

My Next.js app doesn't compile. Instead, it gives me this error:

[code]

Which is then shown in the development server:

![image](https://user-images.githubusercontent.com/20798889/120519878-ff877200-c387-11eb-90b7-88caa9fe45ee.png)

**Link to the blitz that caused the error**
https://stackblitz.com/edit/tutorbook

**Steps to reproduce:**

1. Open https://stackblitz.com/edi

[2021-06-02 17:04] nicholaschiang opened #141 "BUG: Next.js images don't load"
**Describe the bug:**

The Next.js optimized images don't ever load (see below screenshots).

**Link to the blitz that caused the error**
https://stackblitz.com/github/nicholaschiang/website

**Steps to reproduce:**

1. Open https://stackblitz.com/github/nicholaschiang/website
2. Wait for web container and development server
3. Notice how none of the images load

**Expected behavior:**

The Next.j

[2021-06-02 19:17] SamVerschueren commented on #141
@nicholaschiang Thanks for trying out StackBlitz 🙏 ! We are aware of issues with images and are working on it. I'll keep you posted when I have updates regarding this topic.

[2021-06-02 19:20] SamVerschueren commented on #140
Hi @nicholaschiang! Thanks for reporting. This looks like an issue on our end. Could you create a new Blitz and update the URLs? It looks like you removed the project so would be great if I had a direct URL 🙏 .

[2021-06-02 21:37] IgorMinar commented on #109
@SamVerschueren I was able to confirm that the favicon.ico was the culprit. I converted the file to a data url and was able to get the demo to work (with some limitations documented in Readme.md): https://stackblitz.com/edit/ng-webcontainer

Overall I'm super excited about the prospects of this. Awesome job team Stackblitz!

[2021-06-03 08:00] kutec commented on #132
Thanks, @SamVerschueren . But that issue was fixed with a fresh repo.

[2021-06-03 08:00] #132 closed

[2021-06-03 12:21] joelewis opened #142 "BUG: Network requests always fails"
**Network requests are not handled**
Any library that involves making http(s) requests (axios / request / etc) are erroring out when making actual requests.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-zgjiqf

**Steps to reproduce:**
1. Get to the terminal
2. Install `npm install --save request` which works well
3. Use the request library's API in index.js (as indi

[2021-06-03 13:35] SamVerschueren commented on #142
Hi @joelewis, thanks for trying it out.

So the reason it fails here is because of CORS. We can't magically circumvent the browsers security sandbox. For instance, if you use the Pokemon API, you will see that it works https://stackblitz.com/edit/node-6yu9qs. We already discussed internally if we could do something about this, but it won't happen soon I guess.

[2021-06-03 18:09] d3lm commented on #142
Yes, precisely what @SamVerschueren said. It really depends on the endpoint you are trying to request if it has CORS enabled and what origins, headers, methods are allowed. If the server rejects certain origins then this will cause the request to fail due to CORS. There are solutions to this problem and we have already discussed some of them but as Sam said, this won't happen soon and might take a

[2021-06-03 18:27] SamVerschueren commented on #80
Fixed 🎉

[2021-06-03 18:27] #80 closed

[2021-06-03 18:55] marcelschork opened #143 "UI5 sample app doesn't work - Can't load UI5 Core.js"
**Describe the bug:**
I tried the UI5 sample app after #101 was fixed. The UI5 Core.js file which is loaded via the ui5loader as a synchronous XHR can't be loaded (404).

**Link to the blitz that caused the error:**
https://stackblitz.com/github/SAP/openui5-sample-app

**Steps to reproduce:**

1. npm start
2. Open index.html

**Expected behavior:**
The UI5 sample app should run

**Screenshots:**
<

[2021-06-03 20:09] garrisons commented on #129
@Akash3444 trying to navigate to your rep, but it looks like it might be private? Could you double check that for me?

[2021-06-04 01:12] masx200 opened #144 "BUG: ERR!: No git binary found in $PATH"
**Describe the bug:**

[code]
**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-jmem5g?file=package.json

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
5.

package.json
[code]
**Expected behavior:**

**Version of webcontainer:**
Hash: 12423d4ada17c5bf9dcd8d2c2bd877a5f9b12d08

**Screenshots:**

<img width="960" alt="屏幕截图

[2021-06-04 02:18] Akash3444 commented on #129
@garrisons I have changed the project name that is why thr link was not working. Now I updated the link.

[2021-06-04 02:24] EricSimons commented on #143
Interesting... I can open up the JS file in a new tab and it loads, but it seems that the synchronous XHR always is getting a 404.

@KwintenP @d3lm  do you know if localservice has any limitations with sync XHRs? It appears this request is skipping the service worker and directly hitting the 404 page from s3 (unless I'm mistaken).

[2021-06-04 02:28] masx200 opened #145 "BUG: Cannot use'exit' to exit the terminal normally."
**Describe the bug:**

Cannot use'exit' to exit the terminal normally.
**Link to the blitz that caused the error**
https://stackblitz.com/edit/webpack-react-vue-spa-awesome-config?file=cli%2Fsrc%2Fstart.js

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
5.
Type'exit' in the terminal and press Enter.

**Expected behavior:**

The terminal should be e

[2021-06-04 02:37] masx200 opened #146 "How to adjust the font size of the code?"
**Is your feature request related to a problem? Please describe:**

**Describe the solution you'd like:**

How to adjust the font size of the code?
**Describe alternatives you've considered:**

**Additional context:**

[2021-06-04 06:22] joelewis commented on #142
Got it. Thanks!
Curious: What solutions came into the discussion to this problem?
A couple of what comes to my mind:
1. Can't we run a proxy server that routes any request from the client to go through the proxy, thereby simulating cors-less nodejs env?
2. Maybe a stackblitz browser extension that proxies those requests from an extension environment, which is less constrained.

[2021-06-04 06:48] d3lm commented on #143
Yes that's correct. Synchronous XHR request are not intercepted by a SW, it's not localservice. As you said yourself, that's a bug in Chrome but it's been open for a long time (2016) and apparently has not been fixed since then.

[2021-06-04 07:12] KwintenP commented on #144
Jep, this is correct. We currently don't have a git binary yet.

We are working hard on one and a bare bones version should be ready in the near future.

[2021-06-04 09:15] SamVerschueren commented on #142
Thanks for thinking with us @joelewis!

Solution number 1 is what we thought about as well. But that would involve a proxy which will cost a lot of 💸  probably because every request has to go through that proxy.

I don't think we thought about an extension. Not sure if that would work but that might be a good idea. Although we want users to have as less friction as possible without installing anyt

[2021-06-04 09:17] SamVerschueren commented on #146
Hi @masx200

You can open your user-settings and change the `editor.fontSize` property.

![image](https://user-images.githubusercontent.com/1913805/120778236-6478ce80-c526-11eb-900e-a988460878f0.png)

User settings can be found under `Settings` (cog icon) at the left.
![image](https://user-images.githubusercontent.com/1913805/120778274-7195bd80-c526-11eb-8a15-60d8f77b3a8e.png)

[2021-06-04 09:17] #146 closed

[2021-06-04 09:19] SamVerschueren commented on #145
I just tested it and you are correct, it doesn't seem to work.

However, currently we don't allow to close/kill your first terminal as there is no way to bring it back if I believe. If you open a second one, that one you can close and then exit should work off course.

But yes, it's a bug.

[2021-06-04 12:15] SamVerschueren commented on #109
Hey @IgorMinar, here's an update from our side.

Images are now working properly. When scaffolding out a new project however, they are placed in the root directory instead of the correct location. We're looking into this together with an issue with empty files (looking at you `app.component.css`). It got lost after I did `ng new`.

We also fixed `ng test`. So now you can run `npm test` (or `ng tes

[2021-06-04 14:07] jrvidal commented on #104
This is now fixed :tada:

[2021-06-04 14:07] #104 closed

[2021-06-04 14:19] IgorMinar commented on #109
Thanks for the update Sam. I'll update my project today and let you know how it went.

[2021-06-04 14:29] dr3s opened #147 "BUG: Cannot find module '../build/Release/sharp.node'"
**Describe the bug:**
event - compiled successfully
Error:
Something went wrong installing the "sharp" module

Cannot find module '../build/Release/sharp.node'
Require stack:
- /home/projects/nextjs-qta6vo/node_modules/sharp/lib/constructor.js
- /home/projects/nextjs-qta6vo/node_modules/sharp/lib/index.js
- /home/projects/nextjs-qta6vo/node_modules/next/dist/next-server/server/image-optimizer.js
-

[2021-06-04 14:37] dr3s commented on #147
To fix another issue around postcss-scss not working, I did run rm -Rf node_modules/ at some point :-(

[2021-06-04 16:48] nicholaschiang commented on #140
@SamVerschueren I've updated the original issue with the renamed https://stackblitz.com/edit/tutorbook.

Or, if you can't access that, you should be able to fork https://stackblitz.com/github/tutorbookapp/tutorbook but you'll need some `.env.local` files (see stackblitz/core#1492).

[2021-06-04 17:19] vanloi-dev opened #148 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-jjca4u?file=package-lock.json

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following info

[2021-06-04 19:43] marcelschork opened #149 "Framework support for OpenUI5"
**Describe the solution you'd like:**
After #101 was solved and I got the feedback for #143 which will most likely never be solved I found a workaround to run an [OpenUI5](https://openui5.org/) app on StackBlitz by loading the ui5 resources from the openui5 cdn instead of using the openui5 npm packages installed by the UI5 tooling. I prepared a minimum ui5 app. When running the start script

the `

[2021-06-04 20:11] SamVerschueren commented on #148
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-04 20:11] #148 closed

[2021-06-04 21:04] samsepfs opened #150 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-6dry4c

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following information):**
Browser name  = Ch

[2021-06-04 22:15] TheMrZZ opened #151 "BUG: Embedding's "view" property does not work correctly."
**Describe the bug:**

When embedding a StackBlitz, the "view" property only work when set to "preview" - in which case it sets the preview.
Any other value will be like specifying "both".

Therefore, "view=editor" does not show only the editor.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/sandstone-example?view=editor&embed=1&file=src/greet.ts&

**Steps to reproduce:**

[2021-06-04 22:38] IgorMinar commented on #109
I've regenerated https://stackblitz.com/edit/ng-webcontainer (following the instructions documented in the readme.md) and I can confirm that the favicon and karma issues are now resolved. I also came across a new issue that @SamVerschueren mentioned - the empty `src/app/app.component.css` file is not preserved after `ng new`. Fortunately it is preserved if I `touch` the file and then resave the pr

[2021-06-05 00:07] hemanth opened #152 "BUG: TypeError: Cannot read property 'constants' of undefined"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-huxnd7?file=server.js

**Steps to reproduce:**

[code]

**Expected behavior:**
Server should have started

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Desktop (please complete the following information):**
Browser name  = Chrome
Full version  = 91.0.4472.77
Major v

[2021-06-05 01:50] Doniyorbek9097 opened #153 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-g4twr5

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following information):**
Browser name  = Ch

[2021-06-05 03:06] ELHAMJOHN opened #154 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-e8facq?file=index.html

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following information):**
Br

[2021-06-05 09:16] despairblue opened #155 "Support "Vim Mode""
In the old repo this issue was closed, saying that vim mode is supported now: https://github.com/stackblitz/core/issues/20#issuecomment-846327858

Given the comments below, it seems not obvious how to enable it. Maybe that issue was closed by accident.

If vim mode is supported, how do we enable it?
If vim mode is not supported see this as a feature request :)

Nice work otherwise, I just can't ed

[2021-06-05 10:20] tamsamani opened #156 "BUG: npx didn't execute as expected in bash"
**Describe the bug:**
the command `npx tailwindcss init -p` fails in level of turbo and didn't generate the expected files.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/app-creator?file=package.json

**Steps to reproduce:**

1. install Dependencies `yarn add tailwindcss@latest postcss@latest autoprefixer@latest -D`
2. run `npx tailwindcss init -p`
3. See error related t

[2021-06-05 10:27] tamsamani commented on #156
May be related in the same problem/issue

- directly: #129
- non directly: #133 , #134 ,

[2021-06-05 11:36] SamVerschueren commented on #154
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-05 11:36] #154 closed

[2021-06-05 11:36] SamVerschueren commented on #153
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-05 11:36] #153 closed

[2021-06-05 11:37] SamVerschueren commented on #150
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-05 11:37] #150 closed

[2021-06-05 11:38] SamVerschueren commented on #151
I believe we fixed this and it should work now. Can you try it out? 🙏

[2021-06-05 11:40] SamVerschueren commented on #152
Hi @hemanth! Thanks for trying it out and for reporting any issues you run into. I believe this doesn't work because we lack support for HTTP/2 right now. Is that correct @d3lm?

[2021-06-05 11:40] #151 closed

[2021-06-05 11:43] SamVerschueren commented on #156
Thanks for reporting @tamsamani 🙏 ! Closing because it's a duplicate of #129.

[2021-06-05 11:43] #156 closed

[2021-06-05 11:45] SamVerschueren commented on #156
You can also run the binary directly without `npx`, then it does seem to work. But it should work with `npx` as well.

[code]

[2021-06-05 11:46] SamVerschueren commented on #129
This looks like a bug indeed. Thanks for reporting 🙏 !

It does work if you run the binary directly. We hoist the `node_modules` binary to your shell, so you can do `tailwindcss init -p` directly.

[2021-06-05 11:48] SamVerschueren commented on #155
Hi @despairblue! Thanks for reporting this 🙏 . Yes, you are right, VIM mode does not exist and it was closed by mistake. Let me re-open that one and close this one instead. We want to keep this repo for WebContainer issues only.

[2021-06-05 11:48] #155 closed

[2021-06-05 14:47] TheMrZZ opened #157 "BUG: Atocompletion does not work for imported libraries"
**Describe the bug:**

When importing from a library, autocompletion does not work on:
- Exported members
- Automatic imports
- Arguments

Just like there was no typing at all. What's weird, is that it sometimes work. I caught it in a video. The video starts by showing a classical project, which autocompletes everything perfectly. Then it shows a web container project, where autocompletion works.

[2021-06-05 14:50] ndom91 commented on #140
I'm having the same issue with a private backend hapi api. Seems to be a jose elliptic curve issue.

Let me know if I can help in any way either!

[2021-06-05 20:15] aheissenberger opened #158 "BUG: installing dependencies fails"
**Describe the bug:**

Trying to install any dependenc with `yarn` or  `nom` fails.

[code]

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-h6n33x

new created empty nodejs project

**Steps to reproduce:**

1. create new empty nodejs project
2. write in Terminal `yarn add ylq`
4. See error

**Expected behavior:**

install dependencies :-)

**Version of webcontainer:**

[2021-06-05 21:56] Jamelle-Boose opened #159 "BUG: keyboard doesn't work"
**Describe the bug:**
keyboard doesn't work

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-jqc1z2

**Steps to reproduce:**
1. Go to `index.js`
2. Try editing any line

**Expected behavior:**
keys should work

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following information):**
Browser

[2021-06-05 21:58] Jamelle-Boose commented on #159
I just noticed if I create a new file and copy the contents from `index.js` to the new file, then I can edit that file. I guess that works...

[2021-06-05 22:51] SamVerschueren commented on #158
Hi @aheissenberger, thanks for trying out WebContainer. Have you tried other packages, and do they work? It doesn't look like the package you try to install exists https://www.npmjs.com/package/ylq. Could that be the problem?

[2021-06-05 22:55] Jamelle-Boose commented on #159
Works fine in Firefox as well

[2021-06-05 23:16] aheissenberger commented on #158
you are right there is a typo in the package. But I tested again and it does not work:
[code]

[2021-06-06 00:34] tsetlinebot opened #160 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-iubh33

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following information):**
Browser nam

[2021-06-06 00:36] tsetlinebot opened #161 "BUG:"
[**Describe]([url](url)) the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-iubh33

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following information):

[2021-06-06 05:09] SamVerschueren commented on #161
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-06 05:09] #161 closed

[2021-06-06 05:10] SamVerschueren commented on #160
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-06 05:10] #160 closed

[2021-06-06 05:12] SamVerschueren commented on #158
Can you open your devtools and look at the network requests? Do you run into CORS perhaps? Try hard refreshing your browser and try it again.

[2021-06-06 05:13] SamVerschueren commented on #140
Everything crypto related is currently kinda wonky. Not everything works yet as we focussed heavily on front-end tooling first. It’s something we’re working on though but can’t give you an exact timing.

[2021-06-06 05:17] SamVerschueren commented on #147
The thing here is that Sharp for instance is a native binary. We can’t magically get in native binaries in the browser unfortunately. For that we need a WASM compiled equivalent. I did thought we already have one though.

@d3lm you probably know more about this?

[2021-06-06 05:19] SamVerschueren commented on #119
I’m closing this as it shouldn’t work either. We probably aren’t going to invest time in showing an appropriate message as we want to get this fixed rather sooner than later that it also works on Android Chome.

[2021-06-06 05:19] #119 closed

[2021-06-06 05:23] SamVerschueren commented on #134
Thanks for reporting 🙏 ! This looks like a bug indeed and we should return a proper version for yarn and npm so tools like this work properly.

[2021-06-06 09:34] Akash3444 commented on #129
@SamVerschueren Thank you for the solution. I tried to run `tailwindcss init -p` and it worked successfully.

[2021-06-06 10:17] abhishekdam commented on #136
yup its working thanks man really thankyou

[2021-06-06 10:17] #136 closed

[2021-06-06 10:49] SamVerschueren commented on #129
Going to keep this open, because it's still a bug in `turbo`. Glad it worked for you!

[2021-06-06 12:37] NullVoxPopuli opened #162 "FireFox support"
**Describe the bug:**
I opened a link in my primary browser, firefox, got told my browser was "Incompatible"

**Link to the blitz that caused the error:** n/a

**Steps to reproduce:**

1. have firefox
2. open any link for stackblitz v2 beta

**Expected behavior:**

it works

**Screenshots:**

![image](https://user-images.githubusercontent.com/199018/120924539-37512b00-c6a2-11eb-9d8f-b7445043c93b.p

[2021-06-06 12:51] NullVoxPopuli opened #163 "Cannot export variables (in CLI)"
**Describe the bug:**
I was trying to create a bug report for a different thing, but ran in to this:

in any blitz, running this code in the terminal causes an error:
[code]
[code]

**Link to the blitz that caused the error:** n/a

**Steps to reproduce:**

1.  go to any blitz
2. paste the above export code in the terminal
3. observe error

**Expected behavior:**
no error, environment variable assi

[2021-06-06 12:54] NullVoxPopuli opened #164 "Inline environment variables are not set"
**Describe the bug:**
Probably closely related to: https://github.com/stackblitz/webcontainer-core/issues/163

**Link to the blitz that caused the error:** n/a

**Steps to reproduce:**

1. Run node code that throws an exception, [such as here ](https://stackblitz.com/github/ember-cli/ember-new-output/tree/stable?file=package.json)
2. run: `NODE_OPTIONS='--trace-warnings --unhandled-rejections=stri

[2021-06-06 12:57] NullVoxPopuli opened #165 "Bind must be called on a function"
**Describe the bug:**
When trying to boot up an Ember app, I get this error: `Bind must be called on a function`
The stack in the log points at some minified file, so I'm not sure how to best see what is going on -- but on a real machine, the same code runs just fine.

[code]

**Link to the blitz that caused the error:** https://stackblitz.com/github/ember-cli/ember-new-output/tree/stable?file=pac

[2021-06-06 15:25] mhevery opened #166 "BUG: `npm install @builder.io/qwik --save-prod` fails"
**Describe the bug:**
Trying to install `npm install @builder.io/qwik --save-prod` results in error:

[code]

manually adding it to `package.json` as :
[code]

also fails with:
[code]

**Link to the blitz that caused the error**
https://stackblitz.com/edit/qwik-todo-demo?file=package.json

**Steps to reproduce:**
1. https://stackblitz.com/edit/qwik-todo-demo?file=package.json
2. `npm install` or `

[2021-06-06 19:40] SamVerschueren commented on #164
Hi @NullVoxPopuli, thanks for reporting any issues you run into.

Inline variables are supported actually. Try running `HELLO=world env` or try reading it from `process.env` in a Node.js script, it will work.

However, `npm` is not the npm client from local, that would work very badly in the browser. Basically it's a proxy to our own `turbo` client, so it doesn't have all the features (yet).

Can

[2021-06-06 19:45] NullVoxPopuli commented on #164
ah ok, that makes sense, thanks!

With newer node versions, I was just trying to get rid of these warnings:
[code]

Locally, I have this in my `.bash_profile`:
[code]

[2021-06-06 19:45] SamVerschueren commented on #162
Yes, we should communicate this a bit better.

Firefox does work technically, but it requires some extra security headers that we are not looking into. So Firefox does not have technical limitations. Unlike Safari, which misses SharedArrayBuffer for instance.

It is coming for sure, but we're working hard on different fronts so can't give you an exact estimate. From Chrome 92 or 93, not sure anymo

[2021-06-06 19:48] SamVerschueren commented on #166
Hi @mhevery, thanks for trying out StackBlitz 🙏 !

This might be a bug in our backend. Something that triggers me is the `.` in the package name, that might be the culprit 🤔 .

I'll have a look tomorrow to see if I can find what goes wrong.

[2021-06-06 19:49] NullVoxPopuli commented on #162
that's fantastic news!!!!

[2021-06-06 19:51] SamVerschueren commented on #163
Hi @NullVoxPopuli! Yes, this is not yet supported by the shell yet. We mainly focussed on supporting most of the things npm scripts use at first, and then add more syntax over time.

It's always good to know what people try, or how people use these tools as it will help us improve based on the feedback 🙏 !

[2021-06-06 19:53] mhevery commented on #166
Found it! The issue is that the package was published as private. Switching it to public visibility fixed the issue. The error message could have been more helpful. :-)

[2021-06-06 19:53] #166 closed

[2021-06-06 19:53] SamVerschueren commented on #164
Chiming in @d3lm to see if this is something we could/should add? Guess it's quite niche as long as you can't create your own personal shell profile. Which is definitely something we want over time.

[2021-06-06 19:55] SamVerschueren commented on #162
Fixed a typo 😂 ! We are looking into it. At first I stated that we aren't 🤦 .

[2021-06-06 19:55] NullVoxPopuli commented on #162
I somehow didn't see it 🙃

[2021-06-06 19:58] SamVerschueren commented on #165
I'm not entirely sure, but it looks like something ESM related. We don't support ESM yet unfortunately. But the Node.je ecosystem is adapting so it's definitely on the radar as one of the big first things we have to tackle.

The `node-esm` package, which looks like it's the one that's failing, doesn't work either. I haven't looked into why that is though so can't give you feedback yet on that fron

[2021-06-06 20:30] mhevery opened #167 "BUG: Stackblitz webcontairn fails silently with node in `module` mode."
**Describe the bug:**
This repo demonstrates a bug with stackblitz where the node can't be switched over to 'module' format and it fails silently with no error.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-hhghtv?file=README.md

**Steps to reproduce:**
1. run: `node index.js` observe that code fails silently with no error.
2. Switche `package.json`'s `type` from `m

[2021-06-06 21:14] mhevery commented on #167
After digging more into this it seems that if a promise gets rejected the node just silently exits without printing out the error.

[2021-06-07 06:44] SamVerschueren commented on #167
This is interesting 🤔 . Thanks for the nice and detailed reproduction case 🙏 !

ESM is currently not yet supported, but at least it should throw an error which like you pointed out, seems like it's swallowed.

[2021-06-07 06:50] SamVerschueren commented on #158
It looks like because you misspelled `vlq` in your `package.json`, that it now fails on installing any package. Rename `ylq` in the dependency list in `package.json` to `vlq` and it will work.

@d3lm Is this intended behaviour? If you haven't run `npm install` yet, and then you run `npm install lodash`, that it also installs all other dependencies?

[2021-06-07 06:50] d3lm commented on #147
Yes, we have a polyfill for sharp but it's not yet published. We are working on it!

[2021-06-07 07:02] SamVerschueren commented on #141
Hi @nicholaschiang. Could you try removing the StackBlitz project and clone from GitHub again? We fixed some issues on our side with regards to images.

// cc @KwintenP

[2021-06-07 07:03] d3lm commented on #164
I agree that having a custom shell profile where you can add aliases, define env variables etc. is a nice to have and is will very likely be supported at some point.

For the node flags, that's a good point. Right now not all flags are supported and I have created a ticket for this. Thanks for letting us know.

[2021-06-07 07:10] d3lm commented on #158
Yes that's intended behavior and it's the same with `npm 7.x` and `yarn`. Only older versions of npm (< 7) did not install all dependencies.

[2021-06-07 07:56] KwintenP commented on #157
Hi,

You are correct. We need to wire some things internally so the editor is aware of installed modules. We are currently working on this issue and it should be shipped pretty soon!

[2021-06-07 08:37] aheissenberger commented on #158
you are right - all my fault :-). great product

[2021-06-07 08:37] #158 closed

[2021-06-07 11:03] 911124manasa opened #168 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-ptaw2t

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following information):**
Browser name  = Ch

[2021-06-07 13:21] furkanurhan opened #169 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/github/googlemaps/js-samples/tree/sample-map-simple?file=src%2Findex.html

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please

[2021-06-07 13:51] chenxsan opened #170 "BUG: ipaddr: the address has neither IPv6 nor IPv4 format"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-6mxtcw?file=package.json

**Steps to reproduce:**

1. Go to terminal
2. Run `npm start`
4. See error

**Expected behavior:**
`webpack serve` to run without the error.

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**
<img width="698" alt="CleanShot 2021-0

[2021-06-07 15:19] SamVerschueren commented on #168
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-07 15:19] #168 closed

[2021-06-07 15:19] SamVerschueren commented on #169
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-07 15:19] #169 closed

[2021-06-07 15:38] SamVerschueren commented on #158
No worries, glad we figured this out 🙏 😄

[2021-06-08 03:12] doriansmiley opened #171 "BUG: Failed to load '/home/projects/node-kg7djp/webpack.config.js' config"
**Describe the bug:**

Webpack fails to load webpack.cofnfig when running `npm run build`

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-kg7djp?file=package.json

**Steps to reproduce:**

1. Go to https://stackblitz.com/edit/node-kg7djp?file=package.json
2. Enter the Terminal
3. run `npm run build`
4. See the error

**Expected behavior:**
Webpack builds without error

[2021-06-08 05:36] JasurBek-S opened #172 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-baapdh

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following information):**
Browser name  =

[2021-06-08 06:07] masx200 opened #173 "BUG: Cannot use ES modules in "node.js"."
**Describe the bug:**

Cannot use ES modules in "node.js".
**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-jsj5ay?file=cli.js

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
[code]
**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

<img width="960" alt=

[2021-06-08 08:47] SamVerschueren commented on #172
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-08 08:47] #172 closed

[2021-06-08 08:48] SamVerschueren commented on #173
Hi @masx200! Thanks for reporting and providing feedback. I'm closing this as it's a duplicate of #6.

[2021-06-08 08:50] SamVerschueren commented on #171
It does seem to work on my end. Can you try it again maybe?

![image](https://user-images.githubusercontent.com/1913805/121154475-4b825d00-c847-11eb-98e4-018133e3e27d.png)

[2021-06-08 13:35] janogale opened #174 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-2ude8c?file=pages%2Fapi%2Fhello.js

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following info

[2021-06-08 17:01] SamVerschueren commented on #174
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-08 17:01] #174 closed

[2021-06-08 17:56] SamVerschueren commented on #141
@nicholaschiang Seems to work now 🎉

![image](https://user-images.githubusercontent.com/1913805/121234066-9c1fa780-c893-11eb-897d-5e7e70d094b7.png)

[2021-06-08 17:56] #141 closed

[2021-06-08 18:05] SamVerschueren commented on #55
@Davien21 Can you try this again? I think @KwintenP did some fixes for drag-and-drop and files and it seems to work now without save and refresh.

[2021-06-08 19:40] doriansmiley commented on #171
Appears to be working now. That is strange. Closing.

[2021-06-08 19:40] #171 closed

[2021-06-08 19:51] mefaba opened #175 "BUG: JWT-generating jsonwebtoken"
**Describe the bug:**
Installed jsonwebtoken library. Tried to create a token with jwt.sign() function. It throws an error starts with "TypeError: Cannot read property 'toLowerCase' of undefined"

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-hfhmh5?file=index.js

**Steps to reproduce:**

1. Go to 'Link of blitz'
2. Open Terminal
3. Run following command in terminal

[2021-06-08 20:05] SamVerschueren commented on #175
It's probably something crypto related. Crypto is currently not fully implemented but we're working to get this fixed. Can't give you any ETA though.

// cc @jrvidal

[2021-06-09 06:16] bldf opened #176 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-23t6vo?file=package.json

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following information):**

[2021-06-09 06:51] SamVerschueren commented on #176
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-09 06:51] #176 closed

[2021-06-09 07:14] ZouHuaYi opened #177 "BUG: After reporting an error, repair the normal code graphql tools Unable to restore"
**Describe the bug:**
when After reporting an error, repair the normal code graphql tools  Unable to restore

**Link to the blitz that caused the error**
https://stackblitz.com/edit/graphql-69aa8y

** first step
error in my code
graphql tools export
[code]
after I repair error code
[code]
Here I want to read the correct answer, graphql tools status can not restart

**Desktop (please complete the f

[2021-06-09 07:15] KwintenP commented on #170
Seems like a bug indeed! thanks for reporting 🙏

[2021-06-09 07:20] SuperOleg39 commented on #76
Hi!

Private registry support also not available in Stackblitz Enterprise Edition? For SSR applications

[2021-06-09 11:35] chenxsan commented on #170
@KwintenP Was it fixed?

[2021-06-09 11:37] KwintenP commented on #170
Whoops, seems like I accidentally closed it. My bad!

[2021-06-09 12:54] d3lm commented on #170
I am on it.

[2021-06-09 17:40] jayphelps opened #178 "BUG: console.time() errors with "TypeError: L is not a function""
**Describe the bug:**
Using console.time() errors with "TypeError: L is not a function".

Investigation reveals the `trace()` function is undefined from `const { trace } = internalBinding('trace_events');`

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-fc4xzh

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-06-09 21:11] sportelance opened #179 "BUG: Possible issue with nodemon"
**Describe the bug:**

I spun up a very basic node site then started adding my preferred modules to check for issues. Everything was working as intended until I changed my 'npm start' script to call nodemon instead of node. The next time I started the app, nodemon was called on my server file and compiled, printing out the message that the server was live in port 3000. However, the in-site view sh

[2021-06-09 21:12] qdelettre opened #180 "BUG: Cannot init stencil components"
**Describe the bug:**
Running 'npm init stencil' does not complete.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-kbyotc?file=packages%2Fweb-components%2Fpackage.json

**Steps to reproduce:**

1. run ' npm init stencil components' or 'npm init stencil components test' (or 'npm init stencil' and choose 'components')
4. See error

**Expected behavior:**

I would exp

[2021-06-10 06:06] iamproogrammer opened #181 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/github/vercel/next.js/tree/canary/examples/with-react-md-typescript

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please comple

[2021-06-10 09:34] SamVerschueren commented on #181
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-10 09:34] #181 closed

[2021-06-10 09:37] SamVerschueren commented on #178
Thanks for reporting @jayphelps! Some internals still miss implementation details but we're working hard to close the gap even further! It's good that you report anything you come across, this helps us with picking the right things to focus on 🙏 .

[2021-06-10 14:32] esukram opened #182 "BUG: vite"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/github/esukram/vocutrainer?file=src%2FApp.tsx

**Steps to reproduce:**

1. Go to 'Terminal'
2. Execute 'yarn dev'
3. See error

**Expected behavior:**
Calling `yarn dev` which is executing `tsc && vite build` should start the dev server.

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6

[2021-06-10 17:03] SamVerschueren commented on #109
@IgorMinar The issue with the empty files not being saved got fixed by @KwintenP and is deployed to production. I tested it, and when running `ng new` works entirely now and doesn't give weird results anymore 🙏 .

I looked into the list of issues you wrote down in the `ng-webcontainer` project.

Brave does work, but the user has to allow cookies from StackBlitz.com. It's explained here https://git

[2021-06-10 20:20] tony19 commented on #182
This is probably a duplicate of #8

[2021-06-10 20:21] figo2001 opened #183 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-9adtiu

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

**Screenshots:**

**Desktop (please complete the following information):**
Browser name  =

[2021-06-10 20:49] SamVerschueren commented on #183
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-10 20:49] #183 closed

[2021-06-10 22:11] tony19 opened #184 "BUG: Vue 3 project starter crashes with Vue 2"
**Describe the bug:**

Using the Vue 3 project starter, switching to Vue 2 causes the following error when importing a `.vue` file:

[code]

I understand that it's a Vue 3 starter, I was hoping to make it a Vue 2 starter with single file component support (there currently is no such starter available).

**Link to the blitz that caused the error:**
https://stackblitz.com/edit/vue-qd2aze?file=src%2F

[2021-06-11 02:01] stramel opened #185 "BUG: Unable to start astro"
**Describe the bug:**

Astro doesn't start with the nodejs container

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-rugych?devtoolsheight=33&file=package.json

**Steps to reproduce:**

1. Run `npm start`
4. See error

**Expected behavior:**

I would expect `astro` to start up the dev server

**Version of webcontainer:**
Hash: cb1eb6b301af424e8dffb694972509f06ea6b5db

[2021-06-11 07:18] #170 closed

[2021-06-11 07:19] d3lm commented on #170
This is fixed.

[2021-06-11 09:25] Buddhakarmakar opened #186 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-qyg1t4

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 2bca5663388840ed856d84860d7aab45f955fc1f

**Screenshots:**

**Desktop (please complete the following information):**
Browser name  =

[2021-06-11 10:56] SamVerschueren commented on #186
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-11 10:56] #186 closed

[2021-06-11 12:32] fvsch commented on #185
Thanks for the report @stramel.

It looks like Astro uses ESM throughout, and we don't currently support ESM (see #6).

[2021-06-11 15:05] stramel commented on #185
@fvsch Thanks! Will be very excited to see ESM and Astro support!

[2021-06-11 17:00] trezy opened #187 "Respect .prettierignore files"
**Is your feature request related to a problem? Please describe:**
Whatever means StackBlitz has used to implement Prettier, it doesn't respect [`.prettierignore`](https://prettier.io/docs/en/ignore.html#ignoring-files-prettierignore) files.

**Describe the solution you'd like:**
I'd like the StackBlitz editor to respect  .prettierignore files.

[2021-06-11 17:04] trezy commented on #187
I realized I opened this issue on the wrong repo. Oops. 😬

Closed in favor of [stackblitz/core#1502](https://github.com/stackblitz/core/issues/1502).

[2021-06-11 17:04] #187 closed

[2021-06-12 09:51] fenilmodi00 opened #188 "BUG:"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/graphql-oar1yn?file=package-lock.json

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 2bca5663388840ed856d84860d7aab45f955fc1f

**Screenshots:**

**Desktop (please complete the following informat

[2021-06-12 10:49] SamVerschueren commented on #188
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-12 10:49] #188 closed

[2021-06-12 16:11] milky2028 commented on #20
I'm getting errors here as well, but instead getting:

[code]

[2021-06-12 20:29] tony19 opened #189 "BUG: [turbo] `npm install` command also installs `install` package"
**Describe the bug:**

Running `npm install -S packageName` also installs `install@^0.13.0` as a dependency. Similarly, `npm i -S packageName` also installs the `i` package.

**Link to the blitz that caused the error:**
https://stackblitz.com/edit/turbo-install-bug?file=package.json

**Steps to reproduce:**

1. Open [Node.js starter](https://stackblitz.com/fork/node).
2. In Terminal, enter `npm in

[2021-06-13 05:08] SamVerschueren commented on #189
Hi @tony19 ! We are aware of this bug and it will be fixed soon. Thanks for reporting 🙏 !

[2021-06-14 06:38] Ramya-divya opened #191 "ramya.ts"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-suuzvn

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 2bca5663388840ed856d84860d7aab45f955fc1f

**Screenshots:**

**Desktop (please complete the following information):**
[code]

**Addition

[2021-06-14 11:57] anujkrp opened #192 "WebContainer is in BETA \ check this out and solve"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-ufbrii?file=pages%2Findex.js

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: b5c3c7f283d527b6b05ec10dc99d5b2c3d4dec62

**Screenshots:**

**Desktop (please complete the following informatio

[2021-06-14 12:00] SamVerschueren commented on #192
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-14 12:00] #192 closed

[2021-06-14 12:01] SamVerschueren commented on #191
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-14 12:01] #191 closed

[2021-06-14 12:01] SamVerschueren commented on #189
This is fixed now.

[2021-06-14 12:01] #189 closed

[2021-06-15 13:39] SamVerschueren commented on #13
I tested this again and it seems to work now. I tried adding the authenticator component and it works.

![image](https://user-images.githubusercontent.com/1913805/122062517-c6bbb400-cdef-11eb-83bf-c07ea51369db.png)

Feel free to respond or create a new issue if you run into things like this again.

[2021-06-15 13:39] #13 closed

[2021-06-15 13:41] SamVerschueren commented on #12
This seems to be working now. Closing the issue. If anyone experience this error with `node-sass` or with another package, feel free to open a new issue.

[2021-06-15 13:41] #12 closed

[2021-06-15 14:03] SamVerschueren commented on #179
I investigated this issue, and the problem is that you installed `path` as a dependency. This means that `nodemon` will use that dependency instead of the native `node:path` package and I assume it's not compatible. Removing that dependency and restarting everything does the trick.

![image](https://user-images.githubusercontent.com/1913805/122066665-3c754f00-cdf3-11eb-83f7-c9b42ad1591c.png)

[2021-06-15 14:03] #179 closed

[2021-06-15 14:05] SamVerschueren commented on #177
I don't really understand what you're running into. If I copy-paste the query

[code]

And execute it, it works. Could you clarify what goes wrong or setup the project so that I hit the error when I run this query.

[2021-06-15 14:07] SamVerschueren commented on #159
Seems to work fine here 🤔 . Is this still an issue for you?

[2021-06-15 15:03] Jamelle-Boose commented on #159
Hi Sam. Thanks for looking into this. This is no longer an issue for me as a Chrome extension was causing me to be unable to edit files. I am going to close this issue.

[2021-06-15 15:03] #159 closed

[2021-06-15 15:09] SamVerschueren commented on #184
Hi @tony19! I don't think that could work. As we do some Vue 3 magic under the hood. Someone else seems to have created a `vue2-starter` https://stackblitz.com/edit/vue2-starter. Guess this should get you going.

[2021-06-15 15:09] #184 closed

[2021-06-15 15:13] sportelance commented on #179
Hi Sam,

Path and Nodemon are compatible packages in Node.JS. This file runs as-is
on my local. And again, it runs in stack blitz, but the processes that are
getting started aren’t being terminated.

On Tue, Jun 15, 2021 at 10:04 AM Sam Verschueren ***@***.***>
wrote:

[2021-06-15 15:14] TheAnvils opened #193 "it does not load"
It has been loading for 20 minutes and it is still not loaded.

[2021-06-15 15:18] SamVerschueren commented on #193
Could you please fill in the required information? It helps us identify the issue.

Like, what project are you opening? Is it a GitHub URL? Is it WebContainer trying to boot?

[2021-06-15 16:31] TheAnvils commented on #193
I just made a new node project thing and the webcontainer won’t load

[2021-06-15 17:05] TheAnvils commented on #193
![Screenshot 2021-06-15 19 05 07](https://user-images.githubusercontent.com/79940840/122094597-a2ba9b80-ce0c-11eb-8f2a-e39e5380d28d.png)

[2021-06-15 19:05] RomainLanz opened #194 "Impossible to run an AdonisJS 5 project"
Hey there! 👋

**Describe the bug:**
I am trying to run an AdonisJS 5 project inside a StackBlitz container but I am not able to run it.

When trying to run the code, I have the following error.

[code]

It seems that StackBlitz container is not able to resolve our modules when booting the code.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-wgjpqs

**Steps to reprodu

[2021-06-15 20:10] tony19 commented on #184
@SamVerschueren Thanks for the response. I've seen that starter, but it has no SFC support like the Vue 3 Starter does. I have my own Vue CLI + Vue 2 starter for it [here](https://stackblitz.com/edit/vue2-vue-cli), but that's a Node project. I prefer the quick startup of the official Vue 3 Starter.

Where can I find the source for the Vue 3 Starter? I see most of the templates in GitHub, but not f

[2021-06-15 20:27] SamVerschueren commented on #193
It is loaded. You now have full control over what you want to do. Run `node index.js` for instance.

If you want it to do something straight away, you can create a `.stackblitzrc` like this

[code]

Reload the website and it will auto start.

Closing the issue as it works as intended.

[2021-06-15 20:27] #193 closed

[2021-06-16 03:56] blainekasten opened #195 "importing project with a master branch different than "master" instantly breaks"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-ppzt4b

**Steps to reproduce:**
1. Try to import an existing github nextjs project that does not have a master branch

**Expected behavior:**
1. It should respect the repositories master branch and use that as the default.

**Version of webcontainer:**
Hash: b5c3c7f283d527b6b05ec10dc99d5b2c3d4dec6

[2021-06-16 04:57] muxiangqiu opened #196 "BUG: cls-hooked not working"
**Describe the bug:**
cls-hooked not working.

**Link to the blitz that caused the error:**
https://stackblitz.com/edit/node-zwyb6w?file=index.js

**Steps to reproduce:**

1. Go to https://stackblitz.com/edit/node-zwyb6w?file=index.js
2. node index.js
3. See error

**Expected behavior:**
I would expect the command to succeed without error(s)

**Screenshots:**
![image](https://user-images.githubuse

[2021-06-16 08:24] Slluxx commented on #184
I have exactly the same "issue". I've tried several days to convert a Vue 3 to a Vue 2 template because some modules i use will not or have not updated yet. Please create or let tony or/and me help to create a starter & make clear that special templates have things under the hood going, so people like me and Tony don't waste time trying to convert them.

[2021-06-16 11:47] tweetsakchutanee opened #197 "Tweetsak"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-trbyoi

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: b5c3c7f283d527b6b05ec10dc99d5b2c3d4dec62

**Screenshots:**

**Desktop (please complete the following information):**
[code]

**Addition

[2021-06-16 18:53] kallenkortuem opened #198 "Renaming a file deletes the contents of the file"
**Describe the bug:**

Renaming a file deletes the contents of the file

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-pztdkr?file=pages%2Fapi%2Fasdf.js

**Steps to reproduce:**

1. Go to https://stackblitz.com/fork/nextjs
1. Open file `pages/api/hello.js`
1. Rename the file `hello.js` to `test.js`
1. Notice that all the contents of the file are removed.

**Expecte

[2021-06-17 15:30] d3lm commented on #198
Hey there! Thanks for reporting this issue 🙏 . It's indeed a bug.

[2021-06-17 15:34] d3lm commented on #152
Yes that's correct. Right now we don't support http2 but it's on our roadmap to fully support it at some point.

[2021-06-18 02:11] ZouHuaYi commented on #177
When the error was reported, I corrected the error, but the running state was not refreshed. graphql env not run.

[2021-06-18 11:49] amaan-ahmad opened #199 "File doesn't updates even after saving"
**Describe the bug:**
I was working on a new node project, It was working all good initially but after few changes, the files weren't updating.
I came to know about the problem when my current code changes didn't reflect when I ran `cat index.js` to see the contents on index file. It still printed the old code.

**Steps to reproduce:**

1. Create any node project
2. write some code and execute it.

[2021-06-18 14:40] TapaiBalazs opened #200 "Support auto-install missing dependencies when importing NX workspaces"
**Is your feature request related to a problem? Please describe:**

I use NX workspace for my angular projects (https://nx.dev/), so I can have applications and libraries separated from each other in a monorepo style structure.

In order to start my demo application in stackblitz, I need to create a separate configuration in my `angular.json` file, which allows the demoapp to run, where the projec

[2021-06-18 15:39] SamVerschueren commented on #199
Hi @amaan-ahmad ! We are aware of an issue with the synchronisation between WebContainer and the editor and we almost have a fix ready. Not sure when it will land though. Sorry for the incovenience.

[2021-06-18 15:40] SamVerschueren commented on #198
Thanks for reporting this @kallenkortuem ! We are aware of this issue and it's the same as #199. We're working on it.

[2021-06-18 16:52] dustinsgoodman commented on #200
@EricSimons this was from this convo on twitter https://twitter.com/dustinsgoodman/status/1405890076983312388?s=20

[2021-06-19 09:36] SamVerschueren commented on #199
We just released a fix and we believe this issue should be resolved. Feel free to open a new one if you see this behaviour again. We try to address this kind of bugs asap.

[2021-06-19 09:36] #199 closed

[2021-06-19 09:37] SamVerschueren commented on #198
We believe this issue should be resolved now after we deployed an update. Feel free to open a new issue if you experience this behaviour again!

[2021-06-19 09:37] #198 closed

[2021-06-21 07:17] d3lm commented on #142
An extension was already on the table and in fact we actually had one for a while but it's just not a great experience. Users have to install and not as seamless as a proxy. So a proper solution to this problem is definitely a proxy but there are several things to keep in mind which is scalability, costs or availability.

[2021-06-21 12:04] SamVerschueren commented on #197
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-21 12:04] #197 closed

[2021-06-21 20:21] SamVerschueren commented on #195
Hi @blainekasten, thanks for reporting! This seems like a bug. Can you share the repository you tried to import and the URL you used to import it? Just to make sure I reproduce it the exact same way as you did?

[2021-06-22 10:36] SamVerschueren commented on #195
I just tried importing a repository with a `main` branch and it seemed to work.

[2021-06-22 13:17] tweetsakchutanee opened #201 "Chutani"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-yjkne4

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 7dcae10d1d70d34e54e08009f68977bb89962b8f

**Screenshots:**

**Desktop (please complete the following information):**
[code]

**Additi

[2021-06-22 18:55] SamVerschueren commented on #201
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-22 18:55] #201 closed

[2021-06-22 18:57] SamVerschueren commented on #133
After investigation we fixed this issue. There's currently a fix being deployed which will fix the issues with `create-react-app`.

CRA does try to init the git repo though, which we don't have support for yet. So you will see an error being logged to the console but it's not blocking.

![image](https://user-images.githubusercontent.com/1913805/122983471-576c3400-d39c-11eb-9eb0-dd8cc4ee2133.png)

[2021-06-22 18:57] #133 closed

[2021-06-22 18:58] SamVerschueren commented on #134
There's currently a fix being deployed which will fix the issues with `create-react-app`.

CRA does try to init the git repo though, which we don't have support for yet. So you will see an error being logged to the console but it's not blocking.

![image](https://user-images.githubusercontent.com/1913805/122983471-576c3400-d39c-11eb-9eb0-dd8cc4ee2133.png)

[2021-06-22 18:58] #134 closed

[2021-06-22 20:27] EricSimons commented on #184
@Slluxx @tony19 absolutely- if someone could make a Vue2 starter template by forking https://stackblitz.com/fork/node that would be awesome. Feel free to post it back here and I'll make sure it gets included in our upcoming 'community templates' section.

[2021-06-22 22:38] tony19 commented on #184
@EricSimons I've actually created a Node based Vue 2 starter [here](https://stackblitz.com/edit/vue2-vue-cli), but I'm actually looking for something like the Vue 3 starter (not Node based), so that there is no startup delay (from the npm installation, etc). How do I create that kind of starter project?

[2021-06-23 13:12] fedir-indutnyi opened #202 "npm start is not firing automatically after npm install"
**Describe the bug:**
I have an app:
https://stackblitz.com/edit/sfrontend-devbox-20210623
It successfuly installs dependensies, but then:
npm start is not happening automatically,
and if i am running it manually, webpage on the right side of container - is not opening.

Open:
https://stackblitz.com/edit/sfrontend-devbox-20210623
Wait until npm intall finishes
First bug - nothing happens.
Executin

[2021-06-23 14:19] fedir-indutnyi commented on #202
Update: I see in half of cases when opening in new tabs - issue is dissapearing, and sometimes appearing again.

[2021-06-23 21:56] natemoo-re commented on #185
Astro maintainer here! Just wanted to jump in and say that we're extremely excited about the potential here. If there's anything needed on our side, please don't hesitate to reach out.

[2021-06-24 06:21] sanjanaraut03 opened #203 "error"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-dj4nj7?file=1.c

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 82080794cabf87e5630cd7deb9f8d7067a2f5758

**Screenshots:**

**Desktop (please complete the following information):**
[code]

*

[2021-06-24 06:57] Rishabh-creator601 opened #204 "StackBlitz v2 Beta currently works in Chrome and Chromium-based browsers. We’re hoping to add support for more browsers as they implement the necessary Web Platform features."
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-9fmg5w

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 82080794cabf87e5630cd7deb9f8d7067a2f5758

**Screenshots:**

**Desktop (please complete the following information):**
[code]

**A

[2021-06-24 15:30] olivier021 opened #205 "Tours'Guide EAC"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/github/vercel/next.js/tree/canary/examples/api-routes?file=README.md

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 82080794cabf87e5630cd7deb9f8d7067a2f5758

**Screenshots:**

**Desktop (please compl

[2021-06-24 15:31] olivier021 opened #206 "indexb.html"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/github/vercel/next.js/tree/canary/examples/api-routes?file=README.md

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 82080794cabf87e5630cd7deb9f8d7067a2f5758

**Screenshots:**

**Desktop (please compl

[2021-06-25 15:45] SamVerschueren commented on #203
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-25 15:45] #203 closed

[2021-06-25 15:46] SamVerschueren commented on #206
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-25 15:46] #206 closed

[2021-06-25 15:47] SamVerschueren commented on #204
If it's because of the error you're seeing in Android Chrome. Yes this is correct, we're working on fixing it but currently it's only for desktop Chrome.

We will have it fixed soon.

[2021-06-25 15:47] #204 closed

[2021-06-25 17:10] SamVerschueren commented on #202
Hi @fedir-indutnyi. If you want to start your project automatically, you can add a `.stackblitzrc` file with the following contents:

[code]

The reason you might experience this behaviour is if you have StackBlitz open in another tab or window which is running an application (or that specific application) on the same port. That doesn't work. We have an internal ticket to address this and notify u

[2021-06-25 17:11] SamVerschueren commented on #205
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-25 17:11] #205 closed

[2021-06-25 18:00] fedir-indutnyi commented on #202
Thank you very much @SamVerschueren  that helps. You can mark issue resolved.
Have a great day.

[2021-06-25 21:03] #202 closed

[2021-06-26 06:27] tony19 opened #207 "BUG: Does not detect package.json from imported GitHub repos"
**Describe the bug:**

Importing a GitHub repo via the "Connect repository" dialog's "import a repository" results in a dud project. Stackblitz terminal does not recognize NPM scripts run, and does not install packages from `package.json`.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/stackblitz-bug-cannot-install-packages?file=package.json

**Steps to reproduce:**

1. G

[2021-06-26 06:29] tony19 commented on #207
Hmm. It's working now. I noticed the `master` branch spinner was running when I tried my commands unsuccessfully. Perhaps the download was not complete in the backend, despite the frontend showing all the files available.

[2021-06-26 06:33] SamVerschueren commented on #194
Hi @RomainLanz 👋 ! Thanks for trying out WebContainer. Is it possible that it uses native dependencies under the hood? Native dependencies don't work unless they are compiled to WASM. Not sure if that's the case here though.

[2021-06-26 12:01] fedir-indutnyi opened #208 "Images are not loaded from local assets folder."
**Describe the bug:**
Application compiles and starts successfully, hovewer images are not loaded from local assets folder

**Link to the blitz that caused the error**
https://stackblitz.com/edit/sfrontend-devbox-20210623-bgharj?file=.stackblitzrc

**Steps to reproduce:**

1. Open worspace https://stackblitz.com/edit/sfrontend-devbox-20210623-bgharj
2. Wait until application starts;
3. See on webp

[2021-06-26 19:57] quinton-ashley opened #209 "Editing client side files doesn't change anything in the page viewer"
**Describe the bug:**
When I make changes to the app.js file and save it, nothing changes when I run it again using `>node app.js` I have to commit the changes and reload for it to work.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/quintos?file=app.js

**Version of webcontainer:**
Hash: 82080794cabf87e5630cd7deb9f8d7067a2f5758

**Screenshots:**

**Desktop (please comple

[2021-06-27 16:51] chadsheda827 opened #210 "Save the Children, please donate #1$ to save the children so that we can feed an house ,clothe,an medicate the children in need"
**Is your feature request related to a problem? Please describe:**

**Describe the solution you'd like:**

**Describe alternatives you've considered:**

**Additional context:**

[2021-06-27 20:01] jvinhit opened #211 "Issue File a bug"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-fc8skp

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 82080794cabf87e5630cd7deb9f8d7067a2f5758

**Screenshots:**

**Desktop (please complete the following information):**
[code]

**Addition

[2021-06-28 14:13] SamVerschueren commented on #211
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-28 14:13] #211 closed

[2021-06-28 14:14] #210 closed

[2021-06-28 14:52] 15971372942 opened #212 "Title"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/github/webpack/webpack.js.org/tree/master/examples/getting-started?terminal=

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: ed9672a3e8d5b719017191dac2dba042f373a0d7

**Screenshots:**

**Desktop (plea

[2021-06-28 15:44] lottostock opened #213 "PNCK DEV APP"
**Describe the bug:**
สวัสดี ครับผม

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-ymc5qp?file=index.js

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**
OK รู้เรื่อง

**Version of webcontainer:**
Hash: ed9672a3e8d5b719017191dac2dba042f373a0d7

**Screenshots:**
![Captdddure](https://user-images.g

[2021-06-28 19:46] Pyrolistical commented on #209
node doesn't auto restart on file change. you need a watcher to do that, like pm2

[2021-06-28 23:31] quinton-ashley commented on #209
No, when I manually restart "node app.js" after doing file changes it
doesn't work. Runs just like before the changes.

On Mon, Jun 28, 2021 at 12:46 Pyrolistical ***@***.***> wrote:

[2021-06-29 02:00] Pyrolistical commented on #209
ya sounds like a bug. but i can't repo it.

do you have github repository hooked up?

[2021-06-29 05:40] sukantajana opened #216 "Bug"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-pmgmcc?file=package-lock.json

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: ed9672a3e8d5b719017191dac2dba042f373a0d7

**Screenshots:**

**Desktop (please complete the following info

[2021-06-29 06:11] quinton-ashley commented on #209
yeah I do, quintos on my github

On Mon, Jun 28, 2021 at 7:00 PM Pyrolistical ***@***.***>
wrote:

[2021-06-29 09:54] aljasmi25 opened #217 "Bug"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/github/webpack/webpack.js.org/tree/master/examples/getting-started?file=webpack.config.js&terminal=

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 70a1ff62a0f0131ac0df3c30faf487fef744ac90

**Screensh

[2021-06-29 12:36] PatelDevanshu opened #218 "index.html"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-gtyes9?file=index.html

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 70a1ff62a0f0131ac0df3c30faf487fef744ac90

**Screenshots:**

**Desktop (please complete the following information):**
[c

[2021-06-29 16:05] lexugowashere opened #219 "Can't edit github project without master branch"
**Describe the bug:**
When connecting a project to an existing GitHub repo without a `master` branch, the error: Could not resolve reference "refs/heads/master" appears and the project seems to load forever.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/github-ctd7ra

**Steps to reproduce:**

1. Open project linked to a GitHub repo without a master `master` branch

**Exp

[2021-06-29 21:29] SamVerschueren commented on #218
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-06-29 21:29] #218 closed

[2021-06-29 21:55] Splaktar commented on #132
I'm seeing this too, example here: https://stackblitz.com/edit/ng-webcontainer-material-cdk-experimental-mdc?file=package.json

[2021-06-30 06:38] gokuney opened #220 "The express application listen fails"
**Describe the bug:**
Port assigned to express application works only single time. when application is run again the container says that no server is listening on the port

**Link to the blitz that caused the error**
https://stackblitz.com/edit/google-drive-connector?file=index.js

**Steps to reproduce:**

1. Go to index.js
2. Check app.listen(PORT)
3. Scroll down to '....'
4. Run command in shell

[2021-06-30 06:48] tony19 commented on #195
@SamVerschueren Here's a demo StackBlitz: https://stackblitz.com/edit/stackblitz-bug-cant-import-main-branch?file=index.js

The key is to use the `Connect repository` button, then `import an existing repository`. There seems to be no issue when importing the repo via appending the GitHub URL to `stackblitz.com`: https://stackblitz.com/github/tony19-sandbox/stackblitz-bug-main-branch-name

[2021-06-30 06:49] tony19 commented on #219
Looks like a duplicate of #195

[2021-06-30 16:34] icebob opened #221 "Framework support for MoleculerJS"
**Describe the solution you'd like:**
Is it available to add [Moleculer-based](https://github.com/moleculerjs/moleculer) Node.js template project?

**Provide a link to a github repo containing an example of the framework:**
https://github.com/icebob/stackblitz-moleculer-project-demo/tree/master

Working blitz: https://stackblitz.com/edit/moleculer-project-demo

**Additional context:**

Thanks in a

[2021-06-30 19:39] d3lm commented on #221
Hey there! I have looked at your project and there seem to be some issues but it's related to some internal bug. Pressing `CTRL+C` kills the process immediately. I suppose you need to press it twice, at least that's why it prints. So something is fishy. I ll see if I can investigate what's going on. Thanks creating the project! Super cool to see that it's still working pretty well tho, aside from

[2021-07-01 01:30] nishantSg commented on #220
The same thing happened to me while using the node http server. It's not just one time, sometimes it will listen on the same port after restarting but once it starts failing you have to refresh the page to reboot the web container.

[2021-07-01 05:26] gokuney commented on #220
Thanks, this seems to have resolved my issue for now.  A bit inconvenient but will do for now.

[2021-07-01 07:13] icebob commented on #221
Yeah, it's awesome that a complete backend project can run in the browser. And it's blazing fast! It starts faster than on my local dev env :)

Yeah, I saw that something is not good, but it's happens randomly. Once it starts correctly, next time not. Thanks that you look into it.

[2021-07-01 09:10] deadcoder0904 opened #222 "Tailwind styles not showing up"
**Describe the bug:**
I want Tailwind + Next.js combo to work but the styles aren't showing up.

**Link to the blitz that caused the error:** https://stackblitz.com/edit/next-themes-undefined-bug?file=pages%2F_app.js

**Steps to reproduce:**
Start with the Next.js template & try installing Tailwind using https://tailwindcss.com/docs/guides/nextjs

**Expected behavior:**
Styles should show up

**De

[2021-07-01 14:09] NullVoxPopuli commented on #165
any updates? I'm very excited to try this out, but node ESM is pretty much a requirement for all my work <3

[2021-07-01 15:42] yashdesoi opened #223 "Navigation bar not updating"
**Describe the bug:**
After navigating to a particular route by clicking an an attribute element, the navigation bar doesn't update. For example if I click `<a href="/sample-route">Click</a>` in HTML the navigation bar must show abc.com/sample-route but rather it remains the same as original (Before navigation) abc.com

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-d

[2021-07-01 16:08] SHUBV92 opened #224 "Not working"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/order-sheet

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 70a1ff62a0f0131ac0df3c30faf487fef744ac90

**Screenshots:**

**Desktop (please complete the following information):**
[code]

**Addition

[2021-07-01 20:51] d3lm commented on #224
Can you please describe what's not working? I am afraid that without a proper description and more information we'll have to close this issue.

[2021-07-01 20:52] d3lm commented on #223
Yes, that's correct. It's on our radar and roadmap to update the URL bar properly in the preview window. For now, I suggest to just open the URL in another browser tab and the URL bar will update. This is currently only a limitation of the preview window right in the editor.

[2021-07-01 20:54] d3lm commented on #165
Hey there! Thanks for reporting this issue. It's indeed related to some internals on our end. I am actually working on ESM built-in support and part of this effort, I have fixed some issues that break the esm package you're using. So I'd say stay tuned and hang in for a bit longer. ESM is cooking 🧑‍🍳

[2021-07-01 20:59] d3lm commented on #220
Hm I think this is actually a bug, so I am reopening this issue because I am sure I ran into the same a few times. It seems that when the process is killed that the server is not properly killed and restarting it will fail then cause it checks if the port is taken or not. And if it's taken it won't spin up the server. This needs a bit more investigation from our side. Thanks for reporting this iss

[2021-07-02 04:13] deadcoder0904 opened #225 "Import doesn't work if the branch uses Github's new `main` branch. It only works for `master` which is old one."
**Describe the bug:**
I created a new repo & Github's setup is it uses `main` branch instead of `master`

**Steps to reproduce:**
1. Create a local Next.js project
2. Upload it to Github which uses `main` branch
3. Import it in Stackblitz & watch it yelling

**Expected behavior:**
Should support `main` branch by default. Additionally, must have a UI that which allows me to select a primary branch

[2021-07-02 04:18] deadcoder0904 commented on #225
Additionally, I can't run it from the `master` branch as well. It throws an error:

[code]

The repo is at https://github.com/deadcoder0904/mdx-bundler-next-themes-error (check the `master` branch which I won't touch)

[2021-07-02 04:24] tony19 commented on #225
Looks like a duplicate of #195

[2021-07-02 05:16] deadcoder0904 commented on #195
I tried this for https://stackblitz.com/github/deadcoder0904/mdx-bundler-next-themes-error/ & it kept reloading forever & now shows me this:

![image](https://user-images.githubusercontent.com/16436270/124224152-bc552600-db22-11eb-9293-ed3ecce8df69.png)

[2021-07-02 05:18] deadcoder0904 commented on #225
Yes, it is & do make the import prominent.

[2021-07-02 05:18] #225 closed

[2021-07-02 16:03] ryan-reach opened #226 "cannot create a strapi project"
**Describe the bug:**

running `yarn create strapi-app` fails with error:

[code]

**Link to the blitz that caused the error**
https://stackblitz.com/edit/next-strapi-cloudinary?file=package.json

**Steps to reproduce:**

run `yarn create strapi-app` or `npx create-strapi-app` and follow the prompts. error is thrown after selecting a template

**Expected behavior:**

creating a strapi project woul

[2021-07-02 18:07] ETeah opened #227 "Webpack Mode and loader error"
**Describe the bug:**

There are three error - 1:  mode have not been set to dev or prod, 2: there is not loader to parse your (index.js) file,
finally, 3: when I run webpack it doesn't generate the bundle.js file --it does create the dist file however...just not the bundle.js

I found these while learning at LinkedIn and then I went to the website to see how I can do it myself, and then I went to

[2021-07-02 18:23] Splaktar opened #228 "Failed. Error: EIO: failed to link packages"
**Describe the bug:**
I’m trying to get the latest `@angular/material-experimental` and `@angular/cdk-experimental` to run on StackBlitz, but I’m hitting some issues.

For webcontainers, I’ve run into linking issues ([3/3] :link: Linking dependencies└ 𐄂 Failed. Error: EIO: failed to link packages).

Then I noticed that the `package-lock.json` was out of date, so I’m been trying to regenerate that

[2021-07-02 21:42] d3lm commented on #227
Can you please provide a reproducable and format your code so it becomes a bit more readable? Otherwise I am afraid we have to close this issue. Without a live example there is not much we can do. Thanks!

[2021-07-02 21:47] d3lm commented on #228
Hey! Thanks for reporting your issue. When I click on your repro it seems works for me actually.

![image](https://user-images.githubusercontent.com/12571019/124331518-a29df800-db8f-11eb-959d-19686fb901ad.png)

I removed the lock file and ran `npm i` again. It then starts the dev server and it all works just fine. I am not sure why it didn't work for you. Maybe try it again? Where did the lock fil

[2021-07-02 21:50] d3lm commented on #226
Thanks for reporting this issue. It does look like a bug indeed. Not sure what it is from the top of my head. We'll add this to our list.

[2021-07-03 04:16] Splaktar commented on #228
It came from this fork: https://stackblitz.com/edit/ng-webcontainer-material-experimental-mdc?file=package.json.

[2021-07-03 04:20] Splaktar commented on #228
I just tried https://stackblitz.com/edit/ng-webcontainer-material-cdk-experimental-mdc?file=package.json again on another laptop and it also failed with the same errors. When you mention "try again", I'll note that I have tried over 30 times during the course of ~4 days now, it's never once worked.

How long did it take for `npm i` to give you some output? I removed the lock file and ran `npm i` a

[2021-07-03 06:17] shanur51 opened #229 "Link to the blitz that caused the error"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/github/googlemaps/js-samples/tree/sample-infowindow-simple?file=src%2Findex.ts

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 70a1ff62a0f0131ac0df3c30faf487fef744ac90

**Screenshots:**

**Desktop (pl

[2021-07-03 10:11] OsvaldoRino opened #230 "Bug"
**Describe the bug:**

**Link to the blitz that caused the error:**

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Screenshots:**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**

[2021-07-04 19:53] danielfliegauf opened #231 "Webcontainer is not loading"
**Describe the bug:**

Webcontainer is not loading

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-ggkqtm?file=package.json

**Steps to reproduce:**

1. Go to the Project
2. Nothing happens

**Expected behavior:**
Webcontainer is starting and showing the landing Page

**Version of webcontainer:**
Hash: 70a1ff62a0f0131ac0df3c30faf487fef744ac90

**Screenshots:**

**Desk

[2021-07-04 20:07] #231 closed

[2021-07-05 08:36] d3lm commented on #228
It installs almost instantly for me. I am not sure why it doesn't work for you because I can try as often as I want but it never fails.

[2021-07-05 14:44] Splaktar commented on #228
@d3lm and you are using Chrome 91 on macOS Catalina? What else could impact this? How can I debug or resolve this?

I cleared all site data, cache, and cookies but it didn't help.

[2021-07-05 14:50] d3lm commented on #228
I am on Chrome 91 yes but on Big Sur. But I don't think this should matter. I honestly have no idea why it works for me but it consistently doesn't work for you. If you open your DevTools, do you see any errors besides the linking error?

[2021-07-05 14:54] d3lm commented on #228
Maybe try this one? https://stackblitz.com/edit/ng-webcontainer-material-cdk-experimental-mdc-rpxgw3?file=package-lock.json

[2021-07-05 15:26] Splaktar commented on #228
I tried being logged into GH and logged out, but got the same result.

I get this console output before linking:
[code]

During/after linking there is no output.

[2021-07-05 15:28] Splaktar commented on #228
This one works for me. Thanks!

[2021-07-05 15:30] Splaktar commented on #228
I was even able to fork and rename it and it still works: https://stackblitz.com/edit/material-cdk-experimental-mdc?file=package.json

[2021-07-06 10:47] d3lm commented on #228
Ok perfect! So I am closing this one. Really strange that the other one didn't work. Maybe it was locked to some older version of WebContainer and there was some incompatibility. Really strange. If you run into a similar issue, feel free to open a new issue.

[2021-07-06 10:47] #228 closed

[2021-07-06 10:49] d3lm commented on #230
Without a description and a reproducable there is not much we can do, therefore I am closing this issue.

[2021-07-06 10:49] #230 closed

[2021-07-06 10:50] d3lm commented on #229
Hey there! Can you please describe the bug?

[2021-07-06 12:42] d3lm commented on #217
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-06 12:42] #217 closed

[2021-07-06 12:43] d3lm commented on #216
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-06 12:43] #216 closed

[2021-07-06 12:43] d3lm commented on #212
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-06 12:43] #212 closed

[2021-07-06 12:43] d3lm commented on #213
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-06 12:43] #213 closed

[2021-07-07 05:44] quinton-ashley commented on #209
@Pyrolistical I would love to use this app with my students but this bug makes stackblitz unusable for this use case. Please let me know when this is fixed!

[2021-07-07 07:06] Pyrolistical commented on #209
Sorry, but i'm not a contributors. I'm just trying to be helpful

[2021-07-07 07:41] quinton-ashley commented on #209
@apai4 @EricSimons @fvsch please fix this!

[2021-07-07 07:47] fvsch commented on #209
It seems to work in my tests. Maybe I’m missing some step to reproduce.

You do have to save the modified file, if your changes are unsaved they won't be seen by the Node process (same as when working with Node on your computer).

<img width="539" alt="Screenshot 2021-07-07 at 09 45 26" src="https://user-images.githubusercontent.com/243601/124720114-1598cd00-df08-11eb-90cb-eefe6b027897.png">

[2021-07-07 20:36] modderme123 opened #232 "Very large WebSocket messages are unsupported"
**Describe the bug:**

When trying to do HMR with Rollup, I ran into an issue where certain ws messages were being dropped. It seems that all large websocket messages don't reach the client at all which means that large bundles sent via ws for hot module reloading break. Maybe this means that when messages are chunked over multiple frames they silently error?

**Link to the blitz that caused the e

[2021-07-08 02:21] fuckyouhoe3 opened #233 "Bug"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-j1jsd2?file=.vscode%2Fsettings.json

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 70a1ff62a0f0131ac0df3c30faf487fef744ac90

**Screenshots:**

**Desktop (please complete the followin