[2021-11-27 09:53] jrvidal commented on #435
@Lance1997 Does the comment in https://github.com/stackblitz/webcontainer-core/issues/341#issuecomment-936290408 clarify things? Do you observe the site being rendered correctly after waiting enough?

[2021-11-27 16:59] mdwyer6 commented on #52
I'm getting the same error while trying to use the JS SDK@1.5.2

[2021-11-27 17:47] tony19 opened #436 "GitInit Buffer is not defined"
### Describe the bug

Conneting a GitHub repo causes this error:

[code]

And the spinner icon next to the branch name spins forever. Reloading the StackBlitz results in the same symptoms (error popup and endless spinner).

The GitHub repo is created but empty.

### Link to the blitz that caused the error

https://stackblitz.com/edit/vue-global-computed-ref?file=src/main.js

### Steps to reproduce

[2021-11-27 17:51] tony19 commented on #436
Duplicate of #431

[2021-11-27 17:51] #436 closed

[2021-11-27 17:51] tony19 commented on #433
Duplicate of #431

[2021-11-27 19:52] Lance1997 commented on #435
Yes it does clarify it, I just tried it now and after a couple of minutes, it did render the site. I guess maybe we need a note somewhere on the site or IDE that makes this message quite clear else might lead to more unnecessary issues like this.

Thanks for the fast response.

[2021-11-27 19:52] #435 closed

[2021-11-28 09:10] santhoshkumar-27 opened #437 "Kindly give support for mozilla browser"
### Describe the bug

Hey, I am a beginner in angular, so I'm trying to do the sample work on stackblitz it shows the browser "Incompatible Web Browser

WebContainers currently work in Chrome and Chromium-based browsers. We’re hoping to add support for more browsers as they implement the necessary Web Platform features."

### Link to the blitz that caused the error

https://stackblitz.com/run?file

[2021-11-28 09:56] jrvidal commented on #437
@santhoshkumar-27 Thanks for the report. We have a detailed explainer of our browser support [here](https://developer.stackblitz.com/docs/platform/browser-support). We'll try to keep that up to date with our progress.

[2021-11-29 03:04] INzoGravity opened #438 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-11-29 03:04] INzoGravity opened #439 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-11-29 03:04] INzoGravity opened #440 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-11-29 03:04] INzoGravity opened #441 "Zents's"
**Is your feature request related to a problem? Please describe:**

**Describe the solution you'd like:**

**Describe alternatives you've considered:**

**Additional context:**

[2021-11-29 03:04] INzoGravity opened #442 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-11-29 03:04] INzoGravity opened #443 "Zents"

[2021-11-29 04:08] tony19 commented on #416
Probably a duplicate of #431

[2021-11-29 05:50] gyansatapathy opened #444 "Git"
### Describe the bug

after creating new repository from the stackblitz this error can be seen.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-2dttn2?file=bestSum.js

### Steps to reproduce

in the project,
click on connect repository.
it creates new repository but unable to push the code into it and keeps on loading.

### Expected behavior

should be able to push t

[2021-11-29 07:56] #438 closed

[2021-11-29 07:56] #439 closed

[2021-11-29 07:56] #440 closed

[2021-11-29 07:56] #442 closed

[2021-11-29 07:57] #441 closed

[2021-11-29 07:57] #443 closed

[2021-11-29 08:30] Trend20 opened #445 "Stackblitz Error in Firefox"
### Describe the bug

I am trying to open this Angular application: [link](https://angular.io/generated/live-examples/router-tutorial/stackblitz.html ) but it fails to run and says that the browser is incompatible. What might be the problem?

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/app.component.html

### Steps to reproduce

Click the link.
Navigate to

[2021-11-29 10:27] jrvidal commented on #445
@Trend20 Thanks for the report. Closing in favor of https://github.com/stackblitz/webcontainer-core/issues/437

[2021-11-29 10:27] #445 closed

[2021-11-29 15:34] tony19 commented on #444
Duplicate of #431

[2021-11-29 15:42] geromegrignon opened #446 "[Feature proposal] Enhanced moderation experience"
On a regular basis, there are issues ending closed for not providing any content. Among them, there are 2 common ones:

- issues created without body content
- issues opened with the framework support template without filling it

Such issues just waste the maintainer's time and energy.

## Proposal

I would like to help you by adding GitHub features to help with moderation through a pull request

[2021-11-29 15:53] jrvidal commented on #446
This is an interesting idea @geromegrignon. Do you want to take a stab at creating that template?

[2021-11-29 15:55] geromegrignon commented on #446
Sure, I'm used to creating such templates. I'll create a pull request to showcase it.

[2021-11-29 22:47] six-edge opened #447 "Incompatible Web Browser on Android 11 Tablet"
### Describe the bug

Using the Vanilla Vite template on a Samsung Galaxy S7 and latest chrome browser.

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-3scisj

### Steps to reproduce

1. Open stackblitz vite vanilla template on a Galaxy S7 tablet running Android 11

### Expected behavior

Should be compatible on Android Chrome.
See: https://developer.mozilla.o

[2021-11-29 23:13] cliffordfajardo opened #448 "After dependency installation - terminal UI hangs"
### Describe the bug

After the dependencies for my code sandbox finishes and I try to type in the terminal, the terminal input doesn't work, which prevents me from typing in the command to start my web app.

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-3xxt8m?file=src%2Fapps%2Fexample5%2FExample5.tsx

### Steps to reproduce

1. Visit stackblitz sandbox
2. W

[2021-11-30 01:48] EricSimons commented on #354
@NullVoxPopuli ah yeah our website is public, but I'll circle with the team tomorrow morning and get this updated on the homepage/dashboard shortly 🙏

[2021-11-30 12:36] jrvidal commented on #448
@cliffordfajardo Thanks for the report, we're looking into this.

[2021-11-30 19:41] EricSimons opened #450 "Auto-enable Dynamic Imports for CJS files in Next.js projects"
### Describe the bug

Next.js has started using dynamic imports in CJS files, which is causing certain Next.js projects to fail.

### Link to the blitz that caused the error

https://stackblitz.com/github/vercel/next.js/tree/canary/examples/with-i18n-next-intl

### Steps to reproduce

For example, here is one of their official examples that is now breaking: https://github.com/vercel/next.js/tree/c

[2021-11-30 19:47] TomSmedley opened #451 "Sanity.io not working"
### Describe the bug

`Error: socket hang up`

Sanity will not install.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-bs339a

### Steps to reproduce

1. Click on link above
2. Do `npm install @sanity/cli && npx sanity init`

### Expected behavior

Should install Sanity.

### Screenshots

_No response_

### Platform

_No response_

### Additional context

_No respon

[2021-11-30 19:52] patak-js opened #452 "`antfu/ni` like aliases enabled by default to abstract away the used package manager"
**Is your feature request related to a problem? Please describe:**

Several repositories in the Vue and Vite ecosystem recently migrated from yarn v1 to pnpm. To ease the transition, the Vue team is suggesting the use of @antfu's `ni`: https://github.com/antfu/ni#readme
Check recommendation in the vue-next [CONTRIBUTING.md](https://github.com/vuejs/vue-next/blob/master/.github/contributing.md#deve

[2021-11-30 22:25] jrvidal commented on #451
@TomSmedley Thanks for the report. Unfortunately, there's not much we can do at the moment, since this is fundamentally limited by CORS:

`Access to fetch at 'https://api.sanity.io/v1/auth/providers' from origin 'https://node-bs339a.w.staticblitz.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your nee

[2021-11-30 23:04] TomSmedley opened #453 "Live Preview after Connecting to GitHub broken & files added by npm do not allow commit"
### Describe the bug

Live Preview will no longer work after connecting to Github.

https://user-images.githubusercontent.com/95056193/144142171-25b5c60c-00ac-4ac8-900d-85601324290b.mp4

### Link to the blitz that caused the error

https://stackblitz.com/edit/james-lowe?file=src%2Fcomponents%2FDownArrow.svelte

### Steps to reproduce

1. Create a project in my case Astro.
2. Commit to Github.
3. L

[2021-11-30 23:37] tony19 commented on #431
Looks like the issue is no longer reproducible (perhaps fixed already)

[2021-12-01 01:10] davidstevenrojas commented on #431
I confirm this is not happening to me anymore.

[2021-12-01 10:37] jrvidal commented on #431
:tada: We shipped a fix for this recently, glad that it's gone.

[2021-12-01 10:37] #431 closed

[2021-12-01 20:28] JosepAlacid opened #455 "Angular example not working"
### Describe the bug

angular.io linked i18n example not working:
https://stackblitz.com/run?file=src%2Fapp%2Fapp.component.html

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/app.component.ts

### Steps to reproduce

[code]

### Expected behavior

Just run the code!

### Screenshots

_No response_

### Platform

[code]

### Additional context

_No response_

[2021-12-02 09:26] zdrawku opened #456 "Angular CLI uses Node worker API which doesn't exist yet in WebContainer"
### Describe the bug

Error is returned on build of WebContainer app.

[This post](https://github.com/stackblitz/core/issues/1657#issuecomment-984403159) provide additional explanation and context that can help you to identify the problem:

https://github.com/stackblitz/core/issues/1657#issuecomment-984403159

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-i1jikx-

[2021-12-02 14:57] BhargavKadali39 opened #457 "data is not being saved."
### Describe the bug

Every time I try saving something it does show that it got saved, but the errors I'm getting are from the previously saved code which have nothing to do with now.

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-zbmvg8?file=components%2FLimp.js

### Steps to reproduce

create a next.js project,
create a component,
save the code.

### Expected b

[2021-12-03 07:09] abflow opened #458 "Open-sourcing for the webplatform ?"
**Is your feature request related to a problem? Please describe:**

 It would be great if any website could have its own "WebOS" and be able to launch their own "Web Containers" in order to have offline-first backend applications directly working into the browser.

**Describe the solution you'd like:**

Is there any plan on open-sourcing the technology or to begin a standardization process which w

[2021-12-03 08:41] jrvidal opened #459 "asdfadfs"

[2021-12-03 08:41] #459 closed

[2021-12-03 15:10] markwhitfeld commented on #456
There is a PR in progress to fall back when using WebContainers 🎉
https://github.com/angular/angular-cli/pull/22294

PS. We are looking into solutions to provide this API in the long term.

[2021-12-03 22:00] brayden10 opened #460 "problem with github"
### Describe the bug

when i save the project to gethub  i get
Error: src/app/product-alerts/product-alerts.component.html:1:11 - error TS2339: Property 'product' does not exist on type 'ProductAlertsComponent'.

1 <p *ngIf="product && product.price > 700">
[code]
    Error occurs in the template of component ProductAlertsComponent.

Error: src/app/product-alerts/product-alerts.component.html:1:22

[2021-12-04 02:54] ghost opened #461 "page not loading after saving to github"
### Describe the bug

![image](https://user-images.githubusercontent.com/38000441/144694285-8b14a7b9-fb04-4417-9687-804c42f94327.png)

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-dmotst

### Steps to reproduce

https://stackblitz.com/edit/nextjs-dmotst

### Expected behavior

the page needs to load so that i can work on the project

### Screenshots

_No response

[2021-12-04 22:45] cliffordfajardo commented on #223
I also experienced the preview bar's URL not updating which was very confusing.
I am adding my experience as a data point

## Steps to reproduce:
1. Visit the following stackblitz URL:
   - https://stackblitz.com/edit/github-de7jbv?file=src/App.tsx
2. Click on one of the links on the page, and observe that the preview pane's URL is not updating.

https://user-images.githubusercontent.com/6743796/1

[2021-12-05 22:11] d3lm commented on #223
Hey! Yes, as I mentioned, this is not a bug strictly speaking and rather a limitation of the URL bar for the preview window. I'd suggest to open the page in a separate browser tab / window and then you can just rely on the browser's built-in address bar, at least for the time being. We are working on another generation of the editor which comes with a whole bunch of improvements.

[2021-12-05 22:19] cliffordfajardo commented on #223
@d3lm - exciting! Out of pure curiosity (_no pressure & not demanding anything_), do you know when that new editor experience will release?

I have been enjoying stackblitz 💙 a lot lately & can't wait to see what's in store

[2021-12-06 01:33] WilsontheWolf opened #462 "Turbo can't resolve npm git versions"
### Describe the bug

When using a git version of a dependancy turbo errors.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-m6bjnu?file=package.json

### Steps to reproduce

1. Load project
2. Wait to install
3. See error

### Expected behavior

It should clone this repo properly and install it.

### Screenshots

_No response_

### Platform

- OS: linux
- Browser: b

[2021-12-06 02:44] JANSON-JOHN commented on #461
Also check this link for another issue that occured during the creation of this project
https://github.com/vercel/next.js/discussions/32051

[2021-12-06 07:42] d3lm commented on #223
Glad to hear you've been enjoying it 😍

I can't promise an exact date but the plans are Q1 / Q2 2022.

[2021-12-06 08:05] d3lm commented on #462
Hey, that's right. Turbo currently only supports dependencies published via npm. Supporting git is on our roadmap though. If there's progress on this we keep you posted here.

[2021-12-06 08:17] d3lm commented on #461
Hey there! Can you please provide more information, e.g. proper description of the issue and steps to reproduce. Opening the link works just fine for me.

[2021-12-06 11:57] JANSON-JOHN commented on #461
I have shared some pics of the issue in my g drive( https://drive.google.com/drive/folders/15SPCAa-l58LLJndPpgOjrXX-KnWXQawD?usp=sharing  ).The pics with name 1 represent the state before the issue and those with 2 represent those after the issue has occured . When I try to open the project ( https://stackblitz.com/edit/nextjs-dmotst  ), in the stackblitz app or Chrome, nothing is displayed in the

[2021-12-06 12:18] d3lm commented on #461
Ok thanks! Do you have a clear list of steps to reproduce this issue?

[2021-12-06 12:59] JANSON-JOHN commented on #461
Yes for me to reproduce the issue the steps are
1 Open the project ( https://stackblitz.com/edit/nextjs-dmotst ), in the stackblitz app or Chrome,

Not sure if it is a chrme issue since you said it works for you. One request is could you please try to  save the project to github and give me a link to the repo since the repo for this project does not show any files for me as you can see below

![im

[2021-12-06 17:12] JANSON-JOHN commented on #461
1. I created another github repo( https://github.com/JANSON-JOHN/Nextjs-1-bug-chk-2  ) and tried to upload all files of this repo so as to check if the issue is with this repo only  and got another error as shown below. Hope this helps

![image](https://user-images.githubusercontent.com/38000441/144890778-ab881722-beda-49ee-bc1b-66d6257207cb.png)

[2021-12-06 17:54] bryan-sullivan-ascendlearning-com opened #463 "App never loads"
### Describe the bug

The commands in the terminal appear to run correctly, but the app never loads in the side sheet. The "Running Start Command" icon doesn't stop spinning.

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/table-wrapped-example.ts

### Steps to reproduce

- Go to https://material.angular.io/components/table/examples (version 13.0.2 is the curr

[2021-12-07 07:51] sadyng opened #464 "file not save correctly"
### Describe the bug

when i use ctrl+s to save file, it seems not save , the index.js not restart, nodmon not monitor the save, event i use cat index.js, it still show the old file, but when i reload the page, the file is update. this is huge problem

### Link to the blitz that caused the error

https://stackblitz.com/edit/runnode?file=index.js

### Steps to reproduce

1.change some text in index

[2021-12-07 10:09] jrvidal commented on #208
@fedir-indutnyi Can you provide an updated link?

[2021-12-07 10:09] jrvidal commented on #208
@davidstevenrojas Thanks for the comment. I would suggest you open a different issue, to make sure we're really talking about the same problem.

[2021-12-07 10:48] jrvidal commented on #463
@bryan-sullivan-ascendlearning-com Thanks for the report. I cannot reproduce, I'm able to see the iframe loading. Do you see any suspicious errors in the devtools console? Could it be related to [3rd party cookie blockers](https://developer.stackblitz.com/docs/platform/third-party-blocker)?

[2021-12-07 10:52] jrvidal commented on #405
@oaustegard We now have a friendlier error and some [documentation](https://developer.stackblitz.com/docs/platform/third-party-blocker/) about it :tada:

[2021-12-07 10:52] #405 closed

[2021-12-07 11:56] davidstevenrojas opened #465 "Images are not loaded from local assets folder"
### Describe the bug

From the html files reference an image from a project folder, e.g.:
<img src="logos/logo_yard_sale.svg" alt="logo" class="logo">

The asset is not loaded in the preview at all. Tested with PNG and also SVG, this is a very basic plain HTML5 project.

### Link to the blitz that caused the error

https://stackblitz.com/edit/web-platform-ccg9nv?file=index.html

### Steps to repro

[2021-12-07 11:59] davidstevenrojas commented on #208
@jrvidal, thanks for looking into this, here the new ticket: https://github.com/stackblitz/webcontainer-core/issues/465

[2021-12-08 01:22] onePersonInDemo opened #466 "133333333333333333"
### Describe the bug

22222

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-nwmyn5?file=src%2Fcomponents%2FHelloWorld.vue&terminal=dev

### Steps to reproduce

333333333333333

### Expected behavior

333

### Screenshots

_No response_

### Platform

[code]

### Additional context

2222222222222222

[2021-12-08 01:26] geromegrignon commented on #466
Please fill the template with proper information to explain your issue.
So far, without any additional context, the Stackblitz project linked works as expected.

Without any effort from your side, this issue will more likely be closed.

[2021-12-08 08:52] pbravichandhar opened #467 "Forking project not working"
### Describe the bug

-

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src%2Fapp%2Fstepper-overview-example.html

### Steps to reproduce

-

### Expected behavior

-

### Screenshots

-

### Platform

[code]

### Additional context

-

[2021-12-08 08:55] geromegrignon commented on #446
closing as merged

[2021-12-08 08:55] #446 closed

[2021-12-08 12:33] d3lm commented on #446
Thanks @geromegrignon ❤️ 🙏

[2021-12-08 14:19] guillemsarda opened #468 "Share button issue"
### Describe the bug

When I click on the share button, the browser (on the right) that you provide stops working. If I try to do some changes, it does not respond.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-hnvjmg?file=src%2Fapp%2Fproduct-list%2Fproduct-list.component.html

### Steps to reproduce

1. Arrive at step 7 of the Angular Tutorial.
2. Do step 7.
3.

[2021-12-08 20:59] #466 closed

[2021-12-08 21:52] JordanRickman opened #470 "Jest test runner hangs."
### Describe the bug

Not sure of the cause as there is no error message, but if I try running the `jest` test runner in the terminal, it hangs forever displaying the start of a test run.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-jfmhvq?file=test%2Fb.test.js

### Steps to reproduce

1. Run `jest` in the terminal. (May need to `npm install` first.)

### Expected

[2021-12-09 18:03] girishk21 opened #471 "Not able to SAVE 🙁"
### Describe the bug

I'm not able to save my changes at all 🙁. For some reason, it's stuck at a point in my edit history and how many times I try to save my changes and share, the changes are not picked up.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-vjubnt?file=app%2Froutes%2Findex.tsx

### Steps to reproduce

1. edit something and try saving, it says saved but

[2021-12-09 22:56] apavel3458 opened #472 "Dependencies section is missing"
### Describe the bug

When click on "live example" in this guide, it opens it in stackblitz, but the dependencies section is missing.  There is an error with typescript version, but I can't downgrade typescript to make it work.
https://angular.io/guide/content-projection

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-wc16vk?file=src/app/app.component.ts

### Step

[2021-12-10 08:04] jrvidal commented on #472
@apavel3458 By "dependencies section", do you mean this:

![Screenshot from 2021-12-10 09-01-03](https://user-images.githubusercontent.com/1636604/145538822-aa019b4d-514a-4ffd-a605-34b4ec7cf52c.png)

That interface only appears in Stackblitz V1 projects. While the link you provided is for a [WebContainer](https://deploy-preview-14--jakelog.netlify.app/posts/introducing-webcontainers/) based projec

[2021-12-10 13:50] james-br opened #473 "Sample Project Crashing"
### Describe the bug

Generating browser application bundles (phase: setup)...(node:6) UnhandledPromiseRejectionWarning: Error: The Angular Compiler requires TypeScript >=4.4.2 and <4.5.0 but 4.5.3 was found instead.
    at checkVersion (file:///home/projects/phhihs--run/node_modules/@angular/compiler-cli/bundles/index.js:17524:11)
    at verifySupportedTypeScriptVersion (file:///home/projects/phh

[2021-12-10 14:49] jrvidal commented on #473
@james-br Thanks for the report. This is a problem with the example itself, not WebContainer. The specified dependencies do not work well together: I get the same error if I download the code and run it locally.

[2021-12-10 14:49] #473 closed

[2021-12-10 14:51] jrvidal commented on #110
@mehulbaid Closing this as we don't have enough actionable info. Please feel free to open a new issue if you run into trouble. Thanks!

[2021-12-10 14:51] #110 closed

[2021-12-10 14:52] EricPrits opened #474 "Webcontainer doesn't work as installed Typescript version is higher than 4.5.0"
### Describe the bug

When trying to initialize the webcontainer for an Angular project I get the following error and the webcontaoner won't load : (node:6) UnhandledPromiseRejectionWarning: Error: The Angular Compiler requires TypeScript >=4.4.2 and <4.5.0 but 4.5.3 was found instead.
    at checkVersion (file:///home/projects/angular-milw1r/node_modules/@angular/compiler-cli/bundles/index.js:175

[2021-12-10 14:54] jrvidal commented on #474
@EricPrits Thanks for the report. This is an upstream issue, see https://github.com/stackblitz/webcontainer-core/issues/473

[2021-12-10 14:54] #474 closed

[2021-12-10 16:20] markwhitfeld commented on #456
The WebContainer version should be working since the 3.1.0 release of Angular (which is more compatible with currently supported WC apis):
https://stackblitz.com/edit/angular-i1jikx-jy8ix9?file=package.json

[2021-12-10 16:20] #456 closed

[2021-12-10 19:00] Splaktar commented on #467
When I click on “Fork”, I get this in the console: `POST https://stackblitz.com/api/projects 500`.

[code]

[code]

[2021-12-11 15:42] marcoalesan opened #475 "Agular "ng serve" not working"
### Describe the bug

Page doesn´t load

### Link to the blitz that caused the error

https://angular.io/generated/live-examples/getting-started-v0/stackblitz.html

### Steps to reproduce

At the very bigining of the sample proyect

### Expected behavior

Load the page

### Screenshots

![image](https://user-images.githubusercontent.com/39069314/145682470-437ec977-62ef-4b42-a7a6-298604a259da.png)

[2021-12-11 20:09] caerus706 opened #476 "SvelteKit Nav component does not work unless it is renamed"
### Describe the bug

When using the SvelteKit Web Container, I tried making a Nav.svelte component in the lib folder. When attempting to import it into my index or __layout page it gave me this error:

[plugin:vite:import-analysis] Cannot read properties of undefined (reading 'url')

If I rename Nav.svelte to MyNav.svelte it works fine.

### Link to the blitz that caused the error

https://stackb

[2021-12-11 21:30] jrvidal commented on #475
@marcoalesan Thanks for the report. This issue is probably an upstream problem, see https://github.com/stackblitz/webcontainer-core/issues/473

[2021-12-11 21:30] #475 closed

[2021-12-12 17:40] aqibbutt opened #477 "type script version is outdated."
### Describe the bug

when compiling the project typescript version, not the one which this compiler required. I am a new to angular so do not know what to do. for a temporary solution I downgrade the version to 4.2.2 and it worked forme

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-cy4ro1-h6afgw?file=src%2Fapp%2Fproduct-list%2Fproduct-list.component.html

### S

[2021-12-12 21:22] cliffordfajardo opened #478 "Not able to start vanilla nodejs server: Error: EBADF: bad file descriptor, write"
### Describe the bug

When I attempt to start my node server with the following command in the stackblitz terminal, I recieve an error:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-dzncag?file=package.json

### Steps to reproduce

1. Run `node index.js` inside the stackblitz terminal

### Expected behavior

It should run my index.js file

### Screenshots

[2021-12-13 10:19] kaankork opened #479 "UnhandledPromiseRejectionWarn during initial opening of the"
### Describe the bug

I'm trying to work on the [ready-made sample project](https://angular.io/start#create-the-sample-project), which is listed on the official Angular website. As instructed, I fork the repo and see the `Generating browser application bundles (phase: setup)..` in my terminal.

Next, however, I get the following error in terminal and the preview interface on the right side does no

[2021-12-13 11:21] UmbertoBagnati opened #480 "Angular "Getting Started Tutorial" need to update typescript"
### Describe the bug

I was trying to follow the tutorial at [https://angular.io/start](url) but i get an error on "ng serve" command.

To solve open a new terminal and paste: `npm install typescript@4.4.2`

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/app.component.ts

### Steps to reproduce

1. Go to: [https://angular.io/start](url)
2. Click on:  "ready-ma

[2021-12-13 14:31] asakurayohj opened #481 "unsupport npm scripts with "pre" and "post""
### Describe the bug

unsupport npm scripts with "pre" and "post" hooks

### Link to the blitz that caused the error

https://stackblitz.com/edit/webpack-study?file=package.json

### Steps to reproduce

npm run build

### Expected behavior

"postbuild" auto run after "build" script finished

### Screenshots

_No response_

### Platform

[code]

### Additional context

_No response_

[2021-12-13 15:10] bryan-sullivan-ascendlearning-com commented on #463
Thanks for the suggestions. It looks like the WebContainer resources are being blocked by my company. I'm closing this bug with this comment.

[2021-12-13 15:10] #463 closed

[2021-12-13 15:21] geromegrignon commented on #477
Hello, where did you get your seed Stackblitz template?

[2021-12-13 15:23] geromegrignon commented on #477
Hello @aqibbutt, where did you get your seed STackblitz template from?

[2021-12-13 16:31] aqibbutt commented on #477
Hi ,
I got this when starting practicing angular see this
https://angular.io/generated/live-examples/getting-started-v0/stackblitz.html
.
[image: image.png]
I am getting this error.

Regards
Aqib Butt

On Mon, Dec 13, 2021 at 4:23 PM Gérôme Grignon ***@***.***>
wrote:

--

Regards
Aqib Pervez Butt
http://aqibbutt.com/
+49 176 40597477

[2021-12-13 16:49] geromegrignon commented on #477
Stackblitz just tries to start a sample from a provided list of dependencies.
There is nothing Stackblitz can do if there are conflicts with dependencies.

You need to open a related issue in the Angular repository: https://github.com/angular/angular/issues/new/choose

[2021-12-13 17:01] aqibbutt commented on #477
ohh ok understood. make sense as well. thanks for the information

On Mon, Dec 13, 2021 at 5:49 PM Gérôme Grignon ***@***.***>
wrote:

--

Regards
Aqib Pervez Butt
http://aqibbutt.com/
+49 176 40597477

[2021-12-13 22:56] #477 closed

[2021-12-13 23:26] danrald opened #482 "None of the Angular sample apps work"
### Describe the bug

The sample apps for Angular found on this page do not work in Stackblitz.

sample list:
https://angular.io/guide/example-apps-list

Trying to run these, we get the following error:
 The Angular Compiler requires TypeScript >=4.4.2 and <4.5.0 but 4.5.4 was found instead.

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/app.component.ts

###

[2021-12-14 02:56] ezielcabahug opened #483 "Error: The Angular Compiler requires TypeScript >=4.4.2 and <4.5.0 but 4.5.4 was found instead."
### Describe the bug

I got this error:
ng serve
⠹ Generating browser application bundles (phase: setup)...(node:6) UnhandledPromiseRejectionWarning: Error: The Angular Compiler requires TypeScript >=4.4.2 and <4.5.0 but 4.5.4 was found instead.
    at checkVersion (file:///home/projects/angular-covnkk/node_modules/@angular/compiler-cli/bundles/index.js:17524:11)
    at verifySupportedTypeScriptVe

[2021-12-14 05:33] stephencombs opened #484 "Astro.js example says "Upgrade Required""
### Describe the bug

Clicking on the "Launch In Stackblitz" button on the astro examples Is just see the message "Upgrade Required" in the ouput window on the right.

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-gmrbs4?file=src%2Fpages%2Findex.astro

### Steps to reproduce

Clicking on the "Launch In Stackblitz" button on a Astro.js project

### Expected behavio

[2021-12-14 05:45] tony19 commented on #484
Duplicate of #341

From https://github.com/stackblitz/webcontainer-core/issues/341#issuecomment-936290408:

[2021-12-14 07:49] jrvidal commented on #484
Is #341 the issue you're seeing @stephencombs ?

[2021-12-14 08:05] jrvidal commented on #480
@UmbertoBagnati Thanks for the report. This seems to be an upstream issue, see https://github.com/stackblitz/webcontainer-core/issues/477 and https://github.com/stackblitz/webcontainer-core/issues/473

[2021-12-14 08:05] #480 closed

[2021-12-14 08:05] jrvidal commented on #483
@ezielcabahug Thanks for the report. This seems to be an upstream issue, see #477 and #473

[2021-12-14 08:05] #483 closed

[2021-12-14 08:05] jrvidal commented on #479
@kaankork Thanks for the report. This seems to be an upstream issue, see #477 and #473

[2021-12-14 08:05] #479 closed

[2021-12-14 08:06] jrvidal commented on #482
@danrald Thanks for the report. This seems to be an upstream issue, see #477 and #473

[2021-12-14 08:06] #482 closed

[2021-12-14 12:44] DANILORE opened #485 "node:6) UnhandledPromiseRejectionWarning: Error"
### Describe the bug

/projects/quhuvj--run
❯ npm install && turbo start
warn preInstall No repository field
┌ [1/3] 🔍  Resolving dependencies
└ Completed in 29.652s
┌ [2/3] 🚚  Fetching dependencies
│ info pruneDeps Excluding 13 dependencies. For more information use `--verbose`.
└ Completed in 3.7s
┌ [3/3] 🔗  Linking dependencies
└ Completed in 3.565s
info security We found `install` scripts whic

[2021-12-14 15:06] abarke opened #486 "WebContainer hanging due to blocked URL"
### Describe the bug

When connected via VPN to our company network our VPN client is blocking the URL:

https://nuxt-starter-u4yccb--3000.local.webcontainer.io/.localservice@relay.731360fb19d99dfc563f19370095b1e3465a14ed.html

**Console: Failed to load resource: the server responded with a status of 503**

When disconnected from the VPN it works as expected.

### Link to the blitz that caused the

[2021-12-14 15:25] riccardorinaldi7 opened #487 "Angular project not working"
### Describe the bug

Hi, I'm sorry for the generic title but I couldn't guess what happened.
I opened an autogenerated Angular project linked in Angular documentation. At the beginning the compiler detected code changes and worked fine but at one point, apparently without reasons (certainly without errors in the terminal or in the code), the application stopped working. The compiler stopped to co

[2021-12-14 15:37] msquinn opened #488 "Remix Starter: 'Upgrade Required'"
### Describe the bug

Just ran the remix starter and the client loads on port 3000. However, the server on 8002 just throws a error code 426 'Upgrade required' when requests are made to it. I haven't touched the code in the starter.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-vrpklr

### Steps to reproduce

1. Open remix starter
2. Open Network tab
2. See all req

[2021-12-14 16:41] tony19 commented on #488
Duplicate of #435

[2021-12-14 19:59] stephencombs commented on #484
That is correct.

[2021-12-14 19:59] stephencombs commented on #484
That is correct.

[2021-12-14 19:59] IanVS opened #489 "Unable to install cypress"
### Describe the bug

I was attempting to create a [cypress](https://www.cypress.io/) issue reproduction, so I started a new node.js project, installed cypress, and ran `cypress install`, but I got an error:
[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-5d3o3f?file=index.js

### Steps to reproduce

Run `cypress install` in the blitz

### Expected behavior

I

[2021-12-14 20:23] jrvidal commented on #484
Great, I think this can be closed then.

[2021-12-14 20:23] #484 closed

[2021-12-14 20:28] jrvidal commented on #489
@IanVS Thanks for the report. The install does not complete correctly because the download URL does not return appropriate CORS headers, which is something we can't work around (see for instance https://github.com/stackblitz/webcontainer-core/issues/7 or https://github.com/stackblitz/webcontainer-core/issues/358).

I'll add that, even if it worked or you worked around it (e.g. using an extension t

[2021-12-14 20:28] #489 closed

[2021-12-14 21:08] jrvidal commented on #488
@msquinn  Does the comment in https://github.com/stackblitz/webcontainer-core/issues/341#issuecomment-936290408 clarify things? Do you observe the site being rendered correctly after waiting enough?

[2021-12-14 21:09] jrvidal commented on #485
@DANILORE Thanks for the report. This seems to be an upstream issue, see #477 and #473

[2021-12-14 21:09] #485 closed

[2021-12-14 21:24] IanVS commented on #489
Thanks, I was going to show that it didn't have correct typescript types, and the `cypress install` would have scaffolded out some files.  That's good to know that it's not something that can run in stackblitz, thanks for looking into it and responding.

[2021-12-15 08:40] DayakarMalgari opened #490 "Generating browser application bundles (phase setup) for more than 3 hours"
### Describe the bug

I was trying to fork the  ready-made sample project in StackBlitz under the "getting started with Angular", and for the past 3 hours its been sitting in the setup phase of the "Generating browser application bundles".

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-1v3vql?file=package.json

### Steps to reproduce

[Angular_StackBlitz_bug.txt]

[2021-12-15 09:14] #366 closed

[2021-12-15 10:09] JeroenRoodIHS commented on #471
For me, I can't save at all. No confirmation that it is saved, nothing saved. Also: I am not able to create a fork? It keeps on loading, with no result.

[2021-12-15 10:26] abarke commented on #486
The problem here is the domain used: `webcontainer.io`

This domain is blocked by our VPN/Corporation.

Does stackblitz own this domain? If so we may be able to trust it. If not, please use a trusted domain like `stackblitz.com`

[2021-12-15 11:13] jrvidal commented on #486
@abarke Thanks for the report. Yes, we own that domain, it's part of the WebContainer architecture.

[2021-12-15 11:16] jrvidal commented on #490
@DayakarMalgari Thanks for the report, I suspect this is an upstream issue, see https://github.com/angular/angular/issues/44480 and https://github.com/stackblitz/webcontainer-core/issues/473. Please, do comment if that does not apply to your problem.

[2021-12-15 11:16] #490 closed

[2021-12-15 11:16] jrvidal commented on #473
For bystanders: we filed https://github.com/angular/angular/issues/44480

[2021-12-15 11:38] abarke commented on #486
I would ask my company to add this domain to the whitelist but this is potentially risky as we can't prove/trust the owner.

According to https://who.is/whois/webcontainer.io the domain is registered to: 1API GmbH in Germany.

This doesn't sound very convincing.

Could you simply use the trusted stackblitz.com domain instead?

[2021-12-15 14:34] atutcuog opened #491 "TypeScript Version Mismatch"
### Describe the bug

Unable to generate browser application bundles (using the standard Angular Tutorial):

(node:6) UnhandledPromiseRejectionWarning: Error: The Angular Compiler requires TypeScript >=4.4.2 and <4.5.0 but 4.5.4 was found instead.
    at checkVersion (file:///home/projects/angular-8marnu/node_modules/@angular/compiler-cli/bundles/index.js:17524:11)
    at verifySupportedTypeScript

[2021-12-15 14:41] jrvidal commented on #491
@atutcuog Thanks for the report, I suspect this is an upstream issue, see https://github.com/angular/angular/issues/44480 and https://github.com/stackblitz/webcontainer-core/issues/473. Please, do comment if that does not apply to your problem.

[2021-12-15 14:41] #491 closed

[2021-12-15 15:20] notsozen opened #492 "error Command failed with exit code 1"
### Describe the bug

can't resolve dependencies

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src%2Fapp%2Fapp.module.ts

### Steps to reproduce

open the the URL

### Expected behavior

find all depencencies

### Screenshots

_No response_

### Platform

[code]

### Additional context

_No response_

[2021-12-15 20:25] jrvidal commented on #492
@notsozen Thanks for the report. The URL you provided is actually for a POST request, so we can't recover the blitz where you encountered the problem. Could you share the original link you clicked, that redirected to that URL?

[2021-12-16 02:22] thescientist13 opened #493 "saving changes (leading to forked stackblitz) breaks static asset image serving"
### Describe the bug

Noticed that if I made changes to a blitz, thus causing a fork, and then re-ran the same `npm start` command, that the image in the header was not loading anymore.

### Link to the blitz that caused the error

https://stackblitz.com/github/ProjectEvergreen/greenwood-getting-started

### Steps to reproduce

1. Load the blitz
1. Run `npm start`.  Observe the dev server starts a

[2021-12-16 15:06] qzt1 opened #494 "wont load"
### Describe the bug

when i try to load it doesnt load

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-xng4se

### Steps to reproduce

i cant

### Expected behavior

for it to load i was using node

### Screenshots

![image](https://user-images.githubusercontent.com/92523287/146396470-90243362-4e0f-413a-8341-e30dfc5226bd.png)

### Platform

[code]

### Additional co

[2021-12-16 18:31] aleclarson commented on #142
+1 this is a big issue for [viteflare](https://github.com/alloc/viteflare) compatibility with stackblitz

I think a browser extension is the right solution. Stackblitz could detect CORS errors and offer to install the proxy extension "just in time". The act of installing an extension is trivial for users, and much better of an experience than having no recourse in the face of CORS errors. :)

[2021-12-16 21:48] rayfoss opened #495 "Connect Repository button is mislabled"
### Describe the bug

Connect repository means connect Github... I was hopping to connect a Gitlab, Gitter, Bitbucket, Gitorious, or Azure cloud git repository.

Also, the button is far far too prominent for an optional third-party integration feature. The ability to integrate with Github is not the most important part of my Sandbox.
![Screenshot from 2021-12-16 15-40-35](https://user-images.githu

[2021-12-16 22:29] NullVoxPopuli commented on #354
what's the verdict? <3

[2021-12-17 01:41] Collin2245 opened #496 "Angular project not updating when linked to github repo"
### Describe the bug

angular project is not building or dynamically updating when project is linked to github repo.
### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-bffu9e?file=src%2Fapp%2Fproduct-list%2Fproduct-list.component.ts

### Steps to reproduce

follow this tutorial
https://angular.io/guide/setup-local
angular project does update when forked, but does not

[2021-12-17 09:23] FossPrime opened #497 "[FR] Share line number"
**Is your feature request related to a problem? Please describe:**
It's hard to find the line people are talking about without external information

**Describe the solution you'd like:**
Right click on the line number to share a reference to it. `&line=70`

**Describe alternatives you've considered:**
Praying. It didn't work.

**Additional context:**
I'm trying to reference line 70 of this 100 lin

[2021-12-17 22:03] XsongyangX opened #498 "Still booting even after install is done"
### Describe the bug

I opened a public Vue repo from Github on Stackblitz. The repo installs in 80s but the WebContainer is still saying "Booting".

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-2lfxuy

### Steps to reproduce

1. Wait for install to complete
2. Look at the web page display
3. See "Booting WebContainer"

### Expected behavior

The website loading

[2021-12-17 22:07] XsongyangX commented on #498
I forgot to `npm run serve`

[2021-12-17 22:07] #498 closed

[2021-12-17 23:15] rayfoss commented on #447
Same issue on Android 12, Pixel 6, Chrome

`User agent: Mozilla/5.0 (Linux; Android 12; Pixel 6 Pro) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4756.0 Mobile Safari/537.36 EdgA/98.0.1107.0`

https://tests.caniuse.com/?feat=cors Pass
https://tests.caniuse.com/?feat=sharedarraybuffer Pass

[2021-12-18 14:02] ndom91 commented on #247
Hi together, I've been tinkering with this, and seem to have gotten a bit further, but chromium still times out on launching for me.

I'm using `chrome-aws-lambda` and `playwright-core`. After installing these dependencies, there will be a `google-chrome` binary in `/usr/local/bin/`. If yuo manually specify that as the `executablePath` argument, you'll get past the issue mentioned in the OP.

The

[2021-12-18 19:10] zuhito opened #499 "Node-RED support"
### Describe the bug

WebContainer is a great environment to use [Node-RED](https://nodered.org/), Low code programming tool because Katacoda or GitPod environments are limited in terms of the time and lost flow that users developed. But there is some problem to show the development UI.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-lwdex7

### Steps to reproduce

1

[2021-12-20 09:59] abarke commented on #486
@jrvidal as another alternative perhaps you could simply setup a forward from `webcontainer.io` to `stackblitz.com` to prove that you really own this domain. Otherwise there is no indication that this is the case other than a comment in this thread.

[2021-12-20 10:14] abarke commented on #486
@jrvidal FYI we may consider using Stackblitz Enterprise in the near future 😉 so it would be good if it works in our network.

[2021-12-22 01:53] biggdavebehave opened #500 "Help"
**Is your feature request related to a problem? Please describe:**

**Describe the solution you'd like:**

**Describe alternatives you've considered:**

**Additional context:**

[2021-12-22 01:53] #500 closed

[2021-12-22 05:40] jpmayorga commented on #453
i got the same error, any solution?

[2021-12-22 08:12] TomSmedley commented on #453
Nope, I asked for a refund because it was stopping me using StackBlitz in the way it's intended. If it was a video game, it would be considered a game breaking bug. I just got ignored about that request, but the community manager said they will be looking at this issue early next year.

In my personal opinion, StackBlitz is an absolutely brilliant idea but it shouldn't offer membership until the a

[2021-12-22 11:54] d3lm commented on #142
@aleclarson No, unfortunately you can't catch CORS errors. But we can definitely intercept CORS requests.

[2021-12-22 14:08] NullVoxPopuli commented on #294
Just got this same error on the Ember official blitz: https://stackblitz.com/github/ember-cli/editor-output/tree/stackblitz-app-output?file=app%2Ftemplates%2Fapplication.hbs

[2021-12-23 05:00] jfabraxas opened #501 "files in local folders except ".js" are not available"
### Describe the bug

when revisiting ( not only reloading page ) a local project, all files in folders - except .js - are not available

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-uejhzm

### Steps to reproduce

1. create a local project
2. revisit the project ( from dashboard or new tab )
3. accept "let site edit files"

### Expected behavior

all files shoul

[2021-12-23 14:27] aekewu opened #502 "阿"
**Is your feature request related to a problem? Please describe:**

**Describe the solution you'd like:**

**Describe alternatives you've considered:**

**Additional context:**

[2021-12-23 14:43] aekewu opened #503 "阿"
**Is your feature request related to a problem? Please describe:**

**Describe the solution you'd like:**

**Describe alternatives you've considered:**

**Additional context:**

[2021-12-24 09:18] #503 closed

[2021-12-24 09:18] #502 closed

[2021-12-24 14:30] CanMehmetK opened #504 "aman allam"
### Describe the bug

not running

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-dh948x?file=src%2Fapp%2Fapp.component.html

### Steps to reproduce

https://angular.io/guide/i18n-example

live example

### Expected behavior

run

### Screenshots

![image](https://user-images.githubusercontent.com/1278985/147359178-164c926f-06af-4f36-b964-433a15ce26ff.png)

### Pl

[2021-12-24 17:05] aekewu opened #505 "个"
**Is your feature request related to a problem? Please describe:**

**Describe the solution you'd like:**

**Describe alternatives you've considered:**

**Additional context:**

[2021-12-26 00:18] #505 closed

[2021-12-26 01:48] devendran1 commented on #487
Same issue for me too.

[2021-12-26 04:04] ultrasonicsoft opened #506 "Angular V13 i18n example project broken - Locale data for 'baseHref' cannot be found. No locale data will be included for this locale."
### Describe the bug

The URL for [Angular i18n example](https://angular.io/guide/i18n-example) is broken with below error.
[code]

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/app.component.ts

### Steps to reproduce

1. Go to https://angular.io/guide/i18n-example
2. Click on "live example" link
3. Let the StackBlitz load the project and start "ng serve" co

[2021-12-27 10:10] orsoxii opened #507 "terminal"
### Describe the bug

where is it ? (firefox)

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-vfzw4m?devtoolsheight=33

### Steps to reproduce

just try to see the terminal on stackblits
`error`

### Expected behavior

you cant see it

### Screenshots

_No response_

### Platform

[code]

### Additional context

no additional context

[2021-12-27 12:00] geromegrignon commented on #507
Hey @orsoxii,

As showcased in the preview part, `WebContainers currently work in Chrome and Chromium-based browsers.``

![image](https://user-images.githubusercontent.com/32737308/147469881-3ee39380-350d-460b-990f-d660488fa793.png)

[2021-12-27 12:47] Rolanddoda opened #508 "error Command failed with exit code 1"
### Describe the bug

I have [this Github repo](https://github.com/Rolanddoda/vue-i18n-next-issue)

What I did was to just import it to the StackBlitz. Dependencies started installing, but then they exited.

### Link to the blitz that caused the error

https://stackblitz.com/github/Rolanddoda/vue-i18n-next-issue

### Steps to reproduce

1. Goto https://stackblitz.com/github/Rolanddoda/vue-i18n-nex

[2021-12-27 14:03] jamalsahri opened #509 "Locale data for 'baseHref' cannot be found. No locale data will be included for this locale."
### Describe the bug

Locale data for 'baseHref' cannot be found.  No locale data will be included for this locale.
An unhandled exception occurred: Unsupported translation file format in /home/projects/angular-agnmjy. The following parsers were tried:
*** ArbTranslationParser ***
*** SimpleJsonTranslationParser ***
WARNINGS:
 - File does not have .json extension.
*** Xliff1TranslationParser ***
*

[2021-12-27 18:34] stepanic commented on #496
I can confirm the same issue, it is not Angular specific, it seems that every project after connection to the GIT repo stops updating.

The current workaround to see changes is to save edited files and manually refresh the browser (which is annoying :D)

[2021-12-28 16:20] orsoxii commented on #507
yeah but how you enable it?

[2021-12-28 18:49] SamVerschueren commented on #507
If you click the `Read more about browser support` link and scroll down you can find [a section on how to enable it in Firefox](https://developer.stackblitz.com/docs/platform/browser-support/#testing-on-firefox). You can also read why it currently doesn't work in Firefox/Safari if you're interested.

It's experimental and not everything might/will work out-of-the-box. If you want it to work out-of

[2021-12-28 18:49] #507 closed

[2021-12-28 18:59] SamVerschueren commented on #509
Are you able to run this locally? the `Locale data for 'baseHref' cannot be found` message is also shown on local. But the red error on local is even worse.

![image](https://user-images.githubusercontent.com/1913805/147598286-e36a6f6a-5b17-4b93-ac77-2705ca8ad9da.png)

[2021-12-28 19:00] SamVerschueren commented on #506
Could we continue this conversation in #509? I can't get this to work locally either. Can you give it a try perhaps?

[2021-12-28 19:00] #506 closed

[2021-12-28 19:02] SamVerschueren commented on #486
cc @EricSimons @apai4

[2021-12-28 20:21] EricSimons commented on #486
Hey @abarke- thanks for bringing this to our attention. We use privacy protection on own domain registrations which is why it shows up as that (the same shows for https://who.is/whois/stackblitz.com).

Out of curiosity, do you know what VPN your company uses and/or why webcontainer.io ended up on the block list? Would be great to know if we can do something from our end to ensure your VPN and othe

[2021-12-28 20:25] EricSimons commented on #508
Thanks for reporting this @Rolanddoda - I just repro'd the issue on my machine as well. Seems like every single dependency tarball is giving that same error, but when I try installing the same dependency in fresh node.new project it works fine 🤔

Our team is taking a deeper look and will circle back once we've gotten to the bottom of it!

[2021-12-29 06:23] SamVerschueren commented on #450
I believe we can close this now? As CJS is enabled by default.

[2021-12-29 11:53] SamVerschueren commented on #508
After some investigation I noticed that the dependencies are being resolved against `https://registry.npmmirror.com`. I believe we see this as a custom registry and requires auth tokens in order to work. If you remove your `package-lock.json` and run `npm install` to generate a new one, it will work.

Due to the holidays almost everyone is out, so tagging the correct people so we can come back to

[2021-12-29 11:54] SamVerschueren commented on #504
Closing in favour of #509

[2021-12-29 11:54] #504 closed

[2021-12-29 16:10] blankey1337 opened #511 "Remix starter kit fork is unable to save, progress lost on refresh"
### Describe the bug

Using the remix-app-template, I am unable to persist my file changes past page refresh.

If I click Save, the loading icon spins for a while, and eventually I can hit Save again. Despite that, changes never save so I am unable to use this awesome template.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-qpuswh?file=app%2Froot.tsx

### Steps to r

[2021-12-29 17:50] tony19 opened #512 ".stackblitzrc start command has no effect in official Vite starter"
### Describe the bug

Setting the start command via `.stackblitzrc` in a Vite starter has no effect. The container starts with `npm install && npm run dev` regardless of the config.

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-ztdh63?file=.stackblitzrc&terminal=dev

### Steps to reproduce

1. Go to blitz (created from `https://vite.new/vue`)
2. Allow to sta

[2021-12-29 18:27] SamVerschueren commented on #512
Hi @tony19 👋 !

It is taken into account, the thing her eis that the queryparam `terminal` overwrites the `startCommand` in the `.stackblitzrc` file.

Is the URL https://vite.dev/vue incorrect? It doesn't seem to work on my end 🤔 ? I'm trying to see if we made a mistake somewhere in setting up the URLs?

[2021-12-29 19:14] tony19 commented on #512
That was a typo in the URL. It should've been https://vite.new/vue.

Ah, you're right about the `terminal` query param, which I didn't even notice. I usually just copy the address bar without looking. I'm assuming it's added to the URL based on something I select. How exactly was that added? Thanks

[2021-12-29 19:14] #512 closed

[2021-12-30 12:41] SamVerschueren commented on #512
I believe it's added when redirected from https://vite.new/vue so we can run the start command by default when opened. This way we don't have to infer the start command based on some heuristics that detect the framework as that would be quite error prone. So I think we decided to just add the `terminal` query param. If you then add a `.stackblitzrc` and refresh, it wil not work. Not sure if there'

[2021-12-30 17:52] chyno opened #515 "command line does not match what is in my vs code"
### Describe the bug

The command line file structure does not match what is shown on vs code. If  I look at contents of file from command line ( cat index.tsx) it does ont match what is shown in my vs code?  Is this because I created another branch in github?

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-kccgml?file=app%2Froot.tsx

### Steps to reproduce

1) goto

[2021-12-30 19:34] tony19 commented on #512
Ok, I see. A `.stackblitzrc` baked into the starter would also avoid having to heuristically detect the framework, and probably would've prevented my confusion here (not complaining). However, I'm not necessarily looking for a change here. I just thought it was a bug. Thanks anyway!

[2021-12-31 08:41] SamVerschueren commented on #512
@sulco do you know if these projects come from GitHub directly or do we own them ourselves? If we own them, we might want to add a `.stackblitzrc` instead of working with query params. If they are coming from a GitHub repository, they might not want to add a platform agnostic config file?

[2021-12-31 23:15] EricSimons commented on #512
Projects created via vite.new come directly from Vite’s main GitHub repo, which don’t include stackblitzrc configs. Maybe we could add them in at import time though? Or do heuristic based defaults for frameworks? I’d personally be in favor of the latter

[2022-01-03 09:47] abarke commented on #486
@EricSimons thanks for getting back to us.

Not sure what URL blocker we are using and if it is part of our VPN setup, but the VPN is GlobalProtect.

Our sec team added the webcontainer.io URL to our whitelist, but there is still an error. Seems there is something else in the URL that is raising red flags. When looking at the URL im not surprised really as its quite a mouthful and not a very stand

[2022-01-03 09:49] abarke commented on #486
@EricSimons BTW setting up a redirect would definitely help the authenticity/credibility issue.

[2022-01-03 10:32] jrvidal commented on #515
@chyno Thanks for the report. Unfortunately, I'm unable to reproduce the issue in the blitz you provided. Do you still observe it (in that particular blitz)?

If not, the bug might be triggered by particular changes to the files in the project. I imagine you forked the Remix template and edited it before encountering the mismatch. I tried doing that as well and could not reproduce it either. Could

[2022-01-03 20:26] HeyGarrison commented on #52
Hi @umairhm!

It looks like we successfully shipped a fix for this. Here is my example: https://express-in-browser-hvwpdp--5000.local.webcontainer.io/

Feel free to let us know if you have any more issues!

[2022-01-03 20:26] #52 closed

[2022-01-03 21:07] HeyGarrison commented on #3
Hi @nartc it looks like this has been fixed! Thanks for reporting this!

[2022-01-03 21:07] #3 closed

[2022-01-03 21:24] HeyGarrison commented on #24
We dramatically adjusted the webcontainer loading states. Thanks again for the feedback!

[2022-01-03 21:24] #24 closed

[2022-01-03 21:25] HeyGarrison commented on #26
Thanks again for reporting! We shipped a fix for this. 💪

[2022-01-03 21:25] #26 closed

[2022-01-03 22:22] #109 closed

[2022-01-04 05:01] umairhm commented on #52
@HeyGarrison @KwintenP Thank you both for the updates. I tried a few days back and got the same issue. I suspect it may be due to an Organization repository that I am trying to use. Please confirm if that is the case and how can I utilize an organizational repository, if possible.

[2022-01-04 16:04] HeyGarrison commented on #52
@umairhm can you open a new issue with your specific repro steps? The original repro steps here don't include anything git related. Thanks for your help!!

[2022-01-05 18:53] Raufr1 opened #522 "Not givin code completion and having radom syntax errors"
### Describe the bug

it what the title says, I'm not getting any code completion when editing the html files. Also when editing adding a line of code to the typescript file, and accidently misspelling a function call (the function is declared in a different file). The right error shows up but it doesn't disappear even if i correct the changes. I have to save the file instead to make it work.

###

[2022-01-05 19:04] Raufr1 opened #523 "Angular Beginner's Web App broken"
### Describe the bug

I made a web app following the angular guide, it worked a day ago when building it but today it's broken. Routing is broken. Every link leads to a blank screen

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-cjrp25-9zzj1j?file=src%2Fapp%2Fapp.module.ts

### Steps to reproduce

Click on the Checkout button, or any one of the phone names.

###

[2022-01-05 22:33] jrvidal commented on #523
@Raufr1 Thanks for the report. I see some errors in the dev console:
[code]
These errors also appear when I try to run the project locally, so I don't think this is a WebContainer issue.

[2022-01-05 22:33] #523 closed

[2022-01-05 23:03] geromegrignon commented on #523
@Raufr1
Your AppModule is missing the `HttpClientModule` in the imports array.
Without it, you can't use HttpClient.

By adding it, it'll work as expected.

[2022-01-05 23:31] Raufr1 commented on #523
Ohh. I'm dumb. Thanks man

Get Outlook for Android

From: Gerome Grignon ***@***.***>
Sent: Wednesday, January 5, 2022 6:03:28 PM
To: stackblitz/webcontainer-core ***@***.***>
Cc: Rana Rauf ***@***.***>; Mention ***@***.***>
Subject: Re: [stackblitz/webcontainer-core] Angular Beginner's Web App broken (Issue #523)
 

@Raufr1
Your AppModule is missing the HttpClientModule in the imports array.
With

[2022-01-06 07:55] aliasgar55 opened #524 "Error: Unsupported option name ("--no-audit") when using cra in web container"
### Describe the bug

Whenever we try to create a cra app with the following command ```npx create-react-app tutorial --template typescript```
it results in a error

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-snfmot?file=refine.dev%2Fpackage.json

### Steps to reproduce

Create a node project
run this command
```npx create-react-app tutorial --template typescript

[2022-01-06 12:56] jrvidal commented on #508
@Rolanddoda This should be fixed now, thanks for the report :tada:

[2022-01-06 12:56] #508 closed

[2022-01-06 14:30] INzoGravity opened #525 "Go"
**Is your feature request related to a problem? Please describe:**

**Describe the solution you'd like:**

**Describe alternatives you've considered:**

**Additional context:**

[2022-01-06 18:16] #525 closed

[2022-01-07 09:06] Rolanddoda opened #526 "_gitignore should be .gitignore"
### Describe the bug

I created a new Vite Vue 3 project. Without changing anything, I downloaded the project, unzipped it, and opened it in my IDE.

I ran git init and then I saw that folders and files are not gitignored.
And that was because the file name has an underscore instead of a dot.

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-laxgwz?file=index.ht

[2022-01-07 13:26] jrvidal commented on #524
@aliasgar55 This is a bug indeed, thanks for reporting.

[2022-01-07 13:58] jrvidal commented on #526
@Rolanddoda Thanks for the report:

When you observe this issue, how exactly do you create the project?

[2022-01-07 15:13] #332 closed

[2022-01-07 18:18] Rolanddoda commented on #526
@jrvidal sorry for not providing a clear description on how to create a new project.

What I did, was simply clicking to Vite -> vue

[2022-01-09 13:15] hacker-eleos opened #527 "Firefox not supported for webcontainer"
### Describe the bug

When I open the link in Firefox browser, I get the following error.

`WebContainers currently work in Chrome and Chromium-based browsers. We’re hoping to add support for more browsers as they implement the necessary Web Platform features.`

### Link to the blitz that caused the error

https://stackblitz.com/github/webpack/webpack.js.org/tree/master/examples/module-federation?

[2022-01-10 09:43] jrvidal commented on #527
Closed in favor of #437

[2022-01-10 09:43] #527 closed

[2022-01-10 09:43] jrvidal commented on #162
Closing in favor of #437

[2022-01-10 09:43] #162 closed

[2022-01-10 10:15] jrvidal commented on #194
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-10 10:15] #194 closed

[2022-01-10 10:16] jrvidal commented on #256
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-10 10:16] #256 closed

[2022-01-10 10:18] jrvidal commented on #280
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-10 10:18] #280 closed

[2022-01-10 10:23] jrvidal commented on #395
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-10 10:23] #395 closed

[2022-01-10 10:23] jrvidal commented on #407
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-10 10:23] #407 closed

[2022-01-10 12:45] Chutani09 opened #528 "Phone-start.html"
<html>
<head>
    <meta name="viewport" content="width=device-width">

    <script src=file:///android_asset/app.js></script>
    <script src="file:///android_asset/Libs/JQuery.js"></script>
    <script src="file:///android_asset/Libs/Flot.js"></script>
</head>

<script>
    //Initialise variables.
    sampleCount = 100;
    updateInterval = 10;
    sensorData = null;

    //Called when document i

[2022-01-10 14:03] jrvidal commented on #528
@Chutani09 If you have an issue with WebContainer, could you try and open an issue following the templates? Thanks!

[2022-01-10 14:03] #528 closed

[2022-01-11 05:06] DmitryEfimenko opened #529 "Unable to fork"
### Describe the bug

Unable to fork an Angular app.

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/form-field-error-example.ts

### Steps to reproduce

1. Go to https://material.angular.io/components/form-field/overview#error-messages
2. Open the StackBlitz example for "Form field with error messages" demo
3. Attempt to fork it
4. Observe the fork button to

[2022-01-11 12:43] joelml commented on #499
Hi!
I got Node-RED working by using another start command than you did. I could also click Deploy and test a simple timestamp and I got a successful message in the debug component.

My start command was:
`./node_modules/.bin/node-red`

Does that help for you @zuhito ?

[2022-01-11 20:28] jrvidal commented on #526
This is a bug indeed, thanks for the report.

[2022-01-12 03:16] lyonbot opened #531 "shell: cannot use variables in shell commands"
### Describe the bug

cannot use variables in shell commands.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-h4xjbd

### Steps to reproduce

run this in terminal:

[code]

terminal outputs:

[code]

### Expected behavior

display "123"

### Parity with Local

- [ ] I have run the project in my local machine and I could not reproduce the issue.

### Screenshots

_No

[2022-01-13 04:16] jimbuck commented on #11
Hi there, is this still open? Any updates on progress?

[2022-01-13 06:00] maiertech opened #532 "HMR breaks for SvelteKit app after connecting to a GitHub repo"
### Describe the bug

HMR in a SvelteKit app breaks after connecting a blitz to a GitHub repo.

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-rmfycc?file=src%2Froutes%2Fposts%2Fa-better-development-workflow-with-disposable-workspaces%2Findex.md

### Steps to reproduce

1. Create a blitz from this URL: https://stackblitz.com/github/maiertech/maier.tech/
2. Type `np

[2022-01-13 14:52] msms007 opened #533 "HTML do not get updated, fork doesnt work. sharing URL doesnt work"
### Describe the bug

changes do not get updated

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src%2Fapp%2Fexpansion-overview-example.html

### Steps to reproduce

changes do not get updated

### Expected behavior

HTML changes  get updated

### Parity with Local

- [ ] I have run the project in my local machine and I could not reproduce the issue.

### Screenshots

[2022-01-13 16:59] jrvidal commented on #533
@msms007 Thanks for the report. The link you provided does not work by itself (it is a POST link). Could you provide the original link you clicked to reach the project?

[2022-01-13 20:43] lindamacdonald opened #534 "there is no live preview of the code"
### Describe the bug

this is a little note on your webcontainer which would be a really amazing feature :) when I try it I just see the little lightbulb and some text, I dont the actual project it just says:
Booting WebContainer

Booting WebContainer
Installing dependencies

### Link to the blitz that caused the error

https://stackblitz.com/edit/vite-react-tailwindcss-aurciv?file=src%2FExample.j

[2022-01-13 20:49] geromegrignon commented on #534
Hey you can add a [configuration file](https://developer.stackblitz.com/docs/platform/project-config) to add a default `startCommand`.
Otherwise you need to run it manually in the terminal

[2022-01-14 15:40] #453 closed

[2022-01-14 16:32] fvsch commented on #453
Hi @TomSmedley @jpmayorga, we just shipped a fix for this issue. Sorry for the delay!

[2022-01-14 20:59] RhinoCodes opened #535 "What does "Developer API" entail?"
Will this be a way to start custom web containers? Want to run Node.js in a browser on my site and homebrew solutions look rather complicated

[2022-01-14 21:48] tony19 opened #536 "Vitest reporter pane is blank"
### Describe the bug

The Vitest reporter pane [shown in the tweet](https://twitter.com/i/status/1481717677139935241) is just blank when I open https://vitest.new:

![vitest-pane-blank](https://user-images.githubusercontent.com/26580/149589546-e5a8e67e-006b-4387-a625-21755fe85e66.gif)

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitest-dev-vitest-squjqn?file=test%2Fbas

[2022-01-14 21:55] tony19 commented on #536
Oddly, it works now in a new tab.

[2022-01-15 18:43] tobiadiks opened #539 "The file menu stopped responding on dragging a file"
### Describe the bug

On creating an empty javascript file in a subfolder, while i tried moving it,the menu stopped responding.

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-u1jtmy?file=pages%2Fcomponents%2FPriceCard%2FPriceCard.js

### Steps to reproduce

1. create a subfolder 'a'
2. add an inner subfolder in 'a' called 'b'
3. create an empty javascript file in

[2022-01-16 23:49] PapiPeppers opened #544 "Freezing and False "Saves""
### Describe the bug

Terrible performance issues causing stackblitz to be unusable. In a fresh node container, I can upload files and then "save" the project but after exiting to the dashboard, I can see that the project wasn't saved properly. Going back into the project shows exactly that, all the files uploaded are gone and only the template files remain. Also, if, once I've uploaded the files,

[2022-01-17 13:03] jiten4tune opened #547 "WebContainer Is Invoking '@angular/core' Error"
### Describe the bug

WebContainer Invoking "Cannot find module '@angular/core' or its corresponding type declarations.(2307)"

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-whm3lo-uk4vzn?file=src%2Fapp%2Fproduct-list%2Fproduct-list.component.html

### Steps to reproduce

1. Go To https://angular.io/start
2. Navigate to "ready-made sample project in StackBlitz" l

[2022-01-18 12:31] XSun771 opened #552 "Cannot fork Angular Material mat-select demo but it's ok to fork other projects"
### Describe the bug

Cannot fork Angular Material mat-select demo but it's ok to fork other projects

Angular Material mat-select demo:  https://stackblitz.com/run?file=src%2Findex.html

the request to Fork in F12 - Network

Request URL: https://stackblitz.com/api/projects
Request Method: POST
Status Code: 500
Remote Address: 127.0.0.1:7890
Referrer Policy: strict-origin-when-cross-origin

Reques

[2022-01-18 23:49] Cyburstud opened #553 "Previewing Markdown Files does not allow overflow content || Scrolling disabled"
### Describe the bug

The code editor element does not allow scrolling of markdown files when it is displayed in preview mode.

![screenshotDemo](https://user-images.githubusercontent.com/77064515/150036544-07e2f754-8ce5-4150-b819-2147dd2c9870.gif)

Upon further inspection of the rendered code, I suspect a possible cause might be failure to render a container labeled class="overflow-guard" that ap

[2022-01-19 10:42] jrvidal commented on #552
Possibly a duplicate of https://github.com/stackblitz/webcontainer-core/issues/552

[2022-01-20 07:55] piranna opened #556 "Android keyboard overlaps editor"
### Describe the bug

When clicking the text editor on Chrome for Android on my mobile phone, keyboard popups. That's not a problem, but It overlaps the editor, so it's difficult to use.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-8ftjpn?file=index.js

### Steps to reproduce

Use Chrome for Android.

### Expected behavior

Page / editor should adjust it's height

[2022-01-20 13:34] CGiustiniani opened #557 "Webcontainer not starting"
### Describe the bug

When I am trying to open my html / css project in stackblitz, Webcontainer is trying to boot but nothing happens.

### Link to the blitz that caused the error

https://stackblitz.com/github/CGiustiniani/Frontendlearning/tree/main/bootcamp/html/semantic-elements/solution?file=index.html

### Steps to reproduce

1. Go to https://stackblitz.com/github/CGiustiniani/Frontendlearni

[2022-01-20 14:21] CGiustiniani commented on #557
Right click on the .html file -> view in browser

[2022-01-20 14:25] jrvidal commented on #409
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-20 14:25] #409 closed

[2022-01-20 14:25] jrvidal commented on #424
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-20 14:25] #424 closed

[2022-01-20 14:26] jrvidal commented on #422
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-20 14:26] #422 closed

[2022-01-20 14:26] jrvidal commented on #418
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-20 14:26] #418 closed

[2022-01-20 14:26] jrvidal commented on #419
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-20 14:26] #419 closed

[2022-01-20 14:27] jrvidal commented on #404
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-20 14:27] #404 closed

[2022-01-20 14:28] jrvidal commented on #414
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-20 14:28] #414 closed

[2022-01-20 14:28] jrvidal commented on #412
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-20 14:28] #412 closed

[2022-01-20 14:55] jrvidal commented on #557
Ah, I see. The issue is that our GitHub importer tries to guess what type of project you want. You probably meant to create a simple, plain HTML project, but instead it created a full-fledge Node project.

We'll try to improve the importer but, in the mean time, I'm afraid that the only way to use plain HTML projects is to create one manually (https://stackblitz.com/fork/web-platform) and drag&dro

[2022-01-20 15:06] jrvidal commented on #448
@cliffordfajardo Sorry we did not get back to you on time, but this should be fixed now! :tada:  Thanks for the report.

[2022-01-20 15:06] #448 closed

[2022-01-20 15:10] jrvidal commented on #390
@ajcwebdev Sorry we didn't get back to you promptly, but the turbo installation issue should be fixed now. Thanks for the report!

[2022-01-20 15:10] #390 closed

[2022-01-20 15:15] jrvidal commented on #301
@tony19 turbo does handle this graciously now :tada: Thanks for the report!

[2022-01-20 15:15] #301 closed

[2022-01-20 15:35] jrvidal commented on #45
This should be fixed now :tada: Thanks for the report.

[2022-01-20 15:35] #45 closed

[2022-01-20 15:36] jrvidal commented on #60
This should be fixed now :tada: Thanks for the report.

[2022-01-20 15:36] #60 closed

[2022-01-20 15:36] jrvidal commented on #93
This should be fixed now :tada: Thanks for the report.

[2022-01-20 15:36] #93 closed

[2022-01-20 16:04] SamVerschueren commented on #547
Hi @jiten4tune 👋 !

It's actually expected behaviour. Wait until the packages got installed (like `@angular/core`) so the editor can pick up the type definitions.

![image](https://user-images.githubusercontent.com/1913805/150375828-6155feb2-628c-45b4-bbc2-7691661bb6d1.png)

Unless I miss something here?

[2022-01-20 17:12] SamVerschueren commented on #253
Hi @Lucifer25x!

Sorry it took a while to get back to you. I noticed the URL you shared doesn't exist anymore.

A reason that this could happen is if you already run a project with the same port in your browser. So the port is basically occupied, just as on local. We have an issue tracked to improve the error on this one as quite some users run into this once in a while.

Let's close this issue fo

[2022-01-20 17:12] #253 closed

[2022-01-20 17:39] deepakkamboj957 opened #559 "bug"
### Describe the bug

please fix itadssadsffdsssadfghmnghfdsdafgmnghfdsewaesfnmbgfdseafgnbgdfewadfgnbmnnhgfdew

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src%2Fapp%2Fapp.module.ts

### Steps to reproduce

dsadfasddsdwasfvdfdsvbdfsCFGDSAsdmnghfdeawqwsdfgnhgfdwq

### Expected behavior

dsadsadsadsaasdsadssddsgdsadfrddssDFEDDSQdwfvrdseasdvvdsdvds

### Parity with Lo

[2022-01-20 18:13] blittle opened #560 "Support later versions of Node (or make version configurable)"
**Is your feature request related to a problem? Please describe:**
At Shopify we heavily use https://hydrogen.new for sharing and promoting the [Hydrogen Framework](https://github.com/Shopify/hydrogen). We recently made changes that require Node v16.5.0 or greater. If there's no way to configure stackblitz to use Node 16, we'll probably revert those changes until this issue is resolved.

**Describ

[2022-01-20 20:37] #559 closed

[2022-01-20 21:56] EricSimons commented on #560
Hey @blittle- thanks for reporting this. Node 16 support is on our roadmap for Q1 and WIP on our side. Supporting multiple Node versions is a big change in webcontainer so this will likely take a few months to land, but after that it will be much easier for us to add support for subsequent versions of Node (and other langs/runtimes).

I'm curious what specific features of Node 16 that Hydrogen is

[2022-01-20 22:26] jrvidal commented on #447
Thanks for the report. Could you folks paste the result of:

[code]

[2022-01-20 22:33] jrvidal commented on #359
We have a better UI for ServiceWorker errors, so I'm closing this. Please feel free to open a new issue if you find anything else not working properly.

Thanks for the report!

[2022-01-20 22:33] #359 closed

[2022-01-20 22:36] jrvidal commented on #368
This issue should be fixed by now. Thanks for the report @MatthewGHub2

[2022-01-20 22:36] #368 closed

[2022-01-20 22:37] jrvidal commented on #373
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-20 22:37] #373 closed

[2022-01-20 22:37] jrvidal commented on #338
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-01-20 22:37] #338 closed

[2022-01-20 22:44] jrvidal commented on #355
@tony19 The 404 ("Cannot GET /") is also shown when running this project locally, so this doesn't look like a WebContainer problem. The CSP issue is interesting though, we'll take not of that.

Thanks for the report!

[2022-01-20 22:44] #355 closed

[2022-01-20 22:47] jrvidal commented on #444
@gyansatapathy #431 was fixed, so I'm closing this. Please feel free to open a new issue if you still see something breaking.

[2022-01-20 22:47] #444 closed

[2022-01-20 22:54] jrvidal commented on #245
@tysonrm We shipped a small fix for crypto that unblocked this. I now observe:
[code]
both locally and on WebContainer, so I guess that we've achieved feature parity :wink:

Do you want to try to fix this issue and submit a new blitz?

[2022-01-21 04:19] tysonrm commented on #245
I certainly will. Nice work. Thanks!

[2022-01-21 14:05] blittle commented on #560
Hi @EricSimons thank you for the response! It's great to hear that Node 16 is WIP. The specific features we rely upon are the [`ReadableStream` API](https://nodejs.org/api/webstreams.html#example-readablestream). Though I'm currently exploring alternatives.

[2022-01-21 14:15] jiten4tune commented on #547
Hi Mr. Sam,

Thanks for your reply. You are right and Its working fine now. Actually, it
was taking time to installing the package. Thanks for your time.

Regards,
Jitender

On Thu 20 Jan, 2022, 9:34 PM Sam Verschueren, ***@***.***>
wrote:

[2022-01-21 14:34] SamVerschueren commented on #547
Awesome. Thanks for letting us know and don't hesitate to create a new issue if you run into something else.

[2022-01-21 14:34] #547 closed

[2022-01-22 15:41] Akryum opened #563 "'SyntaxError: Unexpected end of JSON input' when running peeky ui"
### Describe the bug

The Peeky UI fails to connect via WebSockets to the GraphQL server with `SyntaxError: Unexpected end of JSON input`

### Link to the blitz that caused the error

https://stackblitz.com/edit/peeky-demo?file=package.json

### Steps to reproduce

1. Run `test:dev` script
2. The web app fails to connect

### Expected behavior

The web app connects and show the passed test

### Pa

[2022-01-22 18:45] six-edge commented on #447
I setup the chrome remote debugger and confirmed that window.SharedArrayBuffer is not available. After checking the compatibility table again here there is a Asterix in the Chrome Android column stating that `SharedArrayBuffer` is gated behind COOP/COEP. For more detail, read Making your website "cross-origin isolated" using COOP and COEP...

See: https://developer.mozilla.org/en-US/docs/Web/JavaS

[2022-01-22 18:55] six-edge commented on #447
If you solve this problem for Chrome Android I **promise to pay for a membership** as this would be amazing if it works on my tablet. I use it in the evening while my computer is sleeping in the bedroom with my daughter. Hmm so I'm stuck with this tablet. I managed to hack the tablet a bit to install VS Code and Node.JS on it using Termux and it works ok, but it's not ideal and a bit clunky. I wou

[2022-01-22 20:31] NullVoxPopuli commented on #354
@EricSimons how'd the circling go?

[2022-01-24 10:57] jrvidal commented on #536
@tony19 Thanks for the report.

Can you confirm whether you ran this project locally and it worked?

_0x4cc0ec {code: 1002, message: 'RSV2 and RSV3 must be clear'}
code: 1002
message: "RSV2 and RSV3 must be clear"
[[Prototype]]: Object

FWIW we just deployed a fix for this issue.

[2022-01-24 13:02] sulco commented on #354
Hi @NullVoxPopuli! I'd be happy to make this happen, and we should be able to add the starter this week.

One concern I have atm is, since our free tier doesn't include binary files, and the starter includes the `construction.png` image, people who open it and are on the free tier – or not logged in – would now see the the "upgrade to pro account" message:
<img width="715" alt="image" src="https:/

[2022-01-24 13:16] NullVoxPopuli commented on #354
tldr: I think it's fine if we leave things as is -- the options for REPLs are a "best of no good options" sort of deal, and I think this can "be put up with"

We can't really swap out the default blueprint, as it's _nearly_ the same as what folks use on their local machines. And if they have dependencies installed locally (due to already making an ember app somewhere else), it's nice that they don

[2022-01-24 13:41] jrvidal commented on #563
@Akryum Thanks for the report. We've just deployed a fix for some of the errors that can be seen in your console screenshot. Could you try and see if the issue is still present?

[2022-01-24 13:45] tony19 commented on #536
Yes, this works locally, as it does currently in new instances of vite.new in StackBlitz.

[2022-01-24 13:52] jrvidal commented on #536
I can't reproduce on the original blitz anymore. Are you still seeing it?

[2022-01-24 14:15] Akryum commented on #563
So I don't see the errors anymore but the data received by the frontend is very strange. Is there a way to debug the web sockets?

[2022-01-24 14:16] Akryum commented on #563
For example, I've put two test files:
![image](https://user-images.githubusercontent.com/2798204/150799237-33044671-1b84-4458-aeb6-6330df1e6851.png)

The data received with websockets is weird:
![image](https://user-images.githubusercontent.com/2798204/150799308-afc51505-9012-41ca-87af-f099e7133309.png)

[2022-01-24 14:18] Akryum commented on #563
Expected result (in local):
![image](https://user-images.githubusercontent.com/2798204/150799662-36298001-e27a-4f29-b477-f44b415a4db0.png)

[2022-01-24 14:21] jrvidal commented on #563
Devtools should work as usual if you open the preview window in a separate tab.

[2022-01-24 14:30] sulco commented on #354
That's too bad, it's not the best UX for a starter we'd want to put as an official one. I can't see any different options, but I'll discuss it with the team.

Regarding the questions:
- there is no option to change the modal
- what I believe happens is that when the project launches, the image goes through WebContainer – which works – and at the same time tries to persist it – which is not availab

[2022-01-24 14:44] NullVoxPopuli commented on #354
thanks for the answers!

 - this dependency [ember-welcome-page](https://github.com/ember-cli/editor-output/blob/stackblitz-app-output/package.json#L50)
- provides this component: [`<WelcomePage />`](https://github.com/ember-cli/ember-welcome-page/blob/master/src/components/welcome-page.hbs#L4)
- which references (and packages) that image here: https://github.com/ember-cli/ember-welcome-page/tree/

[2022-01-24 15:01] jrvidal commented on #163
I'm going to close this one in favor of https://github.com/stackblitz/webcontainer-core/issues/97

[2022-01-24 15:01] #163 closed

[2022-01-24 15:03] jrvidal commented on #97
FWIW we've haphazardly fixed the spurious errors like `Cannot read property 'replace' of undefined`.

[2022-01-24 15:03] jrvidal commented on #531
Duplicate of https://github.com/stackblitz/webcontainer-core/issues/97

[2022-01-24 16:08] sulco commented on #354
Oh my, I've been digging deeper and it looks like that `dist` folder – or rather us lacking the possibility of ignoring it – is the ultimate culprit.

I've just forked the repo and set the `"output-path"` to `"/.dist"` (dot-folders are ignored by default) and looks like this solves the issue. See https://stackblitz.com/fork/github/sulco/editor-output/tree/stackblitz-app-output .

I imagine this do

[2022-01-24 16:10] sulco commented on #354
Ok, I will try to push this paths-ignoring configuration to the team – can't promise any ETA, but I realize it would be super useful

[2022-01-24 16:18] NullVoxPopuli commented on #354
taking care of that would also fix: https://github.com/stackblitz/webcontainer-core/issues/294
(and potentially every other issue I've had with _using_ stackblitz)

as far as output goes, I think that's _less_ important.

But, anything against ignoring what's specified in .gitignore?

Nice! I didn't actually know about that option in the `.ember-cli` file :upside_down_face:

Thanks for investigati

[2022-01-24 18:05] manit815 opened #568 "The webpage never loads and shows running start command spinner indefinitely"
### Describe the bug

Was trying to look through the mat date picker example.

1. Opened the stackblitz link from the page.
2. I could see the code loading properly.
3. Booting webcontainer step was completed.
4. Dependencies were installed.
5. I could see on the terminal that the bundle has been generated and the compilation is successfully completed.
6. The web page on the right hand side never

[2022-01-24 19:55] jrvidal commented on #568
@manit815 Thanks for the report.

This URL is meant for POST request, it does not take you to any blitz. Could you share the original link you clicked to reach that project?

Did you try to run the project locally?

[2022-01-24 19:57] sulco commented on #354
Good news! looks like we are going with `.gitignore`! Should also be sooner rather than later, probably before the end of the next week 🤞

[2022-01-24 20:00] NullVoxPopuli commented on #354
yay!!! :tada: :taco: :partying_face:

[2022-01-24 20:30] jrvidal commented on #447
@six-edge Thanks, we do have a limitation in our browser support that prevents SB from running in Chrome mobile. This issue is in our roadmap so I'll keep this updated with our progress, though I can't offer a concrete timeline.

Thanks!

[2022-01-24 20:49] julietteeasley opened #569 "Unable to Fork File from Angular"
### Describe the bug

Unable to make any changes to the files or fork.
Taken from angular website (https://material.angular.io/cdk/drag-drop/examples#:~:text=Drag%26Drop%20enter-,predicate,-link)

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/cdk-drag-drop-enter-predicate-example.ts

### Steps to reproduce

1. Try and make any changes (wont reload)
2. Try and

[2022-01-24 21:13] jrvidal commented on #569
@julietteeasley Thanks for the report.

The link you provided (https://stackblitz.com/run?file=src/app/cdk-drag-drop-enter-predicate-example.ts) is meant for a POST request, we can't find the project by following it. Could you share the original link you clicked in the Angular tutorial?

[2022-01-24 22:01] julietteeasley commented on #569
Angular just has a button to “edit in stackblitz” with no actual URL. Here’s a link to the part of the page that the link to the example stackblitz is on:  https://material.angular.io/cdk/drag-drop/examples#cdk-drag-drop-enter-predicate

[2022-01-25 01:19] tony19 commented on #536
I think the original issue is resolved, so feel free to close 🎉 !

---

FYI, there seems to be a Vitest UI bug that affects https://vitest.new, where it crashes at startup, and prevents the preview pane from rendering at all:

<img width="936" alt="Screen Shot 2022-01-24 at 6 50 55 PM" src="https://user-images.githubusercontent.com/26580/150889913-33803a5c-4791-434e-bbdc-2bd2d871f461.png">

I'll r

[2022-01-25 05:20] pavankjadda commented on #569
I have the same issue. @jrvidal Is there a way to disable web containers?

[2022-01-25 07:55] jrvidal commented on #536
Interesting, we'll keep an eye on that as well. Thanks!

[2022-01-25 07:55] #536 closed

[2022-01-25 12:23] daniel-sc opened #570 "forking broken"
### Describe the bug

when clicking "fork" the spinner load forever, but nothing happens.

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/breadcrumb-custom-root-example.ts

### Steps to reproduce

1. go to https://stackblitz.com/run?file=src/app/breadcrumb-custom-root-example.ts
2. click "fork"

### Expected behavior

it should create a fork

### Parity with L

[2022-01-25 12:24] daniel-sc commented on #570
probably a duplicate of #569

[2022-01-25 17:11] six-edge commented on #447
Thanks @jrvidal really looking forward to this working 🚀

[2022-01-25 19:08] trentprynn commented on #560
Just chiming in to add that I'm excited for this feature and add a reason it will be super useful to me!

Currently I primarily use stackblitz as a way to share bug reproductions (it's awesome for this, thank you!) and I'm having a problem I'm relatively sure is related node@16 that I cannot reproduce / share this way because stackblitz only currently only supports node@14

[2022-01-26 15:19] LWooler opened #571 "Making a commit produces 2 commits"
### Describe the bug

When I make changes to my app and commit to my linked repo it creates 2 commits. First is the one that has my message and all my changes. Second is a commit that says "3 files modified" and no changes.

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-bmttpz?file=main.js

### Steps to reproduce

1. Make changes to app
2. Save
3. Click commit but

[2022-01-26 20:43] rayfoss commented on #447
@six-edge FIrefox for Android is real firefox... however it also has the same COEP header requirement as Chrome for Android. It should be relatively easy to run an nginx reverse proxy on the tablet in Termux and search and replace all references to stackblitz.io, then inject the COEP headers. I won't have time to try it this week, but I recon it can be done by a skilled hobbyist in an hour-ish.

[2022-01-27 02:50] tony19 commented on #571
Possible duplicate of #318.

Per comment from @HeyGarrison, the issue was fixed (back in Sep 2021), but *still* not in production.

[2022-01-27 03:03] tony19 commented on #386
The latest version of the Astro Blog starter in StackBlitz does not exhibit this problem (however still reproducible in original blitz). No need to investigate. Thanks!

[2022-01-27 03:03] #386 closed

[2022-01-27 11:24] crisbeto commented on #569
I can reproduce it as well. Here's a step-by-step:

1. Go to any page on material.angular.io. I'll use https://material.angular.io/components/button/overview as an example.
2. Press the "Open in Stackblitz" button on any of the examples.
3. Once the project has been set up, press the "Fork" button.
4. Observe how there's a 500 error on the POST request to https://stackblitz.com/api/projects.

For

[2022-01-27 12:42] devversion commented on #569
We figured out what was going on in the Angular Material StackBlitz examples. We are using the StackBlitz SDK and delivered a binary file `favicon.ico` to the StackBlitz endpoint. The example worked as expected in the browser then, but just upon saving/forking, nothing happened and a `Error 500` response appeared (see https://github.com/stackblitz/webcontainer-core/issues/552 for details).

A fix

[2022-01-27 23:48] thomassten opened #572 "Is the save button cosmetic?"
### Describe the bug

I saved and refreshed my browser and my entire project was erased.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-fvegeq

### Steps to reproduce

spend two hours on a tutorial
press the save button on the top left
refresh the page
lose all progress

### Expected behavior

the project would be saved

### Parity with Local

- [ ] I have run th

[2022-01-28 01:16] LWooler commented on #571
Good call, yeah looks like the one you opened is the same issue. I was surprised when I didn't find any one else had reported it, guess I didn't look hard enough.

I'll close this one as duplicate, hopefully the fix gets pushed to production soon!

[2022-01-28 01:16] #571 closed

[2022-01-28 06:13] 3AHAT0P opened #573 "Images stop working after a time"
### Describe the bug

I added image to public folder and it worked (I could fetch image and render).
But to the next day request to this image still pending for a long time.
Link to image https://vitejs-vite-vdvkfp--3000.local.webcontainer.io/assets/terrain.png

P.S. I used github repository, and in github this image haven't binary date, but is just a link
https://github.com/3AHAT0P/vitejs-vite-vd

[2022-01-29 11:03] aum-app opened #576 "﻿ client-a8606f262e6f.js:2 TypeError: Cannot read properties of undefined (reading 'Memory')"
### Describe the bug

![image](https://user-images.githubusercontent.com/29253358/151658498-7efc10e8-dab0-453e-942e-3a6320578fa5.png)

### Link to the blitz that caused the error

https://stackblitz.com/github/remix-run/react-router/tree/main/examples/auth?file=src/App.tsx

### Steps to reproduce

[[![Uploading image.png…]()
[](https://reactrouter.com/docs/en/v6/examples/auth)](https://reactrouter

[2022-01-29 15:16] Akryum commented on #563
@jrvidal I don't see the websockets:

![image](https://user-images.githubusercontent.com/2798204/151666371-adba9cad-415d-445f-aaff-f457a1f5fa44.png)

[2022-01-31 09:28] jrvidal commented on #576
@aum-app Thanks for the report.

My guess is that some extension is blocking the usage of WebAssembly. Can you try in a profile without extensions? (incognito mode might or might not work, since additional restrictions might apply to 3rd party scripts and storage).

Alternatively, you could check the value of `globalThis.WebAssembly.Memory` in the different workers that are spawned.

[2022-01-31 10:11] sevspo opened #577 "Not recompiling on changes of files"
### Describe the bug

The workspace does not react properly to file changes, it does not recompile when you change a component or the template.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-wde8vx?file=src%2Fapp%2Flist-selection-example.html

### Steps to reproduce

1. Add or remove a tag in the template

### Expected behavior

Webpack should recompile the app a

[2022-01-31 13:18] NullVoxPopuli commented on #354
success? @sulco <3

[2022-01-31 14:11] sulco commented on #354
WIP! :)

[2022-02-01 13:32] markwhitfeld commented on #467
This should be resolved now. @pbravichandhar @Splaktar could you confirm that everything is good for you?
I am closing this. Will reopen if there is something that is not fully resolved.

[2022-02-01 13:32] #467 closed

[2022-02-01 13:34] pbravichandhar commented on #467
Okay Will check and let u know !

[2022-02-01 17:18] HeyGarrison commented on #573
Hey @3AHAT0P how did you commit the image to the github repo? It's currently just a text file I think, which is what's causing these issues.

[2022-02-02 05:24] pbravichandhar commented on #467
![image](https://user-images.githubusercontent.com/39514623/152097647-0eb2f72a-db32-4597-8bd4-69dfc0fe2d70.png)

Yes, Working fine @markwhitfeld

Thanks for the update @markwhitfeld

[2022-02-02 07:05] jacob-ebey commented on #82
Could the gitignore be used by default? That would lead to nice clean UX for sample repos and general use-cases. Would be nice to have a "toggle ignored" checkbox or something if you need to inspect build output for debugging.

[2022-02-02 11:09] janat08 opened #579 "Oculus browser support"
### Describe the bug

Oculus browser is unsupported with probably recent chrome

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-5qabjd?file=index.html&terminal=dev

### Steps to reproduce

try svelte vite build in quest 2

### Expected behavior

for no unsupported browser message

### Parity with Local

- [ ] I have run the project in my local machine and I co

[2022-02-02 11:32] 3AHAT0P commented on #573
Hi!
In this commit I add terrain.png throught stackblitz
https://github.com/3AHAT0P/vitejs-vite-vdvkfp/commit/f0234e276a4d8b0e579f2e3b1b277dd5d910f3e4

But in the next commit this binary file was be changet to the file with link
https://github.com/3AHAT0P/vitejs-vite-vdvkfp/commit/e046bf053daa9cee69975dd061876d051017bb8b

I tried to repeat this but throught github ui
https://github.com/3AHAT0P/vit

[2022-02-02 17:08] rayfoss commented on #560
For me it's webcrypto... completely missing in Node 14
[code]

[code]

https://stackblitz.com/edit/koa-starter-wychx9?file=src%2Findex.ts

[2022-02-02 21:28] tony19 opened #580 "Slug editor is missing from Settings"
### Describe the bug

The textfield for the slug is no longer appearing in settings, so the slug cannot be edited (at least it's not obvious how to do that now).

### Link to the blitz that caused the error

https://stackblitz.com/edit/vite-dynamic-imports

### Steps to reproduce

1. Go to Blitz.
2. Open Settings.
3. Observe there is no editor for the slug.

### Expected behavior

The textfield ap

[2022-02-03 20:09] tony19 commented on #580
I see now the slug editor is in a dropdown at the top next to the blitz title:
<img width="384" alt="Screen Shot 2022-02-03 at 2 08 41 PM" src="https://user-images.githubusercontent.com/26580/152420790-e609314c-17e4-46a4-b7be-c7fca067283f.png">

[2022-02-03 20:09] #580 closed

[2022-02-03 20:43] #64 closed

[2022-02-03 20:48] HeyGarrison commented on #118
@Vandivier we adjusted our cache to go off of commit SHA so there might still be some delay, but should ultimately be better now! Thanks for the feedback. ❤️❤️❤️

[2022-02-03 20:48] #118 closed

[2022-02-03 20:52] HeyGarrison commented on #139
@oe I'm having trouble recreating this. We recently updated our auth settings, etc. Is this still an issue for you?

[2022-02-03 21:02] HeyGarrison commented on #143
@marcelschork @d3lm I'm coming back around to this issue and it looks like it might be resolved? Can someone confirm for me?

[2022-02-03 21:05] #177 closed

[2022-02-03 21:09] HeyGarrison commented on #196
@d3lm It looks like we ended up getting in this enhancement? The project seems to run? 🤷

[2022-02-03 21:19] HeyGarrison commented on #222
@deadcoder0904 this looks to be working now. Let me know if for some reason I am mistaken but closing for now. ❤️❤️❤️❤️

[2022-02-03 21:19] #222 closed

[2022-02-03 21:25] HeyGarrison commented on #235
Looks like this is solved now! Thanks for reporting! ❤️ ❤️ ❤️

[2022-02-03 21:25] #235 closed

[2022-02-03 21:27] HeyGarrison commented on #244
❤️ ❤️ ❤️  closing this for now for book keeping purposes :D

[2022-02-03 21:27] #244 closed

[2022-02-03 21:30] HeyGarrison commented on #246
@ShoulM I can't seem to access your project anymore? Could you send another link? Thanks ❤️

[2022-02-03 21:54] jrvidal commented on #434
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-02-03 21:54] #434 closed

[2022-02-03 21:55] jrvidal commented on #432
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-02-03 21:55] #432 closed

[2022-02-04 06:00] ntucker commented on #77
Any ideas for what might be causing it? Is there a way to work around possibly?

[2022-02-04 06:41] deadcoder0904 commented on #222
@HeyGarrison Doesn't work in side-by-side preview. See:

<img width="987" alt="Screenshot 2022-02-04 at 12 10 13 PM" src="https://user-images.githubusercontent.com/16436270/152483895-58fb8050-c0c7-484c-867c-22df5023dc38.png">

But works in New Window. See:

<img width="1440" alt="Screenshot 2022-02-04 at 12 10 42 PM" src="https://user-images.githubusercontent.com/16436270/152483960-3d3d8ec9-5100-4

[2022-02-04 07:59] d3lm commented on #196
Not sure if it's unrelated now to `async_hooks` but that is still unsupported for the time being.

[2022-02-04 10:10] oe commented on #139
Just tried, it seems this bug has been fixed.

I believe it's an issue related to #116

[2022-02-04 10:10] #139 closed

[2022-02-04 16:57] jinkya2 opened #581 "File is not shown in "Files" tab, but can be listed in termial with "ls" command."
### Describe the bug

Initially I created "os.js", then renamed it with "os.mjs", but still both files are listed in terminal if I try to run any command with it,
![image](https://user-images.githubusercontent.com/65954625/152569569-6f70b9aa-300f-4474-9590-f30353aab2e6.png)
.
I dont know why this is happening, please suggest.

### Link to the blitz that caused the error

https://stackblitz.com/edi

[2022-02-04 16:59] jinkya2 commented on #581
My bad, issue resolved after refreshing window.

[2022-02-04 16:59] #581 closed

[2022-02-04 17:29] Pronian commented on #573
I'm experiencing the same issue. Example: https://stackblitz.com/edit/vitejs-vite-bcwbbw?file=src%2FApp.svelte&terminal=dev

What I did:
1. Open https://vite.new/svelte-ts
2. Modify the HTML of App.svelte and save
3. Close the tab
4. Re-open the tab and run `vite` in the terminal
5. Observe the broken image

[2022-02-05 02:30] NullVoxPopuli commented on #354
success? @sulco <3

[2022-02-05 09:36] manucorporat commented on #329
Hi! any update on this, at Builder.io, we use rust to write the qwik compiler. We emit wasm for browser binaries

[2022-02-05 10:24] bjorn3 commented on #329
LLVM requires a decent amount of patches to be able to compile it for WASM. Rustc itself only requires a couple of patches.

[2022-02-05 19:11] sinandersinan opened #583 "Tutorial : Managing Data has a bug"
### Describe the bug

In your documentation it says:

export class ShippingComponent {

  shippingCosts = this.cartService.getShippingPrices();
}

without supporting shippingCosts with type any it is not compiling on stackblitz. So it has to be:

export class ShippingComponent {

  shippingCosts: any = this.cartService.getShippingPrices();
}

### Link to the blitz that caused the error

https://st

[2022-02-05 19:21] sinandersinan commented on #583
My Fault: I didnt return the response of json

[2022-02-05 19:21] #583 closed

[2022-02-06 06:39] dirheimerb opened #584 "slidev entry point error"
### Describe the bug

Loading the template from stackblitz, the dev script fails because it can't determine the entry point from rollupOptions or the html files.

### Link to the blitz that caused the error

https://stackblitz.com/edit/slidev-mmvyvj

### Steps to reproduce

1. Load the template from stackblitz main page

### Expected behavior

Error in the console, stating could not determine entr

[2022-02-06 16:46] amalbenny opened #585 "Preview isn't working in Brave Mobile"
### Describe the bug

Preview isn't supported chromium based browser Brave for mobile.
File: https://stackblitz.com/run?file=src/app/app.component.ts

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/app.component.ts

### Steps to reproduce

1. Use Brave for Android
2. Open file at https://stackblitz.com/run?file=src/app/app.component.ts
3. Click Preview
4. See

[2022-02-07 07:23] SmarakMishra1998 opened #586 "Terminal not working in android"
### Describe the bug

In android tablet the terminal is not opening, so unable to run the nodejs application

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-5coxvq

### Steps to reproduce

Go to stackblitz and open or create a nodejs project in andriod tablets.  There is no terminal found to run.

### Expected behavior

It should allow to run as it is in website

###

[2022-02-07 21:36] MichalBryxi commented on #354
Right now the URL from the issue description (https://stackblitz.com/github/ember-cli/editor-output/tree/stackblitz-app-output?file=package.json) gives me:

[code]

[2022-02-08 12:44] Kohlenbach opened #587 "Sveltekit and PostCSS - Error when evaluating SSR module"
### Describe the bug

I have some errors when importing a private project from github (sveltekit, tailwind, vite ...);
Looks like the bug is something related to the runtime with vite, that don't load the tailwind JIT, or just the postCSS configuration.

### Link to the blitz that caused the error

https://stackblitz.com/edit/sveltejs-kit-template-default-ud2nz4

### Steps to reproduce

1. Run dev

[2022-02-08 16:16] HeyGarrison commented on #524
@aliasgar55 in the interim this StackBlitz might be useful to you: https://stackblitz.com/edit/cra-typescript-qqojjs

I generated a CRA app locally and then uploaded the files. :)

[2022-02-09 10:46] jrvidal commented on #586
Duplicate of https://github.com/stackblitz/webcontainer-core/issues/447

[2022-02-09 10:47] jrvidal commented on #585
Most likely a duplicate of https://github.com/stackblitz/webcontainer-core/issues/447

[2022-02-09 10:47] #585 closed

[2022-02-09 16:21] amalbenny commented on #447
👍🏼 +1

[2022-02-09 17:31] ben21 opened #588 "New file not showing in Next project, but import working nonetheless"
### Describe the bug

Hello,

I created a utils/SupabaseClient.js file, as recommended in the Supabase documentation. I import it in the index.js page, and it works, but the Stackblitz editor show the utils folder as empty, and on Github the utils folder doesn't show at all.

Best regards

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-bxym8z?file=pages%2Findex.js

[2022-02-09 23:29] rayfoss opened #589 "[FR] Support for secret environment variables"
**Is your feature request related to a problem? Please describe:**
Currently there is no way to pass API keys, encryption secrets and passwords to the start process at runtime.

**Describe the solution you'd like:**
- A UI for adding secrets, similar to GitLab, the secrets are not copied in other people's forks.
- Alternatively, a `.env` file that gets loaded as env vars for the `npm start` proces

[2022-02-11 08:54] aliasgar55 commented on #524
Thank you so much 🙂👍

[2022-02-11 18:50] rashidpathiyil opened #590 "Top toolbar not showing on PWA version"
### Describe the bug

### From Browser
![IMG_20220212_001246](https://user-images.githubusercontent.com/15140041/153651110-96905e31-237a-4a21-8084-c808a8595440.jpg)

### From PWA Version
![IMG_20220212_001320](https://user-images.githubusercontent.com/15140041/153651377-23cd96cc-7cd6-4b03-a622-017a2813d825.jpg)

### Link to the blitz that caused the error

https://stackblitz.com/edit/nuxt-starter-

[2022-02-11 18:59] kvjrhall opened #591 "The panel to add a dependency is missing"
### Describe the bug

The turbo package manager is missing from the user interface of an angular-material project after forking from the project's documentation. It is not possible to add additional packages to the derived project.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-xzfzqt

### Steps to reproduce

1. Open project
2. Look at left panel
3. Click through

[2022-02-11 20:32] jrvidal commented on #591
@kvjrhall Thanks for the report. The project you have linked is not one of the classic Angular-based projects, but a WebContainer one, which means it's actually a [full Node application running in your browser](https://blog.stackblitz.com/posts/introducing-webcontainers/).

Instead of the dependency panel, you have access to a terminal where you can add dependencies as you would in a local setup:

[2022-02-11 21:13] HeyGarrison opened #592 "Webcontainer doesn't return 404s"
### Describe the bug

When a user navigates to a link that should return a 404 in webcontainer they get [object Module].

### Link to the blitz that caused the error

https://stackblitz.com/edit/web-platform-a45z6b

### Steps to reproduce

1. navigate to project
2. boot project
3. UI displays [object Module] because we don't display 404.

### Expected behavior

Displays a 404 error of some kind

#

[2022-02-11 22:49] kvjrhall commented on #591
Thank you for the clarification! I suspected it was going to be something
like that. I'm new to the platform and it's not quite foolproof enough for
me yet.

On Fri, 11 Feb 2022, 15:32 Roberto Vidal, ***@***.***> wrote:

[2022-02-12 01:05] amalbenny commented on #585
But im my case only the ' preview' is restricted. Others (edtor tab will work normally) are working well.
![Screenshot_2022-02-12-06-32-56-69_e4424258c8b8649f6e67d283a50a2cbc](https://user-images.githubusercontent.com/77718636/153689864-30ee1ad9-2971-45e0-84d9-8aa7c7ce60a6.jpg)
![Screenshot_2022-02-12-06-32-49-48_e4424258c8b8649f6e67d283a50a2cbc](https://user-images.githubusercontent.com/77718636/

[2022-02-12 04:18] ntucker commented on #54
I'm curious if the problem is finding a solution or the cause? I ask because clearly there are situations where this does work, so I'm wondering how those frameworks work around this. Is this a problem with webpack-dev-server - and using the middleware or turning off watch mode or something might help?

[2022-02-12 09:18] seriousme commented on #54
I just checked: the problem seems to be in the logger:

This works: https://stackblitz.com/edit/http-server-hty4sx

With the only difference with the original being the removal of: `{ logger: true }` from line 2.

The logger is Pino, so the problem can be reduced to (and reproduced by):
[code]
Running this code in stackblitz gives the exact same error as the original Blitz:
[code]

Hope this helps

[2022-02-13 00:46] ntucker commented on #478
In case others stumble in here because they used webpack thread-loader - removing it solved my case of `EBADF: bad file descriptor`. I'm sure there are other possible reasons. Might be helpful to get a longer stack trace or something in these cases.

[2022-02-13 02:46] SageKwun commented on #576
It may cause this problem in Edge browser( I use MacOS so I do not know if it's same in Windows ) that open the feature "Enable security mitigations for a more secure browser experience" even I make "https://stackblitz.com" in the white list.

[2022-02-13 12:55] seriousme commented on #54
Did some more digging:

Pino uses `sonic-boom` to write logs, and that seems to be the source of the issue as:
[code]
gives the exact same error:
[code]

Hope this helps.

[2022-02-13 16:06] seriousme commented on #54
And digging deeper :-)

This code:
[code]

Returns on Linux:
[code]

But on Stackblitz:
[code]
This is where it ends for me and where the StackBlitz experts need to take over ;-)
Workaround is of course to log to file instead ;-)

[2022-02-13 21:05] jrvidal commented on #585
Yep, that's expected. The editor itself is cross-browser, it's the underlying runtime that has platform support limitations. [Our documentation](https://developer.stackblitz.com/docs/platform/browser-support) has a little more detail about it.

[2022-02-14 08:33] #591 closed

[2022-02-15 05:18] SaikrishnaSam opened #593 "Fixed Sidenav Bug Report"
### Describe the bug

When i'm opening fixed side nav in angular material it takes too much time. I thought that there is a network issue but below i noted a bug which is web container is in Beta. That is what now i'm reporting to you Thank You.

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/sidenav-fixed-example.ts

### Steps to reproduce

1) Go to ' https:/

[2022-02-15 08:55] muxiangqiu commented on #196
<img width="1533" alt="image" src="https://user-images.githubusercontent.com/11471925/154026917-5b1eb845-2abe-438e-aa6c-b0ca47bc119d.png">

[2022-02-15 10:26] jrvidal commented on #492
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-02-15 10:26] #492 closed

[2022-02-15 10:26] jrvidal commented on #488
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-02-15 10:26] #488 closed

[2022-02-15 11:23] N19r4 opened #594 "Loading animation"
### Describe the bug

After cloning my github repo, "loading animation" started and it doesn't want to stop. Also, all my files works perfectly.
![image](https://user-images.githubusercontent.com/47775442/154051942-231632f2-f8f7-4dac-8462-79646e728e29.png)

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-soxggq?file=index.html&terminal=dev

### Steps to reprodu

[2022-02-15 14:21] WilmerGuerrero opened #595 "Unable for running npm test in angular"
### Describe the bug

I was trying to run some tests with Karma but it threw an exception in the terminal:

An unhandled exception occurred: ENOENT: no such file or directory, lstat '/home/projects/node-ceo43j/src/styles.css'
See "/tmp/ng-3oYOOa/angular-errors.log" for further details.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-ceo43j?file=src%2Fapp%2Fheroes%2Fh

[2022-02-15 18:13] ghalibansari opened #596 "nestjs start:dev"
### Describe the bug

![image](https://user-images.githubusercontent.com/20482230/154123231-c0234d0c-79f9-4985-8c6a-d85c2a709c29.png)

### Link to the blitz that caused the error

https://stackblitz.com/edit/nestjs-typescript-starter-dpcg5d?file=package.json&terminal=start

### Steps to reproduce

use nestjs project and try to run
npm run start:dev

### Expected behavior

its should run fine

###

[2022-02-15 22:15] jrvidal commented on #596
Duplicate of https://github.com/stackblitz/webcontainer-core/issues/391

[2022-02-15 22:15] #596 closed

[2022-02-18 11:00] d3lm commented on #595
Hi there 👋

The problem is that the `src/styles.css` does indeed not exist, so the error you're seeing is correct. I am closing this issue but feel free to open a new issue if you run into more issues.

[2022-02-18 11:00] #595 closed

[2022-02-18 11:08] d3lm commented on #593
Hey there 👋 This works just fine for me https://stackblitz.com/run?file=src/app/sidenav-fixed-example.ts.

[2022-02-20 22:13] jacksteamdev opened #597 "Error importing JSON to TS file"
### Describe the bug

I get the following error when I import JSON to a TS file:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-4jerhk?file=vite.config.ts

### Steps to reproduce

1. Go to `vite.config.ts`
2. Observe the error :smil

### Expected behavior

No error?

### Parity with Local

- [X] I have run the project in my local machine and I could n

[2022-02-21 02:10] HeyGarrison commented on #588
Hey @ben21! I'm trying to look into this for you, but I'm having trouble reproducing this.

We recently pushed up some updates though that might've fixed this. Could you check to see if this is still a problem?

[2022-02-21 02:30] HeyGarrison commented on #587
@Kohlenbach I'm not exactly sure what is going on here, but here is a project that works: https://stackblitz.com/edit/sveltejs-kit-template-default-e2uxyk?file=package.json&terminal=dev

Does that help resolve this for you? Feel free to fork, etc.

[2022-02-21 02:36] HeyGarrison commented on #584
@dirheimerb thanks for reporting this! Does the project eventually load if you wait long enough? It should still load, but skips the prebundling.

[2022-02-21 02:39] HeyGarrison commented on #494
Could you try running `npm start` or `npm run dev` in the cli? That should trigger what you're looking for.

[2022-02-21 02:42] HeyGarrison commented on #577
@sevspo if you save the file does it reload the screen?

[2022-02-21 02:44] HeyGarrison commented on #572
@thomassten I'm so sorry this happened to you. Any idea how large your project was? Any chance it was larger than 10mb?

[2022-02-21 02:45] #552 closed

[2022-02-21 02:47] HeyGarrison commented on #544
@PapiPeppers I can't seem to access your project? Could you double-check the link or edit and add a new project?

[2022-02-21 02:52] HeyGarrison commented on #570
Closing b/c duplicate of #569

[2022-02-21 02:52] #570 closed

[2022-02-21 03:01] HeyGarrison commented on #569
@devversion thanks for that PR! ❤️

We also pushed a fix for this last week so closing the issue for now. Thanks for all of the comments and repros everyone! 💯

[2022-02-21 03:01] #569 closed

[2022-02-21 03:02] HeyGarrison commented on #529
duplicate of #569 - we just shipped a fix for this too ❤️

[2022-02-21 03:02] #529 closed

[2022-02-21 03:07] HeyGarrison commented on #522
@Raufr1 is this still any issue?

[2022-02-21 03:08] Raufr1 commented on #522
Nope.

Get Outlook for Android

From: Garrison Snelling ***@***.***>
Sent: Sunday, February 20, 2022 10:07:15 PM
To: stackblitz/webcontainer-core ***@***.***>
Cc: Rana Rauf ***@***.***>; Mention ***@***.***>
Subject: Re: [stackblitz/webcontainer-core] Not givin code completion and having radom syntax errors (Issue #522)
 

@Raufr1 is this still any issue?
—
Reply to this email directly,
view it on

[2022-02-21 03:10] HeyGarrison commented on #511
Thanks for reporting @blankey1337! We shipped a fix for this. Feel free to re-open if for some reason you still have an issue. ❤️

[2022-02-21 03:10] #511 closed

[2022-02-21 03:13] HeyGarrison commented on #499
@joelml could you link to you a project that @zuhito could fork by chance?

@zuhito the project you linked to doesn't seem to have any files besides the basic node files. If the problem persists could you link to a new starter?

[2022-02-21 03:15] HeyGarrison commented on #495
Thanks for the feedback @rayfoss ❤️

Closing this as we have some other issues planned you'll be pretty excited about that'll help address this.

[2022-02-21 03:15] #495 closed

[2022-02-21 03:31] HeyGarrison commented on #481
@asakurayohj this is expected behavior as running `postinstall` automatically has some security issues. However, you could create a `.stackblitzrc` to automatically run `npm run postinstall`.

See docs here: https://developer.stackblitz.com/docs/platform/project-config/

Closing for now, but feel free to comment with any questions ❤️

[2022-02-21 03:31] #481 closed

[2022-02-21 03:33] HeyGarrison commented on #476
Hey 👋  @caerus706 - are you still encountering this problem? I'm having a little trouble repro-ing it.

[2022-02-21 03:36] HeyGarrison commented on #471
Thank you all for reporting this! ❤️

We shipped a fix for this recently. Could y'all verify that it's working as you'd expect. :)

[2022-02-21 03:39] HeyGarrison commented on #464
Hey 👋  @suisuyy - I'm having trouble reproducing this. We've shipped a lot of updates to the editor recently though so I'm wondering if we fixed this. Could you see if maybe that's the case? ❤️

[2022-02-21 03:59] HeyGarrison commented on #457
Hey 👋 @BhargavKadali39 - I'm having trouble reproducing this, but it could be because we've deployed a lot of bug fixes as of late. Could you check if this is still an issue for you? ❤️

[2022-02-21 04:00] #451 closed

[2022-02-21 04:07] HeyGarrison commented on #410
Thanks for reporting! This is probably a duplicate of #569 . Feel free to re-open if not. ❤️ ❤️ ❤️

[2022-02-21 04:07] #410 closed

[2022-02-21 04:15] derekbar90 opened #598 "Process Timers Error"
### Describe the bug

When running a node js script that should be waiting for a child process to execute fails to process, fails. During the same execute cycle, other processes pass which makes me feel this could happen when executing multiple child processes. If resolved, an Ethereum development stack would be fully supported within Stackblitz, it currently is able to compile solidity but not te

[2022-02-21 04:18] 1nuraman1 opened #599 "WebContainer is in Beta"
### Describe the bug

Not working!!!

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-ququej?file=src/app/app.component.ts

### Steps to reproduce

![Screenshot (1)](https://user-images.githubusercontent.com/90380466/154888385-bf01c020-99d1-4c77-af7e-1c4cc90bc096.png)

### Expected behavior

Not working

### Parity with Local

- [X] I have run the project in my loc

[2022-02-21 08:32] smdev47 opened #600 "vite not rendering the pages when importing from 'react-router-dom'"
### Describe the bug

React with Vite not rendering "App" contents when trying to import and use
import { Route, Switch } from 'react-router-dom'

after commenting the import statement, it starts rendering fine.

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-s5kjng?file=src%2FApp.jsx&terminal=dev

### Steps to reproduce

go to App.jsx
run the vite server "npm

[2022-02-21 08:44] geromegrignon commented on #599
Hey, I just tested your linked project and it works for me with Chrome Version 98.0.4758.102
I encourage you to check the devtools if there is any error displayed.

[2022-02-21 11:10] #522 closed

[2022-02-21 12:21] haiderali1966 opened #601 "bug"
### Describe the bug

 ng generate component product-alerts
An unhandled exception occurred: Cannot set property global of #<Object> which has only a getter
See "/tmp/ng-zVFV1C/angular-errors.log" for further details.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-3var1u?file=src%2Fapp%2Fproduct-list%2Fproduct-list.component.html

### Steps to reproduce

2

### E

[2022-02-21 14:17] #600 closed

[2022-02-21 15:19] genemars opened #602 "11ty based project fails to start"
### Describe the bug

I tried importing a project from github but it fails with the following error:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/github/zuixjs/zuix-web-starter?terminal=start

### Steps to reproduce

1. enter the reported URL in your browser
2. error is thrown once the `npm start` command is issued

### Expected behavior

After `npm start` is issued

[2022-02-21 16:47] soumi67 commented on #601
same here I dont know why Im having this bug

[2022-02-21 18:26] priyaprao opened #603 "Not able to create component in the terminal"
### Describe the bug

I was following through the steps to create a component (https://angular.io/start) by opening new terminal and it through an error:
~/projects/mr36pi--run
❯ ng generate component product-alerts
An unhandled exception occurred: Cannot set property global of #<Object> which has only a getter
See "/tmp/ng-lYupLT/angular-errors.log" for further details.

### Link to the blitz tha

[2022-02-21 22:01] haiderali1966 commented on #601
Thnx for responding on my thread/bug. Due the bug i could not work further
on stackblitz/webcontainer-core and had to be stopped.

On Monday, February 21, 2022, Salma Naqouri ***@***.***>
wrote:

[2022-02-22 01:35] montysexton opened #604 "Error when attempting to create component in Angular"
### Describe the bug

Error when attempting to create a component in angular.

"ng generate component shipping"

Received error message:  "An unhandled exception occurred:  Cannot set property global of a #<Object> which has only a getter".  See "/tmp/ng-HvFjGL/angular-errors.log" for further details.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-6js12p

### Ste

[2022-02-22 08:50] d3lm commented on #604
Hey! Thanks for reporting this issue. I can confirm that this is a regression that was introduced with one of our latest releases.

[2022-02-22 10:44] jrvidal commented on #602
@genemars Thanks for the report. You project seems to include file dependencies:

[code]

which are not supported by [turbo](https://developer.stackblitz.com/docs/platform/turbo/), our package manager. I'll close this as a duplicate of https://github.com/stackblitz/webcontainer-core/issues/107, where we tracking progress of this feature.

[2022-02-22 11:39] EnzoVonkunoschy opened #605 "Server doesn't respond to the new .html file"
### Describe the bug

I create a /public/index.html page to replace the default page, but, nothing happend.

### Link to the blitz that caused the error

https://stackblitz.com/edit/json-server-puofvz?file=public%2Findex.html

### Steps to reproduce

1. I don't know because is my first node server on this platform.

### Expected behavior

I expected "Hola Mundo"

### Parity with Local

- [ ] I hav

[2022-02-22 12:37] iuliaAndreea07 opened #606 "I am trying to follow the Angular Introduction with the Getting started project"
### Describe the bug

Unable to create new component

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-drn9te-iihnis?file=tsconfig.json

### Steps to reproduce

1. Open new console
2. Type command: `ng generate component product-alerts`
3. An error is thrown:

Full error can be seen in the logs:

[code]

### Expected behavior

New folder with:
product-alerts.compone

[2022-02-22 12:46] genemars commented on #602
That was unintentionally pushed on a recent commit, but it's fixed now with the published package name, and the error is still there.
As you can see, it's related to some StackBlitz script unable to resolve `sync-request` dependency from `eleventy` package.

`** at Function.Module._resolveFilename (https://vbwipwyzo--github.w.staticblitz.com/blitz.d64d45524a435df425e7813603b52872ecfbe08e.js:6:1882

[2022-02-22 12:51] jrvidal commented on #602
I can't run the blitz above on my local machine:
[code]

[2022-02-22 13:05] genemars commented on #602
@jrvidal I am now trying downgrading `sync-request` that it's used in `zuix-cli` package, and see if this works.
I downgraded to `5.0.0` and now the error stacktrace is back to the original one I posted here:

[code]

I will go down to `4.x` and see what happen.

[2022-02-22 13:20] genemars commented on #602
@jrvidal downgrading `sync-request` to `4.0.3` in `zuix-cli` did the trick, it's up and running now.
Thanks.

[2022-02-22 13:40] #602 closed

[2022-02-22 13:50] montysexton commented on #604
Thanks for the quick response!  Glad I could help.  Stackblitz is a great
tool especially for when running exercises on angular io.

Respectfully

On Tue, Feb 22, 2022, 3:50 AM Dominic Elm ***@***.***> wrote:

[2022-02-22 13:54] soumi67 commented on #601
well I skipped this step and I am now using vs editor

[2022-02-22 14:05] Quinn135 opened #607 "Vite wont start on chromebook."
### Describe the bug

I'm not completely sure if my chromebook is just not powerful enough, but when I run vite, it runs the vite command, and it doesn't do anything. On my larger desktop, it runs fine.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-zqkwn9

### Steps to reproduce

1. Setup a Vite project
2. Run Vite

### Expected behavior

I expected for vite to sta

[2022-02-22 14:20] Quinn135 commented on #607
This also happens with build and preview shown here:
![image](https://user-images.githubusercontent.com/59322843/155150897-eedfa2bb-a15e-4a3a-a3e5-9fdc84e468fc.png)
![image](https://user-images.githubusercontent.com/59322843/155151044-6915b5fe-9485-4b2e-a6a2-b72ed30c0a64.png)

[2022-02-22 15:15] jrvidal commented on #607
@Quinn135 Thanks for the report. Are there any suspicious messages on the devtools console?

[2022-02-22 15:16] jrvidal commented on #601
Duplicate of https://github.com/stackblitz/webcontainer-core/issues/604

[2022-02-22 15:16] #601 closed

[2022-02-22 15:16] jrvidal commented on #606
Duplicate of https://github.com/stackblitz/webcontainer-core/issues/604

[2022-02-22 15:16] jrvidal commented on #603
Duplicate of https://github.com/stackblitz/webcontainer-core/issues/604

[2022-02-22 15:16] #603 closed

[2022-02-22 17:33] sagarboss opened #608 "Live Reloading not working properly"
### Describe the bug

Live Reloading not working properly. Every time we have to reload the screen and after the screen reload it works for few changes and again it stops and again we have to reload the screen.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-pnexbb?file=src%2Fapp%2Fcdk-drag-drop-connected-sorting-example.html

### Steps to reproduce

1. Do some ch

[2022-02-23 00:26] Quinn135 commented on #607
Sadly, I can't replicate it on any other device, and my chromebook has dev tools disabled...

[2022-02-23 09:13] d3lm commented on #599
Hey there! Please provide more information and a clear list of steps to reproduce.

[2022-02-23 12:53] Quinn135 commented on #607
It is pretty easy to replicate with a new react ts vite project (On my chromebook). Chance it could be just because of react ts...

[2022-02-23 16:23] vafgus opened #609 "Error executing command "ng generate component product-alert""
### Describe the bug

Message Error: An unhandled exception occurred: Cannot set property global of #<Object> which has only a getter
See "/tmp/ng-HB3xaS/angular-errors.log" for further details.

Log: ==> /tmp/ng-HB3xaS/angular-errors.log <==
    at Script.runInContext (https://zydcpr--run.w.staticblitz.com/blitz.60eafec8d3c353b6b62cb733670ec59f842c88b1.js:6:336277)
    at Script.runInNewContext (

[2022-02-23 19:58] kasdega opened #610 "ng generate component gives error"
### Describe the bug

~/projects/angular-quymjb
❯ ng generate component product-alerts
An unhandled exception occurred: Cannot set property global of #<Object> which has only a getter
See "/tmp/ng-WOUxOl/angular-errors.log" for further details.

~/projects/angular-quymjb
❯ ng generate component product-details
An unhandled exception occurred: Cannot set property global of #<Object> which has only

[2022-02-23 20:44] sevspo commented on #577
@HeyGarrison no, it does not.

[2022-02-23 20:56] HeyGarrison commented on #577
@sevspo if you save the project does it recompile? That's what I'm seeing currently

[2022-02-23 22:54] markwhitfeld commented on #470
Hi @JordanRickman
I had a look at your project, and found that if I comment out the `coverageProvider: 'v8',` line in the config then everything works great again. I will raise this with the team to see if there is perhaps an underlying issue that needs to be addressed, but the `v8` setting is in experimental according to the jest [docs](https://jestjs.io/docs/configuration#coverageprovider-string

[2022-02-24 05:48] suisuyy commented on #464
@HeyGarrison
thanks reply.
i found this bug only exist after  the project is connected to a github repo.
it works normally without connecting  git repo

[2022-02-24 06:41] suisuyy commented on #464
i have recode a short video , you can see i have remove all  code  and saved in script.js and then reload page ,but the code that has been deleted  comeback in the video:
https://mega.nz/file/IuR23DhI#-nT_pUXvBjGYzklVe5xepsbJsnZjRQ8ZSig7hXagZzM

[2022-02-24 07:50] d3lm commented on #604
This issue has been fixed and deployed.

[2022-02-24 07:50] #604 closed

[2022-02-24 07:51] d3lm commented on #365
This has been fixed and deployed.

Example: https://stackblitz.com/edit/node-9pp1kp.

[2022-02-24 07:51] #365 closed

[2022-02-24 07:54] d3lm commented on #577
I can't really reproduce it. The preview reloads each time I change something.

[2022-02-24 07:57] d3lm commented on #470
Hey there! V8's code coverage is not supported in WebContainer as of right now. Changing it to `babel` should fix it.

[2022-02-24 07:58] d3lm commented on #610
Duplicate of #604

[2022-02-24 07:58] #610 closed

[2022-02-24 07:58] d3lm commented on #609
Duplicate of #604

[2022-02-24 07:58] #609 closed

[2022-02-24 08:00] d3lm commented on #584
@dirheimerb Did you try running this project on local? Does it give the same error?

[2022-02-24 12:43] geromegrignon commented on #608
Hey I reproduced it on another project: https://stackblitz.com/edit/angular-esdqz5?file=src%2Fapp%2Fhero-list%2Fhero-list.component.html

It happened 3 times within 1 hour. At some point, changes don't trigger the live reloading anymore

[2022-02-24 19:01] strutt3r opened #611 "Preview URL does not update"
### Describe the bug

Hi, I am working through the Adding Navigation section of the tutorial. I was expecting to see the URL update with the routing, but

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-cbuocb?file=src%2Fapp%2Fproduct-details%2Fproduct-details.component.html

### Steps to reproduce

In the first image you can see the preview URL that just shows "ht

[2022-02-25 12:16] d3lm commented on #608
Oh interesting. That stack trace looks like something is breaking on the editor side.

CC @ggdaltoso @jrvidal @SamVerschueren

[2022-02-25 12:48] SamVerschueren commented on #608
That error from @geromegrignon does seem to come from the underlying completion provider. So it is triggered when something gets auto-completed in the editor 🤔 . Any idea how I can reproduce this every single time? That might make debugging a lot easier.

[2022-02-26 04:39] rayfoss commented on #589
duplicate of https://github.com/stackblitz/core/issues/1492

[2022-02-26 04:39] #589 closed

[2022-02-26 05:46] supercoder123 opened #612 "How to use postman for network requests for node webcontainers"
### Describe the bug

I just tried a simple express js project and made one test API, it works fine in the browser but when I use some API client like postman it returns some weird values. Is there any way to get the proper response.

### Link to the blitz that caused the error

https://stackblitz.com/edit/express-simple-n4yjqi?file=backend%2Fserver.js

### Steps to reproduce

1. Just try to hit t

[2022-02-26 13:27] Sohail-TopG opened #613 "project was not pushing master branch"
### Describe the bug

whenever i m opening project, data is not pushing to master branch. it just looking like loading but nothing I happening from 1 hour!

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-pytzsd

### Steps to reproduce

1.open project
2. master branch is not saving

### Expected behavior

project should push to master branch

### Parity with Local

-

[2022-02-26 23:16] jrvidal commented on #612
Unfortunately that cannot work at the moment. Our networking layer cannot really open ports on your machine, the browser does not allow that. The URL you are trying to hit will only work from within the browser you are running WebContainer on.

We do take note of the fact that something like Postman can be useful when developing APIs though.

[2022-02-26 23:16] #612 closed

[2022-02-27 02:13] Pyrolistical opened #614 "es modules not working with jest"
### Describe the bug

According to #6 es modules works, but it doesn't work with jest.

### Link to the blitz that caused the error

https://stackblitz.com/github/Pyrolistical/stackblitz-jest-modules

### Steps to reproduce

1. run `npm test`

fails with
[code]

### Expected behavior

I rewrote everything to use commonjs it and it does work: https://stackblitz.com/github/Pyrolistical/stackblitz-je

[2022-02-27 18:31] arielrobaldo opened #615 "Broken routing?"
### Describe the bug

Injecting a second dependency in ProductDetailsComponent constructor makes ruotes not working

Maybe a step is missing in the tutorial when injecting this second dependency?

Thank you and best regards
Ariel

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-cqrdxj?file=src%2Fapp%2Fproduct-details%2Fproduct-details.component.ts

### Steps to rep

[2022-03-02 13:02] sulco opened #617 "Localservice runtime script prevents `<!DOCTYPE>` declaration"
### Describe the bug

The WebContainers add the localservice runtime script invalidates the <!DOCTYPE> declaration – unless the <!DOCTYPE> is the first declaration in an HTML document, browsers go into Quirks Mode which can result in unexpected issues, e.g. with styling.

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-wday1d

### Steps to reproduce

1. Open the ren

[2022-03-04 11:23] sandeepsauravdas opened #618 "Images don't load for example - Interpolation"
### Describe the bug

Followed the link [here](https://angular.io/generated/live-examples/interpolation/stackblitz.html), for an example for Interpolation from [Angular.io](https://angular.io/guide/interpolation) site.
![image_2022-03-04_155903](https://user-images.githubusercontent.com/97944427/156746733-25b9dbe4-8c2b-4adf-8a53-19ca90e00545.png)

### Link to the blitz that caused the error

https

[2022-03-04 14:20] jrvidal commented on #618
@sandeepsauravdas Thanks for the report

Can you try to confirm whether the problem appears locally or not?

[2022-03-04 14:26] sandeepsauravdas commented on #618
Indeed, the issue replicated on the local. However, I figured out the fix. The *.png files, provided for the visuals, are actually corrupt.

Tried out with other sets of *.png files and the issue was sorted out.

You might wanna remove those image files there and replace them. That should do it.

PS : I only just checked them a while ago. And, thanks for getting in touch swiftly.

[2022-03-04 14:28] #618 closed

[2022-03-04 14:54] rayfoss commented on #607
I suspect you're having issues with a domain policy restricting your use of the browser. Stackblitz is demanding less than two gigs of ram to run your sandbox. I can fire `npm run dev` without issues.

[2022-03-05 11:36] dragN-TheGodLike opened #619 "Why is it always booting the container?"
### Describe the bug

Why is it always booting the container? please help me

### Link to the blitz that caused the error

https://stackblitz.com/edit/nacrozbot

### Steps to reproduce

nothing new happens when i type a command in the terminal

### Expected behavior

it would be something like replit:

![image](https://user-images.githubusercontent.com/95991775/156881282-1bc7a5e8-6ac4-4dce-8bf4-ad

[2022-03-07 08:03] jrvidal commented on #619
@dragN-TheGodLike Thanks for the report.

It's not, the check icon indicates that booting did finish.

OK, so typing, say, `ls` doesn't print anything? Can you show us some screenshots of the terminal? What about the devtools console, is there anything fishy showing up?

[2022-03-07 23:28] HeyGarrison commented on #82
We recently shipped this so closing the issue! ❤️

[2022-03-07 23:28] #82 closed

[2022-03-08 09:11] mehulpatilui opened #620 "Bug Report"
### Describe the bug

Something broken? `<button>File a bug</button>`

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/snack-bar-position-example.ts

### Steps to reproduce

go to angular material component.
Click on snackbar.
Open in stackblitz.

### Expected behavior

run project in stackblitz at port 4200

### Parity with Local

- [X] I have run the project

[2022-03-08 10:14] jrvidal commented on #620
@mehulpatilui Thanks for the report. The link you provided is not really actionable (it's supposed to create a project through a POST request). Could you provide the link you original clicked in the Angular tutorial?

[2022-03-09 02:52] MarkSky opened #621 "Booting WebContainer is Blocked in Microsoft Edge"
### Describe the bug

Booting WebContainer doesn't work on Microsoft Edge (99.0.1150.36 64bit).
I found some websites are blocked by Browse safer with Microsoft Edge:

- [*.]stackblitz.com
- [*.]staticblitz.com
- [*.]stackblitz.io
- [*.]webcontainer.io

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-kqtflp?file=package.json

### Steps to reproduce

1. Open edi

[2022-03-09 05:19] fletchertyler914 opened #622 "Starting the stackblitz fails with "Preprocessor dependency "sass" not found. Did you install it?""
### Describe the bug

When selecting "Open in stackblitz" on the "Portfolio" template on https://astro.new/, it leads you to a repo with a broken build. It gets a 500 (Internal Service) error, with the error:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/github/withastro/astro/tree/latest/examples/portfolio?file=package.json&on=stackblitz

### Steps to reproduce

1.

[2022-03-09 05:20] #622 closed

[2022-03-09 08:44] jrvidal commented on #621
@MarkSky Thanks for the report. Yes, if your browser blocks third-party resources, WebContainer will not work. This is described in [our documentation](https://developer.stackblitz.com/docs/platform/third-party-blocker).

Did you get an error message in the side pane? Or did it just get stuck?

[2022-03-09 08:50] MarkSky commented on #621
Yes, there is a message: "Failed to boot WebContainer".
![螢幕擷取畫面 2022-03-09 164752](https://user-images.githubusercontent.com/4032734/157405754-df66bfd5-7055-4c93-b321-f3a0433af00f.jpg)

And in DevTools:
[code]

[2022-03-09 09:03] jrvidal commented on #621
Ah, this is interesting. This might be related to https://github.com/stackblitz/webcontainer-core/issues/576. For some reason, the `WebAssembly` global is not defined. I think this might also be related: https://github.com/microsoft/vscode/issues/137704. Could you try the instructions there?

[2022-03-10 01:21] MarkSky commented on #621
Yes, after I add the websites to the enhanced security list, it work.

[2022-03-10 09:20] francescogiunta opened #623 "freezing"
### Describe the bug

after fiew seconds inactivity, the project do not refresh automatically

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-8lxum1-twoenr?devtoolsheight=33&file=src%2Fapp%2Fform-field-prefix-suffix-example.css

### Steps to reproduce

just whaiting some time....

### Expected behavior

updating broowser view even if the project is not touched for

[2022-03-10 09:38] #621 closed

[2022-03-10 14:15] #619 closed

[2022-03-10 20:39] mpine625 opened #624 "there are some missing modules in the package.json file"
### Describe the bug

there are some missing modules in the package.json file - material-moment-adaptor and moment are missing

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src%2Fapp%2Fdatepicker-locale-example.ts

### Steps to reproduce

ng serve and the build fails

### Expected behavior

should succeed building and serving

### Parity with Local

- [ ] I have run

[2022-03-10 22:17] jrvidal commented on #624
@mpine625 Thanks for the report. The link you provided is not actionable (it creates a project through a POST request). Could you please provide the link you clicked originally?

[2022-03-11 04:33] frankandrobot opened #626 "lerna/yarn workspaces do not install with turbo"
### Describe the bug

I have a small monorepo that primarily uses yarn workspaces (it just uses lerna to figure out what's changed---basically, just in the publish step to bump versions correctly).

Unfortunately, running `turbo install` gives the following error:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-p8pbnb?file=package.json

### Steps to reprodu

[2022-03-11 12:27] miscany opened #627 "Images"
### Describe the bug

Do images work yet in stackblitz? Because mine refuse to load. I really like this onlien code editor, but I'm probably going to have to start using another one.
Let me know.

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-12yj1g?file=pages%2Findex.js

### Steps to reproduce

d

### Expected behavior

d

### Parity with Local

- [ ] I have run

[2022-03-11 13:41] jrvidal commented on #627
@miscany Thanks for the report. Which images are not loading, specifically? Can you elaborate a bit more on the steps to reproduce?

[2022-03-11 13:42] #576 closed

[2022-03-11 13:46] jrvidal commented on #264
@mfbx9da4 Can you still observe this issue?

[2022-03-11 13:51] jrvidal commented on #400
FWIW I use Chromium on Ubuntu.

Are you still affected by this issue?

[2022-03-11 13:55] jrvidal commented on #413
@firekoala Are you still affected by this issue?

[2022-03-11 13:56] jrvidal commented on #428
@Samo1501 Are you still affected by this issue?

[2022-03-11 14:14] jrvidal commented on #255
@sgoguen Hey, sorry about taking forever :sweat: Are you still affected by this issue? I can't reproduce it on my end.

[2022-03-11 14:15] jrvidal commented on #260
Can you elaborate exactly on what the use case for this is? Depending on your answer we could have a no-op `cache` command or maybe consider interacting with the turbo cache.

[2022-03-11 14:25] jrvidal commented on #267
@tony19 It's been quite a while :sweat_smile: I can't reproduce on my end, I get `Unknown command test:unit` instead. Seems like `@vue/cli` has changed in the meantime?

Anyway, are you still affected by this issue?

[2022-03-11 14:27] jrvidal commented on #304
@jonassunandar I can't reproduce on my end. Are you still affected by this issue?

[2022-03-11 14:29] jrvidal commented on #320
@andreas-kater The "Open in New Window" is meant to open the _preview pane_ and the blitz you provided does not actually run any server. Could that be the issue you were experiencing?

[2022-03-11 14:32] jrvidal commented on #334
@PaulSenon Thanks for the report, this does sound tricky to reproduce. Have you continued to observe it (semi-)consistently?

[2022-03-11 15:20] BenRacicot opened #628 "NGCC issue"
### Describe the bug

This setup is an exact replication of my actual Angular app's drag and drop setup but breaks when including the CDK's CdkVirtualScrollViewport.

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-6mmern-qdcrei?file=src%2Fapp%2Fcdk-drag-drop-connected-sorting-example.ts

### Steps to reproduce

Build the blitz

### Expected behavior

The a

[2022-03-12 05:04] sgoguen commented on #255
@jrvidal - This issue appears to have been resolved.  Thank you!

[2022-03-12 05:04] #255 closed

[2022-03-12 13:49] jrvidal commented on #628
@BenRacicot Thanks for the report.

I can actually reproduce the error locally, so this is probably an issue with the tutorial itself that should be reported in https://github.com/angular/angular/issues

[2022-03-12 13:49] #628 closed

[2022-03-12 23:05] tony19 commented on #267
I also cannot reproduce it. Although running `npm run test:unit` results in `Error: spawn find ENOENT`, which is a duplicate of #266.

[2022-03-12 23:05] #267 closed

[2022-03-13 13:43] uttambarthakur opened #629 "not showing autocomplete for tailwind classes"
### Describe the bug

Like for other classes, tailwind classes are not showing up in the editor in the auto complete drop downlist

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-w7gnf2?file=pages%2Findex.js

### Steps to reproduce

1. set up the environment for Next js tailwindcss
2. For any html element use the className attribute and type any initial letter of a

[2022-03-14 09:51] jrvidal commented on #509
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-03-14 09:51] #509 closed

[2022-03-14 09:51] jrvidal commented on #533
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-03-14 09:51] #533 closed

[2022-03-14 09:52] jrvidal commented on #534
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-03-14 10:16] ShahOdin opened #630 "getting dependency error on node project"
I have a simple project which uses [newman](https://github.com/postmanlabs/newman#using-newman-as-a-library). Here is the blitz: https://stackblitz.com/edit/node-pjszsj?file=index.js

This is the dependency:

[code]

The idea is for it to run a postman collection and present the results on the screen.

when I run the project however with `node index.js` I get:

    at print.print (/home/projects/n

[2022-03-14 13:53] jrvidal commented on #257
@Suryaprakash1024 Sorry it took so long, but I think this is no longer an issue. Feel free to file a new one if you find something else off.

[2022-03-14 13:54] jrvidal commented on #263
Duplicate of #195

[2022-03-14 13:54] #263 closed

[2022-03-14 14:28] jrvidal commented on #321
I'm closing this in favor of https://github.com/stackblitz/webcontainer-core/issues/391 :pray:

[2022-03-14 14:28] #321 closed

[2022-03-14 14:38] jrvidal commented on #378
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-03-14 14:50] jrvidal commented on #384
See https://github.com/stackblitz/webcontainer-core/issues/377

[2022-03-14 14:50] #384 closed

[2022-03-14 14:51] jrvidal commented on #385
@EfstathiadisD The link you provided is down. Do you still observe this issue?

[2022-03-14 14:51] jrvidal commented on #388
See https://github.com/stackblitz/webcontainer-core/issues/377

[2022-03-14 14:51] #388 closed

[2022-03-14 14:52] jrvidal commented on #393
@anlachel This was, most likely, an error in the tutorial code. Do you still observe this issue?

[2022-03-14 14:54] #401 closed

[2022-03-14 15:04] #450 closed

[2022-03-14 17:10] yalunqin opened #631 "WebContainer is significantly slower than non-WebContainer"
### Describe the bug

I don't know when Stackblitz started using WebContainer. In the past when I made some code changes it would almost instantly be reflected in the browser (1s at most). Now it always re-downloads and re-installs the dependencies every time I make code changes which always takes >5s.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-n2xjyr?file=sr

[2022-03-15 09:40] tomasreichmann opened #632 "Sometimes the NextJS run command hangs"
### Describe the bug

Sometimes when I load an existing project or even in the middle of development when running a start command the command executes sucessfully, but the port does not show up in Ports menu and the preview shows the start command as not finished.
When I fork the repo, the problem goes away.
<img width="908" alt="image" src="https://user-images.githubusercontent.com/10447001/15834

[2022-03-15 14:37] JNussenzveig opened #633 "Cannot initialize prisma via Terminal"
### Describe the bug

Hi!

I'm currently using the NextJS fork, but when I tried to initialize prisma (npx prisma init), it errors out the following:
`~/projects/nextjs-pzff2x
❯ npx prisma init

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-pzff2x?view=preview

### Steps to reproduce

1. `npm install prisma @prisma/client`
2. `npx prisma init`

### Expected behavi

[2022-03-15 14:53] jrvidal commented on #633
@JNussenzveig Thanks for the report. The download fails due to CORS restrictions, which we cannot do much about at the moment.

However, even if it worked, it's worth noting that prisma won't work anyway, since it relies on native binaries that WebContainer cannot run.

[2022-03-15 15:07] JNussenzveig commented on #633
@Roberto, got it! Thanks for the explanation. Is there any other
alternatives or something like that?

On Tue, 15 Mar 2022 at 11:54 Roberto Vidal ***@***.***> wrote:

[2022-03-16 15:13] NullVoxPopuli commented on #354
Today, I get this error:
[code]

[2022-03-18 05:41] 28081998 opened #634 "Notify Button Will Not Display"
### Describe the bug

Angular Getting Started In Products Alert Component Notify Button Will not Display.Pass Data To A Child Component Is Not Working

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-15hdz1?file=src%2Fapp%2Fproduct-alerts%2Fproduct-alerts.component.html

### Steps to reproduce

product-alert-component.html
product-list-component.html

### Expected

[2022-03-18 12:30] ThomasBurleson opened #635 "Vite not provided named exports from history.js"
### Describe the bug

<img width="1382" alt="image" src="https://user-images.githubusercontent.com/210413/159003088-0ad7a559-735c-487d-a875-94a7585051db.png">

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-2xmcr8?file=package.json

### Steps to reproduce

I have include the npm package history@5.3.0.
The editor shows the History interfaces for:

#### `src/hooks/us

[2022-03-18 23:06] pflegende opened #636 "Where is the index content shown?"
### Describe the bug

why does the server-snippet doesnt know the index.html?

is only THIS folder available.
Why does it not tuch the file for spreading the word?

### Link to the blitz that caused the error

https://stackblitz.com/edit/http-server-egur84?file=README.md

### Steps to reproduce

1. copy the server.js `cp server.js server2.js`
2. changing the message inside the serverscript to "tac

[2022-03-19 02:35] Seanmclem opened #637 "Unspecified web container support for mobile Chrome or not"
### Describe the bug

It seems pretty clear that by default Chromium is mainly the supported browser for web containers. However the official doc for browser support makes no mention though if mobile Chrome is supported or not. The link was provided on an error message about my unsupported browser for web containers on mobile Chrome, but the link doesn't mention if mobile chrome is specifically su

[2022-03-19 09:17] jrvidal commented on #635
@ThomasBurleson Thanks for the report.

This does not seem to be a WebContainer problem, as I could reproduce it locally.

[2022-03-19 09:17] #635 closed

[2022-03-19 09:21] jrvidal commented on #636
@pflegende Thanks for the report. This is not an actual WebContainer issue, though, as it behaves exactly as Node.js would.

[2022-03-19 09:21] #636 closed

[2022-03-19 14:14] pflegende commented on #636
thx,
so we will climb in a weekend course for the node.ja learning curve
;)

So, if you have some hint for 1st steps to see our lovely index.html on screen, dont hesistate to write a secret note ...

;)

[2022-03-20 04:10] rogadev opened #638 "Not rendering the same as in local development environment"
### Describe the bug

In my own local development environment I am getting past the "loading..." screen. However, in stackblitz, the loading screen never goes away.

I suspect it may have something to do with the Vue 3 `<Suspense>` API. In stackblitz, it doesn't seem to register that async behaviors have resolved, and therefore just shows the loading element forever.

### Link to the blitz that ca

[2022-03-20 08:08] jrvidal commented on #638
@rogadev Thanks for the report. I downloaded the project and got the same error on local. I suspect you might have some file missing in your stackblitz project:
[code]

[2022-03-20 18:15] rogadev commented on #638
That's very peculiar. I had the same project running on 2 different machines and it was (for the most part) working fine. I did put in some work since submitting the report, so I wonder if this was a new error I introduced somewhere along the line.

I was, in the end, having an issue with committing reactive objects to my store. I have since fixed the issue and I just retried uploading the same re

[2022-03-20 20:18] msgeissler opened #639 "SvelteKit template - TODOs not working"
### Describe the bug

Using the default SvelteKit template I am unable to create TODOs.

After entering a TODO text and hitting enter, it disappears (the form is being reset, that is ok) but nothing more happens.

Unless something else is buggy, I believe this is due to missing cookies.
`cookies` in `hooks.js`  is always empty, no request/response seems to be able to actually set the `userid`. The

[2022-03-21 01:39] HeyGarrison commented on #638
<img width="1021" alt="Screen Shot 2022-03-20 at 8 39 20 PM" src="https://user-images.githubusercontent.com/5100597/159195600-8b6a1f4d-5b04-4eee-b518-4a83b23ce824.png">

This is working for me now. @rogadev looks like you might've figured this out?

[2022-03-21 01:51] HeyGarrison opened #640 "npx create-remix returns errror"
### Describe the bug

If you create a new node project (node.new) and run the command "npx create-remix@latest" it'll return an error.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-up6dmy?file=.stackblitzrc

### Steps to reproduce

1. https://node.new
2. Navigate to terminal
3. run `npx create-remix@latest`
4. observer error

### Expected behavior

To successfully

[2022-03-21 08:15] jrvidal commented on #639
@msgeissler Thanks for the report.

I have run your project in Stackblitz and locally and in both cases I get:
[code]

This does not seem like a WebContainer issue.

[2022-03-21 08:37] msgeissler commented on #639
Hi @jrvidal,

thanks for the feedback.
As a quick note: this is not really "my project" (which is also the reason I did not try it locally). It is the default svelte (/sveltekit) demo linked on the stackblitz main homepage and I just wanted to have quick look at how it worked and have no intention on actually running it locally and installing all the dependencies for it. Because it is the provided

[2022-03-21 08:51] jrvidal commented on #639
It is weird indeed, I noticed now that this extraneous text was there. We might have some other backend issue intermixed.

I see now what you mean, this does look like a bug on our side :pray:

[2022-03-21 18:17] SteveALee opened #641 "GitHub pull crashes with 'alert is not defined' popup"
### Describe the bug

I've hit a problem with the GitHub integration when I pull having added a file to the repo. I just get an "alert is not defined" error. And the new file does NOT appear in the file list.

Is there a way to get some visibility on the problem?

### Link to the blitz that caused the error

https://stackblitz.com/edit/opendir-audio-test

### Steps to reproduce

1. create project

[2022-03-21 18:20] SteveALee commented on #641
I just tried dragging the same file to the SB UI but it says I need to upgrade. Not an issue as GitHub pull is fine.

[2022-03-21 18:33] SteveALee commented on #641
Just a thought, the added file is a small .wav so not text. Just in case binary is a weird issue. Is need for use in WebAudio file (metronome.js)

[2022-03-21 20:43] anilkk opened #642 "Not able fetch API endpoint request"
### Describe the bug

I have used axios to gte the data from Lokalise API end points and  I get the
`ERROR ----> Error: socket hang up
    at connResetException (https://nextjs-ctyzc2.w.staticblitz.com/blitz.6495216afc69f31e3592b868d6f1407d8619435d.js:6:6855)
    at TLSSocket.socketOnEnd (https://nextjs-ctyzc2.w.staticblitz.com/blitz.6495216afc69f31e3592b868d6f1407d8619435d.js:6:910485)
    at TLS

[2022-03-22 08:02] jrvidal commented on #642
@anilkk Thanks for the report. This is most likely due to a CORS error, which we cannot work around given the security model of the browser.

[2022-03-22 10:42] JonnyBurger opened #643 "a command can only contain words and redirects for `#! /usr/bin/env node` scripts"
### Describe the bug

When running the template repository linked below, and running `npm start`, the following error occurs:

[code]

The "start" script inside `package.json` defines the following script:
[code]

When running:

[code]

everything works fine (amazing!)

This is the `.bin/remotion` script:

[code]

We might be able to change the script to fix it.
I think the bug is on Stackblitz's

[2022-03-22 11:05] SteveALee commented on #641
Now, when I revisit the page the throbber (spinner) next to the git hub branch just spins forever

[2022-03-23 10:27] jrvidal commented on #642
No problem :+1:  I'm going to close this for the time being. We do keep the CORS issue in our minds and StackBlitz might change in the future to unblock more use cases, but there is nothing immediately actionable.

[2022-03-23 10:27] #642 closed

[2022-03-24 13:45] ElMassimo commented on #433
Running into a different error that prevents connecting to GitHub:

<img width="1062" alt="Screen Shot 2022-03-24 at 10 44 57" src="https://user-images.githubusercontent.com/1158253/159929693-939e682a-87f7-45e9-a520-080ee0670a0f.png">

[code]

[2022-03-24 13:49] ElMassimo commented on #303
Running into the same error even though the repo does have a `master` branch:

<img width="1062" alt="Screen Shot 2022-03-24 at 10 44 57" src="https://user-images.githubusercontent.com/1158253/159929693-939e682a-87f7-45e9-a520-080ee0670a0f.png">

[code]

[2022-03-24 20:59] kevlarpar opened #646 "Failed to boot web container"
### Describe the bug

failed to boot web container after fork.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-9jhtrs?file=src%2Fapp%2Fapp.module.ts

### Steps to reproduce

fork project

### Expected behavior

project loads

### Parity with Local

- [X] I have [run the project in my local machine](https://github.com/stackblitz/webcontainer-core/blob/main/repro.md

[2022-03-24 21:00] kevlarpar opened #647 "App gets stuck on installing dependencies"
### Describe the bug

app gets stuck on installing dependencies

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-9jhtrs?file=src%2Fapp%2Fapp.module.ts

### Steps to reproduce

Fork app

### Expected behavior

App loads

### Parity with Local

- [X] I have [run the project in my local machine](https://github.com/stackblitz/webcontainer-core/blob/main/repro.md#try-lo

[2022-03-25 10:22] SteveALee opened #649 "Should ports in use icon show a notification?"
### Describe the bug

The "ports in use" icon alway has a notification. There appears to be no way to clear it.

Arguably the default port allocation is not  very interesting an not worth our attention.  Especially as we don;t need ot use it directly given the nice button to open the preivew in a new window.

It feels like an attention grabbing and irratating nag. :)

![image](https://user-images.

[2022-03-25 14:36] JosepAlacid commented on #455
Sorry, I didn't take enough care
https://angular.io/guide/i18n-example
Hope it helps, but it seems related to #473 and #477 too.

[2022-03-25 23:05] Dellysn opened #650 "Error installing modules on Firefox web browser"
### Describe the bug

I was following a tutorial on react-router using Firefox I noticed that the modules are not resolving, I tried to install the packages manually, and I ran into the same issue. I noticed this bug is only applicable to Firefox because when I tried the same thing on Chrome all went well.
[code]

### Link to the blitz that caused the error

https://stackblitz.com/github/remix-run

[2022-03-26 13:53] emrea-works commented on #650
🔼 Issue still is up with Firefox 99.0b8 (64-bit)

[2022-03-27 15:13] SteveALee opened #651 "Injected scripts break AlpineJS example and force Quirks mode"
### Describe the bug

I'm having problems getting the simplest possible AplineJS example to work (as my more complex example is also failing).  The counter value does not appear next to the button.

When I open the preview in another Window and view page source I see:

[code]

Critically, the 1st injected script is BEFORE the doctype so kicks the browser into QuirksMode - a horror I had hoped not

[2022-03-27 15:18] SteveALee commented on #651
Aha! I have good news and bad news.

It works fine in Chrome.  I was using Firefox as I understood it now works adn it's my default browser so always launches

So, either there's Firefox issue, or perhaps more likely, Chrome does not care about the misplaced 1st Script.

[2022-03-27 15:26] SteveALee commented on #651
FYI I only spotted this as I once spent days with non working code only to eventually find it was as I had added a helpful comment BEFORE the doctype!! D'oh!

[2022-03-27 16:47] mikesimons commented on #627
I'm seeing this too. In my case I'm trying to set up a PIXI.js sandbox.
Project url is https://stackblitz.com/edit/mikesimons-pixi-play

PIXI is trying to load https://mikesimons-pixi-play.stackblitz.io/assets/character.png but if you open that url in a tab you get the HTML from the project, not the image.

[2022-03-28 07:43] jrvidal commented on #650
@Dellysn Thanks for the report. This is definitely a bug.

[2022-03-28 08:12] jrvidal commented on #455
I can't reproduce from https://angular.io/generated/live-examples/i18n/stackblitz.html. Can you?

[2022-03-28 16:22] SteveALee commented on #651
Actually, Chrome DOES warn about Quirks mode. It's behind the issues icon, not in the console.

[2022-03-29 07:13] jrvidal commented on #650
@Dellysn This should be fixed now :tada:  Please, let us know if you find anything else!

[2022-03-29 07:13] #650 closed

[2022-03-29 12:12] TheBlueOompaLoompa opened #652 "__vite_ssr_import_1__.default is not a function"
### Describe the bug

This happens every once in a while, I will have a working project, and then the next time I try to open it, this is the error I get:
![image](https://user-images.githubusercontent.com/53215039/160607694-baf11f10-3993-402a-8812-c4809c9f0132.png)

Nothing has changed since the last time I opened my project, I didn't upgrade any dependencies either.

### Link to the blitz that c

[2022-03-29 13:02] jrvidal commented on #652
@TheBlueOompaLoompa Thanks for your report.

I ran this code locally and observed the same error. Is the code yours or did you get it from one of our templates?

[2022-03-29 13:10] TheBlueOompaLoompa commented on #652
This code is mine

[2022-03-29 13:11] Deewens opened #653 "No "Dependencies" section"
### Describe the bug

Hi,

I wanted to try the Getting Started Tutorial of Angular https://angular.io/start
They are using StackBlitz, however, I have an error about my dependencies: "Cannot find module '@angular/core' or its corresponding type declarations.(2307)".

Also, I cannot install those missing dependencies because the Dependencies section does not exist.

![image](https://user-images.git

[2022-03-29 13:16] jrvidal commented on #652
I see. This repo is mostly for WebContainer compatibility issues, and there doesn't seem to be any in this case.

Now, you say that your code got into a bad state somehow. Could you try to reproduce the exact steps needed for that to happen?

[2022-03-29 14:11] rayfoss opened #654 "isomorphic-git can't push in webcontainer"
### Describe the bug

The following shell command run fine in Node 16/14 on an Ubuntu machine, but fail on [WebContainers](https://github.com/stackblitz/webcontainer-core)

[code]

Everything else seems to work fine. The same error occurs when running from a script instead of the CLI.

The issue seems to be some incompatibility with WebContainer FS, HTTP, or jsh.

### Link to the blitz that caused

[2022-03-29 16:17] mokshsinghji opened #655 "Please add support for mobile"
**Is your feature request related to a problem? Please describe:**
I have had to travel due to an emergency and I have not brought my laptop with me although I have my tablet and therefore it is very frustrating that I get the "Incompatible browser" error because I really love StackBlitz.

**Describe the solution you'd like:**

I would like to be able to work on StackBlitz on mobile devices

**Des

[2022-03-29 16:18] mokshsinghji commented on #655
Sorry, just found another issue describing the same problem, however that is a bug and this is a feature request, so I will close the issue for now and keep an eye out for that issue

[2022-03-29 16:18] #655 closed

[2022-03-29 18:06] jycouet commented on #560
I just found out that we are on node `v14.19.0`, any idea when we will be able to tune this with a parameter?
Thank you

[2022-03-30 07:23] jrvidal commented on #653
@Deewens Thanks for the report.

The UI is different b/c you're in a WebContainer project, which works differently from our classic "EngineBlock" projects, which is what you might be used to. We now have [some docs](https://developer.stackblitz.com/docs/platform/available-environments) clarifying the difference.

See for instance my comment in https://github.com/stackblitz/webcontainer-core/issues

[2022-03-30 08:52] rayfoss commented on #560
I'm against taking the burden of supporting multiple versions of node. If someone needs to archive everything, containers are better for that. It would be nice to have the option of using node 17, but what we'll always desperately need is the current LTS, which right now is 16.

Very few projects will break going from 14 to 16. When they do, the fix is usually trivial. Right now there is no produc

[2022-03-30 11:02] SamVerschueren commented on #654
Hey @rayfoss, thanks for reporting this issue.

After digging into it a bit deeper, I found out that we don't handle binary payloads correctly. I will fix this and get back to you when it's released. Can't give an estimate when it will be released, but should be one of the following days.

[2022-03-31 17:38] rayfoss opened #656 "New Node 16 webcontainer won't serve 11ty"
### Describe the bug

running `eleventy --serve` gets stuck watching on Node 16

https://11ty.new/

### Link to the blitz that caused the error

https://11ty.new/

### Steps to reproduce

Go to https://11ty.new/

### Expected behavior

Should serve normally.

### Parity with Local

- [X] I have [run the project in my local machine](https://github.com/stackblitz/webcontainer-core/blob/main/repro.md

[2022-03-31 21:09] d3lm commented on #633
@JNussenzveig The only work around for this would be that prisma has a fallback for environments that don't support native binaries, either compile their native code to WASM or provide some sort of JS fallback.

I am going to close this issue for now because there is not much to do on our side at this point.

[2022-03-31 21:09] #633 closed

[2022-03-31 21:16] d3lm commented on #627
This is not an issue with WebContainer, and images also don't load on local.

Please make sure that the project works locally before submitting an issue. There's a checkbox in the issue description which is also unchecked.

<img width="1022" alt="image" src="https://user-images.githubusercontent.com/12571019/161150597-2210d150-c84d-4b13-91c7-f78052fbd0c4.png">

Closing this issue.

[2022-03-31 21:16] #627 closed

[2022-03-31 21:23] #653 closed

[2022-03-31 21:24] d3lm commented on #653
I have closed this issue for now. If there are actions to take here we can open a new issue.

[2022-03-31 21:26] d3lm commented on #455
Can't reproduce either. The live example from https://angular.io/guide/i18n-example works fine for me.

[2022-04-01 13:14] mr-omkar opened #657 "(Next Js) Error: "Internal Server Error" this happens everytime Whenever i complete install any package from through npm eg. firbase, tailwind css"
### Describe the bug

i installed npm package completely but after installation it shows error "Internal Server Error"

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-g1lttr?file=package-lock.json

### Steps to reproduce

1. create Next Js project
2. npm intall firebase
3.error occurs

### Expected behavior

after intstalling any package it should run without any e

[2022-04-02 11:29] fvsch commented on #649
Thanks for the feedback @SteveALee. We're considering keeping the port count indicator, but making it less distracting visually.

[2022-04-02 19:30] guest271314 opened #658 ""... run Node.js, entirely inside your browser""
### Describe the bug

This article https://blog.stackblitz.com/posts/introducing-webcontainers/ claims

Is that claim true and correct?

Is there an example of the code required to do that locally?

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-uccx6z

### Steps to reproduce

Try to reproduce this claim locally, offline:

### Expected behavior

### Parity with Local

[2022-04-04 09:15] jrvidal commented on #658
@guest271314 Thanks for the report.

I'm not exactly sure what is the scope of your question. The blog post you linked and the docs in this repo go into some detail of what WebContainer is, and what it can do. The project you linked above does show those capabilities. If you have a more concrete question, we'd be happy to help.

[2022-04-04 09:22] guest271314 commented on #658
I couldn't detrmine if the linked stackblitz is working asc excpected. The goal is to run Node.js in the browser - outside of stacckblitz. How to do that?

[2022-04-04 09:31] jrvidal commented on #658
It is working as expected. If you type `node index.js` in the embedded terminal, the code will be executed as in a Node environment.

Not sure if you're asking how to use this outside of https://stackblitz.com, but the answer is that this is not possible, WebContainer is part of our online IDE.

[2022-04-04 11:36] d3lm commented on #657
Hey there. Thanks for reporting this issue. I have tried your project and ran `npm i firebase` and it works fine. With the steps you provided I can't repro the issue you mention. Maybe you can give some more info?

[2022-04-04 14:16] guest271314 commented on #658
Yes, that is the question.

The advertised claim does not include that qualification.

[2022-04-04 18:19] d3lm commented on #598
Hey there! Sorry for the late response.

The project doesn't seem to exist anymore. Do you have link for us?

Also it would be very helpful if you had a minimal reproduction for us.

[2022-04-05 10:08] jrvidal commented on #568
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-04-05 10:08] #568 closed

[2022-04-05 10:08] jrvidal commented on #246
:wave: It seems this issue has been sitting for a while without new info. I'm closing this, but please feel free to open a new one if you still encounter this problem.

[2022-04-05 10:08] #246 closed

[2022-04-05 10:09] #143 closed

[2022-04-05 16:56] rayfoss commented on #654
Has the fix been released? As of Hash = 31afbfcfe1b0985e8cbdb27d44e16766166a118e I'm still getting a webcontainer unique error.

https://stackblitz.com/edit/node-jdru2t?file=index.mjs
[code]

[2022-04-05 23:33] alvarlagerlof opened #659 "Next.js cannot start dev or build"
### Describe the bug

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-umrqtt?file=package.json

### Steps to reproduce

1. clone https://github.com/scoreboarder/website
2. yarn
3. yarn build

### Expected behavior

Dev dev server starts as expecred.

### Parity with Local

- [X] I have [run the project in my local machine](https://github.com/stackblitz/webco

[2022-04-06 01:45] guest271314 commented on #658
node-v17.8.0-linux-x64/bin/node into N discrete files here https://github.com/guest271314/node_executable.

To reconstruct the executable, pertinent part

[code]

Now I can dynamically fetch and run node in the browser utilizing Native Messaging, without WebAssembly. Then delete the file when done with the requirement.

WebContainers needs to be at least as simple as that procedure.

First we need

[2022-04-06 18:32] derekbar90 commented on #598
@d3lm Hey sorry about this, I had committed some stuff by accident and needed to bring it private. I've changed the visibility back to public. You should be able to reproduce now. Sorry about that! Thank you in advance for your time looking into this.

[2022-04-06 18:32] derekbar90 commented on #598
@jrvidal I think we can remove this label now. Thank you for adding it in the meantime.

[2022-04-07 00:21] guest271314 commented on #658
Node.js, and 680 other languages can be run in the browser at https://tio.run/#javascript-node (https://github.com/TryItOnline).

Node.js can be run in the browser using Native Messaging https://github.com/simov/native-messaging?

What is novel about WebContainers?

[2022-04-07 02:09] EricSimons commented on #658
WebContainers run Node.js entirely _inside_ your browser, not on a remote server or local binary.

We currently do not expose a way to use WebContainer outside of StackBlitz.com, but this is something we're looking into. We'll post updates to this repo over the next quarter or so with our progress.

Closing this issue for now but lmk if you have other questions!

[2022-04-07 02:09] #658 closed

[2022-04-07 03:18] guest271314 commented on #658
I don't understand that.

On the one hand you claim Node.js is running entirely inside my browser.

On the other hand you say that only works on your Website.

So folks don't have to scour through your source files and reverse engineer your gear, FWIW, why not just openly release the Node.js WASM files as FOSS?

[2022-04-07 10:18] PH4NTOMiki opened #660 "Refreshing page triggers infinite refreshes"
### Describe the bug

If I click `Open in New Window (Live)` the page loads without any problem in new window, but if I do `F5` it just keeps on refreshing.

### Link to the blitz that caused the error

https://stackblitz.com/edit/sveltejs-kit-template-default-n7ocxm?file=src%2Froutes%2F__layout.svelte&terminal=dev

### Steps to reproduce

1. Go to repro link
2. Start server
3. Click Open in new w

[2022-04-07 13:29] dpeek opened #661 "Support node --experimental-vm-modules"
## Problem
I'd like to be able to use frameworks that dynamically load ES modules into a running node program, like `jest` and `miniflare`.

Issues #307 #614 are likely because running the WASM version of node with `--experimental-vm-modules` shows no error, but running the following in Stackblitz demonstrates it has no effect:

[code]

[code]

(note: it seems you can pass any flag to WASM node wi

[2022-04-07 16:20] edusperoni opened #662 "Websocket connections fail"
### Describe the bug

When trying to connect through websockets to a remote url I get a CORS error:

<img width="881" alt="image" src="https://user-images.githubusercontent.com/4061767/162248639-d8544932-0a38-4355-bad6-da391582b95f.png">

StackTrace:
[code]

The app also crashes with the following error message, instead of gracefully treating the error:
[code]

This request works fine by using dev

[2022-04-08 07:20] d3lm commented on #662
Hey there, thanks for reporting this issue. I can confirm that this is not behaving as it should and it's most likely a bug on our side. I have created a ticket in our internal ticket system, and we'll keep you posted on any progress or once it's resolved.

[2022-04-08 07:26] d3lm commented on #661
Hey there 👋

I have started working on this and I'll keep you posted when it's available on production.

[2022-04-08 07:29] d3lm commented on #659
Hey there 👋

The project you provided is empty. Can you please provide more information and update the linked project?

[2022-04-08 07:32] d3lm commented on #660
Hey there 👋

I can't seem to reproduce your issue on my end. If I open the page in a new window and then reload the page it works fine. If you open the dev console for both the editor and the preview window, are there any errors?

[2022-04-08 17:53] PH4NTOMiki commented on #660
![Screenshot_20220408_195318](https://user-images.githubusercontent.com/35368241/162495573-3cd87b50-2293-4bb6-adef-a92a38c67d4d.png)

[2022-04-08 17:54] PH4NTOMiki commented on #660
![Screenshot_20220408_195406](https://user-images.githubusercontent.com/35368241/162495669-c8e19824-035f-4289-96b8-e40b8bbb9156.png)

[2022-04-08 18:09] PH4NTOMiki commented on #660
It looks like it's trying to load the page from some Cloudfront server and not my own  machine.

[2022-04-08 18:14] PH4NTOMiki commented on #660
It's working okay if I close DevTools, but not if it's on

[2022-04-09 09:42] alvarlagerlof commented on #659
Sorry for that. I must have removed it. Updated to a working link now.

[2022-04-09 09:42] alvarlagerlof commented on #659
Ops

[2022-04-09 18:39] fdeitelhoff opened #663 "Chrome: Web Serial API is not Available"
### Describe the bug

I am trying to use the web serial API in chrome but get the error

```[Violation] Permissions policy violation: serial is not allowed in this document.```

and

```Uncaught (in promise) DOMException: Failed to execute 'requestPort' on 'Serial': Access to the feature "serial" is disallowed by permissions policy.```

in the chrome developer console. It is a Vite + Vue 3 + TypeS

[2022-04-10 00:59] BugQualia commented on #641
Having a same issue. ;-;

[2022-04-10 01:12] BugQualia commented on #641
probably a browser cash issue

[2022-04-10 12:07] d3lm commented on #659
Yes, our package manager (turbo) resolves a `yarn.lock` to a `package-lock.json`, so for your WebContainer projects it's best to have a `package-lock.json` to avoid resolution every time you load the project.

And it also looks like Next.js doesn't include `swc-wasm` anymore. I don't know why though. Maybe you can find out and ask upstream, but it looks like it's no longer a dependency of Next.js.

[2022-04-10 12:42] d3lm commented on #660
Can you try in Chrome? I see you're using Edge, not sure if it's related but I still can't reproduce this issue on my end.

[2022-04-10 13:41] PH4NTOMiki commented on #660
@d3lm thank you so much, that last thing you said helped me figure out what was wrong, because when I opened it in Chrome, it was working, and when combined that with the fact that it's not working only if I open DevTools helped me figure out that the issue was me toggling checkbox Bypass for Network for Service workers a long time ago. Immediately when I disabled it, it was working with no issue.

[2022-04-10 13:41] #660 closed

[2022-04-10 14:18] d3lm commented on #660
Ohhh yes that's right. Bypassing service worker breaks it pretty much. The network layer depends on it. Glad it's working now 👍

[2022-04-11 12:58] AhsanAyaz opened #664 "Unable to fork. Because of long title. No message shown."
### Describe the bug

When trying to fork the [Stackblitz example of Angular Material](https://stackblitz.com/run?file=src/app/tooltip-auto-hide-example.ts). The fork button spins for a while then stops without any error.
I can see in the network request that this is the response we get:
[code]

And there's no way to specify title while forking. So there's no way around it.

### Link to the blitz

[2022-04-11 13:13] d3lm commented on #663
Hey there 👋

This is an issue with our preview window. If you open it in a separate tab it should work. However, there is a differenterror:

`Must be handling a user gesture to show a permission request`

and it looks like the API is not used correctly. The `requestPort` has to be used inside a function that responds to a user action, e.g. a click handler. So changing it to

[code]

fixes it. And

[2022-04-11 13:16] d3lm commented on #654
Hey there 👋

No the fix is not deployed yet. We'll let you know once it's on production.

[2022-04-11 13:31] alvarlagerlof commented on #659
I see. Your default Next.js project seems to get around this by including a .babelrc. I tried adding that to my project, and it does build and run perfectly fine then, with yarn too.

I see now https://nextjs.org/docs/messages/failed-loading-swc was linked in error, suggesting that too.

So it seems like there's something about the web container that is incompatible for now. I can't debug that mys

[2022-04-11 21:59] rayfoss opened #665 "All WC to WebSocket server requests fail with `400 BadRequest` error, breaking Chat bots, unit tests, DB connections, multi-process optimizations, dependencies and integrations"
### Describe the bug

Trying to connect to a WebSockets server from WebContainers causes a 400 Bad Request error. This happens even when connecting to a Socket.io server hosted in the same WebContainer, **and** when connecting to remote Socket.io servers from within a WebContainer.

Connecting to WebSockets servers from the browser works normally, as long as CORS is configured. **this issue is not

[2022-04-12 11:41] d3lm commented on #659
I think you can also fix this by adding the `swc-wasm` to your project manually. You don't need to add a babel config.

I am not sure I understand. What do you think is incompatible here? It all comes down to using the [WASM version of SWC](https://www.npmjs.com/package/@next/swc-wasm-web) which they [load](https://github.com/vercel/next.js/blob/c261924756484255caecc756af9760707548c929/packages/ne

[2022-04-12 12:34] d3lm commented on #659
I have reported the issue to the Next.js team.

[2022-04-12 14:01] TheBlueOompaLoompa commented on #652
Never mind, I have had issues in the past with stackblitz randomly updating sveltekit and switching to a native binary that is incompatible, I just assumed this was one of those times, but it turns out that was wrong. Sorry for wasting your time.

[2022-04-12 14:01] #652 closed

[2022-04-12 16:56] marcellkiss opened #666 "Serving an angular app within an nx workspace fails"
### Describe the bug

Steps to reproduce:
 - Create a new node.js project
 - Create a new nx workspace: `npx create-nx-workspace@latest` (select `angular` and `scss`, when it's asking for default settings)
 - cd into the generated directory and run `npm run start` or `nx serve`, both will end with the following error:
<img width="785" alt="Screenshot 2022-04-12 at 18 40 44" src="https://user-image

[2022-04-12 17:03] SamVerschueren commented on #654
This issue should be fixed now! Thanks for your patience 🙏 .

[2022-04-12 17:03] #654 closed

[2022-04-12 17:04] SamVerschueren commented on #663
I think we can add this to the permission list of the iframe, it's pretty straight forward. What do you think @d3lm ?

[2022-04-12 17:05] d3lm commented on #663
@SamVerschueren Yep, I was thinking the same 👍

[2022-04-12 17:52] kuddl opened #667 "Markdown preview does not scroll"
### Describe the bug

When I open a *.md file and also open the preview split window, the preview split does not scroll. So for longer Markdown files the preview is useless.

### Link to the blitz that caused the error

https://stackblitz.com/edit/experience-day-exercise-vuejs?file=README.md

### Steps to reproduce

1.) Go to any repo
2.) Open any large markdown file
3.) Try to scroll to the end o

[2022-04-12 17:53] kuddl commented on #667
Sorry... duplicate of https://github.com/stackblitz/webcontainer-core/issues/553

[2022-04-12 17:53] #667 closed

[2022-04-12 19:31] alvarlagerlof commented on #659
I looked up `swc-wasm` on npm and only found `@swc/wasm`. Think I might have worngly assumed that was a different thing, or they changed names,

Sorry for my confusion on this. I looks like you have it all handled though.

[2022-04-13 08:40] chenjiahan opened #668 "Webpack compilation stops at "asset processing""
### Describe the bug

I am a maintainer of [modern.js](https://github.com/modern-js-dev/modern.js), a frontend framework based on Webpack.

I'm trying to put our project template on stackblitz, but the Webpack compilation stops at `asset processing`, and it's hard to debug the issue on stackblitz.

Is there a way to debug or fix the problem?

### Link to the blitz that caused the error

https://st

[2022-04-13 16:30] frehner opened #669 "Firefox images don't work / load"
Hello, I tried out https://hydrogen.new in Firefox DevEdition version `100.0b5` and saw that it's mostly working, which is exciting! It seems, however, that none of the images load.

I have no idea if that's just part of the "alpha" of Firefox, or what, but Stackblitz directs me to here to report issues, so here I am.

Let me know if I can help or if there's any additional information you need. Th

[2022-04-14 09:43] d3lm commented on #659
Ok, so apparently the `@next/swc-wasm-web` is not meant to be consumed with Node. There's also `@next/swc-wasm-nodejs` which you have to install if you want to use SWC. However, it gives other errors then. Maybe you can try on local and see if it works using `@next/swc-wasm-nodejs`.

[2022-04-14 19:07] helloimalastair opened #670 "CORS error with Firebase on Firefox Alpha"
### Describe the bug

When attempting to push changes to a Github repo from the Firefox Alpha, a request goes through to [https://stackblitz.firebaseio.com](https://stackblitz.firebaseio.com). This is blocked by the browser, as it violates CORS. The exact error is: `The resource at “https://stackblitz.firebaseio.com/.lp?start=t&ser=CODE&cb=9&v=5” was blocked due to its Cross-Origin-Resource-Policy

[2022-04-14 23:43] rayfoss commented on #662
I can't reproduce this...
I managed to link this Stackblitz https://stackblitz.com/edit/nodemon-n6nrt7?file=vite.config.ts to this CodeSandbox
https://codesandbox.io/s/socket-io-vanilla-c2gh56

I just had to configure `cors { origin: '*' }` on the socket.io server.

This is not related to issue #668

[2022-04-15 06:36] SamVerschueren commented on #669
Hi @frehner! Thanks for trying out Firefox and reporting issues back to us.

The fact that these images don't load is to be expected in Firefox. If you want in the nity-dity details of why that is, I can suggest you to read [this blogpost I wrote a while ago](https://blog.stackblitz.com/posts/cross-browser-with-coop-coep/). More explicitly, [the section regarding loading external resources](https:

[2022-04-15 07:16] SamVerschueren commented on #663
@fdeitelhoff Do you happen to have your project that didn't work? It seems the project linked in the OP does not exist anymore.

[2022-04-15 11:52] SamVerschueren commented on #663
This issue is addressed and it should now be possible to use these Web Serial APIs in the preview iframe.

As an example, click the button in the middle of the screen and the serial pane popup should open https://stackblitz.com/edit/nextjs-cgjgwt?file=pages%2Findex.js

[2022-04-15 11:52] #663 closed

[2022-04-15 12:22] SamVerschueren commented on #643
Oh this is interesting.

Apparently it's the space between `#!` and `/usr/bin/env`. Removing that space seems to do the trick. I'll have a look to fix this internally.

[2022-04-15 13:41] JonnyBurger commented on #643
@SamVerschueren That's brilliant, thanks a lot for investigating this! We'll remove the space from our side as well and announce StackBlitz compatibility soonish 😊

[2022-04-15 13:43] SamVerschueren commented on #643
I'm looping in @sulco here as he was talking to me about adding Remotion as one of our starter projects.

The fix is already merged on our end, we just have to release it on stackblitz.com. Not sure when that will happen though.

[2022-04-15 15:00] rayfoss commented on #662
I made an example of a WebSockets relay in StackBlitz... it's not pretty, but it works
https://stackblitz.com/edit/nodemon-xyvji4?file=vite.config.ts

[2022-04-15 15:32] d3lm commented on #661
This is now available on production. I have created an [example](https://stackblitz.com/edit/node-kowhgs?file=index.js) for you.

[2022-04-15 15:32] #661 closed

[2022-04-15 15:37] d3lm commented on #307
Hey all. Experimental vm modules are now available, see [here](https://github.com/stackblitz/webcontainer-core/issues/661).

I have tested the two examples again and it seems that the one with the vm modules works now, but there's still an issue with `serve:global` which requires further investigation.

[2022-04-15 15:39] d3lm commented on #614
Hey there 👋

Just wanted to let you know that experimental vm modules have been implemented and the command you mentioned works for me now. I am going to close this one for now, and if you run into further issue feel free to open a new issue.

[2022-04-15 15:41] SamVerschueren commented on #643
@JonnyBurger Pushed a bit through and we got the fix already deployed on production. I just confirmed that the template you provided now works 🎉 . This is super excited stuff 👏 !

[2022-04-15 15:41] #643 closed

[2022-04-15 15:50] SamVerschueren commented on #670
@helloimalastair I checked this internally, and that request should be unrelated to GitHub. Did the interaction with GitHub went through? This firebase thingy is for real-time functionality for non-WebContainer related projects. So in this case it shouldn't really matter and we might want to disable these requests all together.

[2022-04-15 18:46] d3lm commented on #307
Update: The issue with `serve:global` has been identified and a fix is on the way. Will most likely be deployed next week.

[2022-04-15 19:18] Pyrolistical commented on #614
huzzah! confirmed, it works
[code]

[2022-04-15 19:21] thescientist13 commented on #307
Awesome, thanks for the updates @d3lm !

[2022-04-15 19:29] reesericci opened #671 "HTTP requests impossible using external tool."
### Describe the bug

Using either hoppscotch.io (with and without the browser extension) or Postman, I am unable to send any HTTP request (GET,POST,PUT,PATCH etc). This unfortunately makes it impossible to test any API software that relies on anything other than GET and query params.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-tewjah?file=src%2Froutes%2Fthoughts

[2022-04-16 00:58] helloimalastair commented on #670
I’m not 100% sure what the error is. The only real error I could see was that the request was failing, but the GitHub push never went through, it just continued spinning and spinning, with no visible progress.

[2022-04-16 20:26] GregBrimble opened #672 "`writeAsciiString` is not a function"
### Describe the bug

[code]

Doesn't seem to actually impact the project running, but this error appears in WebContainers, but not when running locally.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-xhsc9s

### Steps to reproduce

1. Load the WebContainer.
2. Let the dependencies install.
3. Start the command `npx wrangler dev index.js --local`.

### Expected beha

[2022-04-16 22:13] NullVoxPopuli commented on #354
Now I have:
[code]

[2022-04-16 22:15] NullVoxPopuli opened #673 "Object is not defined (from chalk)"
### Describe the bug

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-k7htnb

### Steps to reproduce

- visit blitz
- default commands run `ember s`, which uses the popular library, `chalk`

### Expected behavior

dev server boots

### Parity with Local

- [X] I have [run the project in my local machine](https://github.com/stackblitz/webcontainer-core/blob/m

[2022-04-16 22:53] EricSimons commented on #672
Hey Greg- thanks so much for testing this, would love your help. We’re actually in an email thread with Sunil, Rita and Igor working on wrangler2/webcontainer. I just asked if they can add you to it, or if you share your email with me (either here or eric@stackblitz.com) I can loop you in!

[2022-04-17 05:42] GregBrimble commented on #672
Ah, fantastic! Yeah, I'm gbrimble@. Please do loop me in!

[2022-04-17 17:28] dalenguyen commented on #380
@jrvidal I'm not what changed, but looks like it works now.

[code]

[2022-04-18 18:07] blittle commented on #672
I'm seeing this consistently when using `fetch` from `undici`. See this simple example:

https://stackblitz.com/edit/node-et6u3f?file=index.js

[2022-04-20 10:00] d3lm commented on #380
Recently we have shipped support for experimental vm modules which, AFAIK, is used by jest.

I am going to close this, and if something comes up feel free to open a new issue.

[2022-04-20 10:08] d3lm commented on #614
Glad it works @Pyrolistical 👏

[2022-04-20 10:15] d3lm commented on #672
This is going to be fixed in an upcoming release 👍

[2022-04-20 10:36] AkellaPranav opened #674 "Not Executing in Stackblitz"
### Describe the bug

Failed to resolve dependencies. ng is not a known command and not displaying output.
![image](https://user-images.githubusercontent.com/62413513/164212636-8c7ed0d5-e98d-4a35-8b1a-b3d27f4de908.png)

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src%2Fapp%2Fquestion-base.ts

### Steps to reproduce

go to https://stackblitz.com/edit/tgnmch--run?fil

[2022-04-20 11:30] d3lm commented on #673
Hey there 👋

Thanks for the issue report. I was looking a bit into it and what I have noticed is that ember uses the [`esm`](https://www.npmjs.com/package/esm) package. Is there any reason you're using this instead of native esm in Node.js?

The error is coming from that package. That said, it should work even with this package but I was just curious why it's using the esm shim.

[2022-04-20 16:19] NullVoxPopuli commented on #673
same reason anyone would ;) -- tons and tons of ecosystem code is still in cjs. The migration to ESM is a herculean effort in most mature projects -- and cjs is forbidden from requiring ESM, but ESM can import cjs.

[2022-04-21 01:29] jmcooper opened #675 "Stackblitz Angular projects ignore proxy.conf.json"
### Describe the bug

When creating a `proxy.conf.json` file, angular (really Webpack dev server) handles re-writing the urls so that, for example, if I navigate to `/api/...` I can setup the `proxy.conf.json` file to rewrite that to a different url. Angular projects in Stackblitz seem to ignore the `proxy.conf.json` file

### Link to the blitz that caused the error

https://stackblitz.com/edit/an