[2021-07-08 07:58] d3lm commented on #232
Hey there! Thanks for reporting this issue. I think this is most likely not related to the size of your bundles and might be something else, maybe the fact that it's being chunked. This could be an issue in our TCP implementation. Thanks so much for creating a very minimal reproduction. I ll make sure to look into this.

[2021-07-08 09:49] ChiefChippy2 opened #234 "iOS can't hold down delete for too long"
**Describe the bug:**

Usually, if you hold down delete, it will start deleting text at a pretty fast speed, and then start to delete 1 word at once, then 1 sentence at once... etc., On stackblitz, it deletes a lot slower at the 1 word at once part ( so it only deletes 1 character every like second ).

**Link to the blitz that caused the error:**
Any

**Steps to reproduce:**

1. Go to stackblitz o

[2021-07-08 18:49] d3lm commented on #233
Closing this issue because it's missing the required information.

[2021-07-08 18:49] #233 closed

[2021-07-08 19:30] modderme123 opened #235 "Gzip compression with servor broken"
**Describe the bug:**

Servor enables gzip compression by default on all .http files (source here https://github.com/lukejacksonn/servor/blob/master/servor.js#L86), and it seems that stackblitz injects a non gzip encoded header at the front that confuses the browser. The browser shows the response to the http request as:
[code]
**Link to the blitz that caused the error:**
https://stackblitz.com/ed

[2021-07-08 19:31] modderme123 commented on #235
This might be related to https://github.com/stackblitz/webcontainer-core/issues/48. However, it seems slightly different because it errors silently

[2021-07-09 03:49] OsvaldoRino opened #236 "Crea"
**Describe the bug:**

**Link to the blitz that caused the error:**

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Screenshots:**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**

[2021-07-09 14:34] angelseblani opened #237 "Beta is not working"
**Describe the bug:**

**Link to the blitz that caused the error:**

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Screenshots:**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**

[2021-07-09 14:41] #237 closed

[2021-07-09 17:18] d3lm commented on #235
Yea this seems to be a big. Thanks for reporting 🙏 But it's unrelated to crypto.

[2021-07-10 14:03] ProAke opened #238 "bug-1"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/manee-apps?file=pages%2Findex.js

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 70a1ff62a0f0131ac0df3c30faf487fef744ac90

**Screenshots:**

**Desktop (please complete the following information):

[2021-07-10 15:31] Slluxx opened #239 "Allow files to be downloaded from the project itself into its container at runtime."
**Is your feature request related to a problem? Please describe:**
I am trying to build an app that uses Githubs API and repository release assets. I can fetch JSON apis and store them just fine but when dealing with zip assets, its different. Trying to download assets (apart from CORS errors which i have overcome) will pop up the same message that appears when trying to drag an image file into my

[2021-07-11 02:47] muxiangqiu commented on #196
Can someone help me solve it？

[2021-07-12 06:26] SamVerschueren commented on #238
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-12 06:26] #238 closed

[2021-07-12 06:26] #236 closed

[2021-07-12 06:29] SamVerschueren commented on #234
Hi @ChiefChippy2! We use the Monaco editor under the hood so this is not something we can easily fix or control. I'd suggest opening an issue in the Monaco repository itself https://github.com/microsoft/monaco-editor.

[2021-07-12 06:29] #234 closed

[2021-07-12 06:36] SamVerschueren commented on #196
Hi @muxiangqiu! I don't think we currently have anything implemented regarding `async_hooks`. Chiming in @d3lm as he might have a better view on this.

[2021-07-12 06:36] SamVerschueren commented on #229
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-12 06:36] #229 closed

[2021-07-12 06:37] SamVerschueren commented on #224
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-12 06:37] #224 closed

[2021-07-12 06:42] SamVerschueren commented on #239
Hi @Slluxx 👋 ! We are aware of this issue and we're trying to come up with a better solution. Like you said, these files will then not sync with our server but that's not always needed. I can't give you an estimate on the timing but it's something we have on our radar.

[2021-07-12 07:02] d3lm commented on #196
Yes that's not implemented yet.

[2021-07-12 08:42] lemarcgagnon opened #240 "Running start command takes forever and does not work"
**Describe the bug:**

nothing happens, only get a

Running start command spinning wheel, that's it

**Link to the blitz that caused the error**
https://stackblitz.com/github/vercel/next.js/tree/canary/examples/with-context-api?file=pages%2Fabout.js

**Steps to reproduce:**

1. Go to https://stackblitz.com/github/vercel/next.js/tree/canary/examples/with-context-api?file=pages%2Fabout.js
2. the wai

[2021-07-12 17:31] SamVerschueren commented on #240
Just a wild guess because I'm on my phone, but is it possible you already had this project open in another tab or was the port already occupied by another project in another tab? Because that's usually the issue in these scenario's. Try to run it again and make sure no other StackBlitz project is open.

[2021-07-12 17:44] Mcastres opened #241 "Unable to start a Strapi project"
**Describe the bug:**

Trying to run a simple Strapi application on Stackblitz.
However the sharp module can't be found:

[code]

The recommendation at the end of the message doesn't work as:

`Unknown Syntax Error: Invalid option name ("--ignore-scripts=false")`

Can you confirm that it will needs the `sharp` module [to be compiled to WebAssembly](https://github.com/lovell/sharp/issues/1476) to w

[2021-07-12 22:40] Slluxx commented on #239
Thanks for your reply. Yeah. Indeed i need only a few initial files to be syncronized across all clients. But when trying to build a generator that downloads and bundles files - this is certainly not wanted. A rough estimation would be nice so i know when to come back for this project :)

[2021-07-13 03:01] tamil-hash opened #242 "Web container is in beta"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-envitj

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: ded7c1cfbe6b33641b5f3c9265989f8bd71ed771

**Screenshots:**

**Desktop (please complete the following information):**
[code]

**Addition

[2021-07-13 05:27] muxiangqiu commented on #196
Got it! Thanks!

It would be great if webcontainer can support `async_hooks` .

[2021-07-13 08:23] d3lm commented on #196
Yep for sure. We'll add this to our roadmap but we cannot promise any date when this will be ready. We'll keep you posted if there's updated on this. Thanks for your understanding 🙏

[2021-07-14 15:05] SamVerschueren commented on #242
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-14 15:05] #242 closed

[2021-07-14 18:31] lucianojunnior17 opened #243 "1"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/github/vercel/next.js/tree/canary/examples/with-styled-components

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: ded7c1cfbe6b33641b5f3c9265989f8bd71ed771

**Screenshots:**

**Desktop (please complete

[2021-07-15 06:22] smolinari opened #244 "Framework support for Quasar Framework"
**Describe the solution you'd like:**
Hello. I'm from the Quasar Framework team (https://quasar.dev/) and have some questions and excited to hear the hopefully positive answers.
- Would we be able to get a Quasar Framework template set up? Is there a process for this?
- Currently we have a Codesandbox template set up, but it is only an application preset similar to what you have with the Vue templ

[2021-07-15 08:47] tysonrm opened #245 "app won't start - any trick to this?"
**Describe the bug:**
<!- my app won't start. -->

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-3yzrsi

**Steps to reproduce:**

Install the app from github (beta feature)
http://github.com/module-federation/microlib
yarn build
yarn start

or use npm

https://stackblitz.com/edit/node-3yzrsi

❯ npm start
$ node --title aegis -r dotenv/config dist/index.js
Error: Cann

[2021-07-15 15:23] SamVerschueren commented on #243
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-15 15:23] #243 closed

[2021-07-15 15:41] SamVerschueren commented on #245
Hi @tysonrm! Thanks for trying StackBlitz out and reporting back. I believe this could have something to do with the `-r` flag which if I'm not mistaken, is currently not supported. But chiming in @d3lm for this. Not sure if this is the root cause but that's the first thing that caught my eye.

[2021-07-15 15:48] d3lm commented on #245
Yep that's correct. Currently, the `-r` is not yet supported but that's coming with what I am working on. So basically it won't pre-require your dotenv stuff right now. For the time being you could have one entry point which requires that and then requires the actual main module which you are trying to run. Try and see if that solves the issue or if you run into more issues.

[2021-07-15 17:11] SamVerschueren commented on #244
Hi @smolinari! So I tried setting it up in StackBlitz, you can see it here https://stackblitz.com/edit/node-ivwlw1. It fails when trying to run `quasar dev` because of some IP address issue, so we have to investigate what causes this. It's probably on our side. It looks like `quasar build` does seem to work though.

[2021-07-15 17:28] smolinari commented on #244
@SamVerschueren - Awesome you are working on it. Not sure how far we can take Quasar with Stackblitz, but it sure would be fun to find out. 😁

Scott

[2021-07-15 19:39] tysonrm commented on #245
Sure, meant to fix that anyway. Good to know. Note that when i do remove -r as well as --title I run into...

~/projects/node-3yzrsi 6s
❯ yarn start
$ node dist/index.js
TypeError: a is not a function
    at https://node-3yzrsi.jw.staticblitz.com/blitz.e6adaf772b18819f7b4ab8325b73d63276acda8f.js:6:224928
    at https://node-3yzrsi.jw.staticblitz.com/blitz.e6adaf772b18819f7b4ab8325b73d63276acda8f.j

[2021-07-15 20:05] ShoulM opened #246 ".scss and .css files don't appear when opening local project from files on your computer"
**Describe the bug:**
When loading a local project all .scss .css files were discarded and didn't copy into the editor.

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-jfx5dz

**Steps to reproduce:**
1. Go to local projects
2. Select a project that has .scss files in it
3. notice that the .scss files don't appear in the editor and are not found when running a build

*

[2021-07-16 05:09] tysonrm commented on #245
this is the same problem mentioned here https://github.com/stackblitz/webcontainer-core/issues/140

[2021-07-16 08:50] spidyhackx opened #247 "Playwright is not working"
**Describe the bug:**
Playwright is a browser automation tool . but its failing on startup

**Steps to reproduce:**

1. Go to https://stackblitz.com/edit/http-server-wj3c6q

**Expected behavior:**
Open browser interface

**Desktop :**
 - OS: Linux
 - Browser: Brave
 - Version: Version 1.26.74 Chromium: 91.0.4472.124

**Additional context:**
[code]

Also, https://turbo.sh/install-scripts is not wor

[2021-07-16 12:10] Chutani09 opened #248 "Bug"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-zntexp

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: e6adaf772b18819f7b4ab8325b73d63276acda8f

**Screenshots:**

**Desktop (please complete the following information):**
[code]

**Addition

[2021-07-16 15:01] thescientist13 commented on #247
It looks like Playright needs to execute pre (or post) install scripts, which aren't supported in Stackblitz.

[2021-07-17 13:36] NullVoxPopuli commented on #165
Here is a minimal reproduction https://stackblitz.com/edit/node-fofpws?file=index.js

[2021-07-17 21:09] Kevoard opened #249 "console.log"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/nextjs-7evzy4

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 822a3541dddeeb70796ee74aa67c96011d201179

**Screenshots:**

**Desktop (please complete the following information):**
[code]

**Additi

[2021-07-19 07:09] saramaman opened #250 "Editor bug"
**Describe the bug:**

**Link to the blitz that caused the error**
https://stackblitz.com/edit/http-server-sp6bst?file=index.js

**Steps to reproduce:**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**

**Version of webcontainer:**
Hash: 822a3541dddeeb70796ee74aa67c96011d201179

**Screenshots:**

**Desktop (please complete the following information):

[2021-07-19 07:29] SamVerschueren commented on #249
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-19 07:30] #249 closed

[2021-07-19 08:09] anujkhaire opened #251 "ReferenceError: node is not defined"
**Describe the bug:**

ReferenceError: node is not defined

**Link to the blitz that caused the error**
https://stackblitz.com/edit/node-njdvbz?file=index.js

**Steps to reproduce:**

1. run in terminal: $ node index.js

**Expected behavior:**

1. should fetch json from pokeAPI
**Version of webcontainer:**
Hash: 822a3541dddeeb70796ee74aa67c96011d201179

**Screenshots:**

**Desktop (please complete

[2021-07-19 08:26] SamVerschueren commented on #250
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-19 08:26] #250 closed

[2021-07-19 08:26] SamVerschueren commented on #248
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-19 08:26] #248 closed

[2021-07-19 08:28] SamVerschueren commented on #251
It appears to be an issue with your `require` statement`.

![image](https://user-images.githubusercontent.com/1913805/126128261-7cc7efc0-5484-4fe0-8428-41e13641381d.png)

I changed it and now it seems to work https://stackblitz.com/edit/node-jrxoec 🙏 .

[2021-07-19 08:28] #251 closed

[2021-07-19 08:36] anujkhaire commented on #251
😂️ totally missed it...should've checked before raising the issue

[2021-07-19 08:39] anujkhaire commented on #251
😂️ totally missed it...should've checked before raising the issue

[2021-07-19 09:50] SamVerschueren commented on #247
Hi @spidyhackx! This will not just work out of the box. The problem here is that in order to run Playwright, or even Puppeteer, you need a binary that will not just work in the browser. We can't just execute any arbitrary binary in WebContainer as everything still runs in the browser.

We are looking at possible solutions to get something like Puppeteer/Playwright working within StackBlitz, but we

[2021-07-19 09:51] SamVerschueren commented on #241
Hi @Mcastres! Thanks for trying out WebContainers. Yes, in order for this to work properly, Sharp should be swapped out with the WASM version instead, native binaries will not work.

Chiming in @d3lm, I believe we already looked into WASM for Sharp right? But we didn't release it yet?

[2021-07-19 09:52] SamVerschueren commented on #240
Closing this as it seems to be working fine on my end so I do believe it was the issue I describe above that you ran into.

![image](https://user-images.githubusercontent.com/1913805/126141643-b323572d-a107-4b6c-9829-31fb9c4ef591.png)

[2021-07-19 09:52] #240 closed

[2021-07-19 09:53] SamVerschueren commented on #227
Closing this issue for now. Please create a new issue if you still experience issues and try to adhere to our format. That will allow us to better help you in the future 🙏 .

[2021-07-19 09:53] #227 closed

[2021-07-19 10:10] d3lm commented on #241
Yes that is correct. We have a sharp polyfill but it's not yet published.

[2021-07-19 12:15] Mcastres commented on #241
Hey 👋  Thanks for taking the time to answer this!
That is some good news! Do you have any public roadmap or something I can look at? I'd like to know when this will be published 😃

Can't wait to be able to start some Strapi projects on Stackblitz 🚀

[2021-07-19 13:28] icaraps opened #252 "Sharp library failure in Gatsby project"
### Describe the bug

A Gatsby project that uses the `gatsby-plugin-sharp` plugin doesn't run with `gatsby dev`:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/my-docs-site?file=package.json

### Steps to reproduce

Run `npm run dev`

### Expected behavior

Build should succeed without errors

### Screenshots

_No response_

### Platform

[code]

### Additional c

[2021-07-19 13:53] thescientist13 commented on #252
I think there is still some work needed to support Sharp on Stackblitz, per comments I saw over in #241

[2021-07-19 13:57] icaraps commented on #252
@thescientist13 thanks for heads up ! Sorry I didn't search for similar issues.
It looks like it's WIP https://github.com/stackblitz/webcontainer-core/issues/147#issuecomment-855642099

Do you have a timeline to share for the sharp polyfill already ?

[2021-07-19 14:03] thescientist13 commented on #252
Hey @icaraps. I'm just a stackblitz user / fan so unfortunately I can't help you there.

[2021-07-19 15:26] SamVerschueren commented on #244
@smolinari I fixed something internally and now `quasar dev` seems to work 🎉  https://stackblitz.com/edit/node-ivwlw1?file=README.md.

[2021-07-19 15:56] Lucifer25x opened #253 "the port does not open."
### Describe the bug

the port sometimes works and sometimes does not.

Example code (express.js):
[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-6oh3cs?file=server.js

### Steps to reproduce

1. Create Node.js app.
2. Install express.js
3. Create port
4. This sometimes work and sometimes does not.

### Expected behavior

the port sometimes works and sometime

[2021-07-20 04:09] smolinari commented on #244
@SamVerschueren - appreciate the effort. Thanks so much. Seems to work. The only thing is, when adding a mode, then I get a good number of warning toasts and a popup asking to move to the pro version. I guess that is normal?

Try: `quasar m add pwa`.

Lastly, would it be possible to get Quasar up as a selection on the templates/ new project page too? That was the intention of this issue actually.

[2021-07-20 04:32] aymanapatel opened #254 "Running Vite on Stackblitz"
### Describe the bug

It is not possible to run Vite on Stackblitz

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/vite-vszkxk?file=package.json

### Steps to reproduce

1. Run `npm run dev`

Error:

[code]

2. If I try to set npm config , I get this error:

[code]

### Expected behavior

Vite should work by default.

### Screenshots

_No response_

### Platform

[2021-07-20 07:00] SamVerschueren commented on #244
I believe this is due to the fact it's writing binary files to the file system like images and what not. Currently they are only for pro users but we are aware that WebContainer actually needs this for basic users as well. So this means that we're looking into how we can mitigate this to allow users to upload a limited amount of binary files (for instance 10MB).

I know that we're currently lookin

[2021-07-20 12:06] fvsch commented on #244
The selection of templates shown in the "Create a new project" section will probably change, but we can't guarantee that we'll include any specific framework right now.

We’ll probably prioritize the default templates depending on user demand and how well the framework is supported by WebContainer. But we also want to improve discoverability for all frameworks. So what we do want to make possible

[2021-07-20 15:06] smolinari commented on #244
@fvsch - Sounds good. I'm now sort of confused though about what a "template" is. Can you or someone explain what that is? I was thinking the selections on the "Create a new project" page are templates. Are they not?

Scott

[2021-07-20 15:33] fvsch commented on #244
@smolinari They are. In StackBlitz, any public project from any user can be forked, so technically any public project is a "template". :)

When we say "templates" or sometimes "starters", we usually refer those projects which we have manually selected and added to the stackblitz.com homepage (both the public home page or the logged-in Dashboard). We won't be able to add entries for all compatible

[2021-07-20 18:26] smolinari commented on #244
Ok. Gotcha. Thanks for the explanation.

Scott

[2021-07-20 22:25] sgoguen opened #255 "File System may be truncating the index.tsx in my NextJS project"
### Describe the bug

When trying to compile a NextJS project (TypeScript), the compiler is failing because the most recently changed file is being truncated.

NOTE:  The file is visible in *whole* in the editor, but if you run "cat pages/index.tsx" from the command-line, it displays a truncated file.  This truncated file reflects the TypeScript error.

In the editor, the file looks like this:

[c

[2021-07-21 12:59] 18jad opened #256 "Creating a server issue"
### Describe the bug

i am creating a server on a local server with port 3000 with createServer function and listening but i can't access to it, when i click on port 3000 in the port in use tab it's taking me to this webpage "https://node-ggjdv3--3000.local.webcontainer.io/" but it's not loading, it's infinitely loading

-code :

`
const http = require('http');

const server = http.createServer((r

[2021-07-21 13:18] sulco commented on #256
Hey @DizerX , are you still experiencing this issue?

When I initially checked it right after you've posted it here, it looks like you didn't have a server response logic defined, i.e. it was only `const server = http.createServer()`.

In that case the page will not load. So at minimum you need to make sure you're _ending_ the response, e.g.:
[code]

I've noticed that your project already has a si

[2021-07-21 13:28] DizerX commented on #256
i do have an ending and my code is same as yours check the 3rd line... i don't know why i can't access the port when i click on port 3000 console is logging new connection in console section but the web isn't loading the page

[2021-07-21 14:34] Suryaprakash1024 opened #257 "TypeError: n._handle.getAsyncId is not a function"
### Describe the bug

I developing  a telegram bot using nodejs. Actually when I tried on local, it is working fine but it is causing bug in stackblitz.

Console error :

`TypeError: n._handle.getAsyncId is not a function
    at responseKeepAlive (https://github-ej3k7n.jw.staticblitz.com/blitz.84452ea99b8c6a79e19cae2129beaf85d5da007c.js:6:761706)
    at IncomingMessage.responseOnEnd (https://githu

[2021-07-21 18:28] icebob commented on #221
@d3lm did you have time to check it?

[2021-07-21 20:32] d3lm commented on #221
No unfortunately not yet. I will drop a comment here if I get around it. Hang in there a bit longer. Thanks!

[2021-07-22 09:12] d3lm commented on #257
Hey there 👋 Thanks for reporting this issue. It's indeed a bug. We'll add this to our list and get back to you once it's been fixed.

[2021-07-22 15:37] NullVoxPopuli commented on #165
Sorry to bother, but any updates? This is the current known blocker for emberjs folks to use stackblitz ❤️

[2021-07-23 00:19] hippee-lee opened #258 "Failure to open the browser"
### Describe the bug

When I set up a new project it works as expected the first few times. Then, it stops opening the browser and there is a message in yhte console

```[Browsersync] Couldn't open browser (if you are using BrowserSync in a headless environment, you might want to set the open option to false)```

### Link to the blitz that caused the error

https://stackblitz.com/edit/cds-workshop

[2021-07-23 02:57] dakshverma8899 opened #259 "Terminal Problem"
### Describe the bug

Sometime Terminal stops working . It dosent follow your command . So please fix it .

Thank You .

For Team Stackblitz

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-lnfn59?file=chatter%2Fsrc%2FApp.js

### Steps to reproduce

Fix the terminal issue

### Expected behavior

It works Like the real terminal . It will be good for all

### Screenshot

[2021-07-23 05:01] tony19 commented on #254
This is probably a duplicate of #8

[2021-07-23 07:24] SamVerschueren commented on #259
@dakshverma8899 Thanks for reporting 🙏 . When does it happen for you? Does it happen often and in multiple projects? Do you have a screen capture if the issue happening? I personally never ran into this issue yet, so hard to reproduce. The more info we have, the better we can investigate. If it happens, is an error being logged to the Chrome DevTools?

[2021-07-23 07:26] SamVerschueren commented on #254
Thanks for expressing interest in Vite @aymanapatel. We're working hard to ship new features and hope we can give you an update on this one soon. Can't give you an exact estimate though.

Closing as a duplicate of #8. Thanks for the reference @tony19 !

[2021-07-23 07:26] #254 closed

[2021-07-23 07:31] SamVerschueren commented on #258
@hippee-lee Thanks for reporting 🙏 ! What happens if you refresh? Does it still show the error message for you? I noticed some inconsistenties as well so it's definitely a bug. For me it shows the error message, but it looks like it still works. Do you experience the same or is it entirely broken for you?

[2021-07-23 07:36] SamVerschueren commented on #256
@DizerX I noticed that the StackBlitz app is not running in one of your tabs. Is it running in another browser?

The server only runs within the same browser, so you can't use another browser to connect to your server for instance. Not sure if this is the case here though, but when testing, make sure you run StackBlitz in one tab, start the server, and open the webpage in another tab in the same b

[2021-07-23 15:14] #241 closed

[2021-07-23 17:59] SamVerschueren commented on #244
@smolinari Feel free to create a PR to add Quasar to the list of [supported frameworks](https://github.com/stackblitz/webcontainer-core/blob/main/Supported_frameworks.md).

[2021-07-24 01:05] jeanmachuca opened #260 "npm cache verify does not work"
### Describe the bug

The command npm cache verify is returning a non-zero exit code with this message:

Unknown Syntax Error: Command not found; did you mean one of:
 0. turbo cache clean [--cwd,--prefix #0] [-s,--silent] [--quiet] [-V,--verbose] [--loglevel #0]
  1. turbo cache invalidate [--cwd,--prefix #0] [-s,--silent] [--quiet] [-V,--verbose] [--loglevel #0]

There should be compatibility us

[2021-07-24 06:46] smolinari commented on #244
@SamVerschueren - Willdo. Any chance of also getting a "fork Quasar" URI like the other frameworks? aka. `https://stackblitz.com/fork/quasar` 😊

Scott

[2021-07-24 07:25] SamVerschueren commented on #244
@smolinari is my project ok for you?

@sulco could you rename that project slug to `quasar`?

[2021-07-24 08:12] smolinari commented on #244
Actually, I can fork and rename the slug. Didn't think of that. :) We'll get a new user added and fork and rename. Then I'll make the PR.

Thanks!

Scott

[2021-07-24 19:07] aymanemag opened #261 "dv<sdv"
### Describe the bug

svsevsevsdsdds

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-wsucwr

### Steps to reproduce

d

### Expected behavior

dsddss

### Screenshots

ds

### Platform

[code]

### Additional context

ddsd

[2021-07-24 19:07] aymanemag commented on #261
ds

[2021-07-24 19:07] aymanemag commented on #261
sddsds

[2021-07-25 04:28] deadcoder0904 commented on #3
`npx` doesn't work but without `npx` it works.

I was doing `npx tailwindcss init -p` but only `tailwindcss init -p` worked.

[2021-07-25 21:30] utsavberi opened #263 "Error: Could not resolve reference "refs/heads/master"."
### Describe the bug

Get a `Error: Could not resolve reference "refs/heads/master".` error while importing from an existing github repo which has main instead of master as the root branch

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-43jpyj

### Steps to reproduce

1. Go to `Connect to Github`
2. Import from existing
3. add repo url https://github.com/utsavberi/Le

[2021-07-25 22:50] tony19 commented on #263
This is a duplicate of #195

[2021-07-26 06:18] #261 closed

[2021-07-26 09:53] jrvidal commented on #73
@alcuadrado This looks fixed now!

[2021-07-26 09:53] #73 closed

[2021-07-26 09:54] jrvidal commented on #74
@alcuadrado This looks fixed now!

[2021-07-26 09:54] #74 closed

[2021-07-26 09:57] jrvidal commented on #78
@dazjean I can't reproduce it anymore, it looks fixed to me! Please feel free to reopen or comment if you find further issues.

[2021-07-26 09:57] #78 closed

[2021-07-26 10:48] jrvidal commented on #100
@RawZ06 Is this still an issue? The last repro link seems to be gone.

[2021-07-26 12:07] AlexandreLon commented on #100
This error was fixed, thank you.

[2021-07-26 13:26] SamVerschueren commented on #258
@hippee-lee We noticed you removed the project that was linked in the issue. Would you be able to re-upload or re-create it?

[2021-07-26 13:39] jrvidal commented on #220
@gokuney We're having trouble reproducing this bug now, a related fix might have solved the issue. Are you still able to reproduce it?

cc @nishantSg

[2021-07-26 16:14] nishantSg commented on #220
Sorry, I had not used stackblitz for quite a while. I tried to run a few old projects and now I am not getting that problem. It might have been fixed. I will update here in future if It comes up.

[2021-07-26 22:16] hippee-lee commented on #258
Sorry I was trying to re-use the url for a workshop forgot that I had submitted the project with the issue.

I tried to recreate it today but the ones I was getting the issue on seem to load ok now.

I did have an issue happen where the web container never got past installing dependencies even though the cli shows that it did. But that might be a separate issue.

[2021-07-26 22:16] hippee-lee commented on #258
I'll close and re-open if I can get a reproduction.

[2021-07-26 22:16] #258 closed

[2021-07-27 08:25] #100 closed

[2021-07-27 08:33] jrvidal commented on #175
@mefaba I think this is fixed now! :tada:

[2021-07-27 08:33] #175 closed

[2021-07-27 10:26] jrvidal commented on #226
@ryan-reach the underlying issue is that `create-strapi-app` is attempting to run a non-trivial shell script:

[code]

that is not supported by the jsh shell. We could:

1. Add better diagnostics, so jsh reports a clean "unsupported syntax" error.
2. Extend jsh to support the needed features (subshells, pipes, redirects) for that script.

(1) is pretty simple and we might do it soon. (2) is a long

[2021-07-27 10:57] SamVerschueren commented on #115
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-07-27 10:57] #115 closed

[2021-07-27 13:21] deadcoder0904 opened #282 "Next.js + TS template"
I need a Next.js + TypeScript template instead of just JS.

I think most people start projects nowadays with Next.js instead of CRA as it's just so faster & simpler.

[2021-07-27 17:47] mfbx9da4 opened #264 "Live reload broken"
### Describe the bug

Live reload broken. Requires full page refresh to update.

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-7zdn9z?file=pages%2Findex.js

### Steps to reproduce

Try changing some markup.

### Expected behavior

Expected to change some markup

### Screenshots

_No response_

### Platform

[code]

### Additional context

_No response_

[2021-07-27 17:49] mfbx9da4 opened #265 "Accidental paste of large text breaks terminal"
### Describe the bug

Accidental paste of large text breaks terminal

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-7zdn9z?file=pages%2Findex.js

### Steps to reproduce

1. quite the active process with ctrl + c
2. paste this text

[code]
3. now try typing in the terminal
4. crazy text feedback

### Expected behavior

Should work

### Screenshots

_No response_

#

[2021-07-27 19:13] tony19 opened #266 "BUG: spawn find ENOENT"
### Describe the bug

When running unit tests with Vue CLI, I get an error:

This worked at some point before, but I don't recall the exact version/date or the StackBlitz link.

### Link to the blitz that caused the error

https://stackblitz.com/github/moaxcp/vue-astro?file=tests%2Funit%2FApp.spec.js

### Steps to reproduce

1. Go to https://stackblitz.com/github/moaxcp/vue-astro?file=tests%2Funit

[2021-07-27 20:14] tony19 opened #267 "BUG: `npx @vue/cli test:unit` does not run unit tests"
### Describe the bug

Using `npx @vue/cli test:unit` results in `json5` help-output and does not actually run the intended binary. The output is:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/github/moaxcp/vue-astro?file=tests%2Funit%2FApp.spec.js

### Steps to reproduce

1. Go to https://stackblitz.com/github/moaxcp/vue-astro?file=tests%2Funit%2FApp.spec.js
2. Run `

[2021-07-27 20:18] jrvidal commented on #264
@mfbx9da4 I'm having trouble reproducing. Do you get any errors in the console?

https://user-images.githubusercontent.com/1636604/127221697-ac5481a4-cc21-4869-94fd-bd336a5d2b88.mp4

[2021-07-27 20:51] jrvidal commented on #266
FYI the root cause is the lack of a `find` command in jsh.

[2021-07-27 21:08] mfbx9da4 commented on #264
Thanks for the prompt response will check when I get home

[2021-07-27 21:28] mfbx9da4 commented on #264
![image](https://user-images.githubusercontent.com/1690659/127229787-ea74d7a2-842c-4863-9309-17c2645cea7a.png)

[2021-07-27 21:41] mfbx9da4 commented on #264
Nuking all site data fixed it for me

[2021-07-27 21:59] EricSimons opened #268 "Automatically start Docusuaurus devserver"
### Describe the bug

When opening a docusaurus site webcontainer doesn't automatically run `npm run start`

### Link to the blitz that caused the error

https://stackblitz.com/github/vercel/next.js/tree/canary/examples/api-routes

### Steps to reproduce

Open https://stackblitz.com/github/facebook/docusaurus/tree/master/examples/classic

### Expected behavior

Start command should run

### Screen

[2021-07-27 22:01] EricSimons opened #269 "`cp` command not available"
### Describe the bug

`cp` isn't available in JSH

### Link to the blitz that caused the error

https://stackblitz.com/edit/docusaurus

### Steps to reproduce

Try typing `cp` in the terminal

### Expected behavior

`cp` should work like POSIX systems: https://www.geeksforgeeks.org/cp-command-linux-examples/

### Screenshots

![image](https://user-images.githubusercontent.com/556934/127233171-9d2f

[2021-07-28 02:50] dakshverma8899 opened #270 "TERMINAL BUG"
### Describe the bug

If you are creating a app or installing a depedence from terminal This bug occurs . you will se the screen capture

### Link to the blitz that caused the error

https://stackblitz.com/

### Steps to reproduce

1. Open Terminal and execute create-react-app or any command which includes node modules
2. Press enter after you written the command
3. Create a new terminal by clicki

[2021-07-28 04:22] #259 closed

[2021-07-28 04:23] dakshverma8899 commented on #259
Its problem from My Side But sometimes in compiling of react app doesnt work so i reported but try to fix it please

[2021-07-28 08:16] mfbx9da4 commented on #264
After cancelling the active server with ctrl+c and restarting the server with `npm run dev`. The issue is back

[code]

[2021-07-28 10:40] SamVerschueren commented on #56
@ntucker The tsx type issue is fixed and it now gives proper intellisense and auto complete.

For your example in particular I did notice an other issue though. We currently run with the TypeScript 4.0 services, and for this it apparently needs TypeScript 4.1 at least. We have an internal ticket to track the upgrade of TypeScript on our end.

![image](https://user-images.githubusercontent.com/1913

[2021-07-28 10:40] #56 closed

[2021-07-28 14:29] deadcoder0904 opened #271 "Tailwind Dark Mode doesn't work side-by-side"
### Describe the bug

Tailwind Dark Mode doesn't show in Preview. It only shows when **Open a New Window** is clicked

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-6frqvs-qvxcvt

### Steps to reproduce

Just open the Stackblitz & see. Click on the toggle which u probably can't see so highlight the text.

### Expected behavior

Dark Mode should be visible

### Scr

[2021-07-28 15:32] freehuntx opened #272 "Calling 'exit' in terminal makes it stuck"
### Describe the bug

When i run the 'exit' command in the terminal, it will stop any further input.

### Link to the blitz that caused the error

https://stackblitz.com/edit/bit-data-view

### Steps to reproduce

1. Open the terminal
2. Type 'exit' and hit enter
3. Any further input is not working

### Expected behavior

The terminal will close itself

### Screenshots

![](https://i.imgur.com/rhO

[2021-07-28 16:04] EricSimons commented on #271
Thanks for the report @deadcoder0904! Seems like there's something wonky going on with it being in an iframe where the body background isn't changing color properly 🤔  Will investigate with the team!

[2021-07-28 16:35] EricSimons commented on #222
I just tried running this in SB and it appears some of tailwind's styles are ending up in the preview- do you happen to know if this works properly on local? If so, screenshots comparing the two side by side would be super helpful

[2021-07-29 03:26] modderme123 opened #273 "URL parsing error"
### Describe the bug

When running a vite project (https://stackblitz.com/edit/node-bpzuhi) I ran into an `Invalid URL` error. Digging a little deeper, it looks like stackblitz doesn't support urls with relative:/// as the base even though node does.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-bpzuhi

### Steps to reproduce

1. open any webcontainer
2. run `node`

[2021-07-29 06:02] deadcoder0904 commented on #222
I can't get it to run on SB. I get this:

[code]

[2021-07-29 16:43] khru opened #274 "No way if running the terminal on mobile"
### Describe the bug

When I've created a node project, I could not use the terminal, because I could not accesos it

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-q3k4tg?file=index.js

### Steps to reproduce

1. Create node project on mobile
2. There os no way to access the terminal

### Expected behavior

Find the terminal

### Screenshots

_No response_

### Plat

[2021-07-30 08:05] Chutani09 opened #275 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-07-30 08:08] d3lm commented on #57
Hey there! Just wanted to get back here and tell you that this has been fixed. I created an example https://stackblitz.com/edit/node-hk3eau.

[2021-07-30 08:33] d3lm commented on #22
@rajsite I looked at this and I cannot seem to reproduce this on my end. I forked your project and tested it again and it works for me https://stackblitz.com/edit/node-vireo-hello-world-tqhdjy. Can you try it again?

[2021-07-30 09:25] jrvidal commented on #31
@Cubelrti  This is now fixed :tada:

[2021-07-30 09:25] #31 closed

[2021-07-30 09:28] jrvidal commented on #275
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Please, feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you :pray:

[2021-07-30 09:28] #275 closed

[2021-07-30 15:02] rajsite commented on #22
Hmm I still see the same issue, my current machine configuration is different:
macOS Big Sur 11.5.1
Chrome Version 92.0.4515.107 (Official Build) (x86_64)

Both my example and the fork show the behavior of the first screenshot (only "Hello Node" is printed and not the Mandelbrot ascii art). I tried in incognito mode. Also tried with clean profile and all extensions disabled:

[code]

[2021-07-31 11:40] randName opened #276 "WebSocket protocol options incorrectly handled"
### Describe the bug

`vite` seems to run successfully, but the WebSocket HMR is not connecting.

after some investigation, it seems like the `WebSocket` constructor is not sending the correct headers.

### Link to the blitz that caused the error

https://stackblitz.com/edit/websocket-test

### Steps to reproduce

1. Open the above webcontainer
2. Observe that the `sec-websocket-version` header is

[2021-07-31 19:57] alcuadrado opened #277 "`npx hardhat` arguments are incorrectly parsed by `turbo`"
### Describe the bug

I'm trying to use [`hardhat`](https://hardhat.org) with stackblitz (great progress btw!), and I get an error when I run `npx hardhat test --show-stack-traces`.

`--show-stack-traces` gets parsed by `turbo`, and I get this error:

[code]

I have no idea what `turbo` is, but I guess it's the console?

`hardhat test --show-stack-traces` works.

### Link to the blitz that caused

[2021-08-01 17:28] jrvidal commented on #22
@rajsite We were able to reproduce the issue, and are currently looking into a fix.

[2021-08-01 17:35] jrvidal commented on #277
Hello @alcuadrado, FYI turbo is our [custom NPM client](https://developer.stackblitz.com/docs/platform/turbo/). This is probably a compat bug on our part, thanks for reporting.

[2021-08-01 20:34] rajsite opened #278 "Check and update dependencies"
**Is your feature request related to a problem? Please describe:**

Not related to a specific problem.

**Describe the solution you'd like:**

I'd like to be able to see what dependencies are outdated in a WebContainer and update them to the latest. ie have the `npm outdated` command to check and `npm update` to perform the update when I'm ready.

**Describe alternatives you've considered:**

The

[2021-08-02 01:38] Mizan-Al-Sabbih opened #279 "BugReporting"
### Describe the bug

I don't know what is the bug on StackBlitz. But you can find a bug in your code editor. :)

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-qeved9

### Steps to reproduce

1. Go and make a project the type will be node.js
2. A few moments later a button will appear its saying File a bug

### Expected behavior

A button it saying File a bug was ap

[2021-08-02 08:14] jrvidal commented on #279
Good one! :joy:

[2021-08-02 08:14] #279 closed

[2021-08-02 08:28] SamVerschueren commented on #274
Hi @khru! That is correct, currently WebContainers do not run on mobile. They will work on Android though, so stay tuned. I can't give you an exact time frame, but we're working on it.

[2021-08-02 08:28] #274 closed

[2021-08-02 12:25] gokuney commented on #220
Hey @jrvidal ,
I no longer get the error now. You're right, some related fix might have solved this. :smiley:
Let me close this bug for now. Thanks

[2021-08-02 12:25] #220 closed

[2021-08-02 13:25] Cubelrti commented on #31
Wow you guys are so awesome! Can't wait to see General Availability for WebContainer, looking forward to get involved more👍

[2021-08-02 14:56] Camashima1112 opened #280 "Npm install broken"
### Describe the bug

Using NPM INSTALL with any dependency breaks the WebContainer, constantly and repeatedly sending "Loading ideal dependency tree" in the terminal.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-hpbcxf?file=README.md

### Steps to reproduce

Go to terminal
Use npm install (any dependency)
Booom

### Expected behavior

I EXPECTED to be able to ins

[2021-08-02 17:23] aFuzzyBear opened #281 "Setting up Astro with Stackblitz"
### Describe the bug

Hello folks,

I was having issues trying to setup the npm pkg : Astro by snowpackjs with your platform. My intention is to have online demonstrations for the Astro templates and community projects.

I originally tried using the url `https://stackblitz.com/snowpackjs/astro/blob/main/examples/starter` to only have your system hang and crash 😓

My alternative strategy was to sta

[2021-08-02 19:51] purplem1lk commented on #282
@deadcoder0904 This feature request is part of our V2 launch and has been transferred to the webcontainer core repo where it can be readily addressed. Thank you! :)

[2021-08-02 20:19] jrvidal commented on #280
Hi @rithcam I think the link you provided might not be correct? It just contains an empty project.

[2021-08-02 21:32] adamlaska opened #283 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-08-03 05:56] OsvaldoRino opened #284 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-08-03 05:57] OsvaldoRino opened #285 "Platilla"
**Is your feature request related to a problem? Please describe:**

**Describe the solution you'd like:**

**Describe alternatives you've considered:**

**Additional context:**

[2021-08-03 06:31] #285 closed

[2021-08-03 06:31] #284 closed

[2021-08-03 06:31] #283 closed

[2021-08-03 07:19] jrvidal commented on #281
@aFuzzyBear The underlying issue is our lack of ESM modules (and dynamic `import()`) at the moment. We're working on it though. Thanks for the report!

[2021-08-03 08:17] aFuzzyBear commented on #281
you bunch of legends, thank you very much for your response guys, if there is anything i could do to help,  please just let me know =)

[2021-08-03 09:24] SamVerschueren commented on #278
Hi @rajsite ! thanks for expressing your intrest in those commands. You are correct that we don't have them right now but would be great additions.

[2021-08-03 11:20] d3lm commented on #273
Hey there! Yes this is a bug. I am actually on it 👍 I'll keep you posted when this gets fixed.

[2021-08-03 21:03] jrvidal commented on #22
@rajsite This now works :tada:

[2021-08-03 21:03] #22 closed

[2021-08-03 23:05] rajsite commented on #22
@jrvidal I  confirmed on my machine too, ty!

[2021-08-04 06:04] dariuszbasiak commented on #246
Hi, I just opened my local Angular project and all `.scss` files did not upload at all. Please can you take a look at it?

[2021-08-04 06:26] SamVerschueren commented on #98
This is fixed now. You can now run `time npm install` and it will show you how long it took.

[2021-08-04 06:26] #98 closed

[2021-08-04 12:05] sulco commented on #277
For what it's worth, until it's fixed you can use an additional double-hyphen (`--`) to unblock your workflow @alcuadrado.

So instead of:
`npx hardhat test --show-stack-traces`

you can do:
`npx hardhat test -- --show-stack-traces`

[2021-08-04 15:53] SamVerschueren commented on #270
It seems to work on my machine. It just takes a while to install and renders every frame on a new line because the terminal is not wide enough. Can you try it again and wait enough time?

[2021-08-04 17:12] EricSimons opened #286 "Proposal: Env flag for npm packages to conditionally load WASM binaries instead of native binaries"
## The problem

Web development toolchains are increasingly including binaries for compilers/bundlers as they provide substantially faster performance than JS equivalents. The ecosystem is also increasingly adopting WebAssembly for distributing & executing binaries as it provides far greater security guarantees, are directly inspectable, and "build once and run everywhere".

Today `esbuild` and `s

[2021-08-04 19:22] sokra commented on #286
I would propose to use an `exports`/`imports` field condition instead of a (runtime) environment variable.

An `exports` field condition has the advantage that it's statically known instead of at runtime. This allows to avoid using `import()` and instead `import ... from "..."` can be used.

see also
* https://webpack.js.org/guides/package-exports/
* https://nodejs.org/api/cli.html#cli_c_condition

[2021-08-04 19:25] matthewp commented on #286
Great idea!

Another angle to this problem is: many of these tools rely on the `postinstall` hook if npm. One common problem they encounter is that if you run `npm install --ignore-scripts`, they postinstall hook won't be called and the native binaries won't be installed. Some times users have this on without knowing it (such as in an .npmrc) and file issues about it.

If we could convince npm to

[2021-08-04 19:43] FredKSchott commented on #281
Hey yall, just saw this tweet! https://twitter.com/stackblitz/status/1422960937129086976

I just tried Astro again and it still silently exits on this line of our CLI entrypoint: https://unpkg.com/astro@0.18.8/astro.cjs

[code]

Happy to prioritize anything on our end to get this working! Would love to add some "edit on Stackblitz" links to our docs site & examples.

[2021-08-04 20:26] jrvidal commented on #281
@FredKSchott hey, yes, dynamic imports from CJS modules are a known limitation of our ESM implementation. We can't give you an estimate on when we'll come around to fix it though.

FWIW a pure ESM version _should_ work... not sure if that's an option for you folks.

[2021-08-04 21:24] FredKSchott commented on #281
We could look into that! This is mainly used to check that the user's environment supports ESM before loading the ESM entrypoint. Is there any way to give Stackblitz an ESM only entrypoint that skips this CJS env check?

[2021-08-05 00:33] dakshverma8899 commented on #270
I have no problem with that but I reported it because I have to make your
online code editor best . I have no problem with that I am fine . 🙃🙃

On Wed, Aug 4, 2021, 9:23 PM Sam Verschueren ***@***.***>
wrote:

[2021-08-05 02:43] evanw commented on #286
_(I'm commenting here because I was pinged on Twitter as the author of [esbuild](https://github.com/evanw/esbuild), but I don't have any stake in this PR)_

Each binary executable is many megabytes. Solutions which require shipping binary executables for multiple platforms in the same package are very undesirable because then the weight of the package (installation time and disk size) would be hug

[2021-08-05 03:54] SamVerschueren commented on #6
We now officially support ESM 🎉!

[2021-08-05 03:54] #6 closed

[2021-08-05 03:56] SamVerschueren commented on #167
We just announced support for ESM so this is no longer an issue 🎉 https://twitter.com/stackblitz/status/1422960937129086976?s=21

[2021-08-05 03:56] #167 closed

[2021-08-05 03:58] SamVerschueren commented on #165
I believe you tweeted it yourself, but this works now 🎉. Let us know if you run into any issues 🙏 .

[2021-08-05 03:58] #165 closed

[2021-08-05 03:59] SamVerschueren commented on #20
ESM is now supported but we found a bug when testing SvelteKit. There’s an open internal PR to resolve that so stay tuned!

[2021-08-05 04:02] NullVoxPopuli commented on #165
Thank youuuuuu!

[2021-08-05 05:44] stramel commented on #185
@fvsch I noticed that ESM is now supported (https://github.com/stackblitz/webcontainer-core/issues/6). I was able to get a bit further but there is still an issue getting Astro running.

This is the error that I get:

<details>
<summary>Details</summary>

[code]

</details>

[2021-08-05 08:33] jrvidal commented on #281
I noticed your `engines` field only includes versions supporting ESM. I take that you're not fully committing to that yet? :angel:

There isn't any "magic Stackblitz hook" that you could use at the moment, but a [dual package](https://nodejs.org/dist/latest-v14.x/docs/api/packages.html#packages_dual_commonjs_es_module_packages) would allow you to support both "legacy" and "modern" versions of Node

[2021-08-05 09:39] jrvidal commented on #185
@stramel @natemoo-re Though the symptoms are somewhat different, this is most likely related to #281. (Feel free to comment if it needs to be reopened)

[2021-08-05 09:39] #185 closed

[2021-08-05 12:05] natemoo-re commented on #185
Some additional discussion going on in https://github.com/stackblitz/webcontainer-core/issues/281, for reference

[2021-08-05 12:52] matthewp commented on #286
Thanks @evanw, the optionalDependencies trick sounds interesting. Am I reading this right that it would install the wasm version for webcontainer (which needs to run in the browser)?

[2021-08-05 14:26] matthewp commented on #286
Another idea, probably for the Node.js security team is, if there was a way to disable 3rd party packages from launching subprocesses that would help discourage the install-binary patterns. Deno has this with `--allow-run` (this applies to all code, not just 3rd party), and the result is that you see mostly wasm used there.

[2021-08-05 14:32] matthewp commented on #286
@EricSimons Given the discussion here and elsewhere, I think standardizing on an export map condition could be the best immediate-impact solution here. stackblitz could run install with `--condition=requires_wasm` (bikeshed on name) and everything should just work.

[2021-08-05 14:41] EricSimons commented on #286
@sokra @matthewp I think export maps definitely could be a good solution here. It does diverge from how folks are currently handling this issue atm, as both [Next](https://github.com/vercel/next.js/blob/canary/packages/next/build/swc/index.js#L12) and [Parcel](https://unpkg.com/browse/@parcel/transformer-js@2.0.0-rc.0/native.js) load the appropriate binary using runtime conditions. I'd be curious

[2021-08-05 14:43] evanw commented on #286
No, it has nothing to do with WASM. I just mentioned it since it's a way of avoiding problems with `--ignore-scripts` and `postinstall` scripts. If you need to run esbuild in the browser, then you'll need to explicitly install the WASM version of esbuild instead of the native version.

[2021-08-05 14:58] EricSimons commented on #286
@evanw thanks for taking the time to respond here- some extra perspective/info that might be relevant:

AFAIK many npm packages are starting to ship included binaries because it removes the CPU time (and often errors) that happen on install and during CI jobs. It also eliminates the need for postinstall, which is [ideal from a security POV](https://www.kb.cert.org/vuls/id/319816). I do understand

[2021-08-05 16:02] FredKSchott commented on #281
Oh, we're fully committed :) But unfortunately when you were to run our ESM package in a non-ESM version of Node, it gives a really difficult to parse error that threw off a lot of first-time users. This file purely exists to help the non-ESM users understand what when wrong, and how to fix.

BUT I think we can improve the file to run in both ESM and CJS, and then Stackblitz would assume ESM. If I

[2021-08-05 17:04] devongovett commented on #286
Isn't this what the `"browser"` field in package.json for? It's widely supported by pretty much every bundler, and allows substituting the whole module or specific files for the browser. We already use it for some of our native packages, and I think that was the plan for the rest as well. The environment variable we currently use for other packages is just a temporary hack I believe.

[2021-08-05 17:19] EricSimons commented on #286
@devongovett for bundling use cases definitely, but for environments that provide full Node runtimes requiring strong security guarantees (i.e. targets of supply chain attacks like enterprises and OSS devs, WebAssembly based containers like WebContainer or kubelet, etc) having the browser field affect Node's real resolution algorithm could be problematic for a few reasons:

- Since the `browser` f

[2021-08-05 17:52] devongovett commented on #286
Hmm interesting. Unfortunately, I think WASM has a couple drawbacks over native packages, which is why we distribute native binaries by default.

* Like @evanw said, WASM is significantly slower in our experience. For our case, this is not due to multi-threading. In Parcel, threading is handled in JS using Node's worker_threads, and the native module runs within those workers (so, single threaded)

[2021-08-05 18:25] EricSimons commented on #286
I think opt-in would definitely be the right way to handle this. It seems like there's growing consensus that @sokra's idea of [standardizing on an export map condition](https://github.com/stackblitz/webcontainer-core/issues/286#issuecomment-892912236) is the right path for a standardized opt-in, so if that sounds sensible I think I'm going to modify the original issue to reflect an export map con

[2021-08-05 19:19] devongovett commented on #286
Where do export conditions get standardized? In Node core? Looks like node only [supports](https://nodejs.org/dist/latest-v16.x/docs/api/packages.html#packages_conditional_exports) `"import"`, `"require"`, `"node"`, and `"default"`. One of the reasons Parcel has not yet implemented package exports support is that it's unclear to us how additional conditions get standardized so that they actually w

[2021-08-05 19:47] IgorMinar commented on #286
+1 to using standardized conditional exports, but that is just a part of the solution.

It would also be great to address the package payload size issue that @evanw brought up. We've [struggled with this a bit and ended up using optionalDependencies](https://github.com/evanw/esbuild/issues/789#issuecomment-893723378) as the workaround.

Ideally, we could codify/standardize this "non-js extension"

[2021-08-05 20:02] matthewp commented on #286
@devongovett Node.js wouldn't be involved in standardizing an export condition unless it planned on using it itself. I don't think this is one they would use. I think this would be a community standard, which like [browser](https://github.com/defunctzombie/package-browser-field-spec) is just an informal agreement among tool makers.

[2021-08-05 20:12] matthewp commented on #286
Actually I said that and then @bmeck said they might be interested: https://twitter.com/bradleymeck/status/1423375532503207942. Bradley, is nodejs/node the right place to propose a recognized condition?

[2021-08-05 20:14] bmeck commented on #286
yes [nodejs/node](https://github.com/nodejs/node) is the right place, just make an issue and/or PR. This seems like it wouldn't be too controversial except getting the right names for condition and how to enable the mode (flag vs config file vs API)

[2021-08-07 04:47] quinton-ashley commented on #209
yeah the server itself can update but then when I try to refresh the webpage it does not work
<img width="1440" alt="Screen Shot 2021-08-06 at 20 57 27" src="https://user-images.githubusercontent.com/20031683/128588255-d4554337-5ef8-4904-845b-37369b29a100.png">

[2021-08-07 04:50] quinton-ashley commented on #209
sorry maybe should've put this in a new issue

[2021-08-07 04:53] quinton-ashley commented on #209
okay now if I restart the server the webpage will refresh but it will not reflect changes

[2021-08-07 04:59] quinton-ashley commented on #209
<img width="173" alt="Screen Shot 2021-08-06 at 21 58 07" src="https://user-images.githubusercontent.com/20031683/128588491-01818f77-540f-4805-87f7-06a1f8f719d8.png">
<img width="541" alt="Screen Shot 2021-08-06 at 21 58 02" src="https://user-images.githubusercontent.com/20031683/128588495-34433a03-0317-4c29-b8b1-a56666ef23bb.png">

I tried typing it as fast as I could while the project was loadin

[2021-08-07 23:48] quinton-ashley commented on #209
For my use case I think the Javascript template will be better actually

[2021-08-08 00:34] quinton-ashley opened #287 "Adding scripts to html using Javascript doesn't work"
### Describe the bug

This project based on the old stackblitz HTTP server nodejs template works kind of <https://stackblitz.com/edit/quintos-template> but even though changes to the server are reflected when the server is run again, changes to the "client side" files are not.

I noticed the Javascript stackblitz template may be better suited for this but seems as of now that it is not. <https://s

[2021-08-08 04:26] FredKSchott commented on #281
@jrvidal Okay, that issue was fixed! Now seeing an issue on esbuild. Didn't I see something about `esbuild` always being `esbuild-wasm` in stackblitz? Is esbuild known to be broken?

Same project as @aFuzzyBear shared: https://stackblitz.com/edit/node-tna5ax?file=package-lock.json

[2021-08-08 09:16] jrvidal commented on #281
I'm also seeing a few other dynamic import issues:
[code]

It seems that `snowpack-plugin.cjs` and `snowpack-plugin-jsx.cjs` still import stuff through `import()`.

We do swap `esbuild` with `esbuild-wasm`, though there might be lingering bugs in WebContainer that prevent the latter from working 100% correctly. I'm taking a look on it.

[2021-08-08 09:20] jrvidal commented on #281
Ah, it seems that we didn't swap `esbuild` with `esbuild-wasm` successfully for all versions in your dependency tree. This is an easy fix.

[2021-08-08 11:53] OsvaldoRino opened #288 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-08-08 23:44] rguptaaccountcontrol opened #289 "Browser issue"
### Describe the bug

Does not work on my iPad with chrome browser. Says incompatible web browser even though I am using chrome.

### Link to the blitz that caused the error

https://stackblitz.com/edit/http-server-zy6dzw

### Steps to reproduce

Go to http server link on chrome browser on iPad.

### Expected behavior

Did not expect incompatible browser screen on the right pane.

### Screenshots

[2021-08-09 06:38] FredKSchott commented on #281
Great! That's `snowpack-plugin.cjs` issue might take a little while longer for us to fix (Snowpack doesn't support ESM plugins yet) but we are working on a fix.

[2021-08-09 08:13] SamVerschueren commented on #288
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-08-09 08:13] #288 closed

[2021-08-09 08:15] SamVerschueren commented on #289
Hi @rguptaaccountcontrol. Thanks for reaching out!

Although the name implies that it's running Chrome, it isn't. Apple does not allow 3rd parties to use a custom browser engine. So what Chrome does is basically using WebKit (Safari browser engine) and putting a Chrome-like look and feel on top of it. But they don't let Google to use their own Blink engine unfortunately.

So as long as Apple isn't

[2021-08-09 08:15] #289 closed

[2021-08-09 08:21] d3lm commented on #286
I personally agree that using `exports` and `imports` can solve this in an elegant yet flexible way. Ideally there's a standard condition baked into Node.js that we can use for this which would also disable `dlopen` as @bmeck mentioned already on Twitter.

More specifically we could try to standardize a `--no-addons` or `--no-native-addons` (similar to `--no-warnings` or `--no-force-async-hooks-ch

[2021-08-09 08:32] d3lm commented on #273
This is now fixed.

[2021-08-09 08:32] #273 closed

[2021-08-09 15:50] d3lm commented on #286
It thought a bit more about this and wanted to propose another option which is a combination of an `imports` mapping and `optionalDependencies`.

If a package depends for example on `esbuild` then a maintainer could conditionally use the WASM versions with an `imports` mapping:

[code]
The library could then import `#esbuild` and it conditionally imports either the WASM or native package. This req

[2021-08-09 20:14] web2033 opened #290 "Failed to apply a correct font file"
### Describe the bug

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/vite-vue3-tailwind-starter

### Steps to reproduce

1. Error in console

### Expected behavior

Apply correct font.
Example - https://vvt.netlify.app/

### Screenshots

_No response_

### Platform

[code]

### Additional context

_No response_

[2021-08-09 20:23] jrvidal commented on #290
I can reproduce the error running the project locally in regular Node.js, so I suspect this is not WebContainer-related.

[2021-08-09 20:28] web2033 commented on #290
I tried to pull the changes from the original repo, but it tries from `master` branch instead of `main` and leaves me with a broken reproduction link.

[2021-08-10 01:30] gaurav-nelson opened #291 "Share URL doesn't work for node web project (express)"
### Describe the bug

I tried running expressJS Hello world example at http://expressjs.com/en/starter/hello-world.html but the share URL doesn't work. The URL is stuck on the loading animation and sometimes it gives a console error message and sometime it doesn't.

The following error is from another similar project at https://stackblitz.com/edit/google-drive-connector?file=index.js
[code]

### L

[2021-08-10 05:36] modderme123 opened #292 "URL Parsing Error"
### Describe the bug

When working on a solid vite starter, I successfully managed to get everything a javascript version working on mac, thanks for everything that went into that! However, I shared with others and found a new unexpected behavior: on Windows `new URL('file:' + '/path/to/something.cjs').href` reports only double slashes which is inconsistent with the native behavior.

All thanks to

[2021-08-10 12:09] jrvidal commented on #292
@modderme123  I see three slashes, maybe you are running a cached, old version?

[2021-08-10 12:12] randName commented on #276
It appears to have been fixed in the latest update

![Screenshot 2021-08-10 201052](https://user-images.githubusercontent.com/123800/128864516-2d52989a-a399-4468-bbd1-5c489694016b.png)

and with that, `vite` hmr is working as expected. Thanks!

[2021-08-10 12:12] #276 closed

[2021-08-10 12:12] jrvidal commented on #290
Yes, this is a known issue with our Git implementation, see https://github.com/stackblitz/webcontainer-core/issues/11

Meanwhile, if you want to test the latest changes in that repo, maybe you could fork it and rename the default branch to `master`?

[2021-08-10 12:31] jrvidal commented on #209
@quinton-ashley I can't reproduce it either:

https://user-images.githubusercontent.com/1636604/128867134-dc629605-5233-4c30-8624-4e86e81187af.mp4

[2021-08-10 18:10] quinton-ashley commented on #209
@jrvidal When I try to do what you did in that video it doesn't work. Also I think the client side changes should be reflected just by refreshing the web container page without having to restart the server.

[2021-08-10 18:18] modderme123 commented on #292
This specifically only happens on Windows computers (on mac it works), and clearing cache doesn't help

[2021-08-10 18:25] quinton-ashley commented on #209
Opening the site in a guest page didn't work either. The web container should switch to work with the user's version of the project with their edits but it doesn't do that.

https://user-images.githubusercontent.com/20031683/128914291-08e75bec-5599-4d5e-972d-04bba4a4b581.mov

[2021-08-10 18:40] quinton-ashley commented on #209
Here's what I get when I load the page then fork it using the fork button.

<img width="1440" alt="Screen Shot 2021-08-10 at 11 37 25" src="https://user-images.githubusercontent.com/20031683/128916193-7c75c7b6-18ab-4427-a179-2ae98fa9e548.png">

If I refresh the entire page after forking it, then it will load changes!

<img width="1440" alt="Screen Shot 2021-08-10 at 11 39 25" src="https://user-ima

[2021-08-10 21:30] jrvidal commented on #292
@modderme123 Oh, sorry, I understand what you're saying now. It seems we're being bitten by a web compat bug. Thanks for reporting!

[2021-08-11 10:55] MSakamaki opened #293 "An exception is thrown when executing jest."
### Describe the bug

When I run jest on a stackblitz nodejs, I get the following error
this does not happen with local nodejs.

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-ked4s2

### Steps to reproduce

I looked into it as much as I could, but it seems that if you add properties to a global object defined in `node-vm` by `Object.defineProperties`, it cra

[2021-08-11 15:39] NullVoxPopuli opened #294 "Error When Saving: 413 Request Entity Too Large (nginx error)"
### Describe the bug

I got a 413 error when saving my blitz, I only edited two files.

<details><summary>app/components/my-component.js</summary>

[code]

</details>

<details><summary>app/templates/application.hbs</summary>

[code]

</details>

I believe this is happening because the `dist` output is large, and the entirety of the file system is uploaded as JSON, rather than a streamable format

[2021-08-11 23:30] mehulbaid commented on #110
any updates on this?

[2021-08-12 02:44] quinton-ashley commented on #209
@apai4 @EricSimons @fvsch Please help getting issues fixed so I can have all my students use Stackblitz! 😄

[2021-08-12 02:56] quinton-ashley commented on #287
I am using the Apple M1 chip Macbook Air 2021

[2021-08-12 02:57] quinton-ashley commented on #209
Thought I might add that I'm using the Apple M1 chip Macbook Air 2021, maybe some of these issues are platform specific?

[2021-08-12 03:05] quinton-ashley commented on #209
I think I will have to use repl.it instead unless these issues are fixed. It works in repl.it:

https://replit.com/@quintonashley/quintos-template-test0

[2021-08-12 13:58] afarago opened #295 "WebContainer not sending POST body"
### Describe the bug

Trying to setup a MEAN like environment - having a node/express server, serving an Angular frontend within one container.
Architecture wise the express server would be serving the static Angular frontend through dist static.
(currently the ng build is not yet working on the stackblitz environment, so there is a manual copy from local build)

Expected behaviour
Angular fronten

[2021-08-12 14:42] arcanis commented on #286
You might be interested in the following RFC for Yarn: https://github.com/yarnpkg/berry/issues/2751. Each approach attempts to solve different goals, but some of them seem shared.

[2021-08-12 15:17] NullVoxPopuli commented on #294
This means I can't commit to repos either :cry:

[2021-08-12 15:18] NullVoxPopuli commented on #294
or wait, I can: https://github.com/NullVoxPopuli/repro-ember-router-service-qp-only-transition/commit/5485e2df3920d48f54a0b82ece3d34c7154daebf

On this blitz, I'm not sure what the 413 errors are for: https://stackblitz.com/edit/github-zfp6nn?file=app%2Fcontrollers%2Fapplication.js

[2021-08-12 18:46] padmaia commented on #286
I like the idea of this issue being solved at the package manager level to avoid downloading unnecessary binaries. I'm still digesting the RFC that @arcanis shared, but will comment there if I have any thoughts.

[2021-08-13 04:14] quinton-ashley commented on #209
Thank you!

[2021-08-13 11:09] jafri opened #296 "Saving doesn't work for connected repositories"
### Describe the bug

If you open a node.js project, make modifications and then run `node index.js`, it does not use the version you just saved and instead uses some old version.

Only way for it to update seems to be to commit, and then refresh

### Link to the blitz that caused the error

private

### Steps to reproduce

1. Open nodejs
2. Make modifications
3. Try running node index.js

### Exp

[2021-08-13 17:31] xtomix opened #297 "the beta projects with github connection"
### Describe the bug

when i start a new beta (webcontainer) project everything is working perfectly but the moment i connect the project to a github repo the system no longer reacts to file modifications

the only solution is to commit the changes then refresh the whole stackblitz page. it is of course a very slow process, so not ideal.

### Link to the blitz that caused the error

all beta blitz

[2021-08-14 15:13] #290 closed

[2021-08-15 03:00] quinton-ashley commented on #209
I found out this is more of a problem with the browser caching these files. If the files still have the same name it doesn't matter that I make changes cause it just loads from the cache. I think I'll be able to fix this by using the ol' trick of adding an argument question mark to the url followed by the Date.now() time in ms. I will update y'all with my progress later.

[2021-08-15 05:12] quinton-ashley commented on #209
I made a fix for this, check it out!
https://stackblitz.com/edit/quintos-template

Could I get a job at StackBlitz? I'd really like to help you guys solve problems like these. I like the StackBlitz platform a lot, there's a lot of potential here.

[2021-08-15 06:50] fessehaye opened #298 "Can not use npx degit to create a svelte project"
### Describe the bug

Error keep happening when I try to start a svelte project via terminal on webcontainer.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-cpojqd?file=package.json

### Steps to reproduce

Open terminal and run `npx degit sveltejs/template my-svelte-project`

### Expected behavior

It should create a svelte starter template mentioned on https://sve

[2021-08-15 07:31] quinton-ashley commented on #209
I made some changes and thought I had fixed it but it only works sometimes:
https://stackblitz.com/edit/quintos-template

I'd like to work on StackBlitz and solve problems like this! I'm going to apply for a job with you guys so please look out for my application. :)

[2021-08-16 21:34] franxois commented on #20
When I saw the tweet about vite.js, I try sveltekit from an existing repository but it doesn't work https://stackblitz.com/github/franxois/svelte-kit-demo-app

[2021-08-16 23:12] mwisnicki opened #299 "Full stack projects"
Is it possible to create full stack project e.g. node + react?

All starters seem to be purely server side.

[2021-08-17 03:58] EricSimons commented on #20
@franxois we're still WIP on getting a few fixes in that will enable SvelteKit- the team will circle back here once these updates hit production.

[2021-08-17 05:50] AleexSilver opened #300 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-08-17 05:50] #300 closed

[2021-08-17 13:43] tony19 opened #301 "Failed to fetch jointjs"
### Describe the bug

Trying to install `jointjs` from npm results in an `HttpError`:

❯ npm install
warn preInstall No description field
warn preInstall No repository field
warn preInstall No license field
┌ [1/3] 🔍  Resolving dependencies
└ Completed in 0.651s
┌ [2/3] 🚚  Fetching dependencies
└ 𐄂 Failed
HttpError: Failed to fetch dependencies:
- jointjs@3.4.0

error Command failed with exit code

[2021-08-17 18:40] MajesticString opened #302 "WebContainer doesn't boot"
### Describe the bug

Web container just doesn't boot at all upon going to https://node.new/ and just shows 'Failed to boot WebContainer'

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-yvdopr

### Steps to reproduce

1. Go to node.new

### Expected behavior

WebContainer boots

### Screenshots

![image](https://user-images.githubusercontent.com/66224939/129782306-2f

[2021-08-18 05:48] masx200 opened #303 "StackblitzFsGit statusList err ResolveRefError: Could not resolve reference "refs/heads/master"."
### Describe the bug

ResolveRefError: Could not resolve reference "master".
GitWorkerService: cloned https://github.com/masx200/nextjs-masx200-home.git master
StackblitzFsGit addAll err ResolveRefError: Could not resolve reference "refs/heads/master".
StackblitzFsGit statusList err ResolveRefError: Could not resolve reference "refs/heads/master".
Uncaught (in promise)
T
a: null
code: "auth/networ

[2021-08-18 13:31] jonassunandar opened #304 "API routes with GraphQL server Error"
### Describe the bug

I just try to preview the content of API routes with GraphQL in [nextjs example](https://github.com/vercel/next.js/tree/canary/examples/api-routes-graphql) and then it says "failed to load"

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-knyu4b?file=pages%2Findex.js

### Steps to reproduce

1. Go to https://github.com/vercel/next.js/tree/canar

[2021-08-18 14:29] tony19 commented on #303
This is a duplicate of #195

[2021-08-19 03:20] thetaPC commented on #11
This is also happening to me with a private repo. I even tried to do a workaround my making a new branch called master. This hack allows for the files to be imported but when I try to switch to any branch then it just loads forever.

[2021-08-19 03:21] thetaPC commented on #195
This is also happening to me with a private repo. I even tried to do a workaround my making a new branch called master. This hack allows for the files to be imported but when I try to switch to any branch then it just loads forever.

[2021-08-19 04:29] runningair opened #305 "Fail to fetch URL package"
### Describe the bug

Web container cannot fetch URL package, while the package URL is valid.

![image](https://user-images.githubusercontent.com/3164151/130007809-f05602cb-7145-4030-928c-f9d9519600b4.png)

### Link to the blitz that caused the error

Any link can reproduce the bug.

### Steps to reproduce

1. Go to https://stackblitz.com/edit/node-ihqp2y?file=package.json
2. run: `yarn add https:

[2021-08-20 13:07] d3lm commented on #286
I agree that if this is handled on the package manager level that'd be ideal so we don't have to download packages which won't be used. I think this with a condition makes up a good solution which should cover most use cases.

[2021-08-20 14:10] freehuntx commented on #293
I think this is related to how "Proxy" is implemented inside of WebContainers node.
jest relies on Proxy as you can see here: https://github.com/facebook/jest/blob/bc50e7f360ab1845abbaa0b3ad788caead0d3174/packages/jest-util/src/createProcessObject.ts
So if the implementation of Proxy is broken inside of WebContainers node, that might be the reason.

[2021-08-20 15:51] freehuntx commented on #293
Maybe related with:
https://github.com/nodejs/node/issues/30985
https://github.com/nodejs/node/issues/17465

[2021-08-20 16:19] freehuntx commented on #293
A workaround is, to set configurable to true when its not defined.
*test/test-environment.js*
[code]
*package.json*
[code]

[2021-08-21 14:08] ellucianBret opened #306 "No git binary found in $PATH"
### Describe the bug

I opened a GitHub repository that has a node project with a package.json dependency to another GitHub repo. ```npm install``` fails with "No git binary found in $PATH".

The dependency is:
"@ellucian/experience-extension-hooks": "github:ellucian-developer/experience-extension-hooks#1.0.0"

Should get retrieval of dependencies work?

### Link to the blitz that caused the error

[2021-08-21 22:20] Pyrolistical commented on #296
I'm seeing this as well. It seems to be stuck on the previous version of the file until I commit and reload the page

[2021-08-23 02:43] MSakamaki commented on #293
Thanks for the kind reply!
I have confirmed that jest 27 will run with the solution you suggested.
https://stackblitz.com/edit/node-qsuzv8

since my issue has been solved, I will close this issue.

[2021-08-23 02:43] #293 closed

[2021-08-23 07:29] freehuntx commented on #293
This still looks like a bug that shouldnt happen imo. I would not close it as such a bug can cause alot of different bugs.
It should definitely be investigated.

[2021-08-23 11:36] d3lm commented on #281
Hey @FredKSchott 👋

I'll chime in here too because I have been working on a couple of things that address this issue. As @jrvidal mentioned we **always** swap `esbuild` for `esbuild-wasm` because it's not possible to run native code in the browser. That's where our WASM polyfills come in and we have our own registry. Luckily, `esbuild` ships their own WASM version so we don't need to polyfill this

[2021-08-23 14:48] SamVerschueren commented on #306
Duplicate of #144.

We're working on an improved git experience which will also come with a git binary. Can't give you an estimate though. 🙏

[2021-08-23 14:48] #306 closed

[2021-08-23 14:49] SamVerschueren commented on #302
Thanks for reporting @MajesticString! This shouldn't be happening off course.

Do you still run into this? Have you tried clearing application data? Any errors in the developer tools console?

[2021-08-23 18:18] FredKSchott commented on #281
No problem! We're going to look into some larger fixes in our build engine and will try to tackle on our end.

[2021-08-24 05:00] MajesticString commented on #302
@SamVerschueren I am still seeing this... I would like to note that the I got the "Failed to boot WebContainer" using Edge, while Chrome just shows a "Booting WebContainer" message, although the terminal works.

What Chrome shows:
![image](https://user-images.githubusercontent.com/66224939/130557850-d22cc0db-7705-4404-bf47-5766f7f38aeb.png)\

Edge DevTools console:
![image](https://user-images.git

[2021-08-24 07:11] SamVerschueren commented on #302
Is it possible that you are not running the latest Edge? It looks like WebAssembly is not supported. I didn't see this before 🤔 .

[2021-08-24 07:35] d3lm commented on #281
Awesome. Thanks a lot. We'll investigate on our end for sure too.

[2021-08-24 14:11] thescientist13 opened #307 "Framework support for Lit SSR (Web Components / Declarative Shadow DOM)"
**Describe the solution you'd like:**

I was playing around [**Lit**'s](https://lit.dev/) new SSR package that is going to available as part of [its new 2.0 release](https://lit.dev/blog/2021-04-21-lit-2.0-meet-lit-all-over-again/) and wanted to try the demos out on Stackblitz to help provide examples and support to the wider Web Components community, as well as to experiment and help provide feed

[2021-08-24 23:43] azu opened #308 "npm install and fail to fetch some files"
### Describe the bug

I noticed that `npm install` fail to fetch some files in webcontainer.
Installed node_modules missing some files.

e.g. https://www.npmjs.com/package/kuromoji

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-y7wswj

### Steps to reproduce

1. `npm install`
  - install https://www.npmjs.com/package/kuromoji
2. `ls node_modules/kuromoji/dict/`

The

[2021-08-25 14:00] freehuntx opened #309 "JavaScript vm broken (bad Proxy implementation?)"
### Describe the bug

When defining properties on a object returned by the vm, they behave differently than in NodeJS.
This breaks for example the testing framework Jest. (As you can see here: https://github.com/stackblitz/webcontainer-core/issues/293)

Example code:
[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-7mnp6x

### Steps to reproduce

1. Open the li

[2021-08-27 12:39] NullVoxPopuli opened #310 "npm polyfill(?) does not support the loglevel flag"
### Describe the bug

[code]

### Link to the blitz that caused the error

https://stackblitz.com/github/ember-cli/ember-new-output

### Steps to reproduce

1. go to https://stackblitz.com/github/ember-cli/ember-new-output
2. wait for npm install to finish
3. run `ember install ember-cli-typescript`
4. observe that there is an error about loglevel not being supported

### Expected behavior

log le

[2021-08-29 18:04] jifakir opened #311 "[BUG] Reload after changing code doesn't work"
### Describe the bug

Unable to connect to local.webcontainer.io
No server listening on port 5000. Try:

Opening wrtc-socket on StackBlitz
Starting a server from the terminal with npm start
Open Project
Reload
![image](https://user-images.githubusercontent.com/67035363/131260656-4ccbbb0d-8e7a-4611-9eda-731a805d9b1a.png)

### Link to the blitz that caused the error

https://stackblitz.com/edit/wrtc

[2021-08-29 18:37] willemneal opened #312 "Repo with master branch (main) causes github import to fail"
### Describe the bug

Since the github component assumed that master branch would be used the application notified me that it failed to find a master branch.  Then it proceeded to spin and I couldn't figure out how to change the branch.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-f8erox

### Steps to reproduce

1. try importing from https://github.com/near/runner

[2021-08-29 18:42] willemneal commented on #312
I just added a master to it to test if that fixes it and it did.

[2021-08-29 23:22] tony19 commented on #312
Duplicate of #195

[2021-08-30 09:35] jrvidal commented on #310
@NullVoxPopuli Thanks for the report, we do support `--loglevel` but our argument parsing seems to be off. FWIW you can find more info about Turbo, our custom NPM client, [here](https://turbo.sh).

[2021-08-30 11:25] jrvidal commented on #310
Actually, the fault is (partially) on ember-cli :scream: see https://github.com/ember-cli/ember-cli/pull/9605

[2021-08-30 13:01] NullVoxPopuli commented on #310
ah!!! 😱 gasp! thanks for the PR <3

[2021-08-30 17:00] d3lm commented on #309
Thanks for reporting this issue. It seems to be a bug.

[2021-08-30 17:03] d3lm commented on #309
Also, this seems to work just fine for me locally:
[code]

[2021-08-30 18:30] #312 closed

[2021-08-31 11:28] Mnu43 opened #313 "WebContainer Not Booting"
### Describe the bug

I was working on a node.js proyect in school. Suddenly one day the WebContainer stopped booting. Now I don´t have any access, to the folders or the files. The Terminal doesn't work either.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-mump2u?file=package-lock.json

### Steps to reproduce

1. Open a node.js proyect haha

### Expected behavior

[2021-08-31 16:01] #90 closed

[2021-08-31 16:08] d3lm commented on #292
This is fixed now.

[2021-08-31 16:08] #292 closed

[2021-08-31 16:13] SamVerschueren commented on #281
Hey everyone 👋 !

We have some exciting new for you because we have Astro working on StackBlitz right now 🔥

Here's a project you can use to test this with https://stackblitz.com/edit/node-mkjkny.

Happy coding!

[2021-08-31 16:13] #281 closed

[2021-08-31 16:14] d3lm commented on #8
This can be closed because `esbuild` now works.

[2021-08-31 16:19] d3lm commented on #2
I am closing this because it's the error remaining is not related to extraneous positional arguments as this particular issue has been fixed.

[2021-08-31 16:19] #2 closed

[2021-08-31 16:20] d3lm commented on #20
Hey ya'all 👋

We have pushed several fixes that now unlock SvelteKit on StackBlitz. Here's an [example](https://stackblitz.com/edit/node-shvwon?file=README.md). However, `npm init` still doesn't work because we are still working on our git internals and CLI.

[2021-08-31 16:20] #20 closed

[2021-08-31 16:24] d3lm commented on #309
Good news, this has been fixed and it's now available. Here's an [example](https://stackblitz.com/edit/node-khi4at).

[2021-08-31 16:24] #309 closed

[2021-08-31 16:43] jrvidal commented on #301
@tony19 Thanks for reporting, we'll be looking into this.

[2021-08-31 17:44] jasikpark commented on #281
Would it be possible to import git repos via subfolders? `yarn create astro` doesn't work for stackblitz since there's no CLI git command supplied - is there a better tool than `degit` that we should use for pulling down `https://github.com/snowpackjs/astro/tree/main/examples/framework-multiple`?

[2021-08-31 17:57] d3lm commented on #281
@jasikpark You can import sub-directories using the Github importer, e.g. `https://stackblitz.com/github/snowpackjs/astro/tree/main/examples/framework-multiple`, here's a [live demo](https://stackblitz.com/github/snowpackjs/astro/tree/main/examples/framework-multiple). But it seems that some peer-dependencies are not defined in the `package.json`. Our package manager does not install peer-dependen

[2021-08-31 18:01] d3lm commented on #281
@aFuzzyBear Similar to how it works with yarn or npm, you need to define all peer dependencies as dependencies in your `package.json`.

[2021-08-31 18:06] aFuzzyBear commented on #281
`npm i install-peers -D` ?

[2021-08-31 18:31] michaelbromley commented on #90
@jrvidal Thanks! This is great, I'm gonna have some fun playing around with this! Would be an amazing showcase of the tech to have a full e2e headless e-commerce solution (Vendure + Next.js Commerce) running entirely in Stackblitz!

Thanks to the Stackblitz team for this incredible work 💯

[2021-08-31 18:37] d3lm commented on #281
I just looked into it and it doesn't seem to be related to peer dependencies actually. The problem is that that sub-directory relies on a workspace higher up:
[code]
That won't work because the importer only imports files from that sub-directory going downwards, but not upwards. So if you want to import a sub-directory you have to make sure it's self-contained and has everything it needs to run on

[2021-08-31 19:09] FredKSchott commented on #281
That missing peer dep is definitely something that we can fix on our end! @aFuzzyBear any interest on adding '@astrojs/renderer-solid' as a dependency of the frameworks-multiple example project?

[2021-08-31 19:16] SamVerschueren commented on #299
Hi @mwisnicki ! Sure, it's definitely possible. If you would open a server side application on port 8000, and start a react app on port 4000, they will be able to communicate. We aim to support everything you can do on local.

Just give it a try and let us know if you run into issues 🙏 !

Hope this answers your question.

[2021-08-31 19:16] #299 closed

[2021-08-31 21:34] aFuzzyBear commented on #281
I will check the templates and make sure that they `astro.config.mjs` are right for each...

[2021-09-01 10:38] freehuntx commented on #309
You guys are awesome! It works, thanks!

[2021-09-01 10:39] freehuntx commented on #293
Note: This has been fixed. So no workaround anymore needed!

[2021-09-01 10:53] d3lm commented on #309
@freehuntx Just a quick update that `vm.runInContext('global', vm.createContext())` won't behave the same as on local. I had to change this again because the way I fixed it does not work in all cases and `typeof global` was also throwing a reference error. Unfortunately, this is a limitation of WebContainer's `vm` module. The closest I can get is to return `undefined` if you try to evaluate `globa

[2021-09-01 17:35] tony19 opened #314 "Slowdown in starting Vue CLI scaffolded project"
### Describe the bug

This web container is taking unusually long to boot. Several seconds (10+ seconds) pass in starting up the Webpack dev server (`outputting HtmlWebpackPlugin...`). And then the container just sits at "Running start command" for several more seconds (30+ seconds). This is new behavior (not sure since when), but this was not an issue before when I created the StackBlitz.

### Li

[2021-09-01 20:20] d3lm commented on #314
Hey! Thanks for reporting this issue. I briefly looked into this and I already found the culprit. It's indeed an issue that has sneaked in recently. I'll fix this ASAP.

[2021-09-02 07:54] #314 closed

[2021-09-02 10:13] jrvidal commented on #308
@azu I think this should be fixed now. Thanks for the report!

[2021-09-02 13:05] d3lm commented on #314
Good news, this is fixed. You can check it our in your original project.

[2021-09-02 17:47] SamVerschueren commented on #313
Hi @Mnu43 . Thanks for reporting! This shouldn't be happening off course.

Can you try to do a hard refresh? Or even clear the application cache of StackBlitz and try again?

[2021-09-03 16:40] jrvidal commented on #55
@Davien21 I'm closing this since it's been a while. Please feel free to comment/re-file if you find any further issues.

[2021-09-03 16:40] #55 closed

[2021-09-03 16:42] jrvidal commented on #83
@iAmPriyam This should be fixed by now. Please feel free to re-file if you find any further issues. Thanks!

[2021-09-03 16:42] #83 closed

[2021-09-03 16:44] jrvidal commented on #265
@mfbx9da4 This should be fixed by now. Please feel free to re-open if you find any issues. Thanks!

[2021-09-03 16:44] #265 closed

[2021-09-03 16:45] jrvidal commented on #272
@freehuntx This should be fixed by now, thanks for the report!

[2021-09-03 16:45] #272 closed

[2021-09-03 18:00] d3lm commented on #277
This has been fixed. If you run into any more issues, please open a new issue.

[2021-09-03 18:00] #277 closed

[2021-09-04 11:15] Darkmift opened #316 "Platform not recognizing install of an npm"
### Describe the bug

Hi folks,

I made a playground from a repo I imported.
Please see image for details....I verfied and manually installed "node-sass"....however seems the platform is not registering this properly.

Please let me know if I need to do something on my end to fix this or if its an actual issue.

Any and all help is very much appreciated!

### Link to the blitz that caused the erro

[2021-09-05 06:58] jrvidal commented on #316
Hi @Darkmift this behavior is expected, see https://developer.stackblitz.com/docs/platform/turbo/#node-sass. You should have gotten a warning when `npm install` exited.

[2021-09-05 14:17] Darkmift commented on #316
Thank you for your help! After making the change the project is indeed loading properly.

[2021-09-05 14:17] #316 closed

[2021-09-05 19:04] tony19 opened #317 "Vue 3 starter uses old version of Vue 3"
### Describe the bug

The [official Vue 3 starter](https://stackblitz.com/fork/vue) currently uses `vue@3.0.0`, which has several bugs and is missing some interesting features that have since been added (including `<script setup>`). As of today, the latest release is [`vue@3.2.8`](https://github.com/vuejs/vue-next/releases/tag/v3.2.8). Can the blitz be updated to use `@latest`?

### Link to the bl

[2021-09-05 19:07] tony19 commented on #207
No longer reproducible

[2021-09-05 19:07] #207 closed

[2021-09-05 21:58] tony19 opened #318 "Specified Git commit message ignored"
### Describe the bug

When commiting, the default commit message (e.g., 2 files modified) is used instead of the specified one.

### Link to the blitz that caused the error

https://stackblitz.com/edit/vite-vue2-prismic-blog-demo

### Steps to reproduce

1. Go to blitz.
2. Edit a file.
3. Click **Commit** button at the top.
4. In the Commit Message dialog, change the message to anything other than

[2021-09-06 10:00] SuperOleg39 commented on #77
Hi!

Have the same problem here https://stackblitz.com/edit/node-fk1xaf - try to create our SSR framework template.

@KwintenP do you have some workarounds how to get much full logs, maybe error trace?
I want to debug this issue, Web Containers is so impressive, and it will be awesome to run our framework at stackblitz)

[2021-09-06 10:09] KwintenP commented on #77
Getting better logs for this atm won't be really possible, it seems to be an internal error on our side. I'll try and see if we can figure out what the issue is on this on.

[2021-09-06 10:10] SuperOleg39 commented on #77
Thanks you!

[2021-09-07 08:15] jrvidal commented on #126
This seems to fail now due to the lack of http2. @Krutsch We're tracking this issue internally now, but unfortunately I can't offer a timeline for the fix.

[2021-09-07 09:07] jrvidal commented on #131
This now fails with a linking error. @dylang We are aware of this limitation, we'll notify any updates in this thread. Thanks for reporting.

[2021-09-07 10:16] jrvidal commented on #149
Hi @marcelschork this is a known limitation of our UI at the moment, we can't guess which path we should open out of the box. We're considering solutions for this, thanks for reporting.

[2021-09-07 19:55] ajonp opened #319 "Firebase Tools"
### Describe the bug

I am unable to initialize products by running

`firebase init`

or

`firebase projects:addfirebase`

It will timeout or show this error...

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-2jcbtf

### Steps to reproduce

1. wait for install to finish
2. run `firebase init`
3. you may be asked to login and then add token
4. after correct au

[2021-09-07 21:38] jrvidal commented on #295
@afarago I can't reproduce the bug. We recently fixed an issue which might have taken care of your problem. Please feel free to re-file if you find anything else. Thanks for the report!

[2021-09-07 21:38] #295 closed

[2021-09-08 06:59] afarago commented on #295
Thank you, I have checked it in a forked environment and it works like a charm.
https://stackblitz.com/edit/angular-with-node-e71rda

[2021-09-08 15:44] andreas-kater opened #320 "Nothing happens on clicking "Open In new Window""
### Describe the bug

Nothing happens on clicking "Open In new Window"

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-t5ooxw

### Steps to reproduce

click on button in top right

### Expected behavior

opening in new window

### Screenshots

_No response_

### Platform

[code]

### Additional context

_No response_

[2021-09-08 21:41] SnirShechter opened #321 "Filewatch in a Nestjs project not working"
### Describe the bug

nest's dev mode (nest start --watch) doesn't work properly. On file change the process throws an error and seems to exit in the console but the server keeps running and serves the server (without the file changes).

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-ngv34r?file=src%2Fapp.service.ts

### Steps to reproduce

1. Go to https://stackblit

[2021-09-09 06:14] MISHA35656 opened #322 "JS Anti-NPM"
### Describe the bug

When im importing module in js, and noding, file is consoled error. Here's error:

Please accept to work
ReferenceError: Notification is not defined
    at Object.eval (/home/projects/node-nbrhlm/index.js:7:1)
    at Object.function (https://node-nbrhlm.jw.staticblitz.com/blitz.dd88a1655a6ea3f646b7279b57a2839a424ce920.js:11:124216)
    at Module._compile (https://node-nbrhlm.

[2021-09-09 09:38] jrvidal commented on #322
Hi @MISHA35656 this is working as intended. WebContainers is a _Node.js_ runtime. The code you're showing us would not work locally on Node.js either, would it?

What you _can_ do is to run a Node.js application that _serves_ a web application using notifications. See for instance https://next.new for an example using Next.js (though you can write it using any library/framework you want).

Hope th

[2021-09-09 09:38] #322 closed

[2021-09-09 09:40] jrvidal commented on #321
@SnirShechter Just as an FYI, this is a known limitation for the time being, since we don't ship a `ps` command.

[2021-09-10 15:24] fvsch commented on #14
@jonathansampson We now have a warning component shown in Brave when the Service Worker registration fails, linking to https://github.com/stackblitz/webcontainer-core/blob/main/browsers/brave/brave.md

It actually shipped in July, but I forgot to update this issue!

[2021-09-10 15:24] #14 closed

[2021-09-11 13:51] d3lm commented on #319
Hey there! Thanks for reporting this issue. I haven't looked more closely at your issue but this might be related to some internal compression bug related to gzip. The `incorrect header check` could come from the `zlib` builtins. It would be awesome if you could investigate a bit and if possible provide a more minimal reproduction. This would help us tremendously and increases the chance for this

[2021-09-11 14:00] d3lm commented on #311
Thanks for reporting this issue and it appears to be a bug with our server implementation.

[2021-09-11 14:06] d3lm commented on #305
Hey there! Thanks for reporting this issue. It's currently not supported to install dependencies via URLs. This is on our todo list tho.

[2021-09-13 14:56] arcanis opened #323 "_getActiveHandles is missing"
### Describe the bug

The `process._getActiveHandles` function is missing, making it difficult to investigate what might prevent a process from exiting.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-jrqrpi

### Steps to reproduce

Run `node index.js`

### Expected behavior

Should display something like:

![image](https://user-images.githubusercontent.com/1037931/1

[2021-09-13 18:31] arcanis commented on #323
Fwiw my active handle was a worker_thread, even though we call `unref` on it.

[2021-09-13 21:58] jrvidal commented on #323
@arcanis Would you be up for opening another issue with the `unref`'ed worker that prevented the process from exiting? That sounds like a bug.

[2021-09-14 11:51] jrvidal commented on #311
@jifakir I cannot reproduce your issue. We recently merged a fix for a server bug that might be what you were observing. Please feel free to file again if you find any further issues. Thanks!

[2021-09-14 11:51] #311 closed

[2021-09-14 15:41] #269 closed

[2021-09-14 16:07] agualis opened #324 "WebContainer does not start when importing project from github public repository"
### Describe the bug

We have this working [stackblitz](https://stackblitz.com/edit/framepay-card-basic) that works as expected.

But, it does not work when we try to run the same example importing the code from a public github repo:

https://stackblitz.com/github/agualis/framepay-examples

👆 `Booting WebContainer` message is the only thing that we see in the right panel.

### Link to the blitz th

[2021-09-14 17:54] HeyGarrison commented on #318
@tony19 is the repo that you're working with public by chance?

I just fixed a bug (not in production yet) where we were double committing changes. Would love to see if that's what is happening here.

[2021-09-14 21:10] brunomoutinho opened #325 "Error when trying to load a MDX file with mdx-bundler and next.js"
### **Description of Bug**
I have a create-next-app for which I installed mdx-bundler and was trying to load MDX files. Outside of Stackblitz, the MDX files are being loaded fine, but I am unable to do it in Stackblitz due to the following error:

[code]

According to a user in the Stackblitz Discord server, the issue is probably related to the following:

[code]

My Stackblitz project link:
https

[2021-09-15 12:51] jrvidal commented on #102
@Pyrolistical Are you still seeing this? I can't reproduce.

[2021-09-15 12:51] jrvidal commented on #110
@mehulbaid I'm having trouble reproducing from your link, since it already includes `@hapi/hapi`. This might be related to https://github.com/stackblitz/webcontainer-core/issues/102, which I cannot reproduce either. Are you still observing this issue?

[2021-09-15 13:12] jrvidal commented on #120
@oe I tried reproducing this and we now throw when trying to require [deasync](https://www.npmjs.com/package/deasync), which relies on native bindings, which we don't support.

We could try to polyfill but success it's not guaranteed :disappointed:  It seems that parcel@v2 does not use deasync at least...

[2021-09-15 15:54] Pyrolistical commented on #102
Looks like its been fixed

[2021-09-15 15:54] #102 closed

[2021-09-15 15:57] Pyrolistical commented on #296
This bug still remains. This is a very serious bug as it makes any project unusable once connected to a github repo

[2021-09-15 17:11] d3lm commented on #325
I have moved this issue because it's related to WebContainer.

[2021-09-15 18:29] brunomoutinho commented on #325
I have recriated the Stackblitz project and just thought later that the URL might be needed still. So this is it: https://stackblitz.com/edit/nextjs-zsxy8n

I have created the `.stackblitzrc` file and will test it now.

[2021-09-15 18:32] brunomoutinho commented on #325
@d3lm I can confirm that the `.stackblitz` file with the content you provided makes it work like a charm! Thanks for the solution!

[2021-09-15 18:35] d3lm commented on #325
You are welcome. Glad it worked out for you. Sorry that it's an opt-in for CJS but it's a performance reason and we need to do some more work to make it fast by default without manually enabling it.

[2021-09-15 18:35] #325 closed

[2021-09-16 01:28] Seanmclem opened #326 "Import github repo error with ref/heads/master"
### Describe the bug

When I try to import my github repo it thows an error, for the node web container thing. It says "error with ref/heads/master", but is that maybe because this repo doesn't have a "master", just a "main" branch?

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-w2bmc1

### Steps to reproduce

import https://github.com/Seanmclem/r3f-rts as a repo in

[2021-09-16 05:14] oe commented on #120
@jrvidal  parcel@v1  is still widely used, it would be very nice if parcel@v1 could work well on webcontainer🙏🏻

You may visit https://www.npmjs.com/package/parcel-bundler to check its weekly downloads

[2021-09-16 06:23] tony19 commented on #326
Duplicate of #195

[2021-09-16 07:21] jrvidal commented on #296
@Pyrolistical @jafri Could you elaborate a bit on the steps to reproduce? What I've tried so far is:
* Create a new project based on the "Node.js - Blank Project" template.
* Edit `index.js`
* Save
* Run `node index.js` in the terminal.

And it does run the updated version.

[2021-09-16 10:35] jrvidal commented on #301
@tony19 The problem here is that `jointjs` is just too big. We do have size limits for the packages we download during installation, lazy-loading the rest when needed. However our heuristics do not cover `jointjs` yet.

We do want to fix this issue, and it's in our internal roadmap. However, I've filed https://github.com/clientIO/joint/issues/1525 upstream, because the size of this package does no

[2021-09-16 13:14] rubenvidales opened #327 "Failing when run Mocha Chai testing"
### Describe the bug

Trying to use pass a simple test asserts with Mocha & Chai throws an error
`TypeError: Failed to fetch dynamically imported module: file:///home/projects/node-um3w4m/test/appTest.js`

The same code exactly in a local machine works fine.

Maybe is a problem when the dependecies was installed.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-um3w4m

[2021-09-16 13:34] jrvidal commented on #120
@oe We did some monkey-patching of `deasync` through an internal polyfill. You'll see now that the blitz you linked works :tada:.

However there are a few caveats:
* `deasync` won't really work if it is actually run at some point.
* There are some error messages related to missing features in the shell.

Since they don't seem to be deal breakers, I'm going to close this. Please feel free to open m

[2021-09-16 13:34] #120 closed

[2021-09-16 13:39] jrvidal commented on #327
It works with:

[code]

This is due to a "legacy" CommonJS file trying to use dynamic `import()`. This works but you need to opt in through an environment variable. Please check https://github.com/stackblitz/webcontainer-core/issues/281 for more info.

[2021-09-16 13:39] #327 closed

[2021-09-16 17:40] Pyrolistical commented on #296
@jrvidal Sorry the steps were incomplete. Here's the full repo steps.

1. Create a new project based on the "Node.js - Blank Project" template.
2. Connect it to a github repository
2. Edit index.js
3. Save
4. Run `node index.js` in the terminal.
5. See the change didn't work
6. Commit change
7. Run `node index.js` in the terminal.
8. See the change didn't work
9. Reload site
10. Run `node index.js

[2021-09-16 21:07] tony19 opened #328 "Wrong error message when changing project URL of frozen project"
### Describe the bug

Attempting to change the project URL of a frozen project causes this error message to display:

[code]

But the actual problem is that settings can't be changed because the project is frozen.

The error returned from the API:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/vite-vue3-prismic-blog-demo?file=package.json

### Steps to reproduce

[2021-09-16 23:38] tony19 commented on #318
@HeyGarrison The issue was reported against a private repo, but I just tried it on a different public repo, and the problem is there as well.

StackBlitz: https://stackblitz.com/edit/vue3-test2
GitHub repo: https://github.com/tony19-sandbox/vue3-test

[2021-09-17 07:23] oe commented on #120
Great🎉.  It works!

[2021-09-17 17:37] EricSimons opened #329 "Rust toolchain support"
**Describe the solution you'd like:**

Enable support for running Rust toolchains natively in WebContainer.

**Additional context:**

The main blockers AFAIK are:

- [ ] Rust compiler as self hosting WASM (https://github.com/rust-lang/miri/issues/722)
- [ ] WASI support in WebContainer

[2021-09-19 05:26] mishrasatyam opened #330 "Change default branch name, from master to main"
### Describe the bug

If I import an existing github repository, stackblitz tries to import master branch, instead of main branch.

Ideally you should make me choose from my branches.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-8hpys9

### Steps to reproduce

1.Go to stackblitz.com
2.Start a new node js project
3. Try importing a repo

### Expected behavior

Give

[2021-09-20 15:31] datainvestor commented on #184
Any progress on this issue? Wanted to try stackblitz but seems it does not support Vue 2 out of the box. Cant find any typical template that you get when doing "vue create app" or similar. Most of them are not single component based templates or have some extra things like typescript.

[2021-09-21 06:30] Qdigital opened #331 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-09-21 09:13] jrvidal commented on #331
Closing this issue as it's unclear what is wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you. :pray:

[2021-09-21 09:13] #331 closed

[2021-09-22 01:21] Lucifer25x opened #332 "Server is not opening."
### Describe the bug

Server is not opening.

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-cuaf2i?file=src%2Fpages%2Fdeneme.md

### Steps to reproduce

1. Create node.js project.
2. Create Web server.

### Expected behavior

Web server is not working sometimes.

### Screenshots

_No response_

### Platform

[code]

### Additional context

_No response_

[2021-09-22 07:18] jrvidal commented on #332
@Lucifer25x Sorry I was not able to reproduce. Can you elaborate on what happens exactly? Does the preview window open at all? Do you get open port notifications? Also, do you get any suspicious errors in the dev tools console?

[2021-09-22 10:49] mehulbaid commented on #110
it includes @hapi/hapi but the same isn't reflected in package.json and gives out an error about module not found when imported.

[2021-09-22 11:39] jrvidal commented on #110
@mehulbaid Are the "Steps to reproduce" you gave above still accurate? Should I start from the blitz you linked?

[2021-09-22 13:19] Lucifer25x commented on #332
I did not get any error.  The console says the port is open, but this is not visible in the preview on window right. It works when I try it first. However, when you end and restart the port, the port does not open and does not give any errors. This is not the first time this has happened to me. I use Opera.

[2021-09-22 14:16] deadcoder0904 opened #333 "Passport + Next-Connect + Next.js example isn't working"
### Describe the bug

The repo linked doesn't work as expected.

### Link to the blitz that caused the error

https://stackblitz.com/github/vercel/next.js/tree/canary/examples/with-passport-and-next-connect?file=pages%2Findex.js

### Steps to reproduce

Just click on the above repo & perform the steps given in the url

### Expected behavior

It should work

### Screenshots

_No response_

### Plat

[2021-09-23 07:36] jrvidal commented on #333
@deadcoder0904 This looks like a bug on our side, thanks for the report.

[2021-09-24 10:28] d3lm commented on #332
Also make sure the same project is not open in another tab. That can also result in funky behavior.

[2021-09-24 11:16] PaulSenon opened #334 "Next.js build randomly fails at random places on stackblitz app reload"
### Describe the bug

When reloading page (I mean the whole stackblitz app, not the preview), sometime build fails at random places in code and the error is located in the main file (here page/index.js) (the one opened by default when I refresh the whole stackblitz app). It's really a bug, if I hit F5 a bunch of time without changing anything it eventually end up working...

What I think could be

[2021-09-24 15:28] Lucifer25x commented on #332
Sometimes it work well, but sometimes server not opening. Thanks.

[2021-09-24 22:25] d3lm commented on #245
Quick update, the `-r` flag is now supported.

Yea, the `a is not a function` error seems to be crypto related. We will let you know when there's an update.

[2021-09-28 21:11] FredKSchott opened #335 "astro@next - terser issue"
### Describe the bug

The next version of Astro will be powered by Vite! This is a departure from our current Snowpack build engine.

I'm trying to get this running on Stackblitz so that I can include a link in our preview announcement blog post, but I'm seeing an odd terser bug. We don't run terser as far as I know, so I'm assuming that this is something happening in Stackblitz? "Error: Build fai

[2021-09-28 21:14] FredKSchott commented on #335
One possible culprit:  Somewhere inside of Astro we do:
[code]

`rollupPluginHTML` isn't ever used in the path of the dev server, but possibly just loading it is causing some issue inside of Stackblitz?

[2021-09-29 02:02] StillOnMyWay opened #336 "On Local, Editor Reshuffled & Overwrote Files"
### Describe the bug

Using the Stackblitz Local Editor, I've reopened a project I've been working on. The project was nested under the main local folder: i.e.

local-project-folder
- local-project-folder **(same name)**
- - package.json
- - etc.

What has happened now on reopening is that the files that were down a level in the nested _local-project-folder_ were all brought up into the main folde

[2021-09-29 10:46] jrvidal commented on #335
@FredKSchott  Thanks for the report, this does not seem to be a Stackblitz issue. I'm able to reproduce the problem in local as well:
* Download the code from the above blitz
* Run `npm install astro@next--compiler` (resolved to `0.0.0-compiler-2021824171345`)
* Run `npm start`

[code]

Feel free to re-file if you find anything else.

[2021-09-29 10:46] #335 closed

[2021-09-29 11:54] DavidOtero91 opened #337 "Problem after conect project with repository"
### Describe the bug

After connecting the project with the github account it stops working properly.

If I change any of the scripts in the package.json and try to run it, node tries to run what was there before.

I have also noticed that when I start for example the sass script it does not work correctly either.

All this after creating the github repository

I have tried downloading and copying

[2021-09-29 12:08] geromegrignon commented on #337
Hey @DavidOtero91,

About the node/nodemon part, you need to save changes on the project before using them with (CTRL + S).
Meanwhile, the affected files are tagged as they would be on VSCode:
![image](https://user-images.githubusercontent.com/32737308/135264759-d2913fd0-8e69-44df-88f5-f128c6653de3.png)

About `build-css`, WebContainers don't seem to allow multiple scripts running at the same time

[2021-09-29 20:20] d3lm commented on #337
You can start multiple scripts with multiple different terminal windows. Or you can use something like `concurrently`.

[2021-09-29 20:24] geromegrignon commented on #337
You are right Dominic, for some reasons `npm run build-css` was stuck when I first tested it. It works as expected now.

[2021-09-29 20:31] FredKSchott commented on #335
Ah shoot, no idea why this was working locally then. I'll follow up in our repo then. Thanks for the sanity check!

Tracking: https://github.com/snowpackjs/astro/pull/1406#issuecomment-930506551

[2021-09-29 20:48] jrvidal commented on #209
@quinton-ashley We recently fixed an issue where forking a blitz using WebContainer would leave make it unusable. After this change, forking will always hard-reload the document so the issue you were experiencing should not occur.

Thanks for reporting! Feel free to open more issues if you still find anything off.

[2021-09-29 20:48] #209 closed

[2021-09-30 02:54] brjupo opened #338 "Terminal uses other keyboard configuration"
### Describe the bug

Terminal uses a different configuration of keyboard [different to the file editor] [different to the computer keyboard configuration]

1.- Create a file
2.- In the created file, write the next text using keyboard [DO NOT COPY IT]
"Hello! My name = Jürguen Díaz"
3.- Open a terminal
4.- In the terminal, write the next text using keyboard [DO NOT COPY IT]
"Hello! My name = Jürgu

[2021-09-30 12:36] DavidOtero91 commented on #337
mmm

Yes, the problem is that after changing the start script in the package.json it does not run the new previous version but the one that was there before.

![Captura](https://user-images.githubusercontent.com/29038513/135455099-80b942a0-5e00-448f-b003-85481f2b9450.PNG)
Initially the start script was node server.js

And Sass although it starts it does not work correctly.

The idea is that when s

[2021-09-30 23:29] tony19 opened #339 "N.BrotliEncoder is not a constructor"
### Describe the bug

Trying to use Brotli compression (via `compression-webpack-plugin`) in StackBlitz Node container results in an error:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/stackblitz-bug-no-brotli?file=vue.config.js

### Steps to reproduce

1. Use Vue CLI 5 to scaffold project, and configure `compression-webpack-plugin` to Brotli-compress `.js` fil

[2021-10-01 06:56] jrvidal commented on #339
This is a known limitation and it's in our internal tracker.

[2021-10-01 18:06] SamVerschueren commented on #338
Hi @brjupo! Thanks for reporting this issue. Can you reproduce this in VSCode terminal as well? Or does it work correctly in VSCode terminal? We use XTerm.js which is used by VSCode, so I'm wondering if they do something differently.

[2021-10-04 06:30] YukiDeezNuts opened #340 "All my progress gone"
### Describe the bug

I coded around 30,000 lines of code in total, then I reloaded the site. Then all of my progress disappeared

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-zn317f

### Steps to reproduce

1. Make code, 2. Reload site.

### Expected behavior

Everything is still there when reloaded

### Screenshots

_No response_

### Platform

[code]

### Additi

[2021-10-04 11:06] SteveALee opened #341 "Astro examples just say "Upgrade Required""
### Describe the bug

Clicking on the "Launch In Stackblitz" button on the astro examples Is just see the message "Upgrade Required" in the ouput window on the right.

https://github.com/snowpackjs/astro/tree/main/examples/starter
https://stackblitz.com/github/snowpackjs/astro/tree/latest/examples/portfolio

Upgrade what? How?

Windows + latest Chrome

### Link to the blitz that caused the error

[2021-10-04 12:40] jrvidal commented on #47
@socsieng  This is most likely related to https://github.com/stackblitz/webcontainer-core/issues/209, which we fixed by reloading the page on forking (for Node projects).

Thanks for the report! Please feel free to open more issues if you find something else.

[2021-10-04 12:40] #47 closed

[2021-10-04 16:47] jrvidal commented on #310
Fixed upstream, so closing this :+1:

[2021-10-04 16:47] #310 closed

[2021-10-04 17:52] SamVerschueren commented on #341
Hi @SteveALee! This seems to be a regression on our side. Thanks for reporting! We'll see what we can do.

[2021-10-04 23:27] #340 closed

[2021-10-05 08:42] jrvidal commented on #341
@SteveALee FWIW, the "Upgrade Required" message you're getting is the response of the server running on port 12321 (as you can see in the URL in the preview bar). We're looking into why the main server is not responsive.

[2021-10-05 09:15] SteveALee commented on #341
@jrvidal Thanks for the info!

[2021-10-05 09:43] mehulbaid commented on #110
@jrvidal yes, they are still valid.

[2021-10-05 15:18] jrvidal commented on #110
@mehulbaid Sorry but we don't have enough info to act on this. I can't reproduce with the steps and the blitz given above. The blitz, as mentioned before, does include `@hapi/hapi` in its `package.json`, maybe b/c it was last saved _after_ trying to make the installation work.

If you are still observing this, could you post a gif and/or screenshots of the browser console? Something that could be

[2021-10-05 20:33] #131 closed

[2021-10-06 01:52] wtigert opened #342 "WebContainers says "Incompatible Web Browser" in Brave Browser"
### Describe the bug

All WebContainer reliant projects in beta (Next.js, Nuxt, Node.js, GraphQL) show "Incompatible Web Browser" messaging in the preview area for Brave browser: `Version 1.30.87 Chromium: 94.0.4606.71 (Official Build) (x86_64)`. I also tested a project in a private tab with all extensions disabled as well as in Edge and Chrome browsers (latest) with the same result.

### Link to

[2021-10-06 04:04] gangsthub commented on #342
Happens the same to me in Chrome!

This is my UA: `'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36'`

[2021-10-06 04:16] tony19 commented on #342
This seems to only occur with the Node-based starter projects. The others still work (Vue, React, Vanilla JavaScript, Static, TypeScript, RxJS, Ionic).

[2021-10-06 07:00] KwintenP commented on #342
Thanks for reporting. We are currently looking into the issue!

[2021-10-06 07:29] KwintenP commented on #342
Hi, can you try again, it should be fixed.

We had an origin trial token that allows us to use `SharedArrayBuffer` to be used that expired. Thanks again for creating the issue!

[2021-10-06 14:00] jrvidal commented on #341
@SteveALee The linked blitz works now :tada: Thanks for the report!

[2021-10-06 14:00] #341 closed

[2021-10-06 14:07] SteveALee commented on #341
@jrvidal Thanks, I'm glad you added that note :)

[2021-10-06 23:20] Jaka1111 opened #343 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-10-06 23:59] #343 closed

[2021-10-07 10:23] razvn opened #344 "Vite.new/svelte or svelte-ts Failed to load config vite.config.js"
### Describe the bug

After generating the skeleton vite.new/svelte or vite.new/svelte-ts, `npm run dev` or `vite` fails with the error

error when starting dev server:
TypeError: Failed to fetch dynamically imported module: file:///home/projects/vitejs-vite-menhuc/vite.config.js?t=1633599395041

### Link to the blitz that caused the error

https://stackblitz.com/edit/vitejs-vite-menhuc?file=vite.

[2021-10-07 13:48] #291 closed

[2021-10-08 08:43] jrvidal commented on #76
This is a duplicate of #21

[2021-10-08 08:43] #76 closed

[2021-10-08 11:25] jrvidal commented on #129
@Akash3444 This works for me now. Are you still observing this issue?

[2021-10-08 12:07] jrvidal commented on #145
@masx200 This has been fixed for a while now. Thanks for the report!

[2021-10-08 12:08] jrvidal commented on #152
Closing as duplicate of https://github.com/stackblitz/webcontainer-core/issues/126

[2021-10-08 12:08] #152 closed

[2021-10-08 12:48] #180 closed

[2021-10-08 15:44] Pyrolistical commented on #135
yep its fixed

[2021-10-08 15:44] #135 closed

[2021-10-09 15:37] Milo123459 opened #345 "PNPM like caching"
**Is your feature request related to a problem? Please describe:**

Installing dependencies can take a while
**Describe the solution you'd like:**

Dependencies, cached with PNPM in browser storage. It doesn't have to use PNPM, but just something like PNPM
**Describe alternatives you've considered:**

N/A
**Additional context:**

N/A

[2021-10-09 20:43] geromegrignon commented on #345
Hey @Milo123459, could you change the title of this issue, so it matches the cache part of the request?
It'll help the core team to triage your issue.

[2021-10-10 20:20] hodgef opened #346 "Github Sandbox stuck on "Booting Web Container""
### Describe the bug

A simple sandbox using parcel bundler to display an html page seems to be stuck at boot up.

https://stackblitz.com/github/hodgef/simple-keyboard-npm-demos

### Link to the blitz that caused the error

https://stackblitz.com/github/hodgef/simple-keyboard-npm-demos

### Steps to reproduce

1. Visit the sandbox and the issue is immediately seen

### Expected behavior

1. The sa

[2021-10-11 01:53] hmmhmmhm opened #347 "Framework support for electron"
Is it possible to run the electron program through webcontainer?
I wonder if I can expose the browser window shown within the electron to the user browser.

[2021-10-11 11:25] jrvidal commented on #347
Electron is a native app, a custom Chromium installation in essence. WebContainer runs entirely within the browser, so we can't make Electron work per se.

[2021-10-13 15:14] #116 closed

[2021-10-13 20:27] elprimo550 opened #348 "Vue3 container does not work with vue-router"
### Describe the bug

When adding vue-router to my vue3 container I receive the following error
-------------------------
Error in /turbo_modules/vue-router@4.0.11/dist/vue-router.global.js (3424:7)
Vue is not defined

### Link to the blitz that caused the error

https://stackblitz.com/edit/vue-gnrwtk

### Steps to reproduce

Enter container.

Error is on the right.

### Expected behavior

Enter C

[2021-10-14 19:15] ntucker commented on #54
Any progress on tracking this down?

[2021-10-15 12:51] #344 closed

[2021-10-15 13:52] #346 closed

[2021-10-16 06:00] tony19 opened #350 "Error when importing vue-flickity in Nuxt/Node starter"
### Describe the bug

Importing [`vue-flickity`](https://www.npmjs.com/package/vue-flickity) results in an `Unexpected token '<'` error. The browser console shows a `500` status code:

[code]

The error also [affects the Node starter](https://stackblitz.com/edit/node-importing-vue-flickity?file=index.js), which emits this stacktrace:

[code]

The [Vue starter is not affected](https://stackblitz.co

[2021-10-16 06:39] #350 closed

[2021-10-17 09:02] mokuzuu commented on #280
I had same issue. I ran `yarn` and `Loading ideal dependency tree` is displayed.

[2021-10-19 05:55] tony19 opened #351 "SyntaxError when starting Vite after `npm i vuex`"
### Describe the bug

Installing `vuex` causes `vite` to hit a `SyntaxError`, as seen in the terminal log below. There's no need to even invoke `vuex` in the project.

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/stackblitz-bug-syntax-error-after-npm-i-vuex?file=vite.config.js

### Steps to reproduce

1. Open [Vite + Vue 2 Starter](https://stackblitz.com/edit/vu

[2021-10-19 06:06] tony19 opened #352 "The package "esbuild-linux-64" could not be found, and is needed by esbuild."
### Describe the bug

[This Vite project](https://github.com/tony19-sandbox/vmodel-demo) seems to fail startup in a Node.js container, as shown in the terminal log below. The error is the same one from https://github.com/vitejs/vite/issues/5187, and installing `esbuild@0.13.4` (as a [workaround](https://github.com/vitejs/vite/issues/5187#issuecomment-934526169)) does resolve the error, but then it

[2021-10-19 09:44] nagkumar opened #353 "All local projects are not copying *.scss files"
### Describe the bug

![image](https://user-images.githubusercontent.com/332234/137885025-eb03aff9-ed77-4870-a2f9-e590432dcece.png)

Why scss file are not copied when the local project is created..

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-b6gseg?file=styles.scss

### Steps to reproduce

1. create a local project
2. Point to angular app that is local in your ma

[2021-10-19 15:18] NullVoxPopuli opened #354 "Framework support for Ember.JS"
**Describe the solution you'd like:**
I'd like stackblitz framework/template links to link to the official "output repo" for online editors (there is now an official branch just for stackblitz-specific customizations)

**Provide a link to a github repo containing an example of the framework:**

~~https://stackblitz.com/github/ember-cli/ember-new-output/tree/stable?file=README.md~~
https://stackbli

[2021-10-19 22:27] tony19 commented on #351
@klevron Thanks! I confirmed the issue is no longer reproducible.

[2021-10-19 22:29] #352 closed, assigned to nobody

[2021-10-19 22:41] tony19 opened #355 "Refused to load script because it violates the following Content Security Policy directive: "default-src 'none'""
### Describe the bug

Attempting to start [Vite + Vue 2 blitz](https://stackblitz.com/edit/vue-vmodel-demo-y3bh2n) results in the following errors seen in the browser console:

[code]

The terminal window shows no errors. The preview pane shows `Cannot GET /`.

Interestingly, no errors are shown at all in Incognito mode, but the blitz never opens the preview. It gets stuck in "Running start comman

[2021-10-20 00:49] EricSimons commented on #354
Oh I see, the start command is optimistic in opening the devserver. Definitely seems like the writes to the `dist` folder are the issue here. Is there a way to turn that feature off by chance? If not, we've also been talking about adding a `.stackblitzignore` or something akin that would solve this as well. Curious wyt?

[2021-10-20 00:51] NullVoxPopuli commented on #354
I'd think stackblitz should respect .gitignore

[2021-10-20 04:05] tony19 commented on #355
The strange thing is the problem doesn't occur in a [this blitz that recreates the original project](https://stackblitz.com/edit/vue2-v-model-demo-2?file=src/App.vue).

[2021-10-20 07:07] klevron commented on #351
The error is back this morning

[2021-10-20 08:32] Chaphasilor opened #356 "sli.dev/new isn't working - project throws errors on start"
### Describe the bug

Instead of starting the forked slidev project, I get an uncaught exception in the terminal and the preview panel keeps showing "Running start command":

![image](https://user-images.githubusercontent.com/18015147/138055939-4a2ac2c2-8935-4294-b7e1-b6c28220bdd7.png)

It has been like this for multiple minutes now.

### Link to the blitz that caused the error

https://stackblitz

[2021-10-20 09:03] Ssaacc opened #357 "Afafa"
### Describe the bug

AgaggHGqbaNa
akhzjiau
BggcGb
.auyjan  gzzb Hz.a

### Link to the blitz that caused the error

https://stackblitz.com/edit/http-server-3pqgmf

### Steps to reproduce

HsnVz. @&&*&🤪#&&*;℅

### Expected behavior

AhhzjZv,n bahshjsg bahxqx.jkx

### Screenshots

HsajshbWj. Bjshznsjhd

### Platform

[code]

[2021-10-20 11:25] SamVerschueren commented on #357
Closing this issue as it's unclear what goes wrong and none of the required details are filled in. Feel free to open a new issue and fill in all the necessary details so we have enough information to have a look ourselves. The more information we have, the better we can help you 🙏 .

[2021-10-20 11:25] #357 closed

[2021-10-20 12:49] #356 closed, assigned to nobody

[2021-10-20 13:35] SamVerschueren commented on #345
@Milo123459 Going to close this issue. Feel free to create a new issue if you have use cases where the caching doesn't seem to work correctly. Caching is an important part of our setup so we're definitely interested to hear when it doesn't work.

[2021-10-20 13:35] #345 closed

[2021-10-20 23:41] tony19 commented on #351
@klevron I think it's fixed now based on https://github.com/stackblitz/webcontainer-core/issues/356#issuecomment-947633187

[2021-10-21 16:47] makma opened #358 "Using node-fetch custom headers ends with a socket hang up error"
### Describe the bug

When using some API eg (`https://agify.io/`) with non-standard (at least that's my observation) HTTP headers there is an error in the Stackblitz console.

I came across this when I was trying to use SDK that internally uses an `Auth-token` header and I managed to create minimal steps to reproduce.
On the local node environment (outside the WebContainer) this works just fine.

[2021-10-21 17:06] d3lm commented on #358
Hey there! This is unfortunately not a bug on our side. The reason the second call fails is due to CORS restrictions on that API you're trying to reach. Your second request contains a custom header which means it would send a preflight request first and that one gets blocked by CORS. The first one works, because you don't have a so called special request and there is no preflight request. Seems th

[2021-10-21 17:06] #358 closed, assigned to nobody

[2021-10-21 20:48] alekrudolph opened #359 "Nuxt beta doesn't work"
### Describe the bug

See for yourself. The "preview" just spins forever, even though the terminal says it is listening to port 3000.

### Link to the blitz that caused the error

https://stackblitz.com/edit/nuxt-starter-djtmef?file=md!README.md

### Steps to reproduce

1. Go to my blitz

### Expected behavior

Website loads, "browser" refresh button is not disabled

### Screenshots

![image](http

[2021-10-22 02:35] jrvidal commented on #359
@alekrudolph I can't reproduce the issue :disappointed: Do you see any errors in the console?

![Screenshot from 2021-10-22 04-34-27](https://user-images.githubusercontent.com/1636604/138384056-771d7751-149e-4865-a55c-40193ad65fd0.png)

[2021-10-22 03:30] tony19 commented on #359
I can reproduce the problem in Chrome's Incognito mode, and no relevant logs appear in the console. In Chrome's normal mode, the preview window opens to a blank screen after the dev server starts up, and I have to hit the preview pane's refresh button to get the site to appear. Both behvaiors are consistently reproducible for me.

[code]

[2021-10-24 12:48] ghost opened #362 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-10-24 16:23] #362 closed, assigned to nobody

[2021-10-25 23:36] tony19 opened #364 "Nuxt 3 fails with [uncaughtException] r.writeLatin1String is not a function"
### Describe the bug

This [Nuxt 3 project](https://stackblitz.com/edit/nuxt3-paint-worklet) works fine offline (on macOS) but emits the following error in StackBlitz:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/nuxt3-paint-worklet

### Steps to reproduce

1. Open blitz, and allow it to boot up
2. Observe the error in the terminal output

### Expected behavior

[2021-10-28 11:42] arcanis opened #365 "Calling `worker.once` implicitly calls `worker.ref`"
### Describe the bug

Calling `unref` from a `message` event handler doesn't have any effect in StackBlitz. This causes the following code to hang, unlike in stock Node:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-fmhgw9

### Steps to reproduce

1. Run `index.js`

### Expected behavior

It shouldn't hang.

### Screenshots

_No response_

### Platform

- O

[2021-10-28 19:19] eric-burel opened #366 "Cannot import existing GitHub project that do not have a "master" branch"
### Describe the bug

Cannot import existing GitHub project that do not have a "master" branch

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-aqk3t6

### Steps to reproduce

Try to import any GitHub project that uses a "main" branch, and have no "master" branch.

### Expected behavior

Project should load the "main" branch, or at least do not fail and let the user p

[2021-10-29 19:44] MatthewGHub2 opened #368 "App not compiling."
### Describe the bug

Will not compile app.

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-poeerw?file=package-lock.json

### Steps to reproduce

npm run dev

### Expected behavior

error - Failed to load next.config.js, see more info here https://nextjs.org/docs/messages/next-config-error
[TypeError: Failed to fetch dynamically imported module: file:///home/proje

[2021-10-29 22:41] Mortynex opened #369 "Support for "node:" protocol for importing builtin nodejs modules"
**Is your feature request related to a problem? Please describe:**
Many libraries make use of this feature, so not supporting would result in not being able to use these libraries.

**Describe the solution you'd like:**
Add the support for the protocol 😄

**Describe alternatives you've considered:**

**Additional context:**

`node:` is a protocol/prefix for importing a module to make clear that it

[2021-10-30 09:07] tanvc-0137 opened #370 "Sed alias deserunt e"
### Describe the bug

Reprehenderit et fu

### Link to the blitz that caused the error

Dolores consectetur

### Steps to reproduce

Deserunt ut est quae

### Expected behavior

Saepe in doloremque

### Screenshots

Officiis non ullam f

### Platform

Omnis ab iste ipsum

### Additional context

Enim voluptatibus pa

[2021-10-31 17:24] abbbbbr opened #371 "jhkg"
### Describe the bug

hn

### Link to the blitz that caused the error

https://stackblitz.com/github/webpack/webpack.js.org/tree/master/examples/getting-started?file=package-lock.json&terminal=

### Steps to reproduce

s

### Expected behavior

s

### Screenshots

_No response_

### Platform

[code]

### Additional context

_No response_

[2021-10-31 20:39] geromegrignon commented on #371
Hey @abbbbbr, please motivate this issue: what's your problem?

[2021-11-01 14:31] codergautam opened #372 "I have to fork to run changed code"
### Describe the bug

I have a github repo connected to a nodejs stackblitz project. When I change some code in stackblitz and try to run in WebContainer, it runs the previous code before the change. I have to press fork and reconnect my github repo for the changes to work. Help how do I make it so that it runs the latest code.

### Link to the blitz that caused the error

https://stackblitz.com/e

[2021-11-01 14:33] codergautam commented on #371
abbbbr.problem = undefined

[2021-11-02 08:21] jrvidal commented on #369
@Mortynex AFAICS we do support this feature: https://stackblitz.com/edit/node-ccqtbh?file=index.mjs&terminal=start

[2021-11-02 08:21] #369 closed

[2021-11-02 08:22] #370 closed

[2021-11-02 10:10] d3lm commented on #369
@Mortynex FWIW, this is only supported in ESM in Node 14 and not in CommonJS. As @jrvidal pointed out above, you can use `type: module` or, change `index.js` to `index.mjs` to run an ES module.

[2021-11-02 10:12] d3lm commented on #371
Closing this issue because it's missing relevant information. If you still encounter an issue, please open a new issue and fill in the required information.

[2021-11-02 10:12] #371 closed

[2021-11-02 17:40] WorkAttackDev opened #373 "Error creating a createCipheriv instance."
### Describe the bug

I'm trying to create a ´createCipheriv ´ instance from node crypto module but always throw an exception 'ERR_CRYPTO_UNKNOWN_CIPHER'.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-md2g1u?file=index.js

### Steps to reproduce

const {
  createHash,
  scryptSync,
  randomBytes,
  timingSafeEqual,
  createHmac,
  createCipheriv,
  createDecipheriv

[2021-11-02 19:14] jrvidal commented on #373
@WorkAttackDev Our support for crypto primitives is partial. For instance, `createCipheriv('aes-256-cbc')` should work.

If you could elaborate on your usecase, that would help us get a better idea of what crypto primitives are more interesting to support.

[2021-11-03 10:40] g-ariunbold opened #374 "Netx.js does not compile when connected to github repository"
### Describe the bug

Next.js project when **not** connected to github, works perfectly and changes show in the preview window immediately.

However, when connected to a github repository (created and connected through Stackblitz),
when I make an edit and save, changes does not show in the preview also compilation doesn't happen.

### Link to the blitz that caused the error

https://stackblitz.com

[2021-11-03 21:14] EricSimons opened #375 "Verdaccio errors out due to bad file descriptor"
### Describe the bug

After installing [`verdaccio`](https://verdaccio.org/), when you try to run it you get the following error:

![Screen Shot 2021-11-03 at 2 12 58 PM](https://user-images.githubusercontent.com/556934/140193580-014e3246-048b-45ca-9548-551357431ea9.png)

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-qfg73k?file=.stackblitzrc

### Steps to reproduce

[2021-11-04 05:44] gabrielbarrera3018 opened #376 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-11-04 07:08] geromegrignon commented on #376
Hey @gabrielbarrera3018,

Please fill your message with information about the framework you want Stackblitz to support.
Otherwise I encourage you to close this issue to save maintainers time.

[2021-11-04 08:14] niyarlatotep opened #377 "Angular generator doesn't show up in context panel"
### Describe the bug

Angular generator doesn't show up in context panel

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-rxuttc?file=src%2Ftest.ts

### Steps to reproduce

1. Select folder.
2. Click right mouse button.
3. There is no menu item for angular generator

### Expected behavior

There is menu item for angular generator

### Screenshots

![image](https://

[2021-11-04 13:34] Talk2riyaz opened #378 "When we upload the source on stackbliz but project not running"
### Describe the bug

When we upload the source on stackbliz but project not running

### Link to the blitz that caused the error

https://stackblitz.com/github/Talk2riyaz/demo-1

### Steps to reproduce

When we upload the source on stackbliz but project not running

### Expected behavior

When we upload the source on stackbliz but project not running

### Screenshots

When we upload the source on

[2021-11-04 15:33] geromegrignon commented on #378
Hey @Talk2riyaz,

By using your Stackblitz link and executing `npm start` in the terminal, there is an error related to a png file missing in the project.

[2021-11-04 16:10] mdlawrenceusa opened #379 "No angular generator option on dropdown menu"
### Describe the bug

When I <right-click> on app the dropdown menu does not include an option for the Angular Generator.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-kijuuh?file=src%2Fapp%2Fproduct-list%2Fproduct-list.component.html

### Steps to reproduce

When I <right-click> on app the dropdown menu does not include an option for the Angular Generator.

###

[2021-11-04 16:22] geromegrignon commented on #379
Duplicate of #377

[2021-11-04 16:24] mdlawrenceusa commented on #379
Thank you. Sorry for the duplicate.

Sent from my iPhone

[2021-11-05 03:34] dalenguyen opened #380 "Failed to run test for Nx Workspace Angular Project"
### Describe the bug

I was testing the Nx Project using Stackbliz.

Project: https://stackblitz.com/github/nrwl/stackblitz-nx-angular?preset=node

The Angular app runs without any issue. However, when running the testing command, the error appears.

### Link to the blitz that caused the error

https://stackblitz.com/github/nrwl/stackblitz-nx-angular?preset=node

### Steps to reproduce

Go to http

[2021-11-05 03:37] tony19 opened #381 "Fork stuck in "Running start command""
### Describe the bug

This [blitz](https://stackblitz.com/edit/vue2-dynamicaly-importing-vue-composition-api-vue-cli) works fine, but forks of it get stuck in *Running start command*. There are no console error messages.

<details>
<summary>Console log</summary>
<pre>[@blitz/fetchers] [INFO] GitFetcher successfully initialized
fetch.worker.eb19bc088249a645473767848622a1d98c51b8f3.js:6 [@blitz/fetc

[2021-11-05 08:12] #379 closed

[2021-11-05 12:30] crissxross opened #382 "Stackblitz stuck on installing dependencies for auto-generated Angular 13 app"
### Describe the bug

When opening a Stackblitz example from Angular Material Components docs (e.g. [Sidenav component](https://material.angular.io/components/sidenav/overview)) it gets stuck in the installing dependancies phase and the example app does not load in the window.

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src%2Fapp%2Fsidenav-overview-example.html

#

[2021-11-05 12:57] masmangan opened #383 "Angular.io "ready-made sample project in StackBlitz" opens as a Node.js project on StackBlitz. No Angular Generator!"
### Describe the bug

Angular.io "ready-made sample project in StackBlitz" opens as a Node.js project on StackBlitz Dashboard.
No Angular Generator is available.
No hot reload.

Possible problem with ready-made sample project from Angular.io.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-1xyppy

### Steps to reproduce

1. Go to 'https://angular.io/start'.
2. Fin

[2021-11-06 09:07] d3lm commented on #376
Closing this issue because it's missing information. If you still want to add a framework please open a new issue and provide all information.

[2021-11-06 09:07] #376 closed

[2021-11-06 09:23] d3lm commented on #382
Hey there! This seems to work for me just fine. But we have also reverted a regression which affected terminal output. Can you try again and see if it works now for you?

[2021-11-06 09:26] d3lm commented on #381
Hey! Thanks for reporting this issue. I can confirm that when you fork the original project that it won't open the preview and gets stuck at "Running start command".

[2021-11-06 09:33] d3lm commented on #380
Hey! I can confirm that it's failing and it has something to do with JIT compilation. Did you try to verify if you don't get the same error locally? You could try to download the project and run it locally.

Also, when I open the project it gets stuck at `nx serve` for some reason.

[2021-11-06 14:30] matruim opened #384 "right click for angular components not working"
### Describe the bug

Right clicking in an angular app and the angular helper is not showing up.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-l4tuvq?file=angular.json

### Steps to reproduce

open an angular project
right click on the app folder
should see option to create angular components

### Expected behavior

right click on file should allow for angular c

[2021-11-06 17:09] icebob commented on #221
Any news about it?

[2021-11-06 17:50] d3lm commented on #221
No not yet. As I said, once we get around this we'll let you know. But you can always fork your own projects if you want to start a new molecule project. We are working out user templates but it's not ready yet.

[2021-11-06 18:09] EfstathiadisD opened #385 "Stackblitz Web Container with Nx and React throws error for JSX"
### Describe the bug

I created a Web Container in Stackblitz by forking the Nx Example you included recently. I try to create projects and everything works, but I find that `React` and `TS` isn't working as expected. In particular I am receiving this error:

[code]

It happens in more than the `div` element by the way. Everything that is JSX has that issue. Now, that shouldn't be the case, since

[2021-11-06 18:35] tony19 opened #386 "HMR broken in Astro Blog starter"
### Describe the bug

The Astro Blog Starter HMR seems to be broken, as file changes are not automatically updated in the preview window. The only way to see the changes is to hit the refresh button on the preview window.

The console log shows:

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/snowpackjs-astro-ckfow4?file=src%2Fpages%2Findex.astro

### Steps to rep

[2021-11-06 19:55] dalenguyen commented on #380
It works fine locally. For the `nx serve`, I think it takes a few minutes to start.

![image](https://user-images.githubusercontent.com/14116156/140622208-56d1cf3c-ab24-4d11-9c80-c5cd61e9710c.png)

[2021-11-06 20:06] d3lm commented on #380
Ok thanks for verifying. Though it should not take a few minutes to serve the app 🤔

[2021-11-06 20:26] d3lm commented on #386
I can't reproduce this. If I change something it gets properly reflected on the page.

![image](https://user-images.githubusercontent.com/12571019/140622905-f5576d98-694f-4cb4-ae03-bbda626bf0a5.png)

[2021-11-06 21:36] tony19 commented on #386
Interesting. It seems HMR doesn't update when the DevTools are open. With the DevTools closed, HMR does update, but slowly (3s after saving the change), and the result often doesn't match the actual change, as seen here:

<img width="836" alt="Screen Shot 2021-11-06 at 4 33 33 PM" src="https://user-images.githubusercontent.com/26580/140624506-beee6452-3e84-4b16-a3b5-e906015c289f.png">

[2021-11-06 21:43] tony19 commented on #386
Actually, I can also make it happen with DevTools closed:

![Kapture 2021-11-06 at 16 41 01](https://user-images.githubusercontent.com/26580/140624682-b11f8e26-69b0-4d1c-a712-393df8f9e6ec.gif)

[2021-11-06 23:33] d3lm commented on #386
That's very strange indeed 🤔 I noticed the HMR is a bit slower, and I am wondering why. Though I can't reproduce that it won't update at all. I ll bring this to the attention of the team and we can see if we find something.

[2021-11-07 11:56] crissxross commented on #382
Hi - No, still not working but the result is different. Angular seems to be stuck in the compiling phase and the window loads a blank white view:

![image](https://user-images.githubusercontent.com/5307070/140643768-ecd48ff3-456e-4b02-a750-5db89d033c7b.png)

Here's the terminal output:

`~/projects/eejgco--run
❯ npm install && turbo start
warn preInstall No description field
warn preInstall No rep

[2021-11-07 13:22] apacurariu opened #387 "Project not running"
### Describe the bug

The project is not running - the web container remains stuck at "Running start command" despite the terminal showing a complete successful build and indicates that the server is running "** Angular Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **"

### Link to the blitz that caused the error

https://stackblitz.com/run?fil

[2021-11-07 17:24] d3lm commented on #382
Can you provide a link? Cause when I click on the example from the docs it all works fine for me.

[2021-11-07 17:26] d3lm commented on #387
Hey there! I cannot reproduce this issue, it works fine for me.

![image](https://user-images.githubusercontent.com/12571019/140655158-03394c72-fe8a-4da3-ab26-6171c9f98abb.png)

What about you @jrvidal @SamVerschueren?

[2021-11-07 17:27] d3lm commented on #382
Can you reproduce @SamVerschueren @jrvidal?

[2021-11-08 05:55] dan1saipros opened #388 "Right clicking but No Angular Generator appearing"
### Describe the bug

Right click on the app folder and use the Angular Generator to generate a new component

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-frehq4?file=src%2Fapp%2Fproducts.ts

### Steps to reproduce

right click on app
no angular generator appearing on the options

### Expected behavior

Angular Generator should appear as an option after right c

[2021-11-08 08:04] SamVerschueren commented on #387
Seems to work on my end as well. @apacurariu can you test again and see if this issue still occurs?

[2021-11-08 08:16] jrvidal commented on #382
I cannot. @crissxross Do you get any error messages in the browser devtools console?

[2021-11-08 09:23] apacurariu-appical commented on #387
Hi @SamVerschueren and @d3lm - thanks for the quick response! I will try again and will update you both.

[2021-11-08 09:25] apacurariu commented on #387
Hi @SamVerschueren and @d3lm - thank you both for the quick response. I'll try again and will update you both.

[2021-11-08 10:16] eric-burel opened #389 "Won't load the right package.json"
### Describe the bug

When forking an existing Next.js repo (the Vulcan Next framework https://github.com/VulcanJS/vulcan-next), I cannot install the packages. From the terminal, it seems that the `package.json` I get is the Node.js defaults one.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-aqk3t6

### Steps to reproduce

Run `yarn install` or `cat package.json`,

[2021-11-08 10:56] SamVerschueren commented on #381
Hi @tony19. We looked into it and found the culprit. The problem here is that the project slug (`vue2-dynamicaly-importing-vue-composition-api-vue-cli-nwr33h`) is too long. It's currently 60 characters, and for technical reasons, it should be limited to 56.

I made an internal PR to make sure that project slugs don't exceed 56 characters, but for now the only thing you can do is manually rename th

[2021-11-08 11:02] SamVerschueren commented on #382
Can't reproduce either.

@crissxross Did you waited long enough? When looking at the terminal output, it looks like Angular wasn't done compiling everything and was still sealing the browser bundles. This is what you should see after it is done compiling and sealing.

![image](https://user-images.githubusercontent.com/1913805/140730802-4cb9e72d-7b0f-4d2a-a9d6-dde16e3f3d1b.png)

[2021-11-08 11:38] crissxross commented on #382
@d3lm Here's a link - https://stackblitz.com/edit/kbhtka--run?file=src/app/sidenav-overview-example.ts

@SamVerschueren Yes, I waited a long time for the previous examples. It's actually been 20 minutes since I launched the link above and it's still stuck in same state as I reported [above](https://github.com/stackblitz/webcontainer-core/issues/382#issuecomment-962597226)

@jrvidal error message i

[2021-11-08 11:56] SamVerschueren commented on #389
@eric-burel Thanks for reporting. What URL did you use to fork `vulcan-next` into StackBlitz? The project seems to be huge. Also, the provided URL doesn't contain the project.

[2021-11-08 12:17] geromegrignon commented on #382
Hey @crissxross, did you delete the previous sample, I can't access it with the provided link?

[2021-11-08 12:49] crissxross commented on #382
No I haven't deleted it. Here's the link again with display console:

https://stackblitz.com/edit/kbhtka--run?devtoolsheight=33&file=src/app/sidenav-overview-example.ts

[2021-11-08 13:08] eric-burel commented on #389
It loads the project if you wait enough, maybe that's part of the bug. Here's a screenshot just in case, you see it loading:
![image](https://user-images.githubusercontent.com/7983005/140747282-aee10a90-3e74-4e2c-b7fb-8e7506943f14.png)

I use this fork: https://github.com/eric-burel/vulcan-next
And the official project lives there: https://github.com/VulcanJS/vulcan-next

I used the fork in this e

[2021-11-08 16:41] wallace41290 commented on #382
FWIW, I am seeing the same issue on my machine. Just now I was looking at the Material tooltip: https://material.angular.io/components/tooltip/overview and clicked the stackblitz link for the basic tooltip.

Seems to get stuck on `Generating browser application bundles (phase: sealing)...`, and I waited at least 30 minutes.

[2021-11-08 16:47] wallace41290 commented on #382
ok, so (on Chrome) I did an "Empty Cache and Hard Reload", went back to the doc site, and clicked the stackblitz link and it is working now. I tried it on tooltip and list, both working.

[2021-11-08 18:41] ajcwebdev opened #390 "Framework support for RedwoodJS"
**Describe the solution you'd like:**

RedwoodJS is a fullstack JavaScript framework built with React, Prisma, and Node. You can currently use it with [GitPod](https://community.redwoodjs.com/t/run-redwoodjs-on-gitpod/2303/14) which requires quite a bit of [GitPod YAML magic](https://github.com/redwoodjs/redwood/blob/main/.gitpod.yml). We're huge proponents of making Redwood as accessible to as ma

[2021-11-08 18:45] logesh-freshworks opened #391 "Nestjs app errors out if run in dev mode."
### Describe the bug

Tried running Nestjs app in dev mode in the terminal. Its throwing the following error. The port is in use it seems.

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/nestjs-typescript-starter-rwk8zd?file=src%2Fapp.service.ts&terminal=start

### Steps to reproduce

1. Create a nestjs app
2. open the terminal
3. Run npm install
4. Run start:dev

[2021-11-08 19:02] MarkPieszak commented on #391
So I got it to work actually!

I opened the stackblitz, and in the terminal did `ctrl-c` to stop the process right away, and manually ran `npm install && npm run start:dev` and it worked.

![image](https://user-images.githubusercontent.com/2574412/140801800-b5f75186-d3e8-4653-baef-cb5f41f9b0cd.png)

@logesh-freshworks  Did you make sure to `ctrl-c` and stop the process? Maybe you opened a _new_ te

[2021-11-08 19:03] MarkPieszak commented on #391
Also @sulco @EricSimons, is it possible to have the project run `npm install && npm run start:dev` by **_default_**

(instead of `npm install && npm start`) ?

This way someone can see those real-time changes if they adjust one of the files!

[2021-11-08 19:13] logesh-freshworks commented on #391
@MarkPieszak I stopped the sever by hitting ctrl+c. Still I had that error. Just now when I refreshed the page and tried again with npm start:dev command and made some changes , I got this error

![Screenshot 2021-11-09 at 12 40 52 AM](https://user-images.githubusercontent.com/41358969/140803377-a6c0d5a1-7164-4e10-bf22-c5d06b3b6260.png)

[2021-11-08 19:21] logesh-freshworks commented on #391
Here is a vidyard recording link

https://share.vidyard.com/watch/X3QAjPitn8HgKFkuJCuFk9?

[2021-11-08 21:22] jrvidal commented on #390
Hi @ajcwebdev , thanks for the report. Something is off with the turbo installation, we'll look into it.

However, Prisma cannot run on WebContainer given its reliance on:
* Post-install scripts (which we [don't support](https://developer.stackblitz.com/docs/platform/turbo/#install-scripts)), and
* Native libraries (https://github.com/prisma/prisma-engines).

[2021-11-08 21:33] ajcwebdev commented on #390
Gotcha, that makes sense and I'm not surprised to hear that. For now we can just work on getting the basic `web` and `api` sides setup without a database and then maybe in the future as WebContainers continue to progress we can collaborate with the Prisma team on compatibility.

[2021-11-09 08:16] apacurariu commented on #387
Update: It works great on Edge (takes around a minute or so to compile on load). On Chrome I waited way over 5 minutes and it's stuck on "Running start command" as shown in my previous attachment.  At first I assume that it could be my machine running low on RAM but then I tried Edge and it worked. Maybe important - I disabled 3rd party cookies on Chrome, could that have an impact?

Cheers,
Andrei

[2021-11-09 08:30] SamVerschueren commented on #391
Thank you all for all the information! Changing the start command to be `start:dev` is an easy one on our side for sure. But as you guys already figured out, it doesn't work right now because the lack of the `ps` command. We should really add this to improve the DX for Nest.js in StackBlitz.

So let's make this happen!

[2021-11-09 09:02] jrvidal commented on #387
Yes, that will definitely have an impact. You can check your devtools console and should see errors regarding service workers not being able to register. We need to improve the UX around this failure mode, but in the meantime, you can enable 3rd party cookies manually and those errors should go away.

[2021-11-09 10:41] crissxross commented on #382
Yes, that worked for me too on Chrome. Thanks!

[2021-11-09 11:55] apacurariu commented on #387
Thank you for the quick response. Shall I close this or keep it open?

[2021-11-09 14:24] d3lm commented on #387
I think we can close this issue now. If you run into any more issues @apacurariu feel free to open a new issue.

[2021-11-09 14:24] #387 closed

[2021-11-09 14:27] d3lm commented on #381
I think we can close this one then?

[2021-11-09 19:25] web-dave opened #392 "NEST.JS unable to run watch mode"
### Describe the bug

I've tried to run the nest server in watch mode. every change generates a error.
Process isn't reachable anymore

[code]

### Link to the blitz that caused the error

https://stackblitz.com/edit/nestjs-typescript-starter-glgi7f?file=src%2Fapp.service.ts&terminal=start

### Steps to reproduce

cancel npm start
npm run start:dev
change file
Boooom

### Expected behavior

reload

[2021-11-10 06:26] SamVerschueren commented on #392
Thanks for reporting @web-dave 🙏 ! This is a duplicate of #391. Closing this one. Feel free to continue the discussion in that issue instead.

[2021-11-10 06:26] #392 closed

[2021-11-10 06:27] SamVerschueren commented on #381
Yes, wanted to wait until the fix landed in production, which is the case now. 🎉

[2021-11-10 12:56] web-dave commented on #391
I checked this feature yesterday during my livestream.
All my chat was very exited.
here is the recording of the stream (German).
https://www.twitch.tv/webdave_de/schedule?vodID=1200707528
Maybe there are further informations.

[2021-11-10 14:15] anlachel opened #393 "App not working"
### Describe the bug

The live example linked from this site (https://angular.io/guide/i18n-example) does not work.

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src%2Flocale%2Fmessages.fr.xlf

### Steps to reproduce

Just click on the link of the live Example. Nothing else.

### Expected behavior

App up and running

### Screenshots

$ ng serve
Locale data for 'bas

[2021-11-10 16:30] connorff opened #394 "Next.js hot reload doesn't work after connecting to Github repository"
### Describe the bug

My organization has multiple developers (around 10) working on separate branches of Next.js repos. When trying to set up Github integration with these projects on StackBlitz, we're unable to hot reload on new branches (and sometimes the master branch). As a workaround, we can commit our changes to the branch, then restart the dev server and see our modifications. It would imp

[2021-11-10 17:16] cpPratikParshuramChavan opened #395 "Not Able to start development server"
### Describe the bug

NextJs Example Link = https://stackblitz.com/github/vercel/next.js/tree/canary/examples/with-portals?file=package.json

### Link to the blitz that caused the error

https://stackblitz.com/github/vercel/next.js/tree/canary/examples/with-portals?file=package.json

### Steps to reproduce

Go to [](https://stackblitz.com/github/vercel/next.js/tree/canary/examples/with-portals?fil

[2021-11-10 19:34] okikio commented on #345
pnpm doesn't work in StackBlitz.

[2021-11-10 19:36] okikio commented on #104
How did you get pnpm installed?

[2021-11-11 07:40] d3lm commented on #381
Closing this for now. If there's still any issues feel free to open a new issue.

[2021-11-11 07:40] #381 closed

[2021-11-11 08:27] jrvidal commented on #395
@cpPratikParshuramChavan Can you try again? I can't reproduce, and we've recently released a fix related to Next.js.

[2021-11-11 19:01] geromegrignon commented on #104
Hey @okikiom,

Using a WebContainer Stackblitz project, you can use the `npm add pnpm` command in the terminal.

[2021-11-11 19:10] okikio commented on #104
@geromegrignon I tried that with but it didn't work, https://stackblitz.com/github/okikio/native/tree/beta

[2021-11-11 19:14] geromegrignon commented on #104
Please provide more details about `it didn't work` part.

[2021-11-11 19:17] geromegrignon commented on #104
Btw @okikio, this issue being closed already, I encourage you to open a proper one with details about your current problem.

[2021-11-11 19:19] okikio commented on #104
This is the error I get on StackBlitz
![image](https://user-images.githubusercontent.com/17222836/141355915-16bee341-e626-46aa-a64e-78d287c0cc66.png)

[2021-11-11 19:20] okikio commented on #104
I'll create a new PR

[2021-11-11 19:27] okikio opened #396 "BUG: pnpm doesn't install on WebContainer"
### Describe the bug

I get this error while trying to install `pnpm`

![image](https://user-images.githubusercontent.com/17222836/141356586-bf8992e4-4b6b-46a2-83ac-0efed5609132.png)

### Link to the blitz that caused the error

https://stackblitz.com/github/okikio/native/tree/beta

### Steps to reproduce

1. Go to [the linked blitz](https://stackblitz.com/github/okikio/native/tree/beta)
2. Run `n

[2021-11-11 19:27] okikio commented on #104
I've created a new issue #396

[2021-11-11 19:35] geromegrignon commented on #396
By opening your Stackblitz project, there is already an error in the console while resolving dependencies:

![image](https://user-images.githubusercontent.com/32737308/141357677-d3d82900-7bb3-409c-b99e-ba982bf5003e.png)

I encourage you to try to fix it first before caring about pnpm.
About pnpm I just tried on a new Stackblitz project and it works as expected.

[2021-11-11 19:36] aekewu opened #397 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-11-11 19:36] aekewu opened #398 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-11-11 19:37] okikio commented on #396
@geromegrignon I'm not sure what is causing StackBlitz to crash, the error it gives is vague

[2021-11-11 19:39] aekewu opened #399 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-11-11 19:48] geromegrignon commented on #396
Does your project run locally?

[2021-11-11 19:49] okikio commented on #396
Yeah

[2021-11-11 19:49] geromegrignon commented on #399
Hey @aekewu, the template of such an issue must be filled with the related framework details.
Otherwise please close this issue.

[2021-11-11 19:49] geromegrignon commented on #398
Hey @aekewu, the template of such an issue must be filled with the related framework details.
Otherwise please close this issue.

[2021-11-11 19:49] geromegrignon commented on #397
Hey @aekewu, the template of such an issue must be filled with the related framework details.
Otherwise please close this issue.

[2021-11-11 20:29] #397 closed

[2021-11-11 20:29] #398 closed

[2021-11-11 20:29] #399 closed

[2021-11-11 21:03] jrvidal commented on #396
@okikio The error is due to `workspace:*` URLs in your `package.json`. Our NPM client, [turbo](https://developer.stackblitz.com/docs/platform/turbo/), is modeled after `npm`/`yarn` and we don't support those (which I assume are a pnpm-specific feature?).

Now, pnpm _might_ work if you install it a different folder (`mkdir foobar && cd foobar && npm init && npm add pnpm`) and call that binary direc

[2021-11-12 08:56] FKlaessen opened #400 "preview not updating"
### Describe the bug

Sometimes on small changes to your code, you have to update the preview manually to see the changes.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-tgkqes?file=src%2Fapp%2Fproduct-list%2Fproduct-list.component.html

### Steps to reproduce

1. created the route from angular tutorial
2. set route in html
3. had to manually refresh to see the r

[2021-11-12 09:16] jrvidal commented on #400
@FKlaessen Thanks for the report. Could you be more specific? It sounds like your problem appears when _creating_ some files on a given blitz, which might mean that we can't simply observe the issue by _opening_ a given blitz.

Can you provide a blitz _without_ the files, and the concrete steps needed to reproduce the issue?

[2021-11-12 12:34] jrvidal commented on #396
@okikio The workaround above now works, to the extent that `pnpm` can retrieve the packages and write them to disk. I did notice that installation fails due to post-install scripts. There will probably more things that won't work, even in a simpler setting but, for the time being, I'm going to close this.

Please do report any other issues you find!

[2021-11-12 12:34] #396 closed

[2021-11-13 00:14] davestewart commented on #144
Hello. Just checking in as I also have a Git dependency. Any ideas on timing?

PS. AMAZING PRODUCT by the way. It works, and so freaking fast. You guys are geniuses.

[2021-11-13 08:48] miridk opened #401 "nothing is showing up in the browser view pane."
### Describe the bug

I never get anything showing in the browser view pane. I save and I update the view, but nothing happens.

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-6rqxlk?file=src%2Fapp%2Fproduct-list%2Fproduct-list.component.html

### Steps to reproduce

follow the tutorial to the 2nd task and try to update the view.

### Expected behavior

I should s

[2021-11-13 09:07] geromegrignon commented on #401
Hey @miridk, I can't reproduce it by opening the link:

![image](https://user-images.githubusercontent.com/32737308/141613013-c9014f91-815a-4ffc-a4cb-00b0f87d1a03.png)

[2021-11-13 09:43] sholtomaud opened #402 "❯ cdk synth ENOENT: no such file or directory, open 'cdk.out/manifest.json'"
### Describe the bug

something wrong with permissions. why can't cdk read/create manifest.json?

### Link to the blitz that caused the error

https://stackblitz.com/edit/nextjs-hyotje?file=cdk%2Fcdk.out%2Fmanifest.json

### Steps to reproduce

1. npm i aws-cdk@next
2. mkdir cdk
3. cdk init app -l=typescript
4. cdk synth

### Expected behavior

cdk synth should work and produce cloud assembly

###

[2021-11-13 10:20] FKlaessen commented on #400
I started a second project an it to me it just seems that the compiled
preview files don't update properly. I had several issues that were being
solved by refreshing the browser window. It could be related to me using
chromium and ubuntu.

On Fri, 12 Nov 2021, 10:16 Roberto Vidal, ***@***.***> wrote:

[2021-11-14 14:50] Seanmclem opened #403 "Starting new Astro-Blog template, says "upgrade required""
### Describe the bug

New Astro-Blog-node web container
generates `Failed to load resource: the server responded with a status of 426 (Upgrade Required)`
when started for the first time

https://stackblitz.com/edit/snowpackjs-astro-4pg2fv?file=README.md

### Link to the blitz that caused the error

https://stackblitz.com/edit/snowpackjs-astro-4pg2fv

### Steps to reproduce

open and run

### Expec

[2021-11-14 20:39] tony19 commented on #403
Duplicate of #341

See https://github.com/stackblitz/webcontainer-core/issues/341#issuecomment-936290408

[2021-11-15 00:09] victorers opened #404 "Dont show the web container"
### Describe the bug

When I Fork the tutorial Angular from  ready-made sample project in StackBlitz. (https://angular.io/generated/live-examples/getting-started-v0/stackblitz.html) only show the project but the preview is not charged

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-25y8wu?file=src%2Fassets%2Fshipping.json

### Steps to reproduce

1.-https://angula

[2021-11-15 00:22] #403 closed

[2021-11-15 14:13] oaustegard opened #405 "Running start command indefinitely"
### Describe the bug

Attempting to run the Angular tutorial from https://angular.io/start in Chrome Version 95.0.4638.69
The code compiles successfully but the preview is stuck indefinitely at the "Running start command" level.

The browser console shows the following errors:

and

### Link to the blitz that caused the error

https://stackblitz.com/edit/angular-pyhjsn?file=src%2Fapp%2Fproduct-lis

[2021-11-15 14:40] oaustegard commented on #405
This was caused by 3rd Party cookies being blocked. Allowing Stackblitz to set 3rd party cookies allowed the Serviceworker to be run and the preview to show.  It may be useful to check for that specific condition and provide a meaningful error message in the console? Better yet, find a way to NOT require 3rd party cookies.

[2021-11-15 14:43] jrvidal commented on #405
@oaustegard We're aware of this error being confusing, we're working on it

[2021-11-15 15:06] oaustegard commented on #405
Excellent - appreciate it.

[2021-11-15 16:17] aekewu opened #406 "Framework support for [FRAMEWORK_NAME]"
**Describe the solution you'd like:**

**Provide a link to a github repo containing an example of the framework:**

**Additional context:**

[2021-11-15 17:22] geromegrignon commented on #406
Hey, as you already opened such issues, please take into consideration people are losing time triaging such content.

[2021-11-15 18:49] EricSimons commented on #144
@davestewart I can confirm that this is very close- potentially by EOY. Worst case it will be GA in early Q1 🤞  Would you be interesting in beta testing it once it's available?

(Also- thank you for the kind words! <3)

[2021-11-15 19:45] davestewart commented on #144
For sure! (though will probably will have had to update dependencies by then)

[2021-11-15 21:14] brian-cato-lab49 opened #407 "Angular tutorial project never loads"
### Describe the bug

Angular tutorial project never loads but instead hangs at installing dependencies step. I waited 10 minutes once, 30 minutes a second time. Guess I'll go do a different tutorial.

### Link to the blitz that caused the error

https://stackblitz.com/run?file=package.json

### Steps to reproduce

1. Go to https://stackblitz.com/run?file=src/app/app.component.ts

### Expected beh

[2021-11-16 08:21] jrvidal commented on #407
@brian-cato-lab49 hey, sorry for the troubles. Do you see any errors in the browser console? Could it perhaps be related to https://github.com/stackblitz/webcontainer-core/issues/405?

[2021-11-16 17:27] Syncinus opened #408 "Webcontainer stuck infinitely on "Running start command""
### Describe the bug

Pretty much what the title says, every single blitz that I go on, even example projects. I have tried on multiple computers and it has just hanged on "Running start command" specifically whenever it's starting a server. The start command finishes if I replace the server running command with echo, though that will then just show all the steps completed and nothing will display

[2021-11-16 17:32] Syncinus commented on #408
Also since I am running this on a school computer I have tried to directly load `webcontainer.io` and the site is blocked by the web filter so that may be the source of the issue. If it is it would be nice if StackBlitz would say that it was blocked somehow.

[2021-11-16 19:49] Syncinus commented on #408
Alright now that the site has been unblocked the WebContainer loads completely fine.

[2021-11-16 19:49] #408 closed

[2021-11-17 05:46] ronykhanking opened #409 "./src/App.js Module not found: Can't resolve './App.css' in '/home/projects/node-r5tzyr/src'"
### Describe the bug

import './App.css';
import { BrowserRouter as Routes, Route } from 'router-dom';
import Login from './Com/Login/Login';

function App() {
  return (
    <div className="App">
      <Routes>
        <Route path="/login" element={<Login />} />
      </Routes>
    </div>
  );
}

export default App;

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-r5

[2021-11-17 07:44] jrvidal commented on #409
@ronykhanking Thanks for the report! Looks like the blitz you linked no longer exists. Could you provide a new one?

[2021-11-17 12:10] geromegrignon opened #410 "[BUG] Fork failing"
### Describe the bug

By trying to fork an Angular Materisl project (https://stackblitz.com/run?file=src/app/slider-overview-example.ts), on clicking on **Fork**, the spinner keeps moving and there are errors in the devTools, it looks like the related error page isn't loaded though.

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/slider-overview-example.ts

##

[2021-11-17 19:47] Bobzilla07 opened #411 "Crash"
### Describe the bug

When you click on favicon it will go to a grey screen to wich i have to right click then reload

### Link to the blitz that caused the error

https://stackblitz.com/edit/requests?file=static%2Ffavicon.ico

### Steps to reproduce

go to nuxt.js
click on favicon

### Expected behavior

it would show the favicon

### Screenshots

_No response_

### Platform

[code]

### Addition

[2021-11-18 06:41] BonjourYY opened #412 "webcontainer does not refresh properly"
### Describe the bug

I've created a new node project and when I'm not connected to github, I can see the latest changes after I've changed the code and restarted the node server. But after I commit the code to github. No matter how much I refresh the code, I can't see the latest changes. It's as if I keep seeing the previous cache as it was. Also, before I commit to github, when I refresh the pag

[2021-11-18 17:31] rogerfar commented on #382
I have the same issue here:
https://stackblitz.com/edit/clarity-light-theme-clr12-cds5-hr6m5c?file=src%2Fapp%2Fapp.component.html

Tried in both Edge and Chrome incognito windows, it hangs on `Installing dependencies` while the terminal window seems to work properly.

I attached the console log output (not terminal but the Chrome window).

[stackblitz.com-1637256450328.log](https://github.com/stac

[2021-11-18 21:21] jrvidal commented on #382
@rogerfar Might your issue be related to #405 ?

[2021-11-18 21:23] rogerfar commented on #382
It must be yes, I tried on Chrome beta without privacy options enabled and it started worked.

[2021-11-18 21:56] NullVoxPopuli commented on #294
Any progress? Still experiencing this on newly forked projects.

[2021-11-19 10:56] firekoala opened #413 "cannot install dependencies"
### Describe the bug

after i join repo and try to install dependecies with npm install x it says:

warn preInstall No description field
warn preInstall No repository field
warn preInstall No license field
┌ [1/3] 🔍  Resolving dependencies
└ 𐄂 Failed
ERR!: The "to" argument must be of type string. Received null

error Command failed with exit code 1

### Link to the blitz that caused the error

ht

[2021-11-19 12:40] jrvidal commented on #413
Hey @firekoala thanks for the report. I can't seem to reproduce:

https://user-images.githubusercontent.com/1636604/142624261-2d8ef2f3-47dc-4ea8-aa5d-87a8c3af8876.mp4

Do you observe the issue when opening the blitz and auto-install kicks in? Do you see any funny messages in the browser console?

[2021-11-19 13:01] firekoala opened #414 "webcontainer not working with nodejs"
### Describe the bug

WebContainer doesnt load on nodejs. it works on everything else but node ;((

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-thzdrc

### Steps to reproduce

open a new nodejs blank project

### Expected behavior
showing white loaded page of webcontainer
### Screenshots

_No response_

### Platform

[code]

### Additional context

I tried it with

[2021-11-19 13:12] firekoala commented on #413
Hello, i am trying to debug it right now by reloading chrome /deleting repo
and reinstalling it and it works half the time, the other half its the same
problem, its really weird.
Its the same with new projects with no repo.

On Fri, Nov 19, 2021 at 1:40 PM Roberto Vidal ***@***.***>
wrote:

[2021-11-19 13:55] firekoala commented on #414
when i go https://developer.stackblitz.com/docs/platform/supported-frameworks and click on the nodejs <a href= "https://stackblitz.com/edit/nodejs-fz6ant"> demo</a> it works as intended to but whenever i try to create a project from the main site it doesnt load.
My new project : https://stackblitz.com/edit/node-aydvvv?file=index.html
Demo project : https://stackblitz.com/edit/nodejs-fz6ant

The on

[2021-11-19 15:19] firekoala commented on #414
[code]

This is what i get in console after disabling all chrome extensions

[2021-11-19 15:30] firekoala commented on #404
same for me but on nodejs all the other platforms seem to work ;/

[2021-11-19 23:18] andriusign opened #415 "Running example project failed"
### Describe the bug

Running example project failed with error:
Locale data for 'baseHref' cannot be found.  No locale data will be included for this locale.
An unhandled exception occurred: Unsupported translation file format in /home/projects/9xc7ni--run. The following parsers were tried:
*** ArbTranslationParser ***
*** SimpleJsonTranslationParser ***
WARNINGS:
 - File does not have .json exte

[2021-11-20 07:24] bonder opened #416 "Creating repo for new project endless spinner"
### Describe the bug

After creating a new project on node.new/stackblitz, I signed in via GitHub and then clicked to create a repo for the project.  The authorization popup appeared and I authorized the request.

In StackBlitz, a popup appeared with a checkbox to mark the repo as private.  I checked it and got the "Pro Version" upgrade promo, so I sent that away and unchecked the checkbox and con

[2021-11-20 08:09] bradphelan opened #417 "Seems to never start plus I follow the link to log into github but it stays not logged in."
### Describe the bug

![image](https://user-images.githubusercontent.com/17650/142719339-4ccb9084-5633-48e6-8780-75045bb1f37c.png)

![image](https://user-images.githubusercontent.com/17650/142719344-522ba5d1-b340-489a-8192-a8b9894db5a9.png)

### Link to the blitz that caused the error

https://stackblitz.com/edit/sveltekit-49umta?file=.vscode%2Fsettings.json

### Steps to reproduce

Clicked on htt

[2021-11-20 10:26] shaozi opened #418 "WebContainer does not start"
### Describe the bug

when loading the NodeJS stack in chrome, the panel on the right shows Booting WebContainer and is stuck.
and in the developer console, it shows 3 errors:

1.	Indicate whether a cookie is intended to be set in a cross-site context by specifying its SameSite attribute
1.	Because a cookie’s SameSite attribute was not set or is invalid, it defaults to SameSite=Lax, which prevents

[2021-11-21 09:52] eng-dibo commented on #228
I also face the same issue when I try to install a single package `npm i @angular/cli`

[2021-11-21 15:07] karanganesan opened #419 "require() of ES modules is not supported"
### Describe the bug

500
Must use import to load ES Module: /home/projects/sveltekit-m2vj4h/node_modules/three/examples/jsm/controls/OrbitControls.js
require() of ES modules is not supported.
require() of /home/projects/sveltekit-m2vj4h/node_modules/three/examples/jsm/controls/OrbitControls.js from /home/projects/sveltekit-m2vj4h/node_modules/vite/dist/node/chunks/dep-e0fe87f8.js is an ES module

[2021-11-21 15:07] karanganesan commented on #419
reference repl - https://svelte.dev/repl/fb41dd0a4f81437393dc48b6f3e547f2?version=3.44.2

[2021-11-22 10:11] jrvidal commented on #228
@eng-dibo Would you mind opening a new issue with a repro link?

[2021-11-22 12:33] RajveerSingh1234 opened #420 "Watch "Mahila Anath Aasram Child Development 📲7060560510""
https://youtu.be/OToP8PATyWQ

[2021-11-22 12:35] RajveerSingh1234 opened #421 "Watch "Mahila Anath Aasram Child Development 📲7060560510" on YouTube"
https://youtu.be/OToP8PATyWQ

[2021-11-22 12:56] RajveerSingh1234 commented on #421
Mahila Anath Aasram Child Development Headquarter 📲7060560510

[2021-11-22 12:56] RajveerSingh1234 commented on #421
![Uploading IMG-20211122-WA0023.jpg…]()
Mahila Anath Aasram Child Development

[2021-11-22 12:57] RajveerSingh1234 commented on #421
![IMG-20211122-WA0024](https://user-images.githubusercontent.com/90959410/142865670-19952955-c3f5-4a33-8171-14946f978898.jpg)
Mahila Anath Aasram Child Development

[2021-11-22 12:57] RajveerSingh1234 commented on #421
![IMG-20211122-WA0019](https://user-images.githubusercontent.com/90959410/142865769-b0ea4c79-6628-4d2d-b77f-4f8a3a829d5d.jpg)
Mahila Anath Aasram Child Development

[2021-11-22 12:58] RajveerSingh1234 commented on #421
Mahila Anath Aasram Vivah sammelan 📲7060560510

[2021-11-22 12:59] RajveerSingh1234 commented on #421
![IMG-20211122-WA0013](https://user-images.githubusercontent.com/90959410/142865986-b188e1ae-a529-4806-b750-f2b5b8a9a7f7.jpg)
Mahila Anath Aasram Child Development Headquarter 📲 7060560510

[2021-11-22 12:59] geromegrignon commented on #421
@RajveerSingh1234 Your content is unrelated to this project.
Please avoid interacting with it this way,

[2021-11-22 13:00] RajveerSingh1234 commented on #421
![Uploading IMG-20211122-WA0009.jpg…]()
Mahila Anath Aasram Child Development

[2021-11-22 13:01] RajveerSingh1234 commented on #421
`[Mahila Anath Aasram Child Development]() `

[2021-11-22 13:02] RajveerSingh1234 commented on #421
![IMG-20211122-WA0019](https://user-images.githubusercontent.com/90959410/142866268-bfb61cd8-facf-42fb-97fd-a9dca1703142.jpg) MAHILAANATH AASHRAM CHILD DEVELOPMENT

[2021-11-22 13:03] RajveerSingh1234 commented on #421
![IMG-20211122-WA0007](https://user-images.githubusercontent.com/90959410/142866483-b7859594-c1bc-4a0d-8964-5c3aa66752e4.jpg)
Mahila Anath Aasram 📲7060560510

[2021-11-22 13:05] RajveerSingh1234 commented on #421
![IMG-20211122-WA0017](https://user-images.githubusercontent.com/90959410/142866758-37340563-1315-41dc-a4c3-1dbdf1d46955.jpg)
विवाह सम्मेलन रजिस्ट्रेशन 2022 शुरू है

[2021-11-22 13:06] RajveerSingh1234 commented on #421
![Uploading IMG-20211122-WA0006.jpg…]()
विवाह सम्मेलन रजिस्ट्रेशन शुरू 2022मे

[2021-11-22 13:17] RajveerSingh1234 commented on #421
Hi

[2021-11-22 13:20] thescientist13 commented on #420
same spam as #421

[2021-11-22 14:11] #421 closed

[2021-11-22 14:12] #420 closed

[2021-11-22 14:25] marcelschork opened #422 "Not able to install typescript in node template (vite/vanilla-ts is also affected)"
### Describe the bug

Once I try to install typescript in the node environment the dependencies can't be fetched (see attached screenshot). The vite vanilla ts template is also affected.

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-qmxwoc?file=package.json

### Steps to reproduce

1. Just open the blitz

### Expected behavior

Installation of typescript works

###

[2021-11-22 14:34] geromegrignon commented on #422
Hey @marcelschork,

I can't reproduce it.
I succeeded in opening your link and by creating a new NodeJS WebContainer and installing it with `npm install typescript`.

[2021-11-22 20:53] ramonck opened #423 "npm install does not accept -g (global)"
### Describe the bug

command: npm install -g @ionic/cli cordova-res

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-yvj7wm

### Steps to reproduce

go to terminal.
copy and paste the npm install command: npm install -g @ionic/cli cordova-res

### Expected behavior

accept install with global

### Screenshots

_No response_

### Platform

[code]

### Additional conte

[2021-11-23 08:11] NullVoxPopuli commented on #354
@EricSimons ember now has dedicated repo / branch for Stackblitz: https://github.com/ember-cli/editor-output/tree/stackblitz-app-output

[2021-11-23 10:02] ManikandanR27 opened #424 "Its is not working after save"
### Describe the bug

I go to material.angular.io and button toggle  ==> click om stackblitz from multiple selection is not working

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src%2Fapp%2Fbutton-toggle-mode-example.ts

### Steps to reproduce

I go to material.angular.io and button toggle  ==> click om stackblitz from multiple selection is not working

### Expected

[2021-11-23 10:07] geromegrignon commented on #424
Hey @ManikandanR27, by `is not working`, can you please describe the behavior observed?

[2021-11-24 00:39] ramonck opened #425 "Duplicate files inside editor"
### Describe the bug

Usually there is a requirement to duplicate files I do not see this option available, would be interesting if possible to implement it to facilitate the developers experience.

### Link to the blitz that caused the error

https://stackblitz.com/edit/mechain?file=app%2Froutes%2Findex.tsx

### Steps to reproduce

Go to the left-side menu and try to copy the file.

### Expected

[2021-11-24 09:42] paul-coder-22 opened #426 "Editor Save Problem"
### Describe the bug

While I'm made some changes after saving the editor the behavior of the unsaved tab remains the same.

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/chips-autocomplete-example.ts

### Steps to reproduce

-- Go the editor do some change and try to save it ``` ctrl + s ``` but the not save  behavior remain the same.

### Expected behavior

[2021-11-24 14:37] jrvidal commented on #418
@shaozi Thanks for the report!

It seems the blitz you linked no longer exists, could you link a new one? Also, could you share a screenshot of the developer console errors?

[2021-11-24 14:49] jrvidal commented on #419
@karanganesan Thanks for the report.

I am unable to run the project locally, I get a blank 500 page (using node v16.13):
[code]

Is this expected?

[2021-11-24 14:53] jrvidal commented on #417
@bradphelan Thanks for the report. I am unable to reproduce, though. Do you get any suspicious errors in the devtools console?

https://user-images.githubusercontent.com/1636604/143260852-ae9764ee-9f80-4f90-a35f-b080f0909f96.mp4

[2021-11-24 15:00] PuruVJ opened #427 "Connect to github repository assumes master branch and fails"
### Describe the bug

When I click on the Connect to git repository, import a repo, it assumes master branch, tries to get it, and fails. My default branch is main.

I think the default branch should be considered in the github integration

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-4iheam

### Steps to reproduce

Go to the URL
Wait for it to try and load

### Ex

[2021-11-24 15:17] jrvidal commented on #415
@andriusign Thanks for the report. This kinda looks like a bug upstream, since I'm not able to run the example locally.

(For reference, the URL to access the blitz is https://angular.io/generated/live-examples/i18n/stackblitz)

[2021-11-24 15:20] jrvidal commented on #404
@firekoala Sorry I don't understand what you meant with "all the other platforms". Do you see any errors in the devtools console? Have you looked at #405?

[2021-11-24 15:24] jrvidal commented on #414
@firekoala Thanks for the report. I see that you have linked a few projects. Could you be a bit more specific? Which one of those links does not work as expected?

[2021-11-24 15:28] #382 closed

[2021-11-24 18:25] #406 closed

[2021-11-24 18:59] firekoala commented on #404
I meant frameworks. It works with every framework but the blank nodejs.
All the others load the container properly.

On Wed, Nov 24, 2021, 4:20 PM Roberto Vidal ***@***.***>
wrote:

[2021-11-24 20:00] Samo1501 opened #428 "The official Angular tutorial app (https://angular.io/start) suddenly stopped recompiling upon changes"
### Describe the bug

First, when I was writing the code, the app kept recompiling itself as I go. However at one point, it stopped recompiling. And the only way to see my results on the view, was to use commit, refresh the whole page (not the view refresh button) and restart the app that way which takes the time and it is very frustrating. Previewing the view in the new tab didn't work either. No

[2021-11-24 21:29] ramonck opened #429 "Remix with github just keeps loading."
### Describe the bug

The hot realoding stopped working and the github just keeps on spinning, I guess the github is causing bugs with the hot reloading feature from remix.

### Link to the blitz that caused the error

https://stackblitz.com/edit/mechain

### Steps to reproduce

Open the  stackblitz and start making modifications with the remix and github loaded.

### Expected behavior

hot reload

[2021-11-24 21:36] d3lm commented on #429
Hey there! Yes, we are actively working on a git cli and it will be entirely reworked for webcontainer. We keep you posted.

[2021-11-25 00:11] tony19 commented on #427
Duplicate of #195

[2021-11-25 09:19] PuruVJ commented on #427
Thanks! I will stay on top of that issue

[2021-11-25 09:19] #427 closed

[2021-11-25 09:21] Bonn18 opened #430 "Leee"
**Is your feature request related to a problem? Please describe:**

**Describe the solution you'd like:**

**Describe alternatives you've considered:**

**Additional context:**

[2021-11-25 09:24] geromegrignon commented on #430
Please fill the original message with your request or close this issue.

[2021-11-25 09:36] #430 closed

[2021-11-25 10:06] jrvidal commented on #411
@Bobzilla07 Thanks for the report, this is definitely a bug.

[2021-11-25 11:20] jrvidal commented on #428
@Samo1501 Thanks for the report. I forked your blitz and edited for a while and I could not reproduce the issue.

If I understood correctly if you:
1. Enter the blitz
2. Wait for the initial compilation to finish and the preview window to show the app
3. Edit a file

the app will not get recompiled, right? Could you try again these steps and see if there are any suspicious errors in the devtools c

[2021-11-25 11:26] Samo1501 commented on #428
I tried it, cleared the console before making edits too so I could see easily if anything new appears. But there is nothing appearing in the console even after I start editing the files.

But now I think the problem started to appear after I connected the project to my GitHub.

[2021-11-25 18:30] davidstevenrojas opened #431 "Error: Buffer is not defined"
### Describe the bug

After creating a NodeJS project, try to connect to Github as a new private repository, enter a name and click create repo and push, the Error: Buffer is not defined pops up, the repo is created in Git but it does not push its contents:

https://www.screencast.com/t/k2rd8mHyolDl

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-q8cb9b

### Steps to

[2021-11-25 22:13] TMorgan99 opened #432 "jsh: command not found: astro"
### Describe the bug

I just opened the starter example from astro,

[![Open in StackBlitz](https://developer.stackblitz.com/img/open_in_stackblitz.svg)](https://stackblitz.com/github/snowpackjs/astro/tree/latest/examples/starter)

But I don't think it installed correctly.

### Link to the blitz that caused the error

https://stackblitz.com/edit/github-v6jvwi?file=package.json

### Steps to reprod

[2021-11-26 07:12] AmitKSwain opened #433 "Not able to connect to github"
### Describe the bug

Stack blitz is not able to connect to my git repo .
The spinner keeps spinning .
At the beginning I see an error "Buffer not defined ."
This error is not in my code because this is running in Heroku environment and in my local and I am not using Buffer.

### Link to the blitz that caused the error

https://stackblitz.com/edit/rrp-web-api

### Steps to reproduce

- Open the st

[2021-11-26 08:58] jrvidal commented on #432
@TMorgan99 Thanks for the report. Do you still see the issue when you enter your newly created blitz? I can't seem to reproduce.

https://user-images.githubusercontent.com/1636604/143554359-83d07e72-8590-4710-a673-637d04104ede.mp4

[2021-11-26 10:29] jrvidal commented on #411
This should be fixed now :tada: Please feel free to file more issues if you find anything else!

[2021-11-26 10:29] #411 closed

[2021-11-26 11:58] Marko2509 opened #434 "angular: can not create new component with ng generate component componentName"
### Describe the bug

when i run this command or ng g c componentName it says that everything is created but this changes are not visible in file tree on the left side

### Link to the blitz that caused the error

https://stackblitz.com/run?file=src/app/app.component.ts

### Steps to reproduce

1. open terminal and run this command

### Expected behavior

to see something change 😄

### Screenshots

[2021-11-26 13:11] jrvidal commented on #434
@Marko2509 Thanks for the report.

The URL you provided (`/run?...`) is used by a POST API, so it's useless by itself (as clicking it does not take you anywhere). Could you share the original link (I presume, from an Angular tutorial) that you clicked to arrive to StackBlitz? Even better, you could fork the project and provide a reproduction based on that.

[2021-11-26 17:36] NullVoxPopuli commented on #354
@jrvidal / @EricSimons - is there a place I can PR to add the link? or is the website private?

[2021-11-26 17:37] NullVoxPopuli commented on #294
I think this could be fixed if the upload stuff respect files/folders specified in the .gitignore?

[2021-11-26 19:49] Lance1997 opened #435 "Remix new application displays upgrade required message after launch"
### Describe the bug

Started a new Remix application and after packages were installed, on the first run. The preview of the application showed an upgrade required message. I tried stopping the server and restarting the dev server and still the same message showed

### Link to the blitz that caused the error

https://stackblitz.com/edit/node-nyjcyz?file=package.json

### Steps to reproduce

1. Go

[2021-11-26 20:50] tony19 commented on #435
This issue is similar to #341. See https://github.com/stackblitz/webcontainer-core/issues/341#issuecomment-936290408 for explanation.

The "Upgrde required" message is only temporary, and the real site eventually renders.